@import '../../styles/variables';
@import '../../styles/mixins';
@import "components/ui/_mixin.scss";

#ranking-page {
  // min-height: 100vh;
  // background-color: $lighterGray;
  position: relative;
  .header-wrap {
    z-index: 11;
  }
  .refresh-wrap {
    // display: none;
    min-height: 48px;
    max-height: 110px;
    z-index: 10;
  }
  .benefitSize {
    position: absolute;
    bottom: 10px;
    left: 16px;
    display: inline-block;
    vertical-align: top;
  }

  .hallOfFame {
    position: absolute;
    bottom: 10px;
    right: 16px;
    vertical-align: top;
  }

  .testWrap {
    position: relative;
    z-index: 3;
  }
  .fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }

  .listFixed {
    margin-top: 140px;
    position: fixed;
    width: 100%;
    top: 0;
  }

  .listFixed.special {
    margin-top: 104px;
  }

  .listFixed.other {
    margin-top: 48px;
  }

  .respansiveBox {
    padding: 0 16px;
  }

  .guideIconBox {
    position: absolute;
    top: 5px;
    right: 16px;
  }

  .renewalBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 16px;
    text-align: right;
    color: $darkGray;
    font-size: 12px;
    background-color: $lighterGray;

    & > span {
      display: inline-block;
      vertical-align: middle;
    }

    & > img {
      margin-left: 5px;
      vertical-align: middle;
    }
  }

  img {
    vertical-align: middle;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 49px;
    border-bottom: 1px solid #d2d2d2;
    padding: 14px 0;
    box-sizing: border-box;
    padding: 12px 16px;
    background-color: #fff;

    &__title {
      font-size: 18px;
      letter-spacing: -0.45px;
      font-weight: 800;
    }

    &__btnBack {
      display: block;
      width: 36px;
      position: absolute;
      top: 4px;
      left: 2%;
    }
  }

  .rankTop3Box {
    padding: 0 16px;
    background-image: linear-gradient(to bottom, #632beb, #632beb 58%, #ffa7b4);

    &.realTime {
      padding-bottom: 18px;
      background-color: #632beb;
      background-image: none;
    }
  }

  .likeTopBox {
    position: relative;
    padding: 0 16px;
    background-image: linear-gradient(to bottom, #632beb, #632beb 58%, #ffa7b4);
  }

  .rankTopBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background: $lighterGray;
    &__update {
      font-size: 12px;
      color: #424242;
      display: flex;
      align-items: center;
    }
    &__img {
      margin-left: 4px;
    }
  }

  .rankTab {
    display: flex;
    width: 100%;
    &__btn {
      flex: 1;
      width: max-content;
      height: 32px;
      margin-right: 2px;
      padding: 0 12px;
      border-radius: 12px;
      border: solid 1px #e0e0e0;
      background-color: #fff;
      font-size: 16px;
      &--active {
        border-color: $MAINCOLOR;
        background-color: $MAINCOLOR;
        color: #fff;
      }
    }

    &__specialBtn {
      width: max-content;
      height: 32px;
      margin-right: 2px;
      padding: 0 12px;
      border-radius: 12px;
      border: solid 1px $red;
      background-color: #fff;
      color: $red;
      font-size: 16px;
      &--active {
        background-color: $red;
        color: #fff;
      }
      float: right;
    }
    // :last-child {
    //   height: 32px;
    //   padding: 0px 1px;
    // }
  }

  .todayList {
    position: relative;
    height: 36px;
    border-bottom: 1px solid $lighterGray;
    text-align: center;
    background-color: #fff;

    &__btn {
      margin: 0 10px;
      height: 36px;
      font-size: 16px;
      color: #000;

      &--active {
        border-bottom: 1px solid $MAINCOLOR;
        color: $MAINCOLOR;
        font-weight: 900;
      }
      &--blur {
        color: #888;
      }
    }
  }

  .detailView {
    display: flex;
    justify-content: space-between;
    height: 56px;
    padding: 0px 10px;
    background: $MAINCOLOR;
    color: #fff;

    .subDay {
      font-size: 12px;
      color: #616161;
    }

    .title {
      position: relative;
      @include flexbox();
      @include flex-center(center);
      flex-direction: column;
      font-size: 16px;
      font-weight: 700;

      .titleWrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      span {
        display: block;
        font-size: 13px;
        text-align: center;
        color: $white;
        opacity: 0.7;
        font-weight: $regular;
      }
    }

    .prevButton {
      font-size: 14px;
      font-weight: 700;
      color: $white;
      background: url('https://image.dalbitlive.com/svg/20200806/arrow_left_b.svg') left center no-repeat;
      padding-left: 24px;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
    .nextButton {
      font-size: 14px;
      font-weight: 700;
      color: $white;
      padding-right: 24px;
      background: url('https://image.dalbitlive.com/svg/20200806/arrow_right_b.svg') right center no-repeat;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }

    &.isSpecial {
      color: $MAINCOLOR;
      background-color: #eee;

      .prevButton {
        background: url('https://image.dalbitlive.com/svg/20200806/arrow_left_b_on.svg') left center no-repeat;
        color: $black;
      }
      .nextButton {
        background: url('https://image.dalbitlive.com/svg/20200806/arrow_right_b_on.svg') right center no-repeat;
        color: $black;
      }
    }
  }

  .monthlyDJ{
    display: flex;
    align-items: center;
    border:1px solid #febd56;
    border-radius: 10px;
    padding: 5px 16px 5px 20px;
    
    &Wrap{
      background:#632beb;
      width:100%;
      padding:10px 16px 0 16px;
    }
    .contentWrap{
      display: flex;
      flex-direction: column;
      letter-spacing: -1px;
      width: 100%;
      .title{
        font-size:14px;
        font-weight: bold;
        color:#febd56;
      }
      .content{
        font-size: 12px;
        color:#fff;
      }
    }
    .btn{
      flex:none;
      position:relative;
      width:64px;
      height:28px;
      line-height: 28px;
      border-radius: 15px;
      text-align: center;
      font-size: 13px;
      font-weight: 600;
      color:#3e2974;
      background-color: #febd56;
      margin-left:auto;
    }
    &__tooltip{
      position:absolute;
      top:35px;
      right:-17px;
      width:290px;
      line-height:normal;
      text-align:left;
      padding:11px 14px;
      border-radius:10px;
      color:#fff;
      font-size:12px;
      font-weight:400;
      background:#000;
      z-index:1;
      &-strong{
        color:#febd56;
        font-weight:500;
      }
      &-btnClose{
        position:absolute;
        top:6px; right:6px;
        width:20px;
        height:20px;
        border-radius:50%;
        background:#fff;
      }
    }
  }

  .myRanking {
    position: relative;

    &.profileBox {
      background: $white;
      border-radius: 16px;
      margin-bottom: 22px;

      .profileWrap {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px 0;
        position: relative;

        .infoBox {
          width: 100%;

          .likeDetailWrap {
            width: calc(100% - 10px);
          }
        }
      }

      .nickNameBox {
        width: 100%;
        margin-bottom: 4px;

        .nick {
          width: 90%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      &--fixed {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 3;
      }
    }

    &__rank {
      min-width: 64px;
      text-align: center;

      &--title {
        font-size: 12px;
        line-height: 13px;
        color: #757575;
      }

      &--now {
        width: 40px;
        height: 20px;
        margin: 6px auto 5px auto;
        border-radius: 12px;
        background-color: #000000;
        color: $white;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
      }

      &--point {
        padding-top: 12px;
        font-size: 12px;
        letter-spacing: -0.3px;
        color: #424242;
      }

      &--ranking {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 20px;
        margin: 0 auto 4px auto;
        border-radius: 12px;
        background-color: #eee;
        font-size: 12px;
        font-weight: 800;
      }

      &--text {
        padding-top: 9px;
        font-size: 12px;
        line-height: 15px;
        white-space: pre-wrap;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      width: calc(100% - 112px);

      .infoBox {
        width: calc(100% - 50px);
      }

      .nickNameBox {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .profileBox + .resetPointBox {
    margin-top: -15px;
  }

  .profileBox + .resetPointBox {
    margin-top: -15px;
  }

  .resetPointBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    margin-bottom: 12px;
    padding: 0 6px 0 8px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    font-size: 13px;
    color: $white;

    p {
      img {
        width: 24px;
        margin-top: -2px;
        margin-right: 3px;
      }
      span {
        display: inline-block;
        margin-left: 10px;
        color: $mediumGray;
      }
    }

    button {
      width: 87px;
      height: 26px;
      border-radius: 14px;
      background-color: $yellow;
      font-size: 12px;
      letter-spacing: -0.3px;

      img {
        width: 20px;
        margin-top: -2px;
      }
    }

    &.apply {
      span {
        color: $yellow;
      }

      button {
        background-color: $greishBrown;
        color: $white;
      }
    }
  }

  .rankingChange {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;

    &__up {
      color: #eb2828;

      &::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 1px;
        background: url('./static/ico-ranking-up@2x.png') no-repeat;
        background-size: 100%;
        background-position: 0px 1px;
      }

      &--profile {
        color: #ff8282;
        font-size: 12px;
        &::before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-right: 1px;
          background: url('./static/ico-ranking-profile-up@2x.png') no-repeat;
          background-size: 100%;
          background-position: 0px 1px;
        }
      }
    }

    &__down {
      color: #375cf1;

      &::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 1px;
        background: url('./static/ico-ranking-down@2x.png') no-repeat;
        background-size: 100%;
        background-position: 0px 1px;
      }

      &--profile {
        color: #56d6fe;
        font-size: 12px;
        &::before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;

          margin-right: 1px;
          background: url('./static/ico-ranking-profile-down@2x.png') no-repeat;
          background-size: 100%;
          background-position: 0px 1px;
        }
      }
    }

    &__new {
      color: #ff9c00;
      text-transform: uppercase;
    }

    &__stop {
      &::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-top: 2px;
        margin-right: 1px;
        background: url('./static/ico-ranking-stop@2x.png') no-repeat;
        background-size: 100%;
      }

      .textIndent {
        display: inline-block;
        overflow: hidden;
        text-indent: -10000px;
      }
    }
  }

  .thumbBox {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 6px;
    min-width: 60px;

    &__pic {
      width: 71%;
      border-radius: 50%;
      width: 100%;
    }
  }
  .profileImage {
    position: relative;
  }
  .infoBox {
    padding: 0 10px 0 6px;
    width: 100%;
    &-weekly {
      justify-content: center;
      .profileBox {
        width: 50%;
        flex-direction: column;
        align-items: center;
      }
      .nickNameBox {
        text-align: center;
      }
    }
  }

  .rankingList {
    display: flex;
    margin-bottom: 4px;
    align-items: center;
    position: relative;
    padding: 12px 0;
    background-color: #fff;
    border-radius: 16px;

    .thumbBox {
      position: relative;
      width: 60px;
      height: 60px;
      margin-right: 6px;
      min-width: 60px;

      // &__frame {
      //   position: absolute;
      //   top: -21px;
      //   left: 50%;
      //   width: 62px;
      //   height: 82px;
      //   transform: translateX(-50%);

      //   &--4rd {
      //     background: url(https://image.dalbitlive.com/ranking/fanrf4_n@3x.png) no-repeat center center;
      //     background-size: 100%;
      //   }

      //   &--5rd {
      //     background: url(https://image.dalbitlive.com/ranking/fanrf5_n@3x.png) no-repeat center center;
      //     background-size: 100%;
      //   }
      // }
    }

    .nickNameBox {
      margin-top: 0;
      font-size: 14px;
    }

    .countBox {
      padding-left: 0;
    }

    .myRanking__rank--point {
      padding-top: 0px;
    }

    .myRanking__img {
      margin-right: 2px;
    }

    .liveBox {
      top: 4px;
      right: 4px;
    }
  }

  .levelBox {
    display: inline-block;
    padding: 0 10px;
    border-radius: 13px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -1px;
    text-align: center;
    color: #ffffff;

    &__lv0 {
      background-color: #9e9e9e;
    }

    &__lv1 {
      background-color: #faa118;
    }

    &__lv2 {
      background-color: #5dc62a;
    }

    &__lv3 {
      background-color: #4692e9;
    }

    &__lv4 {
      background-color: #f54640;
    }

    &__lv5 {
      background-image: linear-gradient(to right, #7f18ff, #f52d5b 51%, #ffbf03);
    }
  }

  .countBox {
    padding-left: 15px;

    &__item {
      display: inline-block;
      margin-right: 10px;
      font-size: 12px;
      letter-spacing: -0.3px;
      color: #424242;

      i.icon {
        width: 16px;
        height: 16px;
        display: inline-block;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.8;
        text-indent: -9999px;

        &--point {
          background-image: url(https://image.dalbitlive.com/svg/ico_point.svg);
        }

        &--people {
          background-image: url(https://image.dalbitlive.com/svg/people_g_s.svg);
        }

        &--like {
          background-image: url(https://image.dalbitlive.com/svg/ico_like_g_s.svg);
        }

        &--time {
          background-image: url(https://image.dalbitlive.com/svg/time_g_s.svg);
        }

        &--star {
          background-image: url(https://image.dalbitlive.com/svg/ico_star.svg);
        }
        &--fan {
          background-image: url(https://image.dalbitlive.com/svg/ico_fan.svg);
        }
      }

      img {
        opacity: 0.8;
      }

      .ico-people {
        width: 16px;
        height: 16px;
      }
      .count {
        display: inline-block;
        margin-left: 1px;
        font-style: normal;
        vertical-align: -1px;
      }
    }

    &--profile {
      display: flex;
      flex-direction: column;
      padding-left: 0px;
    }

    &__block {
      display: flex;
      margin-bottom: 2px;
      i.icon {
        width: 16px;
        height: 16px;
        display: inline-block;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.8;
        text-indent: -9999px;

        &--point {
          background-image: url(https://image.dalbitlive.com/svg/.svg);
        }

        &--people {
          background-image: url(https://image.dalbitlive.com/svg/people_g_s.svg);
        }

        &--like {
          background-image: url(https://image.dalbitlive.com/svg/ico_like_g_s.svg);
        }

        &--time {
          background-image: url(https://image.dalbitlive.com/svg/time_g_s.svg);
        }

        &--star {
          background-image: url(https://image.dalbitlive.com/svg/ico_star.svg);
        }
        &--fan {
          background-image: url(https://image.dalbitlive.com/svg/ico_fan.svg);
        }
      }
    }
  }

  .fanGoodBox {
    color: #ec455f;
    font-size: 14px;

    & img {
      width: 22px;
      height: 22px;
    }

    & span {
      line-height: 24px;
      letter-spacing: -0.4px;
    }
  }

  .nickNameBox {
    align-items: center;
    flex-direction: column;
    margin-top: 8px;
    font-size: 16px;
    color: #242424;
    font-weight: bold;

    .nickNameImg {
      display: flex;
      align-content: center;
      margin-top: 4px;
      margin-right: auto;

      &__level {
        display: inline-block;
        height: 16px;
        padding: 0 10px;
        border-radius: 10px;
        background-color: $mediumGray;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.3px;
        color: $white;
        text-align: center;
        font-weight: 300;
      }

      .gender-icon {
        margin-right: 4px;
        width: 24px;
        height: 16px;
        background-position: center;
        background-repeat: no-repeat;
        text-indent: -9999px;

        &.male {
          background-image: url(https://image.dalbitlive.com/svg/gender_m_w.svg);
        }

        &.female {
          background-image: url(https://image.dalbitlive.com/svg/gender_w_w.svg);
        }
      }
    }

    .genderBox {
      display: inline-block;
      text-indent: -10000px;
      background-size: 100%;
      vertical-align: middle;

      &.korea-m {
        margin-left: 2px;
        border: 1px solid;
      }
    }
  }

  .medalBox {
    position: absolute;
    top: 0;
    left: 8px;
    margin-top: 2px;
    font-size: 12px;
    letter-spacing: -0.3px;
    text-align: center;
    font-weight: 700;

    .medal {
      background-size: contain;
      text-indent: -10000px;
    }

    &--top1 {
      width: 38px;
      height: 42px;
      background: url(https://image.dalbitlive.com/main/200714/ico-ranking-gold.png) no-repeat center center;
    }

    &--top2 {
      width: 28px;
      height: 36px;
      background: url(https://image.dalbitlive.com/main/200714/ico-ranking-silver.png) no-repeat center center;
    }

    &--top3 {
      width: 28px;
      height: 36px;
      background: url(https://image.dalbitlive.com/main/200714/ico-ranking-bronze.png) no-repeat center center;
    }
  }

  .liveBox {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.25px;
    text-align: center;
    color: #ec455f;
    font-weight: 700;

    &__img {
      width: 28px;
      margin-left: 2px;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .bottom {
    .isMem {
      margin-top: 560px;
    }

    .notMem {
      // margin-top: 451px;
      margin-top: 463px;
    }

    &.special {
      margin-top: 104px;
    }
  }

  .userRanking {
    position: relative;

    &.bottomList {
      overflow: hidden;
      width: 100%;
      background-color: #eee;
      padding: 16px;
      position: relative;
      border-radius: 20px;
      margin-top: -20px;
      box-sizing: border-box;

      &.likeList {
        margin-top: 0;
      }
    }

    .TopBox {
      display: flex;
      width: 328px;
      height: 290px;
      margin: 0 auto;
      background: url(https://image.dalbitlive.com/ranking/podium@3x.png) bottom;
      background-repeat: no-repeat;
      background-size: 100%;

      &.isSpPoint {
        height: 340px;
      }

      &.isLabel {
        height: 330px;
      }

      &__item {
        position: relative;

        .spPoint {
          position: relative;
          margin: 0 auto;
          padding: 7px 28px 8px 13px;
          height: 46px;
          width: fit-content;
          border-radius: 14px;
          color: #fff;
          font-size: 12px;
          background-position: 2px 2px;
          background-size: 28px;
          background-repeat: no-repeat;

          .arrowIcon {
            position: absolute;
            top: 12px;
            right: 4px;
            width: 18px;
            height: 18px;

            img {
              width: 100%;
            }
          }

          &::before {
            display: inline-block;
            content: '';
            position: absolute;
            bottom: -5px;
            left: 50%;
            margin-left: -2px;
            width: 7px;
            height: 5px;
            background-image: url(https://image.dalbitlive.com/ranking/balloon_edge@3x.png);
            background-repeat: no-repeat;
            background-size: 100%;
          }
        }

        .labelDj,
        .labelFan {
          position: relative;
          margin: 0 auto;
          padding: 0 6px 0 2px;
          height: 34px;
          line-height: 34px;
          width: fit-content;
          border-radius: 14px;
          color: #fff;
          font-size: 12px;
          box-sizing: border-box;

          img {
            display: inline-block;
            margin-top: -2px;
            width: 28px;
          }

          &::before {
            display: inline-block;
            content: '';
            position: absolute;
            bottom: -5px;
            left: 50%;
            margin-left: -3px;
            width: 7px;
            height: 5px;
            background-image: url(https://image.dalbitlive.com/ranking/balloon_edge@3x.png);
            background-repeat: no-repeat;
            background-size: 100%;
          }
        }

        .TopBoxThumb {
          position: absolute;
          width: 100%;
          text-align: center;

          &__pic {
            position: relative;
            border-radius: 50%;
            width: 100%;
          }

          &__deco {
            position: absolute;
            left: 50%;
            bottom: -15px;
            text-align: center;
            z-index: 1;
          }

          &::after {
            content: '';
            white-space: pre;
            display: block;
            position: absolute;
          }
        }

        .nickNameBox {
          position: absolute;
          width: 80%;
          margin-left: 10%;
          text-align: center;
          font-size: 12px;
          color: #fff;
          height: 35px;

          &__nick {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;

            &--noLive {
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              line-height: 15px;
            }
          }

          &__live {
            display: block;
            margin-top: 4px;
          }
        }

        &:nth-of-type(1) {
          width: 112px;
          order: 2;

          .spPoint {
            background-color: rgba(0, 0, 0, 0.5);

            &::after {
              content: '스페셜 DJ\A가산점+1.5';
              white-space: pre;
            }
          }

          .labelDj {
            background-color: rgba(0, 0, 0, 0.5);
          }
          .labelFan {
            background-color: rgba(0, 0, 0, 0.5);
          }

          .TopBoxThumb {
            bottom: 170px;

            &__pic {
              width: 88px;
            }

            &__deco {
              &.dj {
                width: 84px;
                margin-left: -42px;
                bottom: -17px;
              }

              &.fan {
                width: 58px;
                margin-left: -29px;
                bottom: -17px;
              }
            }

            &.dj {
              &::after {
                top: -30px;
                left: 9px;
                width: 94px;
                height: 122px;
                background: url(https://image.dalbitlive.com/ranking/djrf1@3x.png) no-repeat;
                background-size: 100%;
              }
            }

            &.fan {
              &::after {
                top: -30px;
                left: 9px;
                width: 94px;
                height: 122px;
                background: url(https://image.dalbitlive.com/ranking/fanrf1@3x.png) no-repeat;
                background-size: 100%;
              }
            }
          }

          .nickNameBox {
            bottom: 60px;
          }
        }
        &:nth-of-type(2) {
          width: 108px;
          order: 1;

          .spPoint {
            margin-top: 50px;
            background-color: rgba(0, 0, 0, 0.4);

            &::after {
              content: '스페셜 DJ\A가산점+0.5';
              white-space: pre;
            }
          }

          .labelDj {
            margin-top: 52px;
            background-color: rgba(0, 0, 0, 0.4);
          }
          .labelFan {
            margin-top: 53px;
            background-color: rgba(0, 0, 0, 0.4);
          }

          .TopBoxThumb {
            bottom: 140px;

            &__pic {
              width: 72px;
            }

            &__deco {
              &.dj {
                width: 70px;
                margin-left: -35px;
                bottom: -15px;
              }

              &.fan {
                width: 36px;
                margin-left: -18px;
              }
            }

            &.dj {
              &::after {
                top: -25px;
                left: 16px;
                width: 76px;
                height: 99px;
                background: url(https://image.dalbitlive.com/ranking/djrf2@3x.png) no-repeat;
                background-size: 100%;
              }
            }

            &.fan {
              &::after {
                top: -25px;
                left: 16px;
                width: 76px;
                height: 99px;
                background: url(https://image.dalbitlive.com/ranking/fanrf2@3x.png) no-repeat;
                background-size: 100%;
              }
            }
          }

          .nickNameBox {
            bottom: 40px;

            &__live {
              img {
                width: 20px;
              }
            }
          }
        }

        &:nth-of-type(3) {
          width: 108px;
          order: 3;

          .spPoint {
            margin-top: 78px;
            background-color: rgba(0, 0, 0, 0.3);

            &::after {
              content: '스페셜 DJ\A가산점+0.3';
              white-space: pre;
            }
          }

          .labelDj {
            margin-top: 78px;
            background-color: rgba(0, 0, 0, 0.3);
          }
          .labelFan {
            margin-top: 78px;
            background-color: rgba(0, 0, 0, 0.3);
          }

          .TopBoxThumb {
            bottom: 130px;

            &__pic {
              width: 60px;
            }

            &__deco {
              &.dj {
                width: 56px;
                margin-left: -28px;
              }

              &.fan {
                width: 34px;
                margin-left: -17px;
              }
            }

            &.dj {
              &::after {
                top: -23px;
                left: 21px;
                width: 66px;
                height: 86px;
                background: url(https://image.dalbitlive.com/ranking/djrf3@3x.png) no-repeat;
                background-size: 100%;
              }
            }

            &.fan {
              &::after {
                top: -23px;
                left: 21px;
                width: 66px;
                height: 86px;
                background: url(https://image.dalbitlive.com/ranking/fanrf3@3x.png) no-repeat;
                background-size: 100%;
              }
            }
          }

          .nickNameBox {
            bottom: 35px;

            &__live {
              img {
                width: 20px;
              }
            }
          }
        }
      }
    }

    .TopBoxLike {
      display: flex;
      width: 328px;
      height: 290px;
      margin: 0 auto;

      &__item {
        position: relative;

        .TopBoxThumb {
          position: absolute;
          width: 100%;
          text-align: center;
          z-index: 1;

          &__pic {
            position: relative;
            border-radius: 50%;
            width: 100%;
          }

          &::after {
            content: '';
            white-space: pre;
            display: block;
            position: absolute;
          }
        }

        .nickNameBox {
          position: absolute;
          bottom: 147px;
          width: 100%;
          padding: 0 5%;
          z-index: 0;

          &__nick {
            overflow: hidden;
            width: 100%;
            padding: 0 5%;
            height: 26px;
            border-radius: 20px;
            background-color: #fff;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            line-height: 26px;
            text-align: center;
            font-size: 12px;

            // &--noLive {
            //   overflow: hidden;
            //   display: -webkit-box;
            //   -webkit-line-clamp: 2;
            //   -webkit-box-orient: vertical;
            //   line-height: 15px;
            // }
          }

          &__live {
            display: block;
            margin-top: 4px;
          }
        }

        .cupidBox {
          position: absolute;
          bottom: 40px;
          width: 100%;
          height: 86px;
          padding: 0 3%;

          &::after {
            content: '';
            position: absolute;
            bottom: 76px;
            left: 42%;
            width: 20px;
            height: 20px;
            background: url(https://image.dalbitlive.com/ranking/ico_like_red_m.svg);
          }

          .cupidItem {
            height: 100%;
            padding: 20px 7px 7px 7px;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 20px;
            text-align: center;
            color: #fff;
            font-size: 11px;

            .thumbBox {
              width: 100%;
              height: 36px;
              text-align: center;

              img {
                width: 36px;
                height: 36px;
                border-radius: 50%;
              }
            }

            .nickName {
              overflow: hidden;
              width: 100%;
              margin-top: 6px;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-wrap: normal;
            }
          }
        }

        &:nth-of-type(1) {
          width: 112px;
          order: 2;

          .TopBoxThumb {
            bottom: 170px;

            &::after {
              top: -29px;
              left: 9px;
              width: 94px;
              height: 122px;
              background: url(https://image.dalbitlive.com/ranking/likewf1@2x.png) no-repeat;
              background-size: 100%;
            }

            &__pic {
              width: 88px;
            }
          }
        }

        &:nth-of-type(2) {
          width: 108px;
          order: 1;

          .TopBoxThumb {
            bottom: 168px;

            &::after {
              top: -25px;
              left: 16px;
              width: 76px;
              height: 96px;
              background: url(https://image.dalbitlive.com/ranking/likewf2@2x.png) no-repeat;
              background-size: 76px 96px;
            }

            &__pic {
              width: 70px;
            }
          }
        }

        &:nth-of-type(3) {
          width: 108px;
          order: 3;

          .TopBoxThumb {
            bottom: 170px;

            &::after {
              top: -23px;
              left: 21px;
              width: 66px;
              height: 86px;
              background: url(https://image.dalbitlive.com/ranking/likewf3@2x.png) no-repeat;
              background-size: 100%;
            }

            &__pic {
              width: 60px;
            }
          }
        }
      }
    }
  }

  .specialDj {
    height: 16px;
    line-height: 16px;
    padding: 0 8px;
    margin-left: 4px;
    border-radius: 10px;
    background-color: $red;
    font-size: 12px;
    color: #fff;
    font-weight: 300;
    font-style: normal;
  }

  .specialBox {
    span {
      display: block;
      width: 44px;
      height: 22px;
      background-color: $lighterGray;
      border-radius: 14px;
      font-weight: $bold;
      font-size: 14px;
      text-align: center;
      letter-spacing: -0.3px;
      line-height: 22px;
      &.new {
        background-color: #febd56;
        color: $white;
        font-size: 11px;
      }
      &.on {
        background-color: $MAINCOLOR;
        color: $white;
      }
    }
    &-pick {
      span {
        width: 56px;
      }
    }
  }

  // .levelListWrap {
  //   min-height: calc(100vh - 104px - 28px);
  //   padding: 0 16px 16px 16px;
  //   background-color: $lighterGray;
  // }

  .levelListBox {
    display: flex;
    align-items: center;
    position: relative;
    height: 108px;
    padding: 4px 12px;
    background-color: $white;
    margin-bottom: 4px;
    border-radius: 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;

    .thumbBox {
      width: 100px;
      height: 100px;
      margin-right: 2px;
      min-width: 100px;
      text-align: center;

      &__pic {
        margin-top: 13px;
        width: 74px;
      }

      &__frame {
        position: absolute;
        left: 50%;
        width: 100px;
        transform: translateX(-50%);
      }
    }

    .textBox {
      width: calc(100% - 150px);

      i.icon {
        width: 16px;
        height: 16px;
        display: inline-block;
        background-position: center center;
        background-repeat: no-repeat;
        text-indent: -9999px;

        &--people {
          background-image: url(https://image.dalbitlive.com/svg/people_g_s.svg);
        }

        &--fan {
          background-image: url(https://image.dalbitlive.com/svg/ico_fan.svg);
        }
      }
    }

    .nickNameBox {
      width: 100%;
      margin-top: 4px;
      padding-left: 0;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.special {
        width: calc(100% - 30px);
      }
    }

    .genderBox {
      display: inline-flex;
      padding-left: 0;
      background-size: 100%;
      vertical-align: middle;
      &.korea-m {
        margin-left: 2px;
        border: 1px solid;
      }
    }

    .bestFanBox {
      display: flex;
      height: 18px;
      margin-top: 4px;
      font-size: 12px;
      color: $MAINCOLOR;
      align-items: center;
      &__label {
        min-width: fit-content;
        margin-right: 4px;
        padding: 0 3px;
        height: 16px;
        color: #757575;
        background-color: $lighterGray;
        border-radius: 20px;
        font-size: 12px;
        line-height: 16px;
      }

      &__nickNm {
        // max-width: 80px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        line-height: 16px;
      }

      &__icon {
        color: #424242;
        white-space: nowrap;
        &::before {
          display: inline-block;
          vertical-align: middle;
          content: '';
          width: 16px;
          height: 16px;
          background: url('https://image.dalbitlive.com/svg/ico_like_g_s.svg') no-repeat 0 0;
        }
      }
    }

    .countBox {
      height: 18px;
      margin-top: 4px;
      padding-left: 0;
      font-size: 12px;

      i.icon {
        width: 16px;
        height: 16px;
        display: inline-block;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.8;
        text-indent: -9999px;

        &--point {
          background-image: url(https://image.dalbitlive.com/svg/.svg);
        }

        &--people {
          background-image: url(https://image.dalbitlive.com/svg/people_g_s.svg);
        }

        &--like {
          background-image: url(https://image.dalbitlive.com/svg/ico_like_g_s.svg);
        }

        &--time {
          background-image: url(https://image.dalbitlive.com/svg/time_g_s.svg);
        }

        &--star {
          background-image: url(https://image.dalbitlive.com/svg/ico_star.svg);
        }
        &--fan {
          background-image: url(https://image.dalbitlive.com/svg/ico_fan.svg);
        }
      }
      & > span {
        margin-left: 6px;
        font-size: 12px;
        letter-spacing: -0.3px;
        word-spacing: -3px;
        &:first-child {
          margin-left: 0;
        }
        & > img {
          width: 16px;
          height: 16px;
          margin-bottom: 2px;
        }
      }
    }

    .liveBox {
      top: 12px;
      right: 12px;
    }

    &__levelBox {
      position: relative;
      width: 40px;
      text-align: center;
      &--levelText {
        position: absolute;
        bottom: 22px;
        left: 15px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 21px;
      }
      &--rankText {
        width: 40px;
        height: 20px;
        border-radius: 12px;
        background-color: #616161;
        color: #fff;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        line-height: 21px;
      }
      &--rank {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 44px;
        height: 22px;
        margin-right: 10px;
        background-color: #616161;
        border-radius: 14px;
        font-weight: bold;
        font-size: 16px;
        color: #fff;
        text-align: center;
      }
      &--updown {
        text-align: center;
        height: 12px;
        font-size: 12px;
        &__up {
          color: #eb2828;
          &::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 1px;
            background: url('./static/ico-ranking-up@2x.png') no-repeat;
            background-size: 100%;
            background-position: 0px 1px;
          }
        }

        &__down {
          color: #375cf1;
          &::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 1px;
            background: url('./static/ico-ranking-down@2x.png') no-repeat;
            background-size: 100%;
            background-position: 0px 1px;
          }
        }

        &__new {
          display: block;
          height: 12px;
          color: #ff9c00;
          text-transform: uppercase;
        }
      }
      &--top1 {
        width: 38px;
        height: 46px;
      }
      &--top2 {
        width: 32px;
        height: 38px;
      }
      &--top3 {
        width: 32px;
        height: 38px;
      }
    }
  }

  .rewordBox {
    overflow: hidden;
    position: relative;
    margin-bottom: 18px;
    padding: 16px 0;
    border-radius: 16px;
    border: solid 2px #febd56;

    &__top {
      color: #fff;
      font-size: 22px;
      letter-spacing: -1px;
      font-weight: 700;
      line-height: 22px;
      text-align: center;

      span {
        display: inline-block;
        display: block;
        margin-top: 4px;
        font-size: 14px;
        font-weight: 500;
        color: #febd56;
      }
    }

    &__btnGet {
      position: absolute;
      right: 11px;
      top: 14px;
      width: 56px;
      height: 56px;
      border-radius: 30px;
      background-color: #ec455f;
      line-height: 18px;
      font-weight: 700;
      color: #fff;
    }

    &__character1 {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  .specialPage {
    min-height: calc(100vh - 154px);
    padding: 0px 16px 20px;
    background: $lighterGray;
    .notice {
      margin-bottom: 4px;
      padding: 9px 0px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      border: 1px solid $MAINCOLOR;
      background: $white;
      color: $MAINCOLOR;
      border-radius: 16px;
      box-sizing: border-box;
    }
    .specialText {
      margin-bottom: 4px;
      padding: 11px 0;
      background-color: $MAINCOLOR;
      color: $white;
      font-size: 14px;
      text-align: center;
      border-radius: 16px;
    }
    .textBox {
      width: calc(100% - 80px);
    }
    .infoBox {
      display: flex;
      align-items: center;
      width: calc(100% - 50px);
      box-sizing: border-box;
    }
  }
  .btnMore {
    position: absolute;
    right: 4px;
    height: 100%;
    text-align: right;
  }

  .likeDetailWrap {
    width: calc(100% - 140px);
    .likeListDetail {
      display: flex;
      align-items: center;
      width: 100%;

      .nickNameBox {
        flex: 1;
        margin-top: 0;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
      }
    }

    .fanGoodBox {
      color: #ec455f;
      font-size: 14px;

      & img {
        width: 22px;
        height: 22px;
      }

      & span {
        line-height: 24px;
        letter-spacing: -0.4px;
      }
    }

    .nickNameBox {
      padding-left: 5px;
      font-size: 14px;
    }

    .genderBox {
      display: inline-flex;
      padding-left: 5px;
      background-size: 100%;
      vertical-align: middle;
      &.korea-m {
        margin-left: 2px;
        border: 1px solid;
      }
    }

    .bestFanBox {
      display: flex;
      height: 18px;
      margin-top: 4px;
      font-size: 12px;
      color: #632beb;
      align-items: center;
      &__label {
        margin-right: 4px;
        padding: 0 8px;
        height: 16px;
        color: #757575;
        background-color: #eee;
        border-radius: 20px;
        font-size: 12px;
        line-height: 16px;
      }

      &__nickname {
        max-width: 40%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
        cursor: pointer;
      }
      &__icon {
        color: #424242;
        word-spacing: -5px;
      }
    }

    .countBox {
      height: 18px;
      margin-top: 4px;
      padding-left: 5px;
      font-size: 12px;
      & > span {
        margin-right: 6px;
        font-size: 12px;
        letter-spacing: -0.3px;
        word-spacing: -3px;
        & > img {
          width: 16px;
          height: 16px;
          margin-bottom: 2px;
        }
      }
    }

    .liveBox {
      top: 12px;
      right: 12px;
    }
  }
}
