.header{
  &__title{
    display:block;
    position: relative;
    font-size:18px;
    text-align: center;
    line-height:40px;
    font-weight: 600;
    border-bottom:1px solid #e0e0e0;
  }
  &__back{
    position: absolute;
    left:6px;
    top:0px;
  }
}

.rankTitle{
  display:flex;
  align-items: center;
  justify-content:space-between;
  height:50px;
  padding:0px 16px;
  box-sizing: border-box;
  background:#eee;

  &__tab{
    display:flex;
  }
  &__button{
    margin-right:2px;
    background:#fff;
    font-size:14px;
    color:#000;
    padding:8px 13px;
    border-radius:12px;
    font-weight: 600;

    &--active{
      background:#632beb;
      color:#fff;

    }
  }

  &__titme{
    display:flex;
    align-items: center;
    font-size:12px;
    color:#424242;
  }
  
  &__noticeImg{
    width:32px;
    margin-left:4px;
  }
}

.rankDay{
  background:#f5f5f5;
  height:36px;
  display:flex;
  justify-content: center;
  align-items: center;
  &__button{
    position: relative;
    margin:0px 8px;
    font-weight: 600;
    font-size:14px;
    &--active{
      color:#632beb;
      .acitve--line{
        position:absolute;
        left:0px; 
        bottom:-9px;
        width:100%;
        height:1px;
        background:#632beb;
        display:block;
      } 
    }
  }
}

.rangkMy{
  display:flex;
  height:116px;

  &__textBox{
    display:flex;
    flex-direction: column;
    height:84px;
    margin-top:16px;
    margin-right:8px;
    padding:0px 22px;
    border-right:1px solid #f5f5f5;
  }
  
  &__list{
    display:flex;
    justify-content: center;
    align-items: center;

    &--number{
      display:flex;
      align-content: center;
      justify-content: center;
      width:40px;
      background:#616161;
      border-radius: 12px;
      color:#fff;
      font-size:12px;
      font-weight: 900;
      margin-bottom:4px;
      
    }

    &--title{
      font-size:12px;
      font-weight: 600;
      color:#757575;
      margin-bottom:1px;
    }
    &--score{
      font-size:18px;
      font-weight: 900;
    }
    &--scoreUp{
      display:flex;
      align-items: center;
      margin-bottom:12px;
      font-size:12px;
      font-weight: 600;
      color:#eb2828;
      .scoreupImg{margin-right:3px}
    }

    &--point{
      display: flex;
      align-items: center;
      font-size:12px;
      color:#424242;
      .pointImg{
        width:16px;
        margin-right:2px;
      }
    }
  }

  &__content{
    display:flex;
    flex-direction: column;
    margin-top:8px;
    margin-right:4px;
  }

  &__imgTitle{
    display:flex;
  }

  &__imgFrame{
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    width:70px;
    height:70px;
  }

  &__lingImg{
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:70px;
    background-image:url(./ico_frame_49.png);
    background-size:70px;
    z-index:5;


  }

  &__img{
    width:52px;
    height:52px;
    border-radius: 50%;
  }

  &__itme{
    display: flex;
    flex-direction: column;
  }
  

  &__level{
    display:flex;
    align-self: flex-start;
    color:#fff;
    margin-bottom:8px;
    margin-top:14px;
    font-size:12px;
    border-radius: 13px;
    padding:0px 8px;
    background: linear-gradient(0.25turn, #7f18ff, #f52d5b, #ffbf03);
    &--bold{
      font-weight: 600;
    }
  }

  &__title{
    font-size:16px;
    font-weight: 600;
  }
}



.rangkPoint{
  display:flex;
  font-size:12px;
  color:#424242;
  margin-top:6px;
  margin-left:8px;


  
  &__list{
    display: flex;
    flex-basis: 40px;
    margin-right:8px;

    &--img50{
      height:16px;
      margin-right:2px;
    }

    &--bold{
      font-weight: 600;
      color:#000;
    }

    &--two{
      margin-bottom:9px;

      &:nth-child(1){
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom:11px;
        margin-right:0px;;
      }

      &:nth-child(1n+2) {
        margin-right:0px;
        flex-basis: 47%;
        align-items: center;
        justify-content: center;
      }

      &:nth-child(2n){
        justify-content: flex-end;
        margin-right:8px;
      }

      &:nth-child(3){
        justify-content: flex-start;
      }

      &:nth-child(5){
        justify-content: flex-start;
      }
    
    }

  }




  &--center{
  justify-content: center;
  align-items: center;
  margin-bottom:10px;
  }

  &--row{
    display:flex;
    flex-wrap: wrap;
    margin-left:0px;
  }

}


.bestBox{
  background:#eee;
  padding:16px;
  box-sizing: border-box;

    &__margin{
    display:flex;
    flex-direction: column;
    }


  .best {
    &__one{

      position:relative;
      margin-top:16px;
      background:#fff;
      border:2px solid #632beb;
      border-radius:16px;
      

      &--rightMargin{
        margin-right:8px;
      }
    }

    &__medal{
      display:flex;
      justify-content: center;
      align-items: flex-end;
      position:absolute;
      left:8px;
      top:0px;
      width:40px;
      height:70px;
      font-size:12px;
      font-weight: 900;
      color:#ff9c00;
      background-image:url(./medal-gold.png);
      background-repeat: no-repeat;
      background-size:40px;
      background-position: center top;

      &--silver{
        width:32px;
        height:56px;
        left:12px;
        background-image:url(./medal-silver.png);
        background-repeat: no-repeat;
        background-size:32px;
        background-position: center top;
      }

      &--bronze{
        width:32px;
        height:56px;
        background-image:url(./medal-bronze.png);
        background-repeat: no-repeat;
        background-size:32px;
        background-position: center top;
      }
    }

    &__score{
      display:flex;
      align-items: center;
      justify-content: center;

      &--new{
        color:#ff9c00;
        font-size:12px;
      }

      &--down{
        font-size:12px;
        font-weight: 600;
        color:#375cf1;
      }

      &--up{
        font-size:12px;
        font-weight: 600;
        color:#f54640;
      }

      &--basic{
        line-height:1;
        font-size:25px;
        font-weight: 600;
        color:#000;
      }

    }

    &__live{
      display:flex;
      align-items: flex-end;
      width:20px;
      position:absolute;
      height:32px;
      color:#ec455f;
      font-size:10px;
      right:8px;
      top:8px;
      font-weight: 900;
      background-image:url(./ico-live.png);
      background-repeat: no-repeat;
      background-size:20px;
      background-position: center top;
    }

    &__content{
      display: flex;
      flex-direction: column;

    }

    &__imgBox{
      display: flex;
      align-items: center;
      justify-content: center;
      width:70px;
      height:70px;
      margin:auto;
      margin-top:-20px;
      position: relative;

      &--two{
        margin-top:12px;
      }

    }

    &__img{
      width:52px;
      height:52px;
      border-radius: 50%;
    }

    &__lingImg{
      width:70px;
      height:70px;
      position:absolute;
      left:0px;
      top:0px;
      z-index:1;
      background-image:url(./ico_frame_40.png);
      background-size:70px;
      background-repeat: no-repeat;
      background-position:center center;

      &--lv10{
        background-image:url(./ico_frame_10.png);
      }

      &--lv16{
        background-image:url(./ico_frame_16.png);
      }
      
    }

    &__lingImgSmall{
      width:58px;
      height:58px;
      position:absolute;
      left:0px;
      top:0px;
      z-index:1;
      background-image:url(./ico_frame_40.png);
      background-size:58px;
      background-repeat: no-repeat;
      background-position:center center;

      &--lv10{
        background-image:url(./ico_frame_10.png);
      }

      &--lv16{
        background-image:url(./ico_frame_16.png);
      }
      
    }

    &__imgSmall{
      width:40px;
      height:40px;
      border-radius: 50%;
    }

    &__subTitle{
      display:flex;
      margin-bottom:8px;
      align-self: center;
      font-size:12px;
      color:#fff;
      background:#f54640;
      padding:0px 8px;
      border-radius:13px;

      &--yellow{
        background:#f5b32f;
      }

      &--green{
        background:#85ce32;
      }
    }

    &__title{
      display:flex;
      justify-content: center;
      align-items: center;
      font-size:16px;
      font-weight: 900;
      &--img{
        width:24px;
        margin-left:2px;
      }
      &--block{
        display: flex;
        flex-direction: column;
        font-size:14px;
        padding-bottom:2px;
        border-bottom:1px solid #eee; 
        margin:0px 10px;
        box-sizing: border-box;
      }
    }

    &__titleImg{
      &--margin{
        margin-top:5px;
        margin-bottom:3px;
      }
    }



    &__two{
      display:flex;
      justify-content: space-between;
     }

     &__margin{
       flex:1;
     }

 }

 .scoreImg{
  width:12px;
}

}


.rankBox{
  display:flex;
  flex-direction: column;
  position:relative;

  &__list{
    display:flex;
    border-bottom:1px solid #eee;
  }

  &__text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__number{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20px;
    margin-top:13px;
    min-width:40px;
    border-radius: 12px;
    background:#616161;
    font-size:12px;
    font-weight: 900;
    color:#fff;
  }

  &__score{
    
    &--basic{
      width:100%;
      height:13px;
      background-image:url(./ico_basic.png);
      background-position: center;
      background-repeat:no-repeat;
      background-size:12px;
    }
  }

  &__point{
    display:flex;
    font-size:12px;
    color:#424242;
    margin-bottom:13px;
    
  }

&__text{
  display: flex;
  flex-basis: 88px;
}

&__itemTop{
  display:flex;

}

&__itemImg{
  margin-top:12px;
  margin-right:6px;
}

&__itemTitle{
  font-size:14px;
  font-weight: 600;
  margin-bottom:4px;
  margin-top:14px;
}

&__itemPoint{
  display:flex;
}

&__Live{
  display:flex;
  align-items: flex-end;
  width:20px;
  height:42px;
  position:absolute;
  right:12px;
  top:12px;
  background-image:url(./ico-live.png);
  background-repeat: no-repeat;
  background-size:20px;
  font-size:12px;
  color:#ec455f;  
}

.djIcon{
  font-size:12px;
  color:#fff;
  background:#ec455f;
  padding:0px 9px;
  border-radius: 10px;
}

.pointImg{
  width:16px;
  height:16px;
  margin-right:2px;
}
.itemImg{
  width:40px;
  height:40px;
  border-radius: 50%;
}
.itemPoint{
  width:24px;
  height:16px;
  margin-right:2px;
}

  
}



