@import '../../../../styles/variables';
@import "components/ui/_mixin.scss";

$WIDTH_MOBILE: 600px;

#noticeDetail {
  .detail {
    display: block;
    width: 100%;
    background-color: $white;
    .detail__header {
      display: flex;
      justify-content: space-between;
      padding: 16px 20px;
      @media (max-width: $WIDTH_MOBILE) {
        flex-wrap: wrap;
        flex-direction: column;
      }
      & span:nth-child(1) {
        font-size: 16px;
        font-weight: 600;
        color: #000;
        transform: skew(-0.03deg);
      }
      & span:nth-child(2) {
        font-size: 14px;
        color: #757575;
      }
    }
    .detail__content {
      border-top: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;
      padding: 20px;
      font-size: 14px;
      color: $greishBrown;
      & img {
        max-width: 100%;
      }
      p {
        line-height: 1.4;
      }
    }
    > button {
      display: block;
      margin: 20px auto 100px auto;
      padding: 12px 24px;
      background-color: $MAINCOLOR;
      border-radius: 8px;
      color: $white;
    }
    &.on {
      display: none;
    }
  }
}

.noticeDetailWrap {
  min-height: 700px;
  margin-top: 12px;

  &__header {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
    padding: 0 20px;
    background-color: #fff;

    &--date {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      font-size: 12px;
      color: #bdbdbd;
    }
  }
  &__contents {
    padding: 40px 20px 60px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
    border-top: 1px solid #f5f5f5;
    img {
      width: 100% !important; // 모바일화로 인한 공지사항 이미지 강제 100% 적용
    }
  }

  &__button {
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    & > button {
      padding: 16px 44px;
      margin: auto;
      background-color: #632beb;
      border-radius: 8px;
      color: white;
    }
  }
}
