$WIDTH_MOBILE: 600px;
$COLOR_MAIN: #FF3C7B;
.noticeList {
  display: block;
  background-color: white;
  &.on {
    display: none;
  }

  .tableWrap {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 16px;
    cursor: pointer;
    & em {
      position: absolute;
      right: 10px;
      top: 1px;
      display: inline-block;
      width: 16px;
      height: 29px;
      margin-right: 6px;
      background-position: center center;
      background: url('../static/ic_new.svg') center no-repeat;
    }
    @media (max-width: $WIDTH_MOBILE) {
      flex-wrap: wrap;
    }
    & dt {
      width: 120px;
      color: $COLOR_MAIN;
      font-size: 16px;
      transform: skew(-0.03deg);
      @media (max-width: $WIDTH_MOBILE) {
        /* display: none; */
      }
    }
    & dd {
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 16px;
      color: #000;
      transform: skew(-0.03deg);
      letter-spacing: -0.5px;
      font-weight: 600;
    }
    &__label {
      width: 52px;
      color: $COLOR_MAIN;
      margin-right: 5px;
      line-height: 29px;
      background-color: #eeeeee;
      border-radius: 12px;
      font-size: 11px;
      text-align: center;
      transform: skew(-0.03deg);
    }
    &__title {
      width: 65%;
      line-height: 29px;
      height: 29px;
      font-size: 16px;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & dd:first-child::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 1px;
      background-color: #9e9e9e;
      transform: rotate(125deg);
      right: 2px;
      top: 18px;
    }

    & dd:first-child::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 1px;
      background-color: #9e9e9e;
      transform: rotate(45deg);
      right: 2px;
      top: 12px;
    }
  }
}
