#rankPopupWrap {
  padding: 0px 16px 16px 16px;
  .title {
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    font-size: 16px;
    color: #000;

    p {
      text-align: center;
      line-height: 24px;

      &.topBox {
        line-height: 26px;
        font-weight: 800;
      }

      &.middleBox {
        margin-top: 24px;
        font-size: 14px;
        color: #616161;

        span {
          font-weight: bold;
          &.colorRed {
            color: #ec455f;
          }
        }
      }
    }

    & > span {
      text-align: center;
    }
  }

  & > button {
    margin-top: 16px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 0;
    background-color: #FF3C7B;
    color: white;
    border-radius: 12px;
    box-sizing: border-box;
  }
}
