@import "components/ui/_mixin.scss";

.hotClipWrap{
  .swiper-slide {
    >div{
      width: 100%;
      padding: 0 16px;
      &:nth-child(3n) {
        .hotClip {
          margin-bottom:0;
        }
      }
    }
  }
}

.hotClip {
  display: flex;
  margin-bottom: 16px;
  cursor: pointer;
  &:active {cursor: grabbing;}
  .photo {
    position: relative;
    flex: none;
    display: inline-block;
    width: 112px;
    height: 112px;
    margin-right: 16px;
    &::before {
      content: "";
      @include position-top-left;
      width: 100%; height: 100%;
      border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
      border-radius:8px;
      box-sizing: border-box;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .info {
    display: inline-block;
    @include fontCut;
    img {
      height: 36px;
      margin: 17px 0;
      object-fit: contain;
    }

    .textArea {
      div {
        @include flex(center);
        height: 20px;
        line-height: 24px;
      }
      .type {
        flex-shrink: 0;
        margin-right: 5px;
        @include font(12px,$Regular,#666);
      }
      .title {
        @include font(15px,$Medium,#202020);
        @include fontCut;
      }
      .nickName {
        line-height: 18px;
        font-size: 13px;
        font-weight: 400;
        color: #999;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}