
.swiper-slide {
  .hotClip:nth-child(3n) {
    padding: 0 16px 0 0;
  }
}

.hotClip {
  display: flex;
  width: calc(100% - 28px);
  padding: 0 16px 16px 0;

  .photo {
    display: inline-block;
    width: 112px;
    height: 112px;
    margin-right: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }

  .info {
    display: flex;
    width: calc(100% - 128px);
    flex-direction: column;
    align-items: flex-start;
    img {
      height: 36px;
      margin: 17px 0;
      object-fit: contain;
    }

    .textArea {
      div {
        display: flex;
        align-items: flex-start;
        height: 20px;
      }
      .type {
        flex-shrink: 0;
        margin-right: 5px;
        font-size: 12px;
        font-weight: 400;
        color: #666666;
      }
      .title {
        line-height: 24px;
        font-size: 15px;
        font-weight: 700;
        color: #202020;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .nickName {
        line-height: 18px;
        font-size: 13px;
        font-weight: 400;
        color: #999;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}