@import "../_mixin.scss";

@mixin headerBtn($icoImg) {
  width:40px;
  height:40px;
  @include BGIMG('common/header/#{$icoImg}.png');
}

header {
  position:relative;
  z-index:10000;
  @include flex(center);
  height:48px;
  width:100%;
  padding-left: 16px;
  padding-right: 6px;
  .title {
    @include flex(center,center);
    height:100%;
    @include font(24px,700,#202020);
  }
  &.fixed {
    position:fixed;
    top:0;
    left:0;
  }
  &.sticky {
    position:sticky;
    top:0;
    left:0;
  }
  &.back {
    padding:4px;
    .title {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      pointer-events: none;
      @include font(18px,500,#202020);
    }
  }
  .buttonGroup {
    @include flex(center);
    margin-left:auto;
    button {
      &.ranking {@include headerBtn(icoRank-b);}
      &.message {@include headerBtn(icoMessage-b);}
      &.alarm {@include headerBtn(icoAlarm-b);}
      &.store {@include headerBtn(icoStore-b);}
      &.search {@include headerBtn(icoSearch-b);}
    }
  }
}