@import '../../styles/variables';
#noServiceWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #eeeeee;
  box-sizing: border-box;
  .infoWrap {
    margin-top: 35vh;
    text-align: center;
  }
  .text {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
  }
  .buttonWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
    padding: 0 16px 30px;
    box-sizing: border-box;
    button {
      width: 100%;
      height: 44px;
      line-height: 44px;
      margin-bottom: 12px;
      box-sizing: border-box;
      border-radius: 9px;
      font-size: 16px;
      text-align: center;
      &:nth-child(1) {
        border: 1px solid #e0e0e0;
        background-color: #ffffff;
      }
      &:nth-child(2) {
        background-color: #FF3C7B;
        color: #fff;
      }
      &.disabled {
        line-height: 18px;
        background-color: #a1a1a1;
        color: #fff;
      }
      &.logOut {
        width: auto;
        height: auto;
        line-height: 1;
        margin: 0 auto;
        padding: 8px 16px;
        font-size: 14px;
        color: #757575;
        cursor: pointer;
      }
    }
  }
}
