@import 'components/ui/_mixin.scss';

#root {
  .container {
    .totalWrap {
      .content {
        .refresh-wrap {
          display:none;
        }
        #rebranding {
          .tabmenuWrap.fixed {
            top: calc(#{$GNB-HEIGHT + #{$HEADER-HEIGHT}});
            padding-top: 4.972%;
          }
        }
      }
    }
  }
}

#rebranding {
  section {
    position:relative;
    >img {
      width:100%;
    }
    >button {
      @include position-horizon;
      bottom:15%;
      width:24.445%;
      >img {
        width:100%;
      }
    }
    .stoneWrap {
      @include position-bottom-left;
      bottom:8.815%;
      @include flex(center,center);
      width:calc(100% - 13.89%);
      margin:0 6.945%;
      padding: 3.335% 0;
      border-radius:100px;
      background-color:#F2F2F2;
      button {
        position:relative;
        >img {
          width:100%;
        }
        &:nth-child(1), &:nth-child(2) {
          width:17.425%;
          margin-right:12px;
        }
        &:last-child {
          width:24.84%;
        }
        .stoneImg {
          @include position-center;
          width:55.58%;
          cursor: initial;
        }
        .close {
          @include position-top-right;
          width:20px;height:20px;
          text-indent: -99999px;
          @include BGIMG("event/rebranding/close.png");
        }
      }
      .sign {
        width:4.52%;
        margin-right:16px;
      }
    }
  }
  .tabmenuWrap {
    position:relative;
    width:100%;
    height:0;
    padding-top:13.89%;
    .tabmenu {
      @include position-top-left;
      @include flex;
      width:100%;
      height:100%;
      li {
        flex:1;
        @include flex(center,center);
        height:100%;
        list-style-type: none;
        background-color: #11193C;
        cursor: pointer;
        img {
          height:16px;
          object-fit: contain;
        }
        &.active {
          background-color:$MAINCOLOR;
        }
      }
    }
  }
  .date {
    position: relative;
    @include flex(center,center);
    height:50px;
    background-color: #F2F2F2;
    @include font(16px,$SemiBold,#202020);
    .question {
      @include position-vertical;
      left:auto;
      right:10px;
      width:22px;
      height:22px;
      @include BGIMG("event/rebranding/question.png");
    }
  }
  .listWrap {
    padding:0 2.5% 20px;
    background-color:#F2F2F2;
  }
  
  .rankWrap {
    border-radius:15px;
    overflow: hidden;
    margin-bottom: 8px;
  }
  .eventRankList {
    padding:0 16px 0 10px;
    height:74px;
    border-bottom:1px solid #EFEFEF;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        .rankNum {
          position:relative;
          width:35px;
          &::after {
            content:"";
            @include position-center;
            width:35px;height:40px;
            @include BGIMG("event/medal-#{$i}.png");
          }
          .num {
            display: none;
          }
        }
      }
    }
    @for $i from 4 through 10 {
      &:nth-child(#{$i}) {
        .rankNum {
          width:35px;
          .num {
            background-color: $MAINCOLOR;
          }
        }
      }
    }
    &.my {
      border-bottom:0;
      .rankNum {
        .num {
          display:block;
          background-color: #eee !important;
        }
        &::after {display:none;}
      }
    }
    .photo {
      margin-right:8px;
      border-radius:50%;
      background-color:#eee;
    }
    .listContent {
      @include flex($fd:column);
      .listItem {
        @include flex(center);
        .gender {
          margin-right:4px;
        }
        i {
          padding-left:12px;
          margin-right:8px;
          font-style: normal;
          @include font(12px,$Medium,#6A6A6A);
        }
        .d {@include BGIMG("event/rebranding/data-d.png");background-position:left center;background-size:10px 12px;}
        .a {@include BGIMG("event/rebranding/data-a.png");background-position:left center;background-size:10px 12px;}
        .l {@include BGIMG("event/rebranding/data-l.png");background-position:left center;background-size:10px 12px;}
      }
    }
    .listBack {
      @include flex(flex-end,center,column);
      margin-left:auto;
      padding-left:8px;
      img {
        width:36px;
        height:12px;
        margin-bottom:4px;
      }
      span {
        @include font(16px,$SemiBold,$MAINCOLOR);
      }
    }
  }
  .moreBtn {
    width:100%;
    line-height:50px;
    background-color:#11193C;
    text-align:center;
    @include font(14px,$Bold,white);
  }
  .noList {
    @include flex(center,center,column);
    height:300px;
    border-radius: 15px;
    background-color:white;
    img {
      width:120px;
    }
    span {
      margin-top:16px;
      @include font(15px,$Medium,#5E5E5E);
    }
  }
  .comingsoon {
    @include flex(center,center,column);
    height:300px;
    border-radius: 15px;
    background-color:white;
    text-align: center;
    img {
      width:126px;
    }
    p {
      margin: 8px 0;
      @include font(14px,$Bold,#666);
    }
    span {
      @include font(12px,$Medium,#5E5E5E);
    }
  }
  .specialRound {
    @include flex(center,center,column);
    height:300px;
    border-radius: 15px;
    background-color:white;
    text-align: center;
    img {
      width:126px;
    }
    p {
      margin: 8px 0;
      @include font(14px,$Bold,#666);
    }
    span {
      @include font(12px,$Medium,#5E5E5E);
    }
  }
  .notice {
    padding:28px 22px 24px;
    background-color: #323232;
    .title {
      width: 123px;
      height:20px;
      margin-bottom:8px;
      img {
        width:100%;
      }
    }
    li {
      position: relative;
      line-height:18px;
      padding-left:8px;
      @include font(12px,$Regular,#959595);
      &::before {
        content:"";
        @include position-top-left(6px);
        display: inline-block;
        width:4px;height:4px;
        border-radius:50%;
        background-color:#959595;
      }
    }
  }
  #layerPop {
    .popContainer {
      padding:0;
      .dallagers {
        width:100%;
        padding:0 28px 32px;
        .pointText {
          @include flex(center);
          @include font(16px,$SemiBold,$MAINCOLOR);
          img {
            width:30px;
          }
        }
        .text {
          line-height:24px;
          padding-left:12px;
          @include font(16px,$Regular,#666);
          &:nth-child(1) {
            margin-bottom:20px;
          }
          &:nth-child(2) {
            margin-bottom:16px;
          }
        }
        .textBox {
          margin-top:4px;
          padding: 8px 34px;
          line-height:24px;
          border-radius:16px;
          background-color:#F6F6F6;
          @include font(16px,$Regular,#666);
        }
        p {
          margin-top:16px;
          @include font(16px,$Regular,#666);
        }
        .feverNotice {
          margin-top:16px;
          padding-top:16px;
          border-top:1px solid #F2F2F2;
          @include font(13px,$Regular,#666);
          li {
            position: relative;
            padding-left:8px;
            &::before {
              content:"";
              @include position-top-left(6px);
              display: inline-block;
              width:2px;height:2px;
              border-radius:50%;
              background-color:#666;
            }
          }
        }
      }
      .specialRound {
        width:100%;
        height:auto;
        padding:0 16px 16px;
        .submitBtn {
          position:static;
          left:auto;
          bottom:auto;
          transform:translateX(0);
          margin-top:35px;
          width:100%;
        }
      }
    }
  }
  #popSlide {
    .slideLayer {
      padding-top:0;
    }
    .eventRebranding {
      position:relative;
      width:100%;
      padding:0 28px 42px;
      .title {
        @include flex(center);
        width:100%;
        margin-top:12px;
        margin-bottom:16px;
        padding:0 12px;
        @include font(20px,$SemiBold,#202020);
        img {
          width:43px;
          height:15px;
          margin-left:4px;
        }
        span {
          margin-left:auto;
        }
      }
      .label {
        @include flex(center,space-between);
        width:100%;
        height:50px;
        padding:0 16px;
        @include border(#E3E3E3,16px);
        @include font(15px,$SemiBold,#202020);
        cursor: pointer;
        + .label {
          margin-top:8px;
        }
        img {
          width:30px;
          height:41px;
        }
        &.active {
          border-color:$MAINCOLOR;
          color:$MAINCOLOR;
        }
        &.disabled {
          border-color:#F6F6F6;
          background-color:#F6F6F6;
          color:#ACACAC;
          &:hover {
            border-color:#F6F6F6;
            background-color:#F6F6F6;
            color:#ACACAC;
            cursor:initial;
          }
        }
        &:hover {
          border-color:#FFD4E1;
          background-color:#FFD4E1;
          color:$MAINCOLOR;
        }
      }
      p {
        margin-top:12px;
        text-align:center;
        @include font(13px,$Regular,#303030);
      }
    }
    .rebrandingRank {
      @include flex(center,center,column);
      width:100%;height:540px;
      h3 {
        flex-direction: column;
        height:48px;
        line-height:1.1;
        margin-bottom:12px;
        span {
          @include font(14px,$Medium,#202020);
        }
      }
      .rankWrap {
        flex:1;
        width:100%;
        height:100%;
        margin-bottom:0;
        padding: 0 8px;
        overflow-y: overlay;
      }
    }
  }
  #webp-ani {
    @include popupDefaultStyle(center,$POPUP-ZINDEX);
    width:100%;
    height:100%;
    color:white;
  }
}