@import 'components/ui/_mixin.scss';

#rebranding {
  position: relative;
  @include flex($fd: column);
  width: 100%;
  box-sizing: border-box;
  .fullImg {
    width: 100%;
    image-rendering: -webkit-optimize-contrast;
  }
  section {
    position:relative;
    >img {
      width:100%;
    }
    >button {
      @include position-horizon;
      bottom:15%;
      width:24.445%;
      >img {
        width:100%;
      }
    }
    .stoneSelect {
      @include position-top-left;
      @include flex(center,center);
      width:25%;
      height:16.982%;
      border:2px solid #1A1311;
      border-radius: 50%;
      @mixin stoneBtn-off($type,$top,$left) {
        top:$top;
        left:$left;
        .stoneIcon {
          @include BGIMG("event/rebranding/#{$type}-off.png");
          background-size: 60%;
          background-color:#FAFAFA;
        }
      }
      &.dStone {
        @include stoneBtn-off(d,33.02%,50%);
        transform: translateX(-49.4%);
      }
      &.aStone {
        @include stoneBtn-off(a,67.738%,7.5%);
      }
      &.lStone {
        @include stoneBtn-off(l,67.738%,auto);
        right: 7.92%;
      }
      &.focus {
        $dColor: #EC612D;
        $aColor: #3084F6;
        $lColor: #C337FF;
        @mixin stoneBtn-focus($type,$color) {
          .count {
            color:$color;
          }
          .stoneIcon {
            @include BGIMG("event/rebranding/#{$type}-on.png");
            background-size: 60%;
            background-color:#FAFAFA;
          }
        }
        &.dStone {
          @include stoneBtn-focus(d,$dColor);
        }
        &.aStone {
          @include stoneBtn-focus(a,$aColor);
        }
        &.lStone {
          @include stoneBtn-focus(l,$lColor);
        }
      }
      &.active {
        $dBorderColor: #EC612D;
        $aBorderColor: #3084F6;
        $lBorderColor: #C337FF;
        @mixin stoneBtn-on($type,$borderColor) {
          border-color: $borderColor;
          button {
            border-color: $borderColor;
          }
          .stoneIcon {
            @include BGIMG("event/rebranding/#{$type}-on.png");
            background-size: 60%;
            background-color:#FAFAFA;
            border-color: $borderColor;
          }
        }
        &.dStone {
          @include stoneBtn-on(d,$dBorderColor);
          button {
            background:linear-gradient(to bottom,#FFFDDC,#EEEEEE);
          }
        }
        &.aStone {
          @include stoneBtn-on(a,$aBorderColor);
          button {
            background:linear-gradient(to bottom,#E8FBFF,#EEEEEE);
          }
        }
        &.lStone {
          @include stoneBtn-on(l,$lBorderColor);
          button {
            background:linear-gradient(to bottom,#FCEFFF,#EEEEEE);
          }
        }
      }
      button {
        position:relative;
        @include flex(center,center,column);
        width:calc(100% - 2px);height:calc(100% - 2px);
        border:1px solid #666361;
        border-radius:50%;
        background: linear-gradient(to bottom,#FFF,#EEE);
        span {
          &.count {
            @include font(17.5px,$ExtraBold,#45413F);
          }
          &.text {
            @include font(13px,$SemiBold,#45413F);
          }
          &.cancel {
            @include position-horizon;
            bottom:-10px;
            display:inline-block;
            width:57px;
            line-height:19px;
            border-radius:100px;
            background-color:black;
            @include font(12px,$Medium,white);
          }
        }
        .stoneIcon {
          @include position-horizon;
          top:-30%;
          width:50%;
          height:50%;
          border:1px solid;
          border-radius:50%;
          background-color:#FAFAFA;
        }
      }
    }
    .stoneDraw {
      @include position-horizon;
      top:56.984%;
      left:50.558%;
      width:22.5%;
      cursor: pointer;
      img {
        width:100%;
      }
    }
    .totalDalla {
      @include position-horizon;
      bottom:4.718%;
      @include flex(center);
      max-width:49.17%;
      height:6.984%;
      padding:3px 3px 3px 16px;
      border:1px solid #DEDEDE;
      border-radius:100px;
      background-color: #F5F5F5;
      @include font(15px,$Medium,#303030);
      img {
        width:29.88%;
        margin-left:4px;
      }
      span {
        @include flex(center,flex-end);
        min-width:45%;
        height:100%;
        margin-left:auto;
        padding:0 16px;
        border-radius:100px;
        background-color:#fff;
      }
    }
    .stoneWrap {
      @include position-bottom-left;
      bottom:8.815%;
      @include flex(center,center);
      width:calc(100% - 13.89%);
      margin:0 6.945%;
      padding: 3.335% 0;
      border-radius:100px;
      background-color:#F2F2F2;
      display:none;
      button {
        position:relative;
        >img {
          width:100%;
        }
        &:nth-child(1), &:nth-child(2) {
          width:17.425%;
          margin-right:12px;
        }
        &:last-child {
          width:24.84%;
          cursor: pointer;
        }
        .stoneImg {
          @include position-center;
          width:55.58%;
          cursor: initial;
        }
        .close {
          @include position-top-right;
          width:20px;height:20px;
          text-indent: -99999px;
          @include BGIMG("event/rebranding/close.png");
        }
      }
      .sign {
        width:4.52%;
        margin-right:16px;
      }
    }
  }
  .tabmenuWrap {
    position:relative;
    width:100%;
    .tabmenu {
      position: relative;
      @include flex;
      width:100%;
      height:100%;
      li {
        flex:1;
        @include flex(center,center);
        padding: 15px 0;
        list-style-type: none;
        background-color: #11193C;
        cursor: pointer;
        img {
          height: 19px;
          object-fit: contain;
        }
        &.active {
          background-color:$MAINCOLOR;
        }
      }
    }
  }
  .date {
    position: relative;
    @include flex(center,center);
    height:50px;
    background-color: #F2F2F2;
    @include font(16px,$SemiBold,#202020);
    .question {
      @include position-vertical;
      left:auto;
      right:10px;
      width:22px;
      height:22px;
      @include BGIMG("event/rebranding/question.png");
    }
  }
  .listWrap {
    padding:0 2.5% 20px;
    background-color:#F2F2F2;
  }
  
  .rankWrap {
    border-radius:15px;
    overflow: hidden;
    margin-bottom: 8px;
  }
  .eventRankList {
    padding:0 16px 0 10px;
    height:74px;
    border-bottom:1px solid #EFEFEF;
    cursor: pointer;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        .rankNum {
          position:relative;
          width:35px;
          &::after {
            content:"";
            @include position-center;
            width:35px;height:40px;
            @include BGIMG("event/medal-#{$i}.png");
          }
          .num {
            display: none;
          }
        }
      }
    }
    @for $i from 4 through 10 {
      &:nth-child(#{$i}) {
        .rankNum {
          width:35px;
          .num {
            background-color: $MAINCOLOR;
            color: white;
          }
        }
      }
    }
    &.my {
      border-bottom:0;
      .rankNum {
        .num {
          display:block;
          background-color: #eee !important;
        }
        &::after {display:none;}
      }
    }
    .rankNum {
      .num {
        display:block;
        background-color: #eee;
        color:black;
      }
    }
    .photo {
      margin-right:8px;
      border-radius:50%;
      background-color:#eee;
    }
    .listContent {
      flex:1;
      @include flex($fd:column);
      min-width: 0;
      .listItem {
        @include flex(center);
        line-height: 22px;
        .gender {
          margin-right:4px;
        }
        i {
          padding-left:17px;
          margin-right:8px;
          font-style: normal;
          @include font(12px,$Medium,#6A6A6A);
        }
        .d {@include BGIMG("event/rebranding/stone-d.png");background-position:left center;background-size:14px 19px;}
        .a {@include BGIMG("event/rebranding/stone-a.png");background-position:left center;background-size:14px 19px;}
        .l {@include BGIMG("event/rebranding/stone-l.png");background-position:left center;background-size:14px 19px;}
        .nick {
          flex:1;
          @include font(16px,$Medium,#202020);
          @include fontCut;
        }
      }
      .text {
        text-align: center;
        @include font(13px,$Medium,#999);
      }
    }
    .listBack {
      @include flex(flex-end,center,column);
      min-width:62px;
      margin-left:auto;
      padding-left:8px;
      img {
        width:36px;
        height:12px;
        margin-bottom:4px;
      }
      span {
        @include font(16px,$SemiBold,$MAINCOLOR);
      }
    }
  }
  .moreBtn {
    width:100%;
    line-height:50px;
    background-color:#11193C;
    text-align:center;
    @include font(14px,$Bold,white);
  }
  .noList {
    @include flex(center,center,column);
    height:300px;
    border-radius: 15px;
    background-color:white;
    img {
      width:120px;
    }
    span {
      margin-top:16px;
      @include font(15px,$Medium,#5E5E5E);
    }
  }
  .comingsoon {
    @include flex(center,center,column);
    height:300px;
    border-radius: 15px;
    background-color:white;
    text-align: center;
    img {
      width:126px;
    }
    p {
      margin: 8px 0;
      @include font(14px,$Bold,#666);
    }
    span {
      @include font(12px,$Medium,#5E5E5E);
    }
  }
  .specialRound {
    @include flex(center,center,column);
    border-radius: 15px;
    background-color:white;
    text-align: center;
    overflow: hidden;
    img {
      width:100%
    }
    p {
      margin: 8px 0;
      @include font(14px,$Bold,#666);
    }
    span {
      @include font(12px,$Medium,#5E5E5E);
    }
  }
  .notice {
    padding:28px 22px 24px;
    background-color: #323232;
    .title {
      width: 123px;
      height:20px;
      margin-bottom:8px;
      img {
        width:100%;
      }
    }
    li {
      position: relative;
      line-height:18px;
      padding-left:8px;
      @include font(12px,$Regular,#959595);
      &::before {
        content:"";
        @include position-top-left(6px);
        display: inline-block;
        width:4px;height:4px;
        border-radius:50%;
        background-color:#959595;
      }
    }
  }
  .giveawayBtn {
    position: absolute;
    top: 14px; right:20px;
    @include flex(center, center);
    width: 68px; height: 24px;
    border-radius: 100px;
    @include font(13px, 700, #323232);
    background-color: #FDD600;
    cursor: pointer;
  }
  #layerPop {
    .popContainer {
      width: 328px;
      padding:0;
      .giveawayInfo {
        width: 100%; height: 400px;
        padding: 10px 10px 30px 24px;
        box-sizing: border-box;
        .depth1 {
          height: 100%;
          overflow: auto;
          > li {
            position: relative;
            padding-left: 10px;
            line-height: 20px;
            margin-bottom: 25px;
            &:last-child {
              margin-bottom: 0px;
            }
            &::before {
              content: "";
              position: absolute;
              top: 10px; left: 0px;
              display: inline-block;
              width: 3px; height: 3px;
              border-radius: 50%;
              background-color: #FF3C7B;
            }
            span {
              @include font(16px, 600, #FF3C7B);
            }
          }
          .depth2 {
            > li {
              position: relative;
              padding-left: 10px;
              line-height: 20px;
              @include font(14px, 400, #666666);
              letter-spacing: -1px;
              &::before {
                content: "";
                position: absolute;
                top: 10px; left: 0px;
                display: inline-block;
                width: 4px; height: 1px;
                background-color: #666666;
              }
            }
          }
        }
      }
      .dallagers {
        width:100%;
        padding:0 28px 32px;
        .pointText {
          @include flex(center);
          @include font(16px,$SemiBold,$MAINCOLOR);
          img {
            width:30px;
          }
        }
        .text {
          line-height:24px;
          padding-left:12px;
          @include font(16px,$Regular,#666);
          &:nth-child(1) {
            margin-bottom:20px;
          }
          &:nth-child(2) {
            margin-bottom:16px;
          }
        }
        .textBox {
          margin-top:4px;
          padding: 8px 34px;
          line-height:24px;
          border-radius:16px;
          background-color:#F6F6F6;
          @include font(16px,$Regular,#666);
        }
        .infoWrap {
          margin-top:16px;
          p {
            margin-bottom: 4px;
            @include font(16px,$Regular,#666);
          }
        }
        .feverNotice {
          margin-top:16px;
          padding-top:16px;
          border-top:1px solid #F2F2F2;
          @include font(13px,$Regular,#666);
          li {
            position: relative;
            padding-left:8px;
            &::before {
              content:"";
              @include position-top-left(6px);
              display: inline-block;
              width:2px;height:2px;
              border-radius:50%;
              background-color:#666;
            }
          }
        }
      }
      .specialRound {
        width:100%;
        height:auto;
        padding:0 16px 16px;
        img {
          width: 182px;
          margin: 16px 0;
        }
        .submitBtn {
          position:static;
          left:auto;
          bottom:auto;
          transform:translateX(0);
          margin-top:15px;
          width:100%;
        }
      }
    }
  }
  #popSlide {
    .slideLayer {
      padding-top:0;
    }
    .eventRebranding {
      position:relative;
      width:100%;
      padding:0 16px 42px;
      .title {
        @include flex(center);
        width:100%;
        margin-top:12px;
        margin-bottom:16px;
        padding:0 12px;
        img {
          width:26px;
          height:35px;
          margin-left:4px;
        }
        span {
          margin-left:4px;
          @include font(16px,$SemiBold,#202020);
        }
        small {
          margin-left:4px;
          @include font(16px,$SemiBold,#ACACAC);
        }
      }
      .stoneListWrap {
        margin: 0 0 12px;
        padding: 12px 24px 12px 28px;
        border-bottom:1px solid #ACACAC;
        .stoneList {
          @include flex(center,space-between);
          height:42px;
          + .stoneList {
            margin-top:16px;
          }
          img {
            width:30px;
          }
        }
      }
      .stoneTotal {
        padding-right:24px;
        text-align:right;
        @include font(20px,$SemiBold,#202020);
      }
      p {
        margin:28px 0 20px;
        text-align:center;
        @include font(13px,$Regular,#303030);
      }
      .buttonGroup {
        @include btnGroupStyle;
      }
      >button {
        position:relative;
        bottom:auto;
        width:100%;
      }
    }
    .rebrandingRank {
      @include flex(center,center,column);
      width:100%;height:540px;
      h3 {
        flex-direction: column;
        line-height:1.1;
        margin-bottom:12px;
        span {
          @include font(14px,$Medium,#202020);
        }
        .text {
          margin-top: 8px;
          @include font(14px,$Medium,#666666);
        }
      }
      .scrollRankWrap {
        flex:1;
        width:100%;
        height:100%;
        margin-bottom:0;
        padding: 0 8px;
        overflow-y: overlay;
      }
    }
  }
  #webp-ani {
    @include popupDefaultStyle(center,$POPUP-ZINDEX);
    width:100%;
    height:100%;
    color:white;
  }
}


.pcType {
  .refresh-wrap {
    display:none;
  }
  #rebranding {
    .tabmenuWrap.fixed {
      position: sticky;
      top: calc(#{$GNB-HEIGHT + #{$HEADER-HEIGHT}});
      z-index: 2;
    }
  }
}
.mobileType {
  #rebranding {
    .tabmenuWrap.fixed {
      position: sticky;
      top: #{$HEADER-HEIGHT};
      z-index: 2;
    }
  }
}