@import '../../../styles/global';

#special_league_page {
  position: relative;
  .btnBack {
    position: absolute;
    top: 15px;
    right: 3%;
    width: 32px;
    height: 32px;
  }

  img.top_image {
    width: 100%;
  }

  .tab_box {
    padding: 0 5%;
    background-color: #461414;

    img {
      width: 100%;
    }

    & > button {
      width: 50%;
    }
  }

  .realTime_box {
    display: flex;
    justify-content: center;
    height: 60px;
    padding: 0 2%;
    line-height: 60px;
    background-color: #ffa512;
    font-weight: $bold;
    color: $white;

    .prev_btn {
      font-size: 14px;
      font-weight: $bold;
      color: $white;
      background: url('https://image.dallalive.com/svg/20200806/arrow_left_b.svg') left center no-repeat;
      padding-left: 24px;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
    .next_btn {
      font-size: 14px;
      font-weight: $bold;
      color: $white;
      padding-right: 24px;
      background: url('https://image.dallalive.com/svg/20200806/arrow_right_b.svg') right center no-repeat;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }

  .tab_content {
    &.benefit {
      img {
        width: 100%;
      }
    }
  }

  .my_rank_box {
    padding: 2% 5%;
    background-color: #ffa512;

    .my_rank {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      padding: 0 5%;
      background-color: #491515;
      border-radius: 10px;
      color: $white;

      .rank {
        min-width: 51px;
        height: 25px;
        margin-right: 5px;
        padding: 0 12px;
        border-radius: 14px;
        font-size: 22px;
        background-color: $white;
        font-weight: $bold;
        color: $black;
      }
    }

    .my_point {
      padding: 2% 4%;
      background-color: $white;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      font-weight: $bold;
      font-size: 14px;
      line-height: 28px;

      dt {
        width: 19.5%;
        img {
          vertical-align: middle;
        }
      }

      dd {
        width: 24.5%;
        text-align: right;

        &:nth-of-type(1),
        &:nth-of-type(3) {
          padding-right: 12%;
          box-sizing: content-box;
        }
      }
    }
  }

  .list_wrap {
    background-color: #e5e5e5;

    .list_box {
      padding: 3% 5%;

      .list_item {
        display: flex;
        align-items: center;
        padding: 2% 5%;
        background-color: $white;
        border-radius: 12px;

        & + .list_item {
          margin-top: 4px;
        }

        .rank_box {
          width: 40px;
          margin-right: 5%;
          text-align: center;

          .rank {
            display: block;
            width: 100%;
            height: 20px;
            margin-bottom: 8px;
            border-radius: 12px;
            background-color: #dcdcdc;
            font-size: 14px;
            font-weight: $bold;
          }

          .up_down {
            height: 12px;
            font-size: 12px;
            text-align: center;
            &.up {
              color: #eb2828;
              &::before {
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 1px;
                background: url('https://image.dallalive.com/svg/up_red.svg') no-repeat;
                background-size: 100%;
                background-position: 0px 1px;
              }
            }

            &.down {
              color: #375cf1;
              &::before {
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 1px;
                background: url('https://image.dallalive.com/svg/down_blue.svg') no-repeat;
                background-size: 100%;
                background-position: 0px 1px;
              }
            }

            &.new {
              display: block;
              height: 12px;
              text-transform: uppercase;
            }
          }
        }

        .thumb_box {
          overflow: hidden;
          position: relative;
          width: 90px;
          height: 90px;
          margin-right: 8%;
          border-radius: 10px;
          cursor: pointer;

          img {
            width: 100%;
          }

          .nick {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 25px;
            padding: 0 5px;
            background: rgba(0, 0, 0, 0.7);
            color: $white;
            text-align: center;
            font-size: 12px;
            line-height: 25px;
            @include box-sizing;
            @include multi-ellipsis(1);
          }
        }

        .point_box {
          display: flex;
          flex-wrap: wrap;
          flex: 1;
          font-weight: $bold;
          font-size: 14px;
          line-height: 26px;

          dt {
            width: 45%;

            img {
              vertical-align: middle;
            }
          }

          dd {
            width: 55%;
            text-align: right;
          }
        }
      }

      &.top3 {
        border-radius: 0 0 14px 14px;
        background-color: #ffa512;

        .list_item {
          .rank {
            background-color: $primary;
            color: $white;
          }
        }
      }
    }
  }
}
