@import "components/ui/_mixin.scss";

#storePage {
  @include flex($fd:column);
  min-height:100vh;
  font-family: 'Noto Sans KR', sans-serif;
  section{
    position:relative;
    width:100%;
  }
  @include purchaseList;
  .bannerWrap {
    margin-bottom:20px;
    padding:0 16px;
  }
  .submitBtn {
    margin:auto 16px 50px;
  }
}
