/*
  @date: 2020.02.28 금요일
  @
*/

//player에 들어가는 움직이는 equalizer bar
@keyframes equalizer-bar {
  0% {
    height: 5px;
  }
  10% {
    height: 7px;
  }
  20% {
    height: 9px;
  }
  30% {
    height: 4px;
  }
  40% {
    height: 11px;
  }
  50% {
    height: 13px;
  }
  60% {
    height: 7px;
  }
  70% {
    height: 12px;
  }
  80% {
    height: 9px;
  }
  90% {
    height: 7px;
  }
  100% {
    height: 4px;
  }
}

//player profile
@keyframes pulse-ring {
  0% {
    transform: scale(0.77);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

//rotate-just-center
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//rotate-vert-center
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
