@import './_variables';

/*error 페이지 css*/
#error {
  max-width: 360px;
  margin: auto;

  padding: 0px 16px;
  box-sizing: border-box;
  .closeButon {
    width: 32px;
    height: 32px;
    text-indent: -999999px;
    position: absolute;
    right: 18px;
    top: 26px;
    background: url('https://image.dalbitlive.com/svg/close_g_l.svg') center no-repeat;
  }
  .img {
    width: 100px;
    height: 100px;
    margin: 132px auto 24px auto;
    background: url('https://image.dalbitlive.com/images/api/20200914/errorImg.png') center no-repeat;
  }

  .title {
    font-size: 24px;
    margin-bottom: 24px;
    color: #ec455f;
    letter-spacing: -0.6px;
    text-align: center;
  }
  .text {
    margin-bottom: 40px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: -0.35px;
  }

  .buttonWrap {
    display: flex;
    button {
      border-radius: 12px;
      height: 44px;
      line-height: 44px;
      font-size: 18px;
      color: #fff;
      text-align: center;
      margin-right: 4px;
      flex: 1;
      background: #707070;
      font-weight: 700;

      &:last-child {
        margin-right: 0px;
        background: primary;
      }
    }
  }
}
