@import './_variables';
@import 'components/ui/_mixin.scss';

/*error 페이지 css*/
#error {
  flex:1;
  @include flex($fd:column);
  width:100%;
  height:100%;
  .textWrap {
    flex:1;
    @include flex(center,center,column);
    height:100%;
    margin-bottom:120px;
    text-align:center;
    .emoji {
      margin-bottom:30px;
      @include font(47px,$Bold);
    }
    .text {
      @include flex($fd:column);
      span {
        &:first-child {
          margin-bottom:6px;
          @include font(18px,$SemiBold,#202020);
        }
        &:last-child {
          @include font(15px,$Medium,#303030);
        }
      }
    }
  }
  .submitBtn {
    margin: auto 16px 20px;
  }
}
