@import '../styles/variables';

#mainLayerPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
  .popup {
    position: relative;
    width: 640px;
    .btn-close {
      position: relative;
      width: 32px;
      height: 32px;
      font-size: 0;
      margin-bottom: 8px;
      background: url('https://image.dalbitlive.com/images/api/close_w_l.svg') no-repeat 0 0;
    }
    .close-btn {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 32px;
      height: 32px;
    }
    .close-btn--sub {
      width: 54px;
      height: 54px;
      top: -50px;
      right: 0px;
      > img {
        width: 100%;
      }
    }
    &__wrap {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-height: 500px;
      .popbox {
        display: none;
        width: 100%;
        margin: 0 auto;
        &.active {
          display: block;
        }
      }
    }

    .popupBg {
      background: $white;
      padding: 0px 2px;
      border-radius: 20px;
      padding-bottom: 16px;
    }
    &__title {
      margin: 0px 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 52px;
      box-sizing: border-box;
      line-height: 52px;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      border-bottom: 1px solid #e0e0e0;
      color: $black;
      &--sub {
        height: auto;
        border-bottom: 0;
      }
      .desc {
        line-height: 1.2;
        font-size: 14px;
        letter-spacing: -0.35px;
        text-align: center;
        color: $darkGray;
      }
    }
    &__box {
      position: relative;
      .checkbox-wrap {
        display: flex;
        margin: 0 auto;
        height: 48px;
        line-height: 48px;
        font-size: 14px;
        font-weight: 600;
        margin-top: 8px;
      }
      .checkbox-label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: $black;
        border-radius: 20px;
        height: 40px;
        color: $white;
        font-size: 14px;

        input {
          margin-right: 10px;

          &.active {
            border-color: $white;
            background-color: $primary;
            transition: 0.2s all ease 0s;
            border: 1px solid $primary;

            &::before,
            &::after {
              background-color: $white;
            }
          }
        }
      }
    }
    &__text {
      max-width: 360px;
      padding: 0px 16px;
      margin: auto;
      text-align: right;
      .popup__inner {
        text-align: left;
        border-radius: 12px;
        box-sizing: border-box;

        .inner {
          .checkbox-wrap {
            margin-top: 16px;
            cursor: pointer;
            .checkbox-label {
              display: flex;
              align-items: center;
              margin-left: 10px;
            }
          }
        }
        .contents {
          overflow: auto;
          max-height: 300px;
          font-size: 16px;

          line-height: 24px;
          color: $black;
          font-weight: 500;
        }
        .contents::-webkit-scrollbar {
          width: 10px;
        }
        .contents::-webkit-scrollbar-thumb {
          border-radius: 6px;
          background: rgba(0, 0, 0, 0.4);
        }
        .contents::-webkit-scrollbar-track {
          background-color: $white;
        }

        .textMargin {
          margin-top: 16px;
          padding: 0px 14px;
          box-sizing: border-box;
          word-wrap: break-word;
        }

        .btnWrap {
          width: 100%;
          padding: 0px 14px;
          .btn-ok {
            width: 100%;
            display: block;
            margin-top: 16px;
            padding: 12px 0;
            border-radius: 12px;
            background-color: #632beb;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
          }
        }
      }
      .checkbox-wrap {
        text-align: left;
        color: #424242;
        input {
          width: 20px;
          height: 20px;
          display: inline-block;
          position: relative;
          overflow: hidden;
          border-radius: 4px;
          appearance: none;
          border: none;
          outline: none;
          cursor: pointer;
          border-radius: 4px;
          border: 1px solid #9e9e9e;
          background-color: #ffffff;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          &::before {
            content: '';
            position: absolute;
            width: 13%;
            height: 50%;
            top: 25%;
            left: 57%;
            background-color: #9e9e9e;
            -ms-transform: rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
            transform: rotate(45deg);
            border-radius: 10px;
          }

          &::after {
            content: '';
            position: absolute;
            width: 40%;
            height: 13%;
            background-color: #9e9e9e;
            top: 50%;
            left: 17%;
            -ms-transform: rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
            transform: rotate(45deg);
            border-radius: 10px;
          }
        }
      }
    }
    &__img {
      max-width: 360px;
      margin: auto;
      padding: 0px 16px;
      text-align: right;
      box-sizing: border-box;
      .contents {
        a {
          border-radius: 20px;
          display: block;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }
      .checkbox-wrap {
        text-align: center;
        color: #fff;
        input {
          width: 20px;
          height: 20px;
          display: inline-block;
          position: relative;
          overflow: hidden;
          border-radius: 4px;
          appearance: none;
          border: none;
          outline: none;
          cursor: pointer;
          border-radius: 4px;
          border: 1px solid #9e9e9e;
          background-color: #ffffff;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          &::before {
            content: '';
            position: absolute;
            width: 13%;
            height: 50%;
            top: 25%;
            left: 57%;
            background-color: #9e9e9e;
            -ms-transform: rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
            transform: rotate(45deg);
            border-radius: 10px;
          }

          &::after {
            content: '';
            position: absolute;
            width: 40%;
            height: 13%;
            background-color: #9e9e9e;
            top: 50%;
            left: 17%;
            -ms-transform: rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
            transform: rotate(45deg);
            border-radius: 10px;
          }
        }
      }
    }
    // exp 팝업
    &-exp {
      .popup__text {
        padding: 0px;
      }

      .close-btn {
        top: -40px;
        right: 0px;
      }

      .popup__title {
        margin: 0px;
      }
      ul {
        li {
          padding-top: 16px;
          text-align: center;
          &:first-child {
            padding-top: 0;
          }
          .ico-box {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: flex-start;
            span {
              display: block;
              width: 50%;
              padding: 0 5px;
              em {
                display: inline-block;
                min-width: 94px;
                min-height: 28px;
                padding: 6px 8px 4px;
                text-align: center;
                border-radius: 10px;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 600;
                font-style: normal;
              }
              &.txt {
                text-align: right;
                em {
                  color: $primary;
                  background: #f5f5f5;
                }
              }
              &.num {
                text-align: left;
                em {
                  padding-top: 4px;
                  color: $white;
                  background: #ffa72e;
                  border: 1px solid #ffa72e;
                  &::before {
                    display: inline-block;
                    content: '';
                    position: relative;
                    top: 2px;
                    margin-right: 2px;
                    width: 14px;
                    height: 14px;
                    background: url('../pages/mypage/static/ic_plus.svg') no-repeat 0 0;
                  }
                }
              }
            }
          }
          .msg {
            display: block;
            padding-top: 8px;
            font-size: 12px;
            color: #424242;
            font-style: normal;
            font-weight: 600;
          }
        }
      }
      .popup__inner {
        text-align: left;
        background-color: $white;
        padding: 0px 16px;
        .inner {
          padding: 14px 0;
        }
      }
    }
    &-report {
      .desc {
        margin-top: 16px;
      }
      .close-btn {
        width: 32px;
        height: 32px;
        top: -40px;
        right: 0px;
      }
      .popup__title {
        margin: 0px;
      }
      .h3-tit {
        border-bottom: solid 1px $lightGray;
      }

      .popup__text {
        padding: 0px;
      }
      .popup__inner {
        text-align: left;
        background-color: $white;
        padding: 0px 16px;
        .inner {
          padding: 14px 0;
        }

        .btnWrap {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-top: 10px;
          padding: 0;
          button {
            display: block;
            width: 49%;
            height: 48px;
            border-radius: 10px;
            padding: 8px 0;
            font-size: 14px;
            font-weight: 600;
          }
          .btn {
            &__cancel {
              border: 1px solid $primary;
              color: $primary;
            }
            &__ok {
              color: $white;
              background-color: $mediumGray;
              cursor: initial;
              &.on {
                background-color: $primary;
                cursor: pointer;
              }
            }
          }
        }
      }
      .reportWrap {
        &__textareaWrap {
          width: 100%;
          position: relative;
          margin-top: 12px;
        }
        &__textarea {
          width: 100%;
          font-size: 14px;
          color: #424242;
          min-height: 120px;
          padding: 12px;
          box-sizing: border-box;
          border-radius: 12px;
          background-color: #f5f5f5;
          outline: none;
          border: none;
          resize: none;
          &::placeholder {
            font-family: inherit;
            color: #626262;
            text-align: justify;
          }
        }
        &__textareaCount {
          position: absolute;
          bottom: 10px;
          right: 10px;
          font-size: 12px;
          color: #bdbdbd;
        }
      }
      .btn__list {
        display: block;
        width: 100%;
        margin-top: 4px;
        border: 1px solid #bdbdbd;
        border-radius: 10px;
        padding: 8px 0;
        color: #616161;
        font-size: 14px;
        &.on {
          border: 1px solid $primary;
          color: $primary;
          font-weight: 600;
        }
      }
    }
    &-fanlist {
      .popup__text {
        padding: 0px;
      }
      .close-btn {
        top: -40px;
        right: 0px;
      }

      .fan-list {
        &:first-child {
          margin-top: 16px;
        }
      }

      .popup__title {
        margin: 0px;
      }

      .scrollWrap {
        &-inner {
          position: relative;
          width: 100%;
          min-height: 200px;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          overflow-x: hidden;
          background-color: #fff;
          border-radius: 10px;
        }
        .scroll-box {
          width: auto !important;
          overflow-x: hidden;
        }
      }
      .popup__inner {
        text-align: left;
        background-color: $white;
        padding: 0px 16px;
        .inner {
          padding: 0;
        }
      }
      .fan-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 7px;
        > div {
          display: flex;
          align-items: center;
          width: calc(100% - 60px);
          span {
            display: inline-block;
            &.thumb {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: $mediumGray;
              background-size: cover;
            }
            &.nickNm {
              width: calc(100% - 54px);
              margin-left: 10px;
              height: 40px;
              line-height: 40px;
              font-size: 14px;
              color: #424242;
              letter-spacing: -0.35px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
        > button {
          width: 53px;
          height: 26px;
          border: 1px solid $primary;
          font-size: 12px;
          line-height: 1.2;
          letter-spacing: -0.3px;
          border-radius: 13px;
          transform: skew(-0.03deg);
          color: $primary;
        }
        .plusFan {
          background-color: $primary;
          color: #fff;
        }
        &.none {
          display: none;
        }
      }
    }
  }
}
