@import '../styles/variables';

#mainLayerPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
  .popup {
    position: relative;
    width: 640px;
    .btn-close {
      position: relative;
      right: -8px;
      width: 46px;
      height: 46px;
      font-size: 0;
      background: url('https://image.dalbitlive.com/images/api/ico_layer_close.svg') no-repeat 0 0;
    }
    .close-btn {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 32px;
      height: 32px;
    }
    .close-btn--sub {
      width: 54px;
      height: 54px;
      top: -50px;
      right: 0px;
      > img {
        width: 100%;
      }
    }
    &__wrap {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-height: 500px;
      .popbox {
        display: none;
        width: 100%;
        margin: 0 auto;
        &.active {
          display: block;
        }
      }
    }
    &__title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      height: 52px;
      line-height: 54px;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      border-bottom: 1px solid #e0e0e0;
      &--sub {
        height: auto;
        border-bottom: 0;
      }
      .desc {
        line-height: 1.2;
        font-size: 14px;
        letter-spacing: -0.35px;
        text-align: center;
        color: $darkGray;
      }
    }
    &__box {
      position: relative;
      .checkbox-wrap {
        display: block;
        margin: 0 auto;
        height: 48px;
        line-height: 48px;
        font-size: 14px;
        font-weight: 600;
      }
      .checkbox-label {
        line-height: 24px;
      }
    }
    &__text {
      width: calc(100% - 40px);
      margin: 0 auto;
      text-align: right;
      .popup__inner {
        text-align: left;
        border-radius: 12px;
        background-color: #fff;
        .inner {
          padding: 20px 20px;
          .checkbox-wrap {
            margin-top: 16px;
            cursor: pointer;
            .checkbox-label {
              margin-left: 10px;
            }
          }
        }
        .contents {
          overflow: auto;
          max-height: 300px;
          font-size: 15px;
          font-weight: 500;
        }
        .btn-ok {
          display: block;
          width: 100%;
          margin-top: 24px;
          padding: 12px 0;
          border-radius: 12px;
          background-color: #632beb;
          color: #fff;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
        }
      }
      .checkbox-wrap {
        text-align: left;
        color: #424242;
        input {
          display: inline-block;
          content: '';
          width: 24px;
          height: 24px;
          margin-right: 5px;
          vertical-align: middle;
          background: url(https://image.dalbitlive.com/images/api/ico-checkbox-off.svg) no-repeat center center/ cover;
          cursor: pointer;
          &.active {
            background: url(https://image.dalbitlive.com/images/api/ico-checkbox-on.svg) no-repeat center center/ cover;
          }
        }
      }
    }
    &__img {
      max-width: 280px;
      margin: 0 auto;
      text-align: right;
      .contents {
        img {
          width: 280px;
        }
      }
      .checkbox-wrap {
        text-align: center;
        color: #fff;
        &::after {
          display: inline-block;
          content: '';
          width: 16px;
          height: 15px;
          margin-left: 8px;
          vertical-align: -1px;
          background: url('https://image.dalbitlive.com/images/api/ico_layer_checkbox.svg') no-repeat 0 0;
        }
      }
    }
    // exp 팝업
    &-exp {
      ul {
        li {
          padding-top: 16px;
          text-align: center;
          &:first-child {
            padding-top: 0;
          }
          .ico-box {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: flex-start;
            span {
              display: block;
              width: 50%;
              padding: 0 5px;
              em {
                display: inline-block;
                min-width: 94px;
                min-height: 28px;
                padding: 6px 8px 4px;
                text-align: center;
                border-radius: 10px;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 600;
                font-style: normal;
              }
              &.txt {
                text-align: right;
                em {
                  color: $primary;
                  background: #f5f5f5;
                }
              }
              &.num {
                text-align: left;
                em {
                  padding-top: 4px;
                  color: $white;
                  background: #ffa72e;
                  border: 1px solid #ffa72e;
                  &::before {
                    display: inline-block;
                    content: '';
                    position: relative;
                    top: 2px;
                    margin-right: 2px;
                    width: 14px;
                    height: 14px;
                    background: url('../pages/mypage/static/ic_plus.svg') no-repeat 0 0;
                  }
                }
              }
            }
          }
          .msg {
            display: block;
            padding-top: 8px;
            font-size: 12px;
            color: #424242;
            font-style: normal;
            font-weight: 600;
          }
        }
      }
    }
    &-report {
      .reportWrap {
        &__textareaWrap {
          width: 100%;
          position: relative;
          margin-top: 12px;
        }
        &__textarea {
          width: 100%;
          font-size: 14px;
          color: #424242;
          min-height: 120px;
          padding: 12px;
          box-sizing: border-box;
          border-radius: 12px;
          background-color: #f5f5f5;
          outline: none;
          border: none;
          resize: none;
          &::placeholder {
            font-family: inherit;
            color: #626262;
            text-align: justify;
          }
        }
        &__textareaCount {
          position: absolute;
          bottom: 10px;
          right: 10px;
          font-size: 12px;
          color: #bdbdbd;
        }
      }
      .btn__list {
        display: block;
        width: 100%;
        margin-top: 4px;
        border: 1px solid #bdbdbd;
        border-radius: 10px;
        padding: 8px 0;
        color: #616161;
        font-size: 14px;
        &.on {
          border: 1px solid $primary;
          color: $primary;
          font-weight: 600;
        }
      }
      .btnWrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        button {
          display: block;
          width: 49%;
          height: 48px;
          border-radius: 10px;
          padding: 8px 0;
          font-size: 14px;
          font-weight: 600;
        }
        .btn {
          &__cancel {
            border: 1px solid $primary;
            color: $primary;
          }
          &__ok {
            color: $white;
            background-color: $mediumGray;
            cursor: initial;
            &.on {
              background-color: $primary;
              cursor: pointer;
            }
          }
        }
      }
    }
    &-fanlist {
      .scrollWrap {
        &-inner {
          position: relative;
          width: 100%;
          min-height: 200px;
          margin: 0 auto;
          padding: 12px;
          display: flex;
          flex-direction: column;
          overflow-x: hidden;
          background-color: #fff;
          border-radius: 10px;
        }
        .scroll-box {
          width: auto !important;
          overflow-x: hidden;
        }
      }
      .popup__inner {
        .inner {
          padding: 0;
        }
      }
      .fan-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 7px;
        > div {
          display: flex;
          align-items: center;
          width: calc(100% - 60px);
          span {
            display: inline-block;
            &.thumb {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: $mediumGray;
              background-size: cover;
            }
            &.nickNm {
              width: calc(100% - 54px);
              margin-left: 10px;
              height: 40px;
              line-height: 40px;
              font-size: 14px;
              color: #424242;
              letter-spacing: -0.35px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
        > button {
          width: 53px;
          height: 26px;
          border: 1px solid $primary;
          font-size: 12px;
          line-height: 1.2;
          letter-spacing: -0.3px;
          border-radius: 13px;
          transform: skew(-0.03deg);
          color: $primary;
        }
        .plusFan {
          background-color: $primary;
          color: #fff;
        }
        &.none {
          display: none;
        }
      }
    }
  }
}
