@import '../styles/variables';

.gnbWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: $primary;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 20;
  padding: 0 6px;
  .alarmSize {
    width: 44px;
    height: 44px;
  }
  .icon-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    // width: 80px;
    .icon {
      position: relative;
      display: block;
      width: 40px;
    }
    .alarm-new {
      position: absolute;
      border-radius: 50%;
      top: 1px;
      right: 1px;
      width: 10px;
      height: 10px;
      background-color: $red;
    }
    .news {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 5px;
      height: 5px;
      background: #ff0000;
      z-index: 11;
      border-radius: 50%;
      content: '1';
    }
  }
  .gnb-logo {
    width: 103px;
    font-size: 0;

    img {
      width: 100%;
    }
  }
  .mic-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    border-radius: 27px;
  }
}

.hiddenBg {
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: $white;
}

.micWrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  top: 4px;
  left: 50%;
  border-radius: 30px;
  z-index: 50;
  transform: translateX(-50%);
  background-color: $white;
}

.refresh-wrap {
  display: block;
  position: relative;
  height: 48px;
  background-color: rgba(127, 127, 127, 0.3);
  transition: height 0ms cubic-bezier(0.26, 0.26, 0.69, 0.69) 0s;
  .icon-wrap {
    position: absolute;
    left: 50%;
    bottom: 6px;
    .arrow-refresh-icon {
      display: block;
      position: relative;
      left: -50%;
    }
  }
}

// main
.main-wrap {
  .section {
    color: red;
    font-weight: 700;
    box-sizing: border-box;

    &.my-star {
      display: none;
      padding: 20px 0 16px 16px;
      background: $lighterGray;
      &.visible {
        display: block;
      }
      .title {
        color: $white;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-right: 18px;
        margin-bottom: 18px;

        .txt {
          width: 34px;
          font-size: 16px;
          color: #000;
          font-weight: bold;
        }
        .icon {
          width: 20px;
          margin-left: 4px;
        }
      }

      .swiper-container {
        width: 100%;
        margin: 0;
        padding-right: 16px;
      }

      .list {
        width: 60px;
        cursor: pointer;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        .image {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-size: cover;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          color: $greishBrown;
          font-size: 16px;
          font-weight: 800;
          letter-spacing: -0.32px;
          background-color: $darkGray;
        }

        .text {
          margin: 0 auto;
          margin-top: 6px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #616161;
          font-size: 12px;
          /* letter-spacing: -0.28px; */
          white-space: nowrap;
          text-align: center;
        }
        .liveIcon {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 20px;
          height: 20px;
          img {
            width: 100%;
          }
        }
      }
    }

    &.rank {
      padding: 26px 0 32px;
      background-color: $white;
      color: $white;
      .swiper-container {
        padding: 16px 0 0 16px;
      }
      .rank-slide {
        position: relative;
        display: block;
        width: 100px;
        text-align: center;
        /* .counting {
          position: absolute;
          top: 0;
          left: 0;
          color: $black;
          border-radius: 50%;
          background-color: #e0e0e0;
          width: 24px;
          height: 24px;
          font-size: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        } */
        .main-img {
          position: relative;
          width: 100px;
          height: 100px;
          margin: 0 auto;
          border-radius: 24px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          .medal-img {
            position: absolute;
            top: -5px;
            left: -6px;
            width: 26px;
            height: 30px;
          }
        }
        .nickname {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: bold;
          font-size: 16px;
          color: $black;
          line-height: 1.08;
          letter-spacing: -0.35px;
          text-align: center;
          margin-top: 8px;
          transform: skew(-0.03deg);
        }
        .info-wrap {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-top: 6px;
          line-height: 2.17;
          height: 13px;
          .text {
            color: $greishBrown;
            font-size: 12px;
            letter-spacing: -0.3px;
            line-height: 2.17;
            margin-left: 2px;
          }
          .heart-icon {
            margin-left: 6px;
          }
        }
      }
      .title-wrap {
        .title {
          .txt {
            font-size: 16px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.13;
            letter-spacing: normal;
            text-align: left;
            color: $black;
          }
        }
      }
    }

    &.live-list {
      padding: 0 16px;
      .title-wrap {
        display: flex;
        flex-direction: column;
        padding: 0;
        background: $white;
        box-sizing: border-box;

        &.fixed {
          position: fixed;
          top: 48px;
          left: 0;
          width: 100%;
          padding: 0 16px;
          z-index: 10;
        }

        .title {
          justify-content: space-between;
          height: 64px;
          padding: 22px 0 16px 0;
          border-bottom: 1px solid $lighterGray;
          .txt {
            .ico-lottie {
              display: inline-block;
              margin: -2px 0 0 6px;
              vertical-align: middle;
            }
          }
          .btn {
            &__refresh {
              position: relative;
              display: flex;
              align-items: center;
              letter-spacing: -0.36px;
              line-height: 1.4;
              margin-left: 8px;
              &::before {
                display: inline-block;
                content: '';
                width: 1px;
                height: 12px;
                background: $lightGray;
                position: absolute;
                left: 0px;
                top: 50%;
                margin-top: -6px;
              }
              img {
                margin-left: 8px;
              }
              &.btn__refresh--active {
                img {
                  animation: anim 0.36s;
                }
              }
            }
          }
        }
      }
      .content-wrap {
        padding: 0;
      }
    }
  }
  @keyframes anim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  .room_cnt {
    color: blue;
    font-weight: 700;
  }

  .live-list-category {
    position: relative;
    display: flex;

    flex-direction: row;
    align-items: center;
    background-color: $white;
    border-bottom: 1px solid $lighterGray;

    .swiper-wrapper {
      height: 40px;
    }

    .inner-wrapper {
      width: 100%;
      .swiper-container {
        overflow: hidden;

        .list {
          width: auto;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          letter-spacing: -0.35px;
          margin: 0 8px;
          color: $greishBrown;
          box-sizing: border-box;
          font-weight: normal;
          &.active {
            color: $primary;
            font-weight: 700;
            border-bottom: 1px solid $primary;
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  .title-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;

      .txt {
        color: $greishBrown;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.36px;

        &.in-active {
          color: $mediumGray;
        }
      }
      .rank-arrow {
        width: 24px;
        height: 24px;
      }
    }

    .right-side {
      display: flex;
      flex-direction: row;
      align-items: center;

      .bar {
        width: 1px;
        height: 12px;
        background-color: #9e9e9e;
      }

      .text {
        padding: 0 10px;
        color: $white;
        font-size: 16px;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: left;
        border-radius: 12px;
        width: 48px;
        height: 32px;
        text-align: center;
        border: 1px solid #e0e0e0;
        color: #000;

        &.active {
          font-size: 16px;
          font-weight: 800;
          line-height: 1.13;
          letter-spacing: normal;
          color: $black;
          background-color: #632beb;
          color: #fff;
          border: none;
        }
      }
    }

    .sequence-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;

      .text {
        margin-left: 4px;
        margin-right: 5px;
        color: $greishBrown;
        font-size: 14px;
        letter-spacing: -0.24px;
      }

      .sequence-icon {
        margin-right: 8px;
      }

      .detail-list-icon {
        margin-right: 2px;
        // &::before {
        //   display: inline-block;
        //   content: '';
        //   position: relative;
        //   top: 5px;
        //   width: 1px;
        //   height: 12px;
        //   background: $lightGray;
        //   margin-right: 8px;
        // }
      }

      .sequence-icon,
      .detail-list-icon,
      .simple-list-icon {
        display: block;
      }
    }
  }

  .content-wrap {
    position: relative;
    min-height: 50px;
    padding: 0 16px;
    &.ranking {
      padding: 0;
    }
    &.my-star-list {
      padding: 0;
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    .liveList {
      padding: 16px 0;
    }
  }

  .main-gnb {
    display: flex;
    position: relative;
    align-items: center;
    height: 48px;
    box-sizing: border-box;
    z-index: 1;
    .broadBtn {
      position: relative;
      width: 68px;
      height: 40px;
      margin: 0 auto;
      border-radius: 22px;
      background-color: $primary;
      color: $white;
      &::before {
        display: inline-block;
        margin: 0 auto;
        content: '';
        width: 36px;
        height: 36px;
        background: url(https://image.dalbitlive.com/main/200714/white_broad.svg) no-repeat 0 0;
      }
    }
    .left-side {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 48px;

      padding-left: 6px;
      width: 100%;

      .tab {
        width: 18%;
        font-size: 16px;
        letter-spacing: -0.4px;
        line-height: 43px;
        text-align: center;

        &__item {
          display: block;
          width: 100%;
          height: 100%;
          border-bottom: 4px solid $white;
          text-align: center;
          font-weight: 800;

          &--active {
            border-color: $primary;
          }

          &.newIcon {
            position: relative;

            i {
              margin-bottom: 14px;
              margin-left: 2px;
              display: inline-block;
              position: absolute;
              top: 4px;
              background: $red;
              color: $white;
              font-size: 10px;
              text-align: center;
              font-style: normal;
              line-height: 16px;
              width: 16px;
              height: 16px;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .right-side {
      display: flex;
      flex-direction: row;
      align-items: center;

      .bar {
        width: 1px;
        height: 12px;
        background-color: #9e9e9e;
      }

      .text {
        padding: 0 10px;
        color: $white;
        font-size: 16px;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: left;
        border-radius: 12px;
        width: 48px;
        height: 32px;
        text-align: center;
        border: 1px solid #e0e0e0;
        color: #000;

        &.active {
          font-size: 16px;
          font-weight: 800;
          line-height: 1.13;
          letter-spacing: normal;
          color: $black;
          background-color: #632beb;
          color: #fff;
          border: none;
        }
      }
    }

    .sequence-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;

      .text {
        margin-left: 4px;
        margin-right: 5px;
        color: $greishBrown;
        font-size: 14px;
        letter-spacing: -0.24px;
      }

      .sequence-icon {
        margin-right: 8px;
      }

      .detail-list-icon {
        margin-right: 2px;
        // &::before {
        //   display: inline-block;
        //   content: '';
        //   position: relative;
        //   top: 5px;
        //   width: 1px;
        //   height: 12px;
        //   background: $lightGray;
        //   margin-right: 8px;
        // }
      }

      .sequence-icon,
      .detail-list-icon,
      .simple-list-icon {
        display: block;
      }
    }
  }
  .main-slide {
    height: 220px;
    background: $lighterGray;
    .topSlide {
      position: relative;
      width: 100%;
      height: 220px;
      &__buttonWrap {
        position: absolute;
        top: 24px;
        padding: 0px 20px;
        box-sizing: border-box;
        width: 100%;
        height: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
      }
      &__bg {
        background-size: cover;
        background-position: center;
        cursor: pointer;
        width: 100%;
        height: 220px;
        &.broadcast {
          &::after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
          }
        }
      }
      &__itemWrap {
        position: absolute;
        top: 24px;
        width: 100%;
        padding: 0px 20px;
        display: flex;
        z-index: 1;
        box-sizing: border-box;
      }

      &__number {
        display: flex;
        line-height: 25px;
        justify-content: center;
        margin-left: auto;
        width: 58px;
        height: 25px;
        background: rgba(0, 0, 0, 0.5);
        color: $white;
        font-size: 14px;
        border-radius: 14px;
      }

      &__iconWrap {
        em {
          position: absolute;
          left: 16px;
          top: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 52px;
          height: 18px;
          margin-right: 4px;
          color: $white;
          font-style: normal;
          font-size: 11px;
          line-height: 18px;
          border-radius: 20px;
        }
        .eventIcon {
          background: $yellow;
        }

        .specialIcon {
          background: $red;
        }
        .newIcon {
          background: $blue;
        }

        .adminIcon {
          background: #3386f2;
        }

        span {
          position: absolute;
          right: 8px;
          top: 8px;
          &.liveIcon {
            width: 42px;
            height: 42px;
            margin: 0;
            font-size: 0;
            background: url(https://image.dalbitlive.com/main/200714/ic-main-live.svg) no-repeat 0 0;
            background-size: contain;
          }
        }
      }
      &__infoWrap {
        position: absolute;
        bottom: 10px;
        left: 0;
        display: flex;
        flex-direction: row;
        align-content: center;
        width: 100%;
        padding: 0 16px;

        .thumb {
          display: block;
          width: 48px;
          height: 48px;
          margin-right: 8px;
          border-radius: 50%;
          border: solid 1px rgba(255, 255, 255, 0.5);
        }
        .text {
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          font-weight: bold;
          line-height: 1.4;
          .title {
            display: block;
            color: $white;
          }
          .nickname {
            display: block;
            color: rgb(255, 179, 0);
          }
        }
      }
      .swiper-pagination-fraction {
        bottom: 5px;
        padding-right: 14px;
        text-align: right;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.6);
        span {
          color: rgba(255, 255, 255, 0.6);
        }
        .swiper-pagination-current {
          color: $white;
        }
      }
    }
  }

  .main-banner {
    .slideWrap {
      position: relative;

      &.active {
        display: none;
      }

      .swiper-container {
        height: auto;
        .banner {
          img {
            width: 100%;
          }
        }
        .swiper-pagination-fraction {
          display: flex;
          justify-content: center;
          align-items: center;
          bottom: 7px;
          right: 46px;
          left: auto;
          width: 45px;
          height: 24px;
          font-size: 12px;
          letter-spacing: 3px;
          background-color: rgba(0, 0, 0, 0.6);
          color: white;
          border-radius: 24px;
          .swiper-pagination-total {
            font-weight: normal;
          }
        }
      }
    }

    .bannerNumber {
      border: solid 1px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      background: rgba(0, 0, 0, 0.5);
      color: $white;
      width: 45px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      p {
        opacity: 0.5;
      }
    }

    .moreButton {
      position: absolute;
      right: 11px;
      bottom: 7px;
      z-index: 2;
      width: 33px;
      height: 24px;
      border-radius: 24px;
      background: $black url('https://image.dalbitlive.com/main/200714/ico-banner-down.svg') center no-repeat;

      &.active {
        background: $black url('https://image.dalbitlive.com/main/200714/ico-banner-up.svg') center no-repeat;
      }
    }

    .basicBanner {
      margin-bottom: 10px;
      position: relative;
    }
    .bannerView {
      display: none;
      img {
        width: 100%;
      }
      &.active {
        display: block;
      }
    }
  }
}

// 실시간 라이브
.liveList {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 16px 16px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  &__item {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    &:first-child {
      margin-top: 0;
    }

    .txt_boost {
      color: $red;
    }

    .new-dj-icon {
      color: $white;
      font-size: 12px;
      border-radius: 10px;
      background-color: $blue;
      height: 16px;
      padding: 0 6px;
      line-height: 16px;
      margin-left: 4px;
    }

    .pc-icon {
      color: $white;
      font-size: 11px;
      border-radius: 10px;
      background-color: #f26d4a;
      height: 16px;
      padding: 0 6px;
      line-height: 16px;
      margin-right: 4px;
    }

    .specialIcon {
      display: inline-block;
      width: 62px;
      height: 16px;
      margin-left: 4px;
      border-radius: 10px;
      background-color: $red;
      color: $white;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      padding-left: 6px;
      padding-right: 6px;
    }

    .broadcast-img {
      width: 80px;
      height: 80px;
      border-radius: 12px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: $lighterGray;
    }

    .broadcast-content {
      width: calc(100% - 92px);
      margin-left: 12px;

      .title {
        margin-top: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 20px;
        line-height: 20px;
      }

      .nickname {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 20px;
        line-height: 20px;
        margin-top: 3px;
      }

      .detail {
        margin-top: 4px;
      }

      .icon-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > div {
          margin-right: 2px;
        }

        .type-icon {
          display: block;
          margin-right: 2px;
        }

        .type-text {
          min-width: 30px;
          background-color: #9e9e9e;
          border-radius: 8px;
          color: $white;
          font-size: 11px;
          /* padding: 1px 6px 0px 6px; */
          padding-left: 6px;
          padding-right: 6px;
          height: 16px;
          line-height: 16px;
        }

        .gender-icon {
          display: block;
          width: 16px;
          height: 16px;
        }
      }

      .title {
        color: $greishBrown;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: -0.35px;
      }
      .nickname {
        color: #757575;
        font-size: 12px;
        letter-spacing: -0.3px;
      }
      .detail {
        display: flex;
        flex-direction: row;
        align-items: center;

        .broadcast-type {
          color: #632beb;
          font-size: 11px;
          letter-spacing: -0.28px;
          margin-right: 10px;
        }
        .value {
          display: flex;
          align-items: center;
          flex-direction: row;
          color: $greishBrown;
          font-size: 11px;
          letter-spacing: -0.3px;

          &:nth-child(2),
          &:nth-child(3) {
            margin-left: 6px;
          }

          img {
            display: block;
          }
        }
      }
    }
  }
  &__flex {
    position: relative;
    width: calc(50% - 2px);
    min-height: 170px;
    margin: 0 0 4px 4px;
    border-radius: 16px;
    background-color: $lighterGray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 16px;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
    &:nth-child(odd) {
      margin-left: 0;
    }
    .broadcast-img {
      position: relative;
      width: calc(50% - 4px);
      height: 100%;
      border-radius: 16px;
      background-color: $lighterGray;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
      border-radius: 16px;
      width: 100%;
      height: 100%;
    }
    .top-status {
      position: absolute;
      top: 6px;
      left: 6px;
      display: flex;
      flex-direction: row;
      align-items: center;
      z-index: 1;

      span {
        margin-right: 3px;
      }

      .pc-icon {
        color: $white;
        font-size: 11px;
        border-radius: 10px;
        background-color: #f26d4a;
        height: 16px;
        width: 26px;
        line-height: 16px;
        margin-right: 4px;
      }

      .twenty-icon {
        width: 24px;
        height: 16px;
        font-size: 8px;
        line-height: 15px;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: rgba(223, 57, 57, 0.5);
        text-align: center;
        color: $white;
      }
      .special-icon {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        line-height: 16px;
        font-size: 7px;
        text-align: center;
        color: $white;
        background-color: $red;
      }
      .all-icon {
        width: 24px;
        height: 16px;
        font-size: 8px;
        line-height: 15px;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: rgba(102, 177, 46, 0.5);
        text-align: center;
        color: $white;
      }
      .fan-icon {
        width: 24px;
        height: 16px;
        font-size: 8px;
        line-height: 15px;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: rgba(78, 115, 217, 0.5);
        text-align: center;
        color: $white;
      }
    }
    .entry-count {
      position: absolute;
      top: 6px;
      right: 6px;
      display: flex;
      z-index: 1;

      .entry-img {
        display: block;
      }
      .count-txt {
        color: $white;
        font-size: 13px;
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.6);
      }
    }
    .bottom-wrap {
      position: absolute;
      bottom: 6px;
      left: 6px;
      display: flex;
      align-items: center;
      z-index: 1;

      .pc-icon {
        color: $white;
        font-size: 11px;
        border-radius: 10px;
        background-color: #f26d4a;
        text-align: center;
        width: 26px;
        height: 16px;

        line-height: 16px;
        margin-right: 4px;
      }

      .type-icon-wrap {
        width: 26px;
        border-radius: 8px;
        background-color: rgba(254, 189, 86, 0.5);
        height: 16px;
        margin-right: 4px;

        .type-icon {
          width: 26px;
        }
      }

      .dj-nickname {
        color: $white;
        font-size: 12px;
      }
    }
  }
  &__row {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .half-live {
      position: relative;
      width: calc(50% - 4px);
      height: 100%;
      border-radius: 16px;
      background-color: $lighterGray;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
      border-radius: 16px;
      &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
      }

      .top-status {
        position: absolute;
        top: 6px;
        left: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 1;

        span {
          margin-right: 3px;
        }

        .pc-icon {
          color: $white;
          font-size: 11px;
          border-radius: 10px;
          background-color: #f26d4a;
          height: 16px;
          width: 26px;
          line-height: 16px;
          margin-right: 4px;
        }

        .twenty-icon {
          width: 24px;
          height: 16px;
          font-size: 8px;
          line-height: 15px;
          box-sizing: border-box;
          border-radius: 8px;
          background-color: rgba(223, 57, 57, 0.5);
          text-align: center;
          color: $white;
        }
        .special-icon {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          line-height: 16px;
          font-size: 7px;
          text-align: center;
          color: $white;
          background-color: $red;
        }
        .all-icon {
          width: 24px;
          height: 16px;
          font-size: 8px;
          line-height: 15px;
          box-sizing: border-box;
          border-radius: 8px;
          background-color: rgba(102, 177, 46, 0.5);
          text-align: center;
          color: $white;
        }
        .fan-icon {
          width: 24px;
          height: 16px;
          font-size: 8px;
          line-height: 15px;
          box-sizing: border-box;
          border-radius: 8px;
          background-color: rgba(78, 115, 217, 0.5);
          text-align: center;
          color: $white;
        }
      }

      .entry-count {
        position: absolute;
        top: 6px;
        right: 6px;
        display: flex;
        z-index: 1;

        .entry-img {
          display: block;
        }
        .count-txt {
          color: $white;
          font-size: 13px;
          text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.6);
        }
      }

      .bottom-wrap {
        position: absolute;
        bottom: 6px;
        left: 6px;
        display: flex;
        align-items: center;
        z-index: 1;

        .pc-icon {
          color: $white;
          font-size: 11px;
          border-radius: 10px;
          background-color: #f26d4a;
          text-align: center;
          width: 26px;
          height: 16px;

          line-height: 16px;
          margin-right: 4px;
        }

        .type-icon-wrap {
          width: 26px;
          border-radius: 8px;
          background-color: rgba(254, 189, 86, 0.5);
          height: 16px;
          margin-right: 4px;

          .type-icon {
            width: 26px;
          }
        }

        .dj-nickname {
          color: $white;
          font-size: 12px;
        }
      }

      &:nth-child(1) {
        margin-right: 4px;
      }
      &:nth-child(2) {
        margin-left: 4px;
      }
    }
  }
}

// search
.mainSearchWrap {
  background-color: $white;
  height: 100vh;
  .more {
    display: flex;
    align-items: center;
    &__cnt {
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -0.36px;
      text-align: left;
      color: $primary;
    }
    &__btn {
      display: block;
      width: 24px;
      height: 24px;
      background: url('../pages/menu/static/s_arrow.svg');
    }
  }
  .more-btn-wrap {
    position: relative;
    &:before {
      display: block;
      position: absolute;
      left: calc(50% - 63px);
      width: 126px;
      height: 48px;
      background: $white;
      content: '';
      z-index: 1;
    }
    &:after {
      position: absolute;
      right: 0;
      top: 23px;
      width: 100%;
      height: 1px;
      background: #e0e0e0;
      content: '';
    }
  }
  .more-btn {
    display: block;
    position: relative;
    width: 113px;
    margin: 40px auto;
    padding-right: 28px;
    border: 1px solid #e0e0e0;
    border-radius: 46px;
    background: $white;
    color: #616161;
    font-size: 14px;
    line-height: 46px;
    z-index: 1;
    &:after {
      display: block;
      position: absolute;
      right: 24px;
      top: 11px;
      width: 12px;
      height: 12px;
      border-left: 2px solid $primary;
      border-top: 2px solid $primary;
      transform: rotate(-135deg);
      content: '';
    }
  }
  .searchBarWrapper {
    padding: 10px 16px;
    box-sizing: border-box;
    background-color: $lighterGray;
  }
  .contentWrap {
    .searchTab {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #f5f5f5;
      // margin-top: 16px;
      // padding: 0 44px;
      box-sizing: border-box;
      .tabBtn {
        display: block;
        width: 30%;
        height: 45px;
        text-align: center;
        span {
          padding: 20px 0 13px;
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #757575;
        }
        &--active {
          span {
            font-weight: 600;
            color: $primary;
            border-bottom: 1px solid $primary;
          }
        }
      }
    }
    .typeTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      box-sizing: border-box;
      margin: 20px 0;
      .title {
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: -0.36px;
        text-align: left;
        color: $black;
      }
      .cnt {
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.36px;
        text-align: left;
        color: $primary;
      }
    }
    .searchList {
      text-align: left;
      padding: 0 16px 16px 16px;
      box-sizing: border-box;
      .search {
        margin-top: -10px;
      }
      & + h1 {
        margin-top: 15px;
      }

      .list {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        box-sizing: border-box;
        &:first-child {
          margin-top: 0;
        }
        em {
          display: block;
          width: 28px;
          height: 28px;
          position: absolute;
          right: 0;
          top: 0;
          background: url('../pages/menu/static/s_live.svg') no-repeat center center / cover;
        }
        .btnWrap {
          width: 100%;
          display: flex;
          .infoBox {
            width: calc(100% - 60px);
            display: flex;
            flex-direction: column;
            padding-left: 8px;
            box-sizing: border-box;
            &__nick {
              margin-bottom: 4px;
              font-size: 14px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.43;
              letter-spacing: normal;
              text-align: left;
              color: $black;
            }
            .detail {
              display: flex;
              align-items: center;
            }
            .female {
              display: block;
              width: 24px;
              height: 16px;
              background: url('../pages/menu/static/s_female.svg');
              margin-right: 2px;
            }
            .male {
              display: block;
              width: 24px;
              height: 16px;
              background: url('../pages/menu/static/s_male.svg');
              margin-right: 2px;
            }
            .special {
              display: block;
              width: 62px;
              height: 16px;
              background: url('../pages/menu/static/s_special.svg');
              margin-right: 2px;
            }
            .fanCnt {
              display: flex;
              align-items: center;
              margin-top: 4px;
              font-size: 12px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              letter-spacing: -0.3px;
              text-align: left;
              color: $greishBrown;

              :before {
                margin-right: 2px;
                display: inline-block;
                content: '';
                width: 16px;
                height: 16px;
                background: url('../pages/menu/static/s_fanC.svg');
                vertical-align: middle;
              }
            }
          }
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;

            vertical-align: top;
          }
        }
      }

      .listLive {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
        em {
          display: block;
          width: 28px;
          height: 28px;
          position: absolute;
          right: 0;
          top: 0;
          background: url('../pages/menu/static/s_live.svg') no-repeat center center / cover;
        }
        .btnWrap {
          width: 100%;
          display: flex;
          .infoBox {
            width: calc(100% - 60px);
            display: flex;
            flex-direction: column;
            padding-left: 16px;
            box-sizing: border-box;
            &__roomTitle {
              margin-bottom: 3px;
              font-size: 14px;
              font-weight: 600;
              line-height: 1.14;
              text-align: left;
              color: $black;
            }
            &__nick {
              margin-bottom: 3px;
              font-size: 12px;
              line-height: 1.08;
              letter-spacing: normal;
              text-align: left;
              color: $black;
            }
            .detail {
              display: flex;
              align-items: center;
              margin-bottom: 5px;
            }
            .roomCnt {
              display: flex;
            }
            .entry {
              width: 24px;
              height: 16px;
              background: url('../pages/menu/static/s_all.svg');
              margin-right: 2px;
            }
            .entry-fan {
              width: 24px;
              height: 16px;
              background: url('../pages/menu/static/s_fan.svg');
              margin-right: 2px;
            }
            .entry-limit {
              width: 24px;
              height: 16px;
              background: url('../pages/menu/static/s_limit.svg');
              margin-right: 2px;
            }
            .cate {
              margin-right: 2px;

              padding: 0 6px;
              height: 16px;
              border-radius: 8px;
              background-color: #9e9e9e;
              font-size: 12px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 16px;
              letter-spacing: -0.3px;
              text-align: center;
              color: $white;
            }
            .female {
              display: block;
              width: 24px;
              height: 16px;
              background: url('../pages/menu/static/s_female.svg');
              margin-right: 2px;
            }
            .male {
              display: block;
              width: 24px;
              height: 16px;
              background: url('../pages/menu/static/s_male.svg');
              margin-right: 2px;
            }
            .special {
              display: block;
              width: 62px;
              height: 16px;
              background: url('../pages/menu/static/s_special.svg');
              margin-right: 2px;
            }
            .fanCnt,
            .likeCnt,
            .starCnt {
              display: flex;
              align-items: center;
              margin-top: 4px;
              margin-right: 5px;
              font-size: 12px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              letter-spacing: -0.3px;
              text-align: left;
              color: $greishBrown;
              :before {
                margin-right: 2px;
                display: inline-block;
                content: '';
                width: 16px;
                height: 16px;
                background: url('../pages/menu/static/s_fanC.svg');
                vertical-align: middle;
              }
            }
            .likeCnt {
              :before {
                background: url('../pages/menu/static/s_like.svg');
              }
            }
            .starCnt {
              :before {
                background: url('../pages/menu/static/s_star.svg');
              }
            }
          }
          img {
            width: 72px;
            height: 72px;
            border-radius: 12px;

            vertical-align: top;
          }
        }
      }
    }
  }
}

// login
.login {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 520px;
  margin: 0 auto;
  background: url('../pages/login/static/login_bg.svg') no-repeat;
  background-size: cover;

  .header {
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0;
    .inner {
      display: flex;
      padding: 0 45px;
    }

    .close-btn {
      width: 40px;
      height: 40px;
    }

    h1 {
      margin-left: auto;
      font-size: 20px;
      font-weight: bold;
      color: $white;
      line-height: 40px;
    }
  }

  .login-wrap {
    width: 100%;
    padding: 0 30px 50px;
  }

  .logo {
    display: block;
    margin: 0 auto 20px auto;
  }

  .input-wrap {
    width: 260px;
    margin: 0 auto;
    input {
      display: block;
      border: 1px solid $white;
      width: 100%;
      height: 24px;
      padding: 23px 24px;
      line-height: 24px;
      border-radius: 25px;
      color: $white;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: -0.4px;
      background: none;
      border-color: rgba(255, 255, 255, 0.5);
    }
    input::placeholder {
      color: $white;
      font-size: 14px;
      font-weight: 400;
    }
    input[type='password'] {
      margin-top: 8px;
      &::placeholder {
        color: $white;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .login-btn {
      display: block;
      margin-top: 8px;
      width: 100%;
      height: 48px;
      line-height: 48px;
      background-color: $white;
      color: $primary;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.5px;
      border-radius: 25px;
    }
  }

  .link-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 0 0;

    .link-text {
      color: $white;
      font-size: 14px;
      font-weight: bold;

      &.yello {
        color: #febd56;
      }
    }

    .bar {
      width: 1px;
      height: 12px;
      background-color: $white;
      margin: 0 9px;
      opacity: 0.2;
    }
  }

  .socialLogin {
    position: absolute;
    width: 100%;
    bottom: 50px;
    text-align: center;

    .social-apple-btn {
      width: 48px;
      height: 48px;
      border-radius: 25px;
      border: solid 1px $black;
      background-color: $black;
      margin-right: 8px;
    }

    .social-facebook-btn {
      width: 48px;
      height: 48px;
      border-radius: 25px;
      border: solid 1px #4064ad;
      background-color: $white;
      margin-right: 8px;
    }

    .social-naver-btn {
      width: 48px;
      height: 48px;
      border-radius: 25px;
      background-color: #2db400;
      margin-right: 8px;
    }

    .social-kakao-btn {
      width: 48px;
      height: 48px;
      border-radius: 25px;
      background-color: #f9e000;
      margin-right: 8px;
    }

    .social-google-btn {
      width: 48px;
      height: 48px;
      border-radius: 25px;
      border: solid 1px #4285f4;
      background-color: $white;
    }
  }

  .apple-alert {
    width: 240px;
    height: 34px;
    border-radius: 17px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: $black;
    text-align: center;
    color: #ffd500;
    line-height: 34px;
    font-size: 14px;
  }
}

#main-layer-popup {
  .content-wrap {
    padding: 0 20px 20px;
    &.content-exp {
      padding: 0;
    }
  }
  .title-wrap {
    height: 50px;
    .close-btn {
      top: 5px;
    }
  }
}
