@import '../styles/global';

// .headerWrap {
//   position: fixed;
//   top: 0;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0 6px;
//   width: 100%;
//   height: 48px;
//   background-color: $primary;
//   box-sizing: border-box;
//   z-index: 20;

//   h1 {
//     display: flex;
//     position: absolute;
//     margin-left: -47px;
//     left: 50%;
//     width: 103px;
//     cursor: pointer;

//     img {
//       width: 100%;
//     }
//   }
//   .icon-wrap {
//     display: flex;
//     height: 40px;
//     .alarIconSize {
//       width: 40px;
//       height: 40px;
//     }

//     .iconSearch,
//     .iconStore {
//       display: flex;
//       width: 40px;
//       height: 40px;
//     }
//     .mailbox {
//       cursor: pointer;
//     }
//   }
// }

.hiddenBg {
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: white;
}

.micWrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  top: 4px;
  left: 50%;
  border-radius: 30px;
  z-index: 50;
  transform: translateX(-50%);
  background-color: white;
}



// main
.main-wrap {
  .main-loadingWrap {
    position: relative;
    height: 700px;
    .loading {
      position: absolute;
      top: 30%;
    }
  }
  .section {
    color: red;
    font-weight: 700;
    box-sizing: border-box;

    &.rank {
      padding: 22px 0 0;
      background-color: white;
      color: white;
      .swiper-container {
        padding: 8px 0 0 16px;
      }
      .rank-slide {
        position: relative;
        display: block;
        width: 100px;
        margin-right: 20px;
        text-align: center;
        /* .counting {
          position: absolute;
          top: 0;
          left: 0;
          color: $black;
          border-radius: 50%;
          background-color: $lightGray;
          width: 24px;
          height: 24px;
          font-size: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        } */
        .main-img {
          position: relative;
          width: 100px;
          height: 100px;
          margin: 0 auto;
          border-radius: 12px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          .live-medal-img {
            position: absolute;
            top: -2px;
            left: -2px;
            width: 36px;
            height: 36px;
          }
          .medal-img {
            position: absolute;
            top: -4px;
            left: -4px;
            width: 26px;
            height: 30px;
          }
          .liveIcon,
          .listenIcon {
            position: absolute;
            bottom: 1px;
            right: 1px;
            width: 24px;
            height: 24px;
            img {
              width: 100%;
            }
          }
        }
        .nickname {
          height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: bold;
          font-size: 16px;
          color: $black;
          line-height: 1.08;
          letter-spacing: -0.35px;
          text-align: center;
          margin-top: 8px;
          transform: skew(-0.03deg);
        }
        .info-wrap {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-top: 6px;
          line-height: 2.17;
          height: 13px;
          .text {
            color: $greishBrown;
            font-size: 12px;
            letter-spacing: -0.3px;
            line-height: 2.17;
            margin-left: 2px;
          }
          .heart-icon {
            margin-left: 6px;
          }
        }
      }
      .title-wrap {
        .title {
          .txt {
            flex-shrink: 0;
            font-size: 18px;
            font-weight: 800;
            line-height: 1.13;
            text-align: left;
            color: $black;
          }
        }
      }
    }
    &.banner {
      padding: 26px 16px 0 16px;
    }
    &.my-star {
      // display: none;
      padding-top: 24px;
      height: 174px;
      &.visible {
        display: block;
        height: 174px;
      }
      .title {
        color: white;
        display: flex;
        align-items: center;
        flex-direction: row;
        .icon {
          width: 20px;
          margin-left: 4px;
        }
      }

      .swiper-container {
        width: 100%;
        margin: 0;
        padding-right: 16px;
      }

      .list {
        width: 60px;
        cursor: pointer;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        .image {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-size: cover;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          color: $greishBrown;
          font-size: 16px;
          font-weight: 800;
          letter-spacing: -0.32px;
          background-color: $darkGray;
        }

        .text {
          margin: 0 auto;
          margin-top: 6px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $darkGray;
          font-size: 12px;
          /* letter-spacing: -0.28px; */
          white-space: nowrap;
          text-align: center;
        }
        .liveIcon {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 20px;
          height: 20px;
          img {
            width: 100%;
          }
        }
      }
    }
    &.live-list {
      margin-top: 18px;
      padding: 0 16px;
      .title-wrap {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        background: white;
        box-sizing: border-box;

        &.fixed {
          position: fixed;
          top: 48px;
          left: 0;
          width: 100%;
          padding: 10px 16px;
          z-index: 10;
        }

        .title {
          justify-content: space-between;
          .txt {
            .title_img {
              width: 28px;
              margin-right: 4px;
            }
          }

          .rank-arrow {
            width: 24px;
            height: 24px;
          }
          .btn {
            &__moon,
            &__refresh {
              position: relative;
              display: flex;
              align-items: center;
              letter-spacing: -0.36px;
              line-height: 1.4;
              margin-left: 8px;
              width: 32px;
              height: 32px;
              &::before {
                display: inline-block;
                content: '';
                width: 1px;
                height: 12px;
                background: $lightGray;
                position: absolute;
                left: -8px;
                top: 50%;
                margin-top: -6px;
              }
              img {
                width: 100%;
              }
              &.btn__refresh--active {
                img {
                  animation: anim 0.36s;
                }
              }
            }
            &__moon {
              margin-right: 8px;
              margin-left: 0;
              &::before {
                display: none;
              }
              &::after {
                display: inline-block;
                content: '';
                width: 1px;
                height: 12px;
                background: $lightGray;
                position: absolute;
                right: -8px;
                top: 50%;
                margin-top: -6px;
              }
            }
          }
        }
      }
      .content-wrap {
        padding: 0;
      }
    }
  }
  @keyframes anim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .room_cnt {
    color: blue;
    font-weight: 700;
  }

  .live-list-category {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid $lighterGray;

    .swiper-wrapper {
      height: 40px;
    }

    .inner-wrapper {
      width: 100%;
      .swiper-container {
        overflow: hidden;

        .list {
          width: auto;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          letter-spacing: -0.35px;
          margin: 0 8px;
          color: $greishBrown;
          box-sizing: border-box;
          font-weight: normal;
          &.active {
            color: $primary;
            font-weight: 700;
            border-bottom: 1px solid $primary;
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  .title-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      .ico-lottie {
        display: inline-block;
        margin-right: 4px;
      }

      .txt {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $greishBrown;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.36px;
        cursor: pointer;

        &.in-active {
          color: $mediumGray;
        }
      }
      .rank-arrow {
        width: 28px;
        height: 28px;
        margin-right: 4px;
      }
    }

    .right-side {
      display: flex;
      flex-direction: row;
      align-items: center;

      .bar {
        width: 1px;
        height: 12px;
        background-color: #9e9e9e;
      }

      .text {
        width: 48px;
        height: 32px;
        padding: 0 10px;
        font-size: 14px;
        letter-spacing: normal;
        font-weight: bold;
        text-align: center;
        color: $black;
        border: 1px solid $lightGray;
        border-radius: 12px;

        &.active {
          line-height: 1.13;
          letter-spacing: normal;
          color: $black;
          background-color: $primary;
          color: white;
          border: none;
        }
      }
    }

    .live_btn_box {
      display: flex;
      align-items: center;

      button {
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        & + button {
          margin-left: 4px;
        }
      }

      .tab_all_btn {
        background: url(https://image.dalbitlive.com/main/common/ico_all_play_off.png) no-repeat center / 32px;

        &.on {
          background: url(https://image.dalbitlive.com/main/common/ico_all_play_on.png) no-repeat center / 32px;
        }
      }
      .tab_video_btn {
        background: url(https://image.dalbitlive.com/svg/ico_video_play_list_off.svg) no-repeat center / 32px;
        &.on {
          background: url(https://image.dalbitlive.com/main/ico_video_play_list_on_new_.svg) no-repeat center / 32px;
        }
      }
      .tab_radio_btn {
        background: url(https://image.dalbitlive.com/svg/ico_radio_play_list_off.svg) no-repeat center / 32px;
        &.on {
          background: url(https://image.dalbitlive.com/main/ico_audio_play_list_on_new_.svg) no-repeat center / 32px;
        }
      }
      .tab_new_btn {
        background: url(https://image.dalbitlive.com/main/ico_newMember_off.png) no-repeat center / 32px;
        &.on {
          background: url(https://image.dalbitlive.com/main/ico_newMember_on.png) no-repeat center / 32px;
        }
      }
    }
    .tab_refresh_btn {
      position: relative;
      margin-right: 4px;
      text-indent: 0;

      img {
        width: 28px;
        height: 28px;
      }

      &.on {
        img {
          animation: anim 0.36s infinite;
        }

        @keyframes anim {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(-360deg);
          }
        }
      }
    }
  }

  .content-wrap {
    position: relative;
    min-height: 50px;
    padding: 0 16px;
    &.ranking {
      padding: 0;
    }
    &.my-star-list {
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 20px 0 16px 16px;
      margin: 4px 16px 0 16px;
      border-radius: 12px;
      background: whiteGray;
    }
    .liveList {
      padding: 6px 0 20px 0;
    }
  }

  .main-gnb {
    display: flex;
    position: relative;
    align-items: center;
    height: 48px;
    box-sizing: border-box;
    z-index: 1;
    .broadBtn {
      position: relative;
      width: 68px;
      height: 40px;
      margin: 0 auto;
      border-radius: 22px;
      background-color: $primary;
      color: white;
      &::before {
        display: inline-block;
        margin: 0 auto;
        content: '';
        width: 36px;
        height: 36px;
        background: url(https://image.dalbitlive.com/main/200714/white_broad.svg) no-repeat 0 0;
      }
    }
    .left-side {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 48px;

      padding-left: 6px;
      width: 100%;

      .tab {
        width: 18%;
        font-size: 16px;
        letter-spacing: -0.4px;
        line-height: 43px;
        text-align: center;

        &__item {
          display: block;
          width: 100%;
          height: 100%;
          border-bottom: 4px solid white;
          text-align: center;
          font-weight: 800;

          &--active {
            border-color: $primary;
          }

          &.newIcon {
            position: relative;

            i {
              margin-bottom: 14px;
              margin-left: 2px;
              display: inline-block;
              position: absolute;
              top: 4px;
              background: $red;
              color: white;
              font-size: 10px;
              text-align: center;
              font-style: normal;
              line-height: 16px;
              width: 16px;
              height: 16px;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .right-side {
      display: flex;
      flex-direction: row;
      align-items: center;

      .bar {
        width: 1px;
        height: 12px;
        background-color: #9e9e9e;
      }

      .text {
        padding: 0 10px;
        color: white;
        font-size: 16px;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: left;
        border-radius: 12px;
        width: 48px;
        height: 32px;
        text-align: center;
        border: 1px solid $lightGray;
        color: $black;

        &.active {
          font-size: 16px;
          font-weight: 800;
          line-height: 1.13;
          letter-spacing: normal;
          color: $black;
          background-color: $primary;
          color: white;
          border: none;
        }
      }
    }

    .sequence-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;

      .text {
        margin-left: 4px;
        margin-right: 5px;
        color: $greishBrown;
        font-size: 14px;
        letter-spacing: -0.24px;
      }

      .sequence-icon {
        margin-right: 8px;
      }

      .detail-list-icon {
        margin-right: 2px;
        // &::before {
        //   display: inline-block;
        //   content: '';
        //   position: relative;
        //   top: 5px;
        //   width: 1px;
        //   height: 12px;
        //   background: $lightGray;
        //   margin-right: 8px;
        // }
      }

      .sequence-icon,
      .detail-list-icon,
      .simple-list-icon {
        display: block;
      }
    }
  }
  .main-slide {
    background: $lighterGray;
    .topSlide {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 61.113%;
      &__buttonWrap {
        position: absolute;
        top: 24px;
        padding: 0px 20px;
        box-sizing: border-box;
        width: 100%;
        height: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
      }
      &__bg {
        background-size: cover;
        background-position: center;
        cursor: pointer;
        width: 100%;
        height: 220px;
        &.broadcast {
          &::after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
          }
        }
      }
      &__itemWrap {
        position: absolute;
        top: 24px;
        width: 100%;
        padding: 0px 20px;
        display: flex;
        z-index: 1;
        box-sizing: border-box;
      }

      &__number {
        display: flex;
        line-height: 25px;
        justify-content: center;
        margin-left: auto;
        width: 58px;
        height: 25px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 14px;
        border-radius: 14px;
      }

      &__iconWrap {
        .iconWrapper {
          display: flex;
          position: absolute;
          left: 16px;
          top: 8px;
        }
        .adminIcon {
          display: block;
          width: 52px;
          height: 16px;
          margin-right: 4px;
          background: #3386f2;
          color: white;
          font-style: normal;
          font-size: 12px;
          line-height: 18px;
          border-radius: 20px;
          text-align: center;
          letter-spacing: -0.6px;
        }
      }
      &__infoWrap {
        position: absolute;
        bottom: 10px;
        left: 0;
        display: flex;
        flex-direction: row;
        align-content: center;
        width: 100%;
        padding: 0 16px;

        .thumb {
          display: block;
          width: 48px;
          height: 48px;
          margin-right: 8px;
          border-radius: 50%;
          border: solid 1px rgba(255, 255, 255, 0.5);
        }
        .text {
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          font-weight: bold;
          line-height: 1.4;
          overflow: hidden;
          .title {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: white;
          }
          .nickname {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: rgb(255, 179, 0);
          }
        }
      }
      .swiper-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .swiper-wrapper {
          width: 100%;
          height: 100%;
          .topSlide__bg {
            height: 100%;
          }
        }
      }
      .swiper-pagination-fraction {
        bottom: 5px;
        padding-right: 14px;
        text-align: right;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.6);
        span {
          color: rgba(255, 255, 255, 0.6);
        }
        .swiper-pagination-current {
          color: white;
        }
      }
    }
  }

  .levelEventBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    height: 48px;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    background: #00bac1;
    color: white;
    font-size: 16px;
    font-weight: $bold;

    @media screen and (max-width: 460px) {
      font-size: 14px;
    }

    &.isRed {
      background: #e84d70;
    }

    .eventText {
      margin-right: 5px;
      color: #fff951;
      &.isWhite {
        color: white;
      }
    }
    .giftIcon {
      margin-left: 8px;
      padding: 10px 10px 10px 36px;
      background: url('https://image.dalbitlive.com/svg/ic_gift.svg') no-repeat left 4px center white;
      color: #00a1a7;
      font-size: 13px;
      font-weight: $bold;
      border-radius: 30px;

      &.isRed {
        color: #e84d70;
      }
    }
  }

  //출석체크 버튼
  .fixedButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 13;
    width: 48px;

    &.usePlayer {
      bottom: 70px;
    }

    .attendStampActive {
      width: 48px;
      height: 48px;
      cursor: pointer;
      margin: 5px 0 0;

      &.basic {
        background: url('https://image.dalbitlive.com/event/attend/200811/icon_button@2x.png') center no-repeat;
        background-size: 100%;
      }

      &.motion {
        width: 48px;
        height: 48px;
        position: relative;

        &::after {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          overflow: hidden;
          content: '';
          background: url('https://image.dalbitlive.com/event/attend/201126/new_icon_roulette_01.png') center no-repeat;
          background-size: 48px;
          animation: rotate_image 1s linear infinite;
          transform-origin: 50% 50%;
          @keyframes rotate_image {
            100% {
              transform: rotate(360deg);
            }
          }
        }
        &::before {
          content: '';
          position: absolute;
          top: 0px;
          left: 0px;
          width: 48px;
          height: 48px;
          z-index: 1;
          background: url('https://image.dalbitlive.com/event/attend/201126/new_icon_roulette_02.png') center no-repeat;
          background-size: 60px;
        }
      }
    }
  }  
}
// 이벤트 플로팅 버튼
.eventFloat{
  position: relative;
  right: 0;
  bottom: 0;
  z-index:13;
  width:48px;
  height:48px;
  cursor: pointer;
    &.low{
      bottom:20px;
    }
    &.draw {
      background: url('https://image.dalbitlive.com/event/draw/floatingButton.png') center no-repeat;
      background-size: 100%;
    }
}

// 실시간 라이브
.liveList {
  position: relative;
  min-width: 288px;
  min-height: 50px;
  padding: 16px 16px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  &__item {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    &:first-child {
      margin-top: 0;
    }

    .broadcast-img {
      position: relative;
      width: 80px;
      height: 80px;
      border-radius: 12px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      .thumb-dj {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background-color: $lighterGray;
      }
      .thumb-guest {
        position: absolute;
        right: -3px;
        bottom: -3px;
        width: 32px;
        height: 32px;
        border: 2px solid white;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }

    .broadcast-content {
      width: calc(100% - 92px);
      margin-left: 12px;

      .title {
        display: flex;
        align-items: center;
        line-height: 1.3;
        span {
          overflow: hidden;
          margin-left: 6px;
          flex: 1;
          color: #242424;
          line-height: 16px;
          white-space: nowrap;
          text-overflow: ellipsis;
          letter-spacing: -0.5px;
        }

        p.category {
          color: $primary;
          font-size: 14px;
          font-weight: normal;
          letter-spacing: -0.5px;
        }

        i.line {
          width: 1px;
          height: 10px;
          background: #bdbdbd;
          margin: 0px 6px;
        }
      }

      .nickname {
        letter-spacing: -0.5px;
        display: flex;
        align-items: center;
        font-size: 12px;
        color: $darkGray;
        line-height: 1.3;
        margin: 10px 0px;
        font-weight: normal;
        .text {
          margin-right: 2px;
        }
      }

      .detail {
        margin-top: 4px;
      }

      .icon-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > div {
          margin-right: 2px;
        }

        .type-icon {
          display: block;
          margin-right: 2px;
        }

        .type-text {
          color: $primary;
          font-size: 14px;
          font-weight: normal;
        }
      }

      .title {
        color: $greishBrown;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: -0.35px;
      }
      .nickname {
        // > em {
        //   max-width: 100px;
        //   color: #757575;
        //   font-size: 12px;
        //   font-style: normal;
        //   letter-spacing: -0.3px;
        //   overflow: hidden;
        //   text-overflow: ellipsis;
        //   white-space: nowrap;
        // }

        .nick {
          flex: 1;
          overflow: hidden;
          margin-left: 4px;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
        }
      }
      .detail {
        display: flex;
        .broadcast-type {
          color: $primary;
          font-size: 11px;
          letter-spacing: -0.28px;
          margin-right: 10px;
        }
        .value {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 4px;
          line-height: 16px;
          &:first-child {
            margin-left: 0;
          }
          &.isBoost {
            background: $red;
            color: white;
            padding: 0 6px 0 3px;
            margin-left: 6px;
            border-radius: 10px;
            span {
              color: white;
            }

            i {
              opacity: 1;
              margin-right: 2px;
              background-image: url(https://image.dalbitlive.com/svg/like_w_s.svg);
            }
            & + .isGoodMember {
              margin-left: 2px;
            }
          }
          &.isGoodMember {
            margin-left: 6px;
            i {
              width: 28px;
              margin: 0;
            }
          }

          span {
            color: $greishBrown;
            font-size: 12px;

            // &.txt_boost {
            //   color: $red;
            // }
          }

          i {
            width: 16px;
            height: 16px;
            display: inline-block;
            background-position: center;
            opacity: 0.8;
            text-indent: -9999px;
          }

          &--people {
            background-image: url(https://image.dalbitlive.com/svg/people_g_s.svg);
          }
          &--hit {
            background-image: url(https://image.dalbitlive.com/svg/ico_hit_g.svg);
          }
          &--like {
            background-image: url(https://image.dalbitlive.com/svg/ico_like_g_s.svg);
          }
          &--newFan {
            margin-right: 2px;
            background-image: url(https://image.dalbitlive.com/main/ico_newpeople.svg);
          }
          &--message {
            background-image: url(https://image.dalbitlive.com/svg/ico_message_g_s.svg);
          }
          &--goodMem1 {
            background-image: url(https://image.dalbitlive.com/svg/ico_love_p1.svg);
          }
          &--goodMem2 {
            background-image: url(https://image.dalbitlive.com/svg/ico_love_p2.svg);
          }
          &--goodMem3 {
            background-image: url(https://image.dalbitlive.com/svg/ico_love_p3.svg);
          }
        }
      }
    }
  }
  &__flex {
    position: relative;
    width: calc(50% - 8px);
    margin: 0 0 16px 16px;
    border-radius: 16px;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0.5));
      border-radius: 16px;
    }
    &:nth-child(odd) {
      margin-left: 0;
    }
    .broadcast-img {
      position: relative;
      width: 100%;
      padding-bottom: 140%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 16px;

      .thumb-dj {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        background-color: $lighterGray;
      }
      .thumb-guest {
        position: absolute;
        right: -5px;
        bottom: -5px;
        width: 44px;
        height: 44px;
        border: 2px solid white;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1;
        img {
          width: 100%;
        }
      }
    }
    .top-status {
      position: absolute;
      top: 6px;
      left: 6px;
      display: flex;
      flex-direction: row;
      align-items: center;
      z-index: 1;

      span {
        margin-right: 3px;
      }

      .twenty-icon {
        width: 24px;
        height: 16px;
        font-size: 8px;
        line-height: 15px;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: rgba(223, 57, 57, 0.5);
        text-align: center;
        color: white;
      }
      .special-icon {
        width: 16px;
        height: 16px;
        text-indent: -9999px;
        background-image: url('https://image.dalbitlive.com/main/200714/slabel_circle_s@2x.png');
        background-size: 100%;
      }
      .shining-icon {
        width: 16px;
        height: 16px;
        text-indent: -9999px;
        background-image: url('https://image.dalbitlive.com/svg/ico_shiningdj_s.svg');
        background-size: 100%;
      }
      .all-icon {
        width: 24px;
        height: 16px;
        font-size: 8px;
        line-height: 15px;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: rgba(102, 177, 46, 0.5);
        text-align: center;
        color: white;
      }
      .fan-icon {
        width: 24px;
        height: 16px;
        font-size: 8px;
        line-height: 15px;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: rgba(78, 115, 217, 0.5);
        text-align: center;
        color: white;
      }
    }
    .entry-count {
      max-width: 47px;
      padding: 0 3px 0 7px;

      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      position: absolute;
      top: 6px;
      right: 6px;
      display: flex;
      z-index: 1;

      align-items: center;

      .entry-img {
        width: 17px;
        height: 17px;
        text-indent: -9999px;
        display: inline-block;
        margin-left: 4px;
        background: url(https://image.dalbitlive.com/svg/person_w.svg) center no-repeat;
      }
      .count-txt {
        color: white;
        font-size: 12px;
        font-weight: normal;
        letter-spacing: -0.3px;
      }
    }
    .bottom-wrap {
      width: 100%;
      padding: 0px 10px;
      position: absolute;
      bottom: 10px;
      left: 0px;
      display: flex;
      flex-direction: column;
      z-index: 1;
      &.text_cut {
        padding: 0 50px 0px 10px;
      }

      .roomTitle {
        width: 100%;
        margin-top: 4px;
        font-size: 12px;
        line-height: 1.14;
        letter-spacing: -0.42px;
        text-align: left;
        color: white;
        opacity: 0.8;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: $regular;
      }

      .type-icon-wrap {
        width: 26px;
        border-radius: 8px;
        background-color: rgba(254, 189, 86, 0.5);
        height: 16px;
        margin-right: 4px;

        .type-icon {
          width: 26px;
        }
      }

      .dj-nickname {
        width: 100%;
        @include multi-ellipsis(1);
        color: white;
        font-weight: $bold;
        font-size: 12px;

        line-height: 1.08;
        letter-spacing: -0.36px;
      }
    }
  }
  &__row {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .half-live {
      position: relative;
      width: calc(50% - 4px);
      height: 100%;
      border-radius: 16px;
      background-color: $lighterGray;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
      border-radius: 16px;
      &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
      }

      .top-status {
        position: absolute;
        top: 6px;
        left: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 1;

        span {
          margin-right: 3px;
        }

        .twenty-icon {
          width: 24px;
          height: 16px;
          font-size: 8px;
          line-height: 15px;
          box-sizing: border-box;
          border-radius: 8px;
          background-color: rgba(223, 57, 57, 0.5);
          text-align: center;
          color: white;
        }
        .special-icon {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          line-height: 16px;
          font-size: 7px;
          text-align: center;
          color: white;
          background-color: $red;
        }
        .all-icon {
          width: 24px;
          height: 16px;
          font-size: 8px;
          line-height: 15px;
          box-sizing: border-box;
          border-radius: 8px;
          background-color: rgba(102, 177, 46, 0.5);
          text-align: center;
          color: white;
        }
        .fan-icon {
          width: 24px;
          height: 16px;
          font-size: 8px;
          line-height: 15px;
          box-sizing: border-box;
          border-radius: 8px;
          background-color: rgba(78, 115, 217, 0.5);
          text-align: center;
          color: white;
        }
      }

      .entry-count {
        position: absolute;
        top: 6px;
        right: 6px;
        display: flex;
        z-index: 1;

        .entry-img {
          display: block;
        }
        .count-txt {
          color: white;
          font-size: 13px;
          text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.6);
        }
      }

      .bottom-wrap {
        position: absolute;
        bottom: 6px;
        left: 6px;
        display: flex;
        align-items: center;
        z-index: 1;

        .type-icon-wrap {
          width: 26px;
          border-radius: 8px;
          background-color: rgba(254, 189, 86, 0.5);
          height: 16px;
          margin-right: 4px;

          .type-icon {
            width: 26px;
          }
        }

        .dj-nickname {
          color: white;
          font-size: 12px;
        }
      }

      &:nth-child(1) {
        margin-right: 4px;
      }
      &:nth-child(2) {
        margin-left: 4px;
      }
    }
  }
}

// search
.mainSearchWrap {
  background-color: white;
  height: 100vh;
  .more {
    display: flex;
    align-items: center;
    &__cnt {
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -0.36px;
      text-align: left;
      color: $primary;
    }
    &__btn {
      display: block;
      width: 24px;
      height: 24px;
      background: url('../pages/menu/static/s_arrow.svg');
    }
  }
  .more-btn-wrap {
    position: relative;
    &:before {
      display: block;
      position: absolute;
      left: calc(50% - 63px);
      width: 126px;
      height: 48px;
      background: white;
      content: '';
      z-index: 1;
    }
    &:after {
      position: absolute;
      right: 0;
      top: 23px;
      width: 100%;
      height: 1px;
      background: $lightGray;
      content: '';
    }
  }
  .more-btn {
    display: block;
    position: relative;
    width: 113px;
    margin: 40px auto;
    padding-right: 28px;
    border: 1px solid $lightGray;
    border-radius: 46px;
    background: white;
    color: $darkGray;
    font-size: 14px;
    line-height: 46px;
    z-index: 1;
    &:after {
      display: block;
      position: absolute;
      right: 24px;
      top: 11px;
      width: 12px;
      height: 12px;
      border-left: 2px solid $primary;
      border-top: 2px solid $primary;
      transform: rotate(-135deg);
      content: '';
    }
  }
  .searchBarWrapper {
    padding: 10px 16px;
    box-sizing: border-box;
    background-color: $lighterGray;
  }
  .contentWrap {
    .searchTab {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #f5f5f5;
      // margin-top: 16px;
      // padding: 0 44px;
      box-sizing: border-box;
      .tabBtn {
        display: block;
        width: 30%;
        height: 45px;
        text-align: center;
        span {
          padding: 20px 0 13px;
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #757575;
        }
        &--active {
          span {
            font-weight: 600;
            color: $primary;
            border-bottom: 1px solid $primary;
          }
        }
      }
    }
    .typeTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      box-sizing: border-box;
      margin: 20px 0;
      .title {
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: -0.36px;
        text-align: left;
        color: $black;
      }
      .cnt {
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.36px;
        text-align: left;
        color: $primary;
      }
    }
  }
}
.newMember_banner {
  padding: 2px 0 6px 0;
  width: 100%;
}

#main-layer-popup {
  .content-wrap {
    padding: 0 20px 20px;
    &.content-exp {
      padding: 0;
    }
  }
  .title-wrap {
    height: 50px;
    .close-btn {
      top: 5px;
    }
  }
}

.realTimer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 32px);
  height: 48px;
  margin: 8px 16px 0;
  border-radius: 4px;
  background: linear-gradient(90deg, #ffb136, #ff6936, #ff4b74, #ab0ce8);
  text-align: center;
  color: #ffffff;
  .realTime {
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 14px;
    font-weight: medium;
    .strong {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: -0.5px;
    }
  }
  .sub {
    height: 18px;
    line-height: 18px;
    margin-bottom: 3px;
    padding: 0 8px;
    border-radius: 100px;
    background-color: rgba(191, 0, 13, 0.6);
    font-size: 11px;
    letter-spacing: -0.5px;
  }
}
