@import '../styles/variables';

.gnbWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: $white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 20;
  padding: 0 6px;
  .alarmSize {
    width: 44px;
    height: 44px;
  }
  .icon-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80px;
    .icon {
      position: relative;
      display: block;
      width: 40px;
    }
    .alarm-new {
      position: absolute;
      border-radius: 50%;
      top: 1px;
      right: 1px;
      width: 10px;
      height: 10px;
      background-color: #ec455f;
    }
    .news {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 5px;
      height: 5px;
      background: #ff0000;
      z-index: 11;
      border-radius: 50%;
      content: '1';
    }
  }
  .gnb-logo {
    width: 103px;
    font-size: 0;
  }
  .mic-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    border-radius: 27px;
    background: linear-gradient($primary, #4c13d5);
  }
}

.hiddenBg {
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: $white;
}

.micWrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 86px;
  top: 4px;
  left: 50%;
  border-radius: 27px;
  z-index: 50;
  transform: translateX(-50%);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: $white;
}

.refresh-wrap {
  display: block;
  position: relative;
  height: 48px;
  background-color: rgba(127, 127, 127, 0.3);
  transition: height 0ms cubic-bezier(0.26, 0.26, 0.69, 0.69) 0s;
  .icon-wrap {
    position: absolute;
    left: 50%;
    bottom: 6px;
    .arrow-refresh-icon {
      display: block;
      position: relative;
      left: -50%;
    }
  }
}

.main-wrap {
  .section {
    color: red;
    font-weight: 700;
    box-sizing: border-box;

    &.my-star {
      display: none;
      padding: 25px 0 19px;
      &.visible {
        display: block;
      }
    }

    &.rank {
      padding: 20px 0 26px;
      background-color: $white;
      color: $white;

      .title-wrap {
        .title {
          .txt {
            font-size: 16px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.13;
            letter-spacing: normal;
            text-align: left;
            color: $black;
          }
        }
      }
    }

    &.live-list {
      padding-bottom: 20px;
      .title-wrap {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 64px;
        padding: 22px 17px;
        box-sizing: border-box;
        background-color: #eeeeee;
        border-bottom: 1px solid #eee;

        .title {
          display: flex;
          flex-direction: row;
          align-items: center;

          .txt {
            display: inline-block;
            font-size: 18px;
            letter-spacing: -0.36px;
          }

          .refresh-icon {
            margin-left: 4px;
          }
        }
      }
      .content-wrap {
        width: 100%;
        padding: 20px 16px;
      }
    }
  }
  .room_cnt {
    color: blue;
    font-weight: 700;
  }

  .live-list-category {
    position: relative;
    display: flex;

    flex-direction: row;
    align-items: center;
    background-color: $white;
    border-bottom: 1px solid #eee;

    .swiper-wrapper {
      height: 40px;
    }

    &.fixed {
      position: fixed;
      top: 48px;
      left: 0;
      width: 100%;
      z-index: 10;
    }

    .inner-wrapper {
      width: calc(100% - 16px);
      margin-left: 16px;

      .swiper-container {
        overflow: hidden;

        .list {
          width: auto;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          letter-spacing: -0.35px;
          margin: 0 8px;
          color: #424242;
          box-sizing: border-box;
          font-weight: normal;
          &.active {
            color: $primary;
            font-weight: 700;
            border-bottom: 1px solid $primary;
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  .title-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;

      .txt {
        color: #424242;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.36px;

        &.in-active {
          color: #bdbdbd;
        }

        &:nth-child(2) {
          margin-left: 10px;
        }
      }
      .rank-arrow {
        width: 24px;
        height: 24px;
      }
    }

    .right-side {
      display: flex;
      flex-direction: row;
      align-items: center;

      .bar {
        width: 1px;
        height: 12px;
        background-color: #9e9e9e;
      }

      .text {
        padding: 0 10px;
        color: $white;
        font-size: 16px;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: left;
        color: #757575;

        &.active {
          font-size: 16px;
          font-weight: 800;
          line-height: 1.13;
          letter-spacing: normal;
          color: $black;
        }
      }
    }

    .sequence-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;

      .text {
        margin-left: 4px;
        margin-right: 5px;
        color: #424242;
        font-size: 14px;
        letter-spacing: -0.24px;
      }

      .sequence-icon {
        margin-right: 15px;
      }

      .detail-list-icon {
        margin-right: 2px;
      }

      .sequence-icon,
      .detail-list-icon,
      .simple-list-icon {
        display: block;
      }
    }
  }

  .content-wrap {
    position: relative;
    min-height: 50px;
    padding: 0 16px;
    &.rank-slide {
      padding: 0;
    }
    &.my-star-list {
      height: 80px;
      background-color: $white;
    }
  }

  .main-gnb {
    display: flex;
    position: relative;
    align-items: center;
    height: 42px;
    background-color: $primary;
    box-sizing: border-box;
    z-index: 1;
    .broadBtn {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 23px;
      width: 108px;
      height: 42px;
      background-color: $black;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.13;
      letter-spacing: -0.4px;
      color: $white;
      &::before {
        display: inline-block;
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 36px;
        height: 36px;
        background: url(https://image.dalbitlive.com/main/200714/white_broad.svg) no-repeat 0 0;
      }
    }
    .left-side {
      display: flex;
      flex-direction: row;
      padding-left: 6px;
      .tab {
        height: 42px;
        color: $white;
        font-size: 16px;
        letter-spacing: -0.4px;
        line-height: 42px;
        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 0 10px;
          text-align: center;
          font-weight: 600;
        }
      }
    }

    .right-side {
      .btn {
        display: flex;
        align-items: center;
        position: relative;
        width: 106px;
        height: 34px;
        margin-right: 8px;
        padding-left: 34px;
        font-weight: 600;
        text-align: right;
        letter-spacing: -0.4px;
        border-radius: 18px;
        background-color: $black;
        color: $white;
        font-size: 16px;
        font-weight: 600;
        box-sizing: border-box;
        transform: skew(-0.03deg);

        &::before {
          position: absolute;
          content: '';
          width: 36px;
          height: 36px;
          left: 0;
          top: 0;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url(https://image.dalbitlive.com/main/200714/ic_broadcastng.svg);
        }
      }
    }
  }

  .topSlide {
    position: relative;
    width: 100%;
    height: 220px;
    margin-bottom: 10px;
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 10px;
      background-color: #eee;
    }

    &__buttonWrap {
      position: absolute;
      top: 24px;
      padding: 0px 20px;
      box-sizing: border-box;
      width: 100%;
      height: 60px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
    }
    &__bg {
      background-size: cover;
      background-position: center;
      cursor: pointer;
      width: 100%;
      height: 220px;
      &.broadcast {
        &::after {
          display: block;
          content: '';
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }
    &__itemWrap {
      position: absolute;
      top: 24px;
      width: 100%;
      padding: 0px 20px;
      display: flex;
      z-index: 1;
      box-sizing: border-box;
    }

    &__number {
      display: flex;
      line-height: 25px;
      justify-content: center;
      margin-left: auto;
      width: 58px;
      height: 25px;
      background: rgba(0, 0, 0, 0.5);
      color: $white;
      font-size: 14px;
      border-radius: 14px;
    }

    &__iconWrap {
      em {
        position: absolute;
        left: 16px;
        top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 18px;
        margin-right: 4px;
        color: $white;
        font-style: normal;
        font-size: 11px;
        line-height: 18px;
        border-radius: 20px;
      }
      .eventIcon {
        background: #febd56;
      }

      .specialIcon {
        background: #ec455f;
      }

      .adminIcon {
        background: #3386f2;
      }

      span {
        position: absolute;
        right: 8px;
        top: 8px;
        &.liveIcon {
          width: 42px;
          height: 42px;
          margin: 0;
          font-size: 0;
          background: url(https://image.dalbitlive.com/main/200714/live_l@3x.png) no-repeat 0 0;
          background-size: contain;
        }
      }
    }
    &__infoWrap {
      position: absolute;
      bottom: 10px;
      left: 0;
      display: flex;
      flex-direction: row;
      align-content: center;
      width: 100%;
      padding: 0 16px;

      .thumb {
        display: block;
        width: 48px;
        height: 48px;
        margin-right: 8px;
        border-radius: 50%;
        border: solid 1px rgba(255, 255, 255, 0.5);
      }
      .text {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        font-weight: bold;
        line-height: 1.4;
        .title {
          display: block;
          color: $white;
        }
        .nickname {
          display: block;
          color: rgb(255, 179, 0);
        }
      }
    }
    .swiper-pagination-fraction {
      bottom: 5px;
      padding-right: 14px;
      text-align: right;
      font-size: 10px;
      color: rgba(255, 255, 255, 0.6);
      span {
        color: rgba(255, 255, 255, 0.6);
      }
      .swiper-pagination-current {
        color: $white;
      }
    }
  }

  .main-banner {
    .slideWrap {
      position: relative;

      &.active {
        display: none;
      }

      .swiper-container {
        height: auto;
        .banner {
          img {
            width: 100%;
          }
        }
        .swiper-pagination-fraction {
          display: flex;
          justify-content: center;
          align-items: center;
          bottom: 7px;
          right: 46px;
          left: auto;
          width: 45px;
          height: 24px;
          font-size: 12px;
          letter-spacing: 3px;
          background-color: rgba(0, 0, 0, 0.6);
          color: white;
          border-radius: 24px;
          .swiper-pagination-total {
            font-weight: normal;
          }
        }
      }
    }

    .bannerNumber {
      border: solid 1px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      background: rgba(0, 0, 0, 0.5);
      color: $white;
      width: 45px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      p {
        opacity: 0.5;
      }
    }

    .moreButton {
      position: absolute;
      right: 11px;
      bottom: 7px;
      z-index: 2;
      width: 33px;
      height: 24px;
      border-radius: 24px;
      background: #000 url('https://image.dalbitlive.com/main/200714/ico-banner-down.svg') center no-repeat;

      &.active {
        background: #000 url('https://image.dalbitlive.com/main/200714/ico-banner-up.svg') center no-repeat;
      }
    }

    .basicBanner {
      margin-bottom: 10px;
      position: relative;
    }
    .bannerView {
      display: none;
      img {
        width: 100%;
      }
      &.active {
        display: block;
      }
    }
  }
}

.searchWrap {
  background-color: $white;
  height: 100vh;
  .more {
    display: flex;
    align-items: center;
    &__cnt {
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -0.36px;
      text-align: left;
      color: $primary;
    }
    &__btn {
      display: block;
      width: 24px;
      height: 24px;
      background: url('../pages/menu/static/s_arrow.svg');
    }
  }
  .more-btn-wrap {
    position: relative;
    &:before {
      display: block;
      position: absolute;
      left: calc(50% - 63px);
      width: 126px;
      height: 48px;
      background: $white;
      content: '';
      z-index: 1;
    }
    &:after {
      position: absolute;
      right: 0;
      top: 23px;
      width: 100%;
      height: 1px;
      background: #e0e0e0;
      content: '';
    }
  }
  .more-btn {
    display: block;
    position: relative;
    width: 113px;
    margin: 40px auto;
    padding-right: 28px;
    border: 1px solid #e0e0e0;
    border-radius: 46px;
    background: $white;
    color: #616161;
    font-size: 14px;
    line-height: 46px;
    z-index: 1;
    &:after {
      display: block;
      position: absolute;
      right: 24px;
      top: 11px;
      width: 12px;
      height: 12px;
      border-left: 2px solid $primary;
      border-top: 2px solid $primary;
      transform: rotate(-135deg);
      content: '';
    }
  }
  .searchBarWrapper {
    padding: 10px 16px;
    box-sizing: border-box;
    background-color: #eee;
  }
  .contentWrap {
    .liveList {
      position: relative;
      width: 100%;
      min-height: 50px;
      padding: 16px 16px;
    }
    .searchTab {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #f5f5f5;
      // margin-top: 16px;
      // padding: 0 44px;
      box-sizing: border-box;
      .tabBtn {
        display: block;
        width: 30%;
        height: 45px;
        text-align: center;
        span {
          padding: 20px 0 13px;
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #757575;
        }
        &--active {
          span {
            font-weight: 600;
            color: $primary;
            border-bottom: 1px solid $primary;
          }
        }
      }
    }
    .typeTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      box-sizing: border-box;
      margin: 20px 0;
      .title {
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: -0.36px;
        text-align: left;
        color: $black;
      }
      .cnt {
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.36px;
        text-align: left;
        color: $primary;
      }
    }
    .searchList {
      text-align: left;
      padding: 0 16px 16px 16px;
      box-sizing: border-box;
      .search {
        margin-top: -10px;
      }
      & + h1 {
        margin-top: 15px;
      }

      .list {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        box-sizing: border-box;
        &:first-child {
          margin-top: 0;
        }
        em {
          display: block;
          width: 28px;
          height: 28px;
          position: absolute;
          right: 0;
          top: 0;
          background: url('../pages/menu/static/s_live.svg') no-repeat center center / cover;
        }
        .btnWrap {
          width: 100%;
          display: flex;
          .infoBox {
            width: calc(100% - 60px);
            display: flex;
            flex-direction: column;
            padding-left: 8px;
            box-sizing: border-box;
            &__nick {
              margin-bottom: 4px;
              font-size: 14px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.43;
              letter-spacing: normal;
              text-align: left;
              color: $black;
            }
            .detail {
              display: flex;
              align-items: center;
            }
            .female {
              display: block;
              width: 24px;
              height: 16px;
              background: url('../pages/menu/static/s_female.svg');
              margin-right: 2px;
            }
            .male {
              display: block;
              width: 24px;
              height: 16px;
              background: url('../pages/menu/static/s_male.svg');
              margin-right: 2px;
            }
            .special {
              display: block;
              width: 62px;
              height: 16px;
              background: url('../pages/menu/static/s_special.svg');
              margin-right: 2px;
            }
            .fanCnt {
              display: flex;
              align-items: center;
              margin-top: 4px;
              font-size: 12px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              letter-spacing: -0.3px;
              text-align: left;
              color: #424242;

              :before {
                margin-right: 2px;
                display: inline-block;
                content: '';
                width: 16px;
                height: 16px;
                background: url('../pages/menu/static/s_fanC.svg');
                vertical-align: middle;
              }
            }
          }
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;

            vertical-align: top;
          }
        }
      }

      .listLive {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
        em {
          display: block;
          width: 28px;
          height: 28px;
          position: absolute;
          right: 0;
          top: 0;
          background: url('../pages/menu/static/s_live.svg') no-repeat center center / cover;
        }
        .btnWrap {
          width: 100%;
          display: flex;
          .infoBox {
            width: calc(100% - 60px);
            display: flex;
            flex-direction: column;
            padding-left: 16px;
            box-sizing: border-box;
            &__roomTitle {
              margin-bottom: 3px;
              font-size: 14px;
              font-weight: 600;
              line-height: 1.14;
              text-align: left;
              color: $black;
            }
            &__nick {
              margin-bottom: 3px;
              font-size: 12px;
              line-height: 1.08;
              letter-spacing: normal;
              text-align: left;
              color: $black;
            }
            .detail {
              display: flex;
              align-items: center;
              margin-bottom: 5px;
            }
            .roomCnt {
              display: flex;
            }
            .entry {
              width: 24px;
              height: 16px;
              background: url('../pages/menu/static/s_all.svg');
              margin-right: 2px;
            }
            .entry-fan {
              width: 24px;
              height: 16px;
              background: url('../pages/menu/static/s_fan.svg');
              margin-right: 2px;
            }
            .entry-limit {
              width: 24px;
              height: 16px;
              background: url('../pages/menu/static/s_limit.svg');
              margin-right: 2px;
            }
            .cate {
              margin-right: 2px;

              padding: 0 6px;
              height: 16px;
              border-radius: 8px;
              background-color: #9e9e9e;
              font-size: 12px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 16px;
              letter-spacing: -0.3px;
              text-align: center;
              color: $white;
            }
            .female {
              display: block;
              width: 24px;
              height: 16px;
              background: url('../pages/menu/static/s_female.svg');
              margin-right: 2px;
            }
            .male {
              display: block;
              width: 24px;
              height: 16px;
              background: url('../pages/menu/static/s_male.svg');
              margin-right: 2px;
            }
            .special {
              display: block;
              width: 62px;
              height: 16px;
              background: url('../pages/menu/static/s_special.svg');
              margin-right: 2px;
            }
            .fanCnt,
            .likeCnt,
            .starCnt {
              display: flex;
              align-items: center;
              margin-top: 4px;
              margin-right: 5px;
              font-size: 12px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              letter-spacing: -0.3px;
              text-align: left;
              color: #424242;
              :before {
                margin-right: 2px;
                display: inline-block;
                content: '';
                width: 16px;
                height: 16px;
                background: url('../pages/menu/static/s_fanC.svg');
                vertical-align: middle;
              }
            }
            .likeCnt {
              :before {
                background: url('../pages/menu/static/s_like.svg');
              }
            }
            .starCnt {
              :before {
                background: url('../pages/menu/static/s_star.svg');
              }
            }
          }
          img {
            width: 72px;
            height: 72px;
            border-radius: 12px;

            vertical-align: top;
          }
        }
      }
    }
  }
}

.login {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 520px;
  margin: 0 auto;
  background: url('../pages/login/static/login_bg.svg') no-repeat;
  background-size: cover;

  .header {
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0;
    .inner {
      display: flex;
      padding: 0 45px;
    }

    .close-btn {
      width: 40px;
      height: 40px;
    }

    h1 {
      margin-left: auto;
      font-size: 20px;
      font-weight: bold;
      color: $white;
      line-height: 40px;
    }
  }

  .login-wrap {
    width: 100%;
    padding: 0 30px 50px;
  }

  .logo {
    display: block;
    margin: 0 auto 20px auto;
  }

  .input-wrap {
    width: 260px;
    margin: 0 auto;
    input {
      display: block;
      border: 1px solid $white;
      width: 100%;
      height: 24px;
      padding: 23px 24px;
      line-height: 24px;
      border-radius: 25px;
      color: $white;
      font-size: 14px;
      letter-spacing: -0.4px;
      background: none;
      border-color: rgba(255, 255, 255, 0.5);
    }
    input::placeholder {
      color: $white;
    }
    input[type='password'] {
      margin-top: 8px;
    }
    .login-btn {
      display: block;
      margin-top: 8px;
      width: 100%;
      height: 48px;
      line-height: 48px;
      background-color: $white;
      color: $primary;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.5px;
      border-radius: 25px;
    }
  }

  .link-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 0 0;

    .link-text {
      color: $white;
      font-size: 14px;
      font-weight: bold;

      &.yello {
        color: #febd56;
      }
    }

    .bar {
      width: 1px;
      height: 12px;
      background-color: $white;
      margin: 0 9px;
      opacity: 0.2;
    }
  }

  .socialLogin {
    position: absolute;
  width: 100%;
  bottom: 50px;
    text-align: center;

    .social-apple-btn {
      width: 48px;
      height: 48px;
      border-radius: 25px;
      border: solid 1px #000000;
      background-color: #000000;
      margin-right: 8px;
    }

    .social-facebook-btn {
      width: 48px;
      height: 48px;
      border-radius: 25px;
      border: solid 1px #4064ad;
      background-color: #ffffff;
      margin-right: 8px;
    }

    .social-naver-btn {
      width: 48px;
      height: 48px;
      border-radius: 25px;
      background-color: #2db400;
      margin-right: 8px;
    }

    .social-kakao-btn {
      width: 48px;
      height: 48px;
      border-radius: 25px;
      background-color: #f9e000;
      margin-right: 8px;
    }

    .social-google-btn {
      width: 48px;
      height: 48px;
      border-radius: 25px;
      border: solid 1px #4285f4;
      background-color: #ffffff;
    }
  }

  .apple-alert {
    width: 240px;
    height: 34px;
    border-radius: 17px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #000;
    text-align: center;
    color: #ffd500;
    line-height: 34px;
    font-size: 14px;
  }
}
