@import "components/ui/_mixin.scss";


.switchList {
  position: relative;
  @include flex(center, space-between);
  width: 100%; height: 50px;
  padding: 0px 8px 0px 15px;
  margin-bottom: 8px;
  border-radius: 16px;
  background-color: #F8F8F8;
  box-sizing: border-box;
  &:last-child {
    margin-bottom: 0px;
  }
  .titleWrap {
    flex: 1;
    @include flex(center);
    .title {
      @include font(15px, $Medium, #303030);
    }
    .questionMark {
      display: inline-block;
      width: 20px; height: 20px;
      margin-right: 8px;
      background-image: url("https://image.dalbitlive.com/common/icon/icon-question-white.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .inputLabel {
    flex: none;
    @include flex(center);
    cursor: pointer;
    .blind {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      &:checked + .switchBtn {
        background: #FF3C7B;
        &::after {
          transform: translate(21px);
        }
      }
    }
    .switchBtn {
      flex: none;
      position: relative;
      width: 52px;
      height: 31px;
      border-radius: 100px;
      margin: 0 auto;
      background: #D2D2D4;
      transition: .2s cubic-bezier(.5,0,.5,1);
      &::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        transition: .3s cubic-bezier(.5,0,.5,1);
      }
    }
  }       
}