@import '../../styles/global.scss';
@import "components/ui/_mixin.scss";

#search {
  Header {
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    padding: 0 16px;
    h1 {
      @include flex(center, flex-start);
      width: 100%; height: 48px;
    }
    .searchField {
      @include flex(center, space-between);
      width: 100%;
      padding: 12px 0;
      box-sizing: border-box;
      .searchForm {
        flex: 1;
        position: relative;
        height: 40px;
        padding: 5px 30px 5px 40px;
        border-radius: 8px;
        background: url("data:image/svg+xml,%3Csvg id='Vrstva_92' data-name='Vrstva 92' xmlns='http://www.w3.org/2000/svg' width='35.768' height='35.768' viewBox='0 0 35.768 35.768'%3E%3Cg %3E%3Cg fill='none' stroke='%23acacac' stroke-width='2.5'%3E%3Ccircle cx='14.571' cy='14.571' r='14.571' stroke='none'/%3E%3Ccircle cx='14.571' cy='14.571' r='13.321' fill='none'/%3E%3C/g%3E%3Cline x2='9.714' y2='9.714' transform='translate(24.286 24.286)' fill='none' stroke='%23acacac' stroke-linecap='round' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A") #F6F6F6 no-repeat;
        background-position: 12px center;
        background-size: 18px 18px;
        .searchInput {
          width: 100%;
          @include font(13px, 400, #333333);
          line-height: 30px;
        }
        .removeValue {
          position: absolute;
          top: 50%; right: 10px;
          transform: translateY(-50%);
          display: inline-block;
          width: 14px; height: 14px;
          border-radius: 50%;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E%3Cg transform='translate(-564 -234)'%3E%3Ccircle cx='14' cy='14' r='14' transform='translate(564 234)' fill='%23acacac'/%3E%3Cg  transform='translate(-3162.443 1403)'%3E%3Crect width='17.998' height='1.8' rx='0.9' transform='translate(3733.444 -1149.273) rotate(-45)' fill='%23fff'/%3E%3Crect width='17.998' height='1.8' rx='0.9' transform='translate(3746.169 -1148.001) rotate(-135)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          cursor: pointer;
        }
      }
      .searchCancel {
        margin-left: 14px;
        @include font(13px, 400, #999999);
      }
    }
  }
  .content {
    position: relative;
    @include flex(flex-start, flex-start, column);
    width: 100%;
    box-sizing: border-box;

    .djSection {
      @include flex(flex-start, center, column);
      width: 100%;
      margin-bottom: 30px;
      
      .swipeTitle {
        width: 100%;
        @include font(20px, 500, #202020);
        padding-left: 16px;
        margin-bottom: 12px;
      }
      .swiper-container {
        width: 100%;
        padding-left: 16px;
        box-sizing: border-box;
      }    
      .swipeList {
        position: relative;
        @include flex(center, center, column);
        width: 87px;
        .swipeImg {
          display: inline-block;
          width: 87px;
          height: 87px;
          border-radius: 50%;
          border: 1px solid #eee;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .swipeText {
          @include flex(center);
          max-width: 100%;
          margin: 7px 0;
          .gender {
            flex: none;
            display: inline-block;
            width: 14px; height: 14px;
            margin-right: 2px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            &.male {
              background-image: url("data:image/svg+xml,%3Csvg id='ico_male' xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E%3Cg fill='none' stroke='%238989eb' stroke-width='2'%3E%3Crect width='28' height='28' rx='14' stroke='none'/%3E%3Crect x='1' y='1' width='26' height='26' rx='13' fill='none'/%3E%3C/g%3E%3Cpath d='M318.97,320.273v-4.822l2.229,2.229,1.739-1.738-5.2-5.2-5.2,5.2,1.739,1.738,2.229-2.229v4.822a4.885,4.885,0,1,0,2.459,0Zm-1.229,7.147a2.425,2.425,0,1,1,2.426-2.425A2.428,2.428,0,0,1,317.74,327.42Z' transform='translate(-303.74 -306.789)' fill='%238989eb'/%3E%3C/svg%3E%0A");
            }
            &.female {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E%3Cg id='ico_female' transform='translate(-259 -1931)'%3E%3Cg transform='translate(259 1931)' fill='none' stroke='%23ff927b' stroke-width='2'%3E%3Crect width='28' height='28' rx='14' stroke='none'/%3E%3Crect x='1' y='1' width='26' height='26' rx='13' fill='none'/%3E%3C/g%3E%3Cpath d='M402.731,322.425a5,5,0,1,0-2.517,0v1.356H397.73V326.3h2.483v4.66h2.517V326.3h2.483v-2.517h-2.483Zm-3.742-4.834a2.483,2.483,0,1,1,2.483,2.483A2.486,2.486,0,0,1,398.989,317.592Z' transform='translate(-128.473 1623.887)' fill='%23ff927b'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
          }
          .swipeNick {
            display: block;
            @include font(12px, 400, #666666);
            @include fontCut;
          }
        }
        .followBtn {
          @include flex(center, center);
          width: 68px; height: 25px;
          border: 1px solid #999999;
          border-radius: 100px;
          line-height: 23px;
          @include font(12px, 500, #999999);
          box-sizing: border-box;
        }
        .fanBtn {
          @include flex(center, center);
          width: 68px; height: 25px;
          background-color: #202020;
          border-radius: 100px;
          line-height: 25px;
          @include font(12px, 500, #fff);
          box-sizing: border-box;

        }
      }
    }

    .liveSection {
      @include flex(flex-start, center, column);
      width: 100%;
      margin-bottom: 30px;      
      .swipeTitle {
        width: 100%;
        @include font(20px, 500, #202020);
        padding-left: 16px;
        margin-bottom: 12px;
      }
      .swiper-container {
        width: 100%;
        padding-left: 16px;
        box-sizing: border-box;
      }    
      .swipeList {
        position: relative;
        @include flex(center, flex-end, column);
        width: 113px;
        height: 150px;
        border-radius: 16px;
        overflow: hidden;
        &::after {
          content: "";
          position: absolute;
          top: 0; left: 0;
          width: 100%; height: 100%;
          border-radius: 16px;
          background: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 40%);
          z-index: 1;
        }
        .videoTag {
          position: absolute;
          top: 6px; right: 6px;
          display: inline-block;
          width: 20px; height: 20px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40' height='40' viewBox='0 0 40 40'%3E%3Cdefs%3E%3Cfilter id='합치기_7' x='0.5' y='7.5' width='38.998' height='29.869' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='2' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='1.5' result='blur'/%3E%3CfeFlood flood-opacity='0.302'/%3E%3CfeComposite operator='in' in2='blur'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg id='ico_video' transform='translate(-201 -2218)' opacity='0.9'%3E%3Crect id='사각형_11639' data-name='사각형 11639' width='40' height='40' transform='translate(201 2218)' fill='%23fff' opacity='0'/%3E%3Cg id='그룹_35293' data-name='그룹 35293' transform='translate(-85 18)'%3E%3Cg id='그룹_34916' data-name='그룹 34916' transform='translate(290.999 2210)'%3E%3Cg transform='matrix(1, 0, 0, 1, -5, -10)' filter='url(%23합치기_7)'%3E%3Cpath id='합치기_7-2' data-name='합치기 7' d='M-7386,82.869a2,2,0,0,1-2-2V64a2,2,0,0,1,2-2h18.173a2,2,0,0,1,2,2V67.87l4.817-2.81A2,2,0,0,1-7358,66.786v11.3a2,2,0,0,1-3.007,1.726l-4.817-2.81v3.87a2,2,0,0,1-2,2Zm5.605-13.354v5.839a1,1,0,0,0,1,1,.987.987,0,0,0,.449-.108l5.815-2.918a.984.984,0,0,0,.55-.894.984.984,0,0,0-.55-.894l-5.815-2.92a1,1,0,0,0-.449-.108A1,1,0,0,0-7380.393,69.516Z' transform='translate(7393 -52)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
        .swipeText {
          width: 100%;
          padding: 8px; 
          @include font(13px, 500, #fff);
          @include fontCut;
          box-sizing: border-box;
          z-index: 2;
        }        
      }
    }

    .clipSection {
      @include flex(flex-start, center, column);
      width: 100%;
      margin-bottom: 30px;      
      .swipeTitle {
        width: 100%;
        @include font(20px, 500, #202020);
        padding-left: 16px;
        margin-bottom: 12px;
      }
      .swiper-container {
        width: 100%;
        padding-left: 16px;
        box-sizing: border-box;
      }    
      .swipeList {
        position: relative;
        @include flex(center, flex-end, column);
        width: 113px;
        .swipeImg {
          display: inline-block;
          width: 113px;
          height: 113px;
          border-radius: 16px;
          border: 1px solid #eee;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .swipeText {
          @include flex(flex-start, center, column);
          width: 100%;
          margin-top: 2px;
          .swipeNick {
            width: 100%;
            @include font(12px, 400, #666666);
            @include fontCut;
          }
          .swipeClip {
            width: 100%;
            @include font(14px, 700, #202020);
            @include fontCut;
          }
        }        
      }
    }

    .searchHistory {
      width: 100%;
      padding: 12px 16px;
      .titleWrap {
        @include flex(center, space-between);
        .title {
          @include font(20px, 500, #202020);
        }
        .removeAll {
          @include font(13px, 400, #999999);
          cursor: pointer;
        }
      }
      .historyWrap {
        position: relative;
        @include flex(center, center, column);
        width: 100%;
        padding: 20px 0;
        .historylist {
          width: 100%;
          margin-bottom: 20px;
          @include font(14px, 400, #43464A);
          cursor: pointer;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .searchResult {
      position: relative;
      @include flex(center, center, column);
      width: 100%;
      .tabmenu {
        @include flex(center);
        width: 100%;
        padding: 4px 16px;
        box-sizing: border-box;
        li {
          @include flex(center, center);
          height: 36px;
          padding: 0 15px;
          border-radius: 100px;
          margin-right: 4px;
          background-color: #F6F6F6;
          @include font(13px, 400, #ACACAC);
          &:last-child {
            margin-right: 0px;
          }
          &.active {
            background-color: #202020;
            @include font(13px, 500, #fff);
          }
        }
      }
    }
  }
}
