@import '../../styles/global.scss';
@import "components/ui/_mixin.scss";

$SEARCH-HEADER: 112px;

.container .totalWrap #searchPage .tabmenu {
  top: $GNB-HEIGHT + $SEARCH-HEADER !important;
}

/*
  피씨일때 헤더 없애기
*/
#root {
  .container {
    .totalWrap {
      #searchPage {
        header {
          .buttonGroup {
            display:none;
          }
        }
      }
    }
  }
}

#searchPage {
  header {
    flex-wrap:wrap;
    height: auto;
    h1 {
      height: $HEADER-HEIGHT;
    }
    .searchForm {
      position: relative;
      @include flex(center);
      width:100%;
      height:64px;
      padding-right: 10px;
      box-sizing: border-box;
      .inputItems {
        flex:1;
        margin-bottom:0;
        .inputBox {
          height:40px;
          &:before {
            content:"";
            width:40px;
            height:40px;
            background: url("https://image.dalbitlive.com/common/icon/icon-search.png") 12px center/17px no-repeat;
          }
          input {
            margin:0;
          }
          .inputDel {
            width:14px;height:14px;
            margin-right:8px;
          }
        }
      }
      .searchCancel {
        line-height:40px;
        margin-left: 14px;
        @include font(13px, 400, #999999);
      }
    }
  }
  section {
    position:relative;
    width:100%;
    margin-bottom: 44px;
  }
  .cntTitle {
    margin-bottom:12px;
  }
  .djSection {
    padding-top:10px;
    .listWrap {
      @include flex(center, center, column);
      .listColumn {
        width: 87px;
        /*cursor: pointer;*/
        .photo {
          position: relative;
          height:87px;          
          &::before {
            content: "";
            @include position-top-left;
            width: 100%; height: 100%;
            border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
            border-radius:50%;
            box-sizing: border-box;
          }
          img {
            border-radius:50%;
          }
        }
        .listItem {
          @include flex(center,center);
          width: 100%;
          height: 17px;
          margin: 6px 0;
          .nick {
            margin-left:4px;
            @include font(12px, 400, #666666);
            @include fontCut;
            line-height: 26px;
          }
        }      
      }
      button {
        width: 62px;
        line-height: 30px;
        background-color: #202020;
        @include border(#202020,100px);
        @include font(12px, 500, #fff);
        &.active {
          background-color: white;
          border-color: #E3E3E3;
          @include font(12px, 500, #303030);
        }
      }
    }    
  }
  .liveSection {
    .listColumn {
      width: 113px;
      height: 149px;
      border-radius: 16px;
      overflow: hidden;
      cursor: pointer;
      .photo {
        @include photoStyle(113px, 149px, 16px);
        img {
          width:auto;
        }
      }
      .nick {
        @include position-bottom-left;
        width:100%;
        padding:24px 8px 8px;
        background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
        @include font(13px, 500, #fff);
        @include fontCut;
      }
      .badgeVideo {
        @include position-top-right(6px,6px);
        width: 20px; height: 20px;
        @include BGIMG("common/broadcast/broadcastType-video.png");
      }
    }
  }
  .clipSection {
    .listColumn {
      width: 113px;
      cursor: pointer;
      .photo {
        position: relative;
        height:113px;
        &::before {
          content: "";
          @include position-top-left;
          width: 100%; height: 100%;
          border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
          border-radius:16px;
          box-sizing: border-box;
        }
        img {
          border-radius:16px;
        }
      }
      .title {
        width:100%;
        margin-top: 8px;
        line-height:22px;
        @include font(14px, 500, #202020);
        @include fontCut;
      }
      .nick {
        width:100%;
        line-height:20px;
        @include font(12px, 400, #666666);
        @include fontCut;
      }
    }
  }

  .searchHistory {
    padding-top:10px;
    .historyWrap {
      @include flex(center, center, column);
      width: 100%;
      padding: 20px 16px;
      .historylist {
        width: 100%;
        margin-bottom: 20px;
        @include font(14px, 400, #43464A);
        cursor: pointer;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  // searchResult page
  .tabmenu {
    position: sticky;
    top: 116px;
    @include flex(center);
    margin-bottom:18px;
    padding: 4px 16px;
    background-color: #FFF;
    z-index: $TAB-ZINDEX;
    li {
      @include flex(center, center);
      height: 36px;
      padding: 0 15px;
      border-radius: 100px;
      margin-right: 4px;
      margin-bottom: 5px;
      background-color: #F6F6F6;
      @include font(13px, 400, #ACACAC);
      &:last-child {
        margin-right: 0px;
      }
      &.active {
        background-color: #202020;
        @include font(13px, 500, #fff);
      }
    }
  }
  .djResult {
    .listRow {
      margin-bottom:16px;
      cursor: pointer;
      .photo {
        position: relative;
        width:64px;
        height:64px;
        &::before {
          content: "";
          @include position-top-left;
          width: 100%; height: 100%;
          border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
          border-radius:50%;
          box-sizing: border-box;
        }
        img {
          border-radius:50%;
        }
      }
      .listContent {
        margin-left:16px;
      }
    }
  }
  .liveResult {
    .listRow {
      align-items: normal;
      margin-bottom:12px;
      cursor: pointer;
      .listItem:nth-child(3) {
        margin-top: auto;
      }
      .title {
        @include fontLineCut();
        overflow: hidden;
      }
      .photo {
        position: relative;
        width:112px;
        height:112px;
        &::before {
          content: "";
          @include position-top-left;
          width: 100%; height: 100%;
          border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
          border-radius:16px;
          box-sizing: border-box;
        }
        img {
          border-radius:16px;
        }
      }
      .listContent {
        margin-left:16px;
        padding: 5px 0;
      }
    }
  }
  .clipResult {
    .listRow {
      margin-bottom:12px;
      cursor: pointer;
      .photo {
        position: relative;
        width:72px;
        height:72px;
        &::before {
          content: "";
          @include position-top-left;
          width: 100%; height: 100%;
          border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
          border-radius:16px;
          box-sizing: border-box;
        }
        img {
          border-radius:16px;
        }
      }
      .listContent {
        margin-left:12px;
        overflow: hidden;
        .listItem {
          margin-top: 4px;
        }
        .title {
          @include fontCut();
        }
      }
    }
  }
}
