@import "components/ui/_mixin.scss";

#mainPage {
  .headerWrap {
    position:fixed;
    z-index:$HEADER-ZINDEX;
    width:100%;
    header {
      text-indent:-99999px;
      .ranking {background-image:url("#{$IMGSERVER}/common/header/icoRank-w.png");}
      .message {background-image:url("#{$IMGSERVER}/common/header/icoMessage-w.png");}
      .alarm {background-image:url("#{$IMGSERVER}/common/header/icoAlarm-w.png");}
    }
    &.isShow {
      header {
        background-color:white;
        h1 {
          width:71px;height:25px;
          @include BGIMG("common/header/LOGO.png");
        }
        .ranking {background-image:url("#{$IMGSERVER}/common/header/icoRank-b.png");}
        .message {background-image:url("#{$IMGSERVER}/common/header/icoMessage-b.png");}
        .alarm {background-image:url("#{$IMGSERVER}/common/header/icoAlarm-b.png");}
      }
    }
  }
  section {
    position:relative;
    margin-bottom:44px;
  }
  .topSwiper {
    max-width:480px;
    height:360px;
    margin-bottom:28px;
    .swiper-slide {
      cursor:pointer;
      &:active {
        cursor:grab;
      }
      .listColumn {
        @include flex(center,center);
        width:100%;
        .photo {
          position:relative;
          @include flex(center,center);
          width:100%;
          height:360px;
          @mixin whiteScreen {
            position:absolute;
            left:0;
            display:block;
            content:'';
            width:100%;
            height:50%;
          }
          &::after {
            @include whiteScreen;
            bottom:0;
            background-image:linear-gradient(to top,
             rgba(255,255,255,1) 0%,
             rgba(255,255,255,0.9) 20%,
             rgba(255,255,255,0.7) 40%,
             rgba(255,255,255,0.4) 60%,
              rgba(255,255,255,0) 100%);
          }
          &::before{display:none;}
          img {
            width:100%;
            height:100%;
            object-fit: cover;
          }
        }
        .info {
          @include position-bottom-left;
          @include flex(flex-start,center,column);
          width:100%;
          padding: 25px 16px 12px;
          // transform:translateX(30%);
          // transition: transform .7s ease-out;
          .badgeGroup {
            @include flex(center);
            margin-bottom: 8px;
            height:16px;
          }
          .title {
            width:72%;
            line-height:30px;
            margin-bottom:6px;
            @include font(22px,$SemiBold,#202020);
            @include fontLineCut;
          }
          .nick {
            width:72%;
            line-height:24px;
            opacity:.7;
            @include font(15px,$Regular,#202020);
            @include fontCut;
          }
        }
      }
      // main slide 애니메이션 지우지 마시오!! 후반에 추가
      // &-active {
      //   .listColumn {
      //     .info {
      //       transform:translateX(0);
      //     }
      //   }
      // }
      // &-duplicate-active {
      //   .listColumn {
      //     .info {
      //       transform:translateX(0);
      //     }
      //   }
      // }
    }

    .swiper-pagination {
      position: absolute;
      left: auto;
      right: 0;
      width: auto;
      height: 20px;
      line-height: 20px;
      padding: 0 8px 0 10px;
      border-radius: 100px 0 0 100px;
      font-size: 12px;
      font-weight: 400;
      color: white;
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }
    .empty {
      width:100%;
      height:100%;
      background-color:#f5f5f5;
    }
  }
  .favorites {
    margin-bottom:0;
    .swiper-wrapper {
      padding-left:16px;
      margin-bottom:35px;
      .swiper-slide {
        width:auto;
        margin-right:10px;
        &:last-child {
          margin-right:28px;
        }
        .listColumn {
          width:68px;
          cursor: pointer;
          .photo {
            @include flex(center,center);
            height:68px;
            margin-bottom:2px;
            background-image: linear-gradient(to bottom,#FF3C7B,#FF8565) !important;
            background-origin: border-box;
            background-clip: border-box;
            overflow:hidden;
            @include border(transparent,50%,2px);
            img {
              width:58px;
              height:58px;
              object-fit: cover;
              background-color: white;
              @include border(white,50%,3px);
            }
          }
          p {
            @include font(12px,$Regular,#303030);
            @include fontCut;
          }
        }
      }
    }
    .empty {
      display:none;
    }
  }
  .top10 {
    .cntTitle {
      margin-bottom:12px;
      .tabmenu {
        @include flex(center);
        height:20px;
        margin-left:12px;
        li {
          position:relative;
          padding: 0 8px;
          @include font(14px,$Medium,#666);
          &.active {
            font-weight:500;
            color:$MAINCOLOR;
          }
          &:after {
            position:absolute;
            top:5px;
            right:0;
            display:block;
            content:'';
            width:1px;
            height:10px;
            background-color:#ccc;
          }
          &:last-child:after {
            display:none;
          }
        }
      }
    }
    .swiper-container {
      .swiper-wrapper {
        padding-left:16px;
        .swiper-slide {
          width:auto;
          margin-right:12px;
          &:last-child {
            margin-right:28px;
          }
          .listColumn {
            width:113px;
            cursor: pointer;
            .photo {
              position:relative;
              height:149px;
              margin-bottom:6px;
              border-radius:16px;
              overflow:hidden;
              &::before {
                content: "";
                @include position-top-left;
                width: 100%; height: 100%;
                border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
                border-radius:16px;
                box-sizing: border-box;
              }
              &::after {
                content:"";
                @include position-bottom-left;
                width:100%;
                height:55px;
                background-image:linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
                opacity: .5;
              }
              img {
                height:100%;
                object-fit: cover;
              }
              @mixin RANKIMG($value) {
                @include position-bottom-right;
                z-index: 1;
                width:100%;
                height:55px;
                padding: 0 8px 8px;
                @include BGIMG("#{$value}");
                background-size:49px 47px;
                background-position:calc(100% - 8px) top;
              }
              @for $i from 1 through 10 {
                .rank-#{$i} {
                  @include RANKIMG('main/dalla/number_W-#{$i}.png');
                }
              }
            }
            p {
              line-height:20px;
              @include font(15px,400,#303030);
              @include fontCut;
            }
          }
        }
      }
    }
    .empty {
      width:100%;
      height:60px;
      text-indent:20px;
      @include font(15px,400,#999);
    }
  }
  .daldungs {
    .cntTitle {
      margin-bottom:12px;
    }
    .swiper-wrapper {
      padding-left:16px;
      .swiper-slide {
        width:auto;
        margin-right:12px;
        &:last-child {
          margin-right:28px;
        }
        .listColumn {
          width:113px;
          border-radius:16px;
          overflow:hidden;
          cursor: pointer;
          .photo {
            height:149px;
            &::before {
              content: "";
              @include position-top-left;
              width: 100%; height: 100%;
              border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
              border-radius:16px;
              box-sizing: border-box;
            }
            img {
              height:100%;
              object-fit: cover;
            }
            .video {
              @include position-top-right;
              width:20px;
              height:20px;
              margin:6px;
              @include BGIMG("common/icon/ico_video.png");
            }
          }
          p {
            position:absolute;
            bottom:0;
            padding:24px 8px 8px;
            background-image:linear-gradient(to bottom,transparent,rgba(0,0,0,.5));
            text-align:left;
            @include font(13px,$Medium,white);
            @include fontCut;
          }
        }
      }
    }
    .empty {
      width:100%;
      height:60px;
      text-indent:20px;
      @include font(15px,400,#999);
    }
  }
  .liveView {
    .cntTitle {
      margin-bottom:8px;
    }
    .tabmenuWrap {
      position:relative;
      top:0;
      height:48px;
      &.isFixed {
        position:sticky;
        top:$HEADER-HEIGHT;
        width:100%;
        z-index: 10;
      }
      .tabmenu {
        @include flex(center);
        padding:0 16px;
        background-color:white;
        li {
          position:relative;
          flex:1;
          line-height:48px;
          text-align:center;
          @include font(16px,$SemiBold,#ACACAC);
          &.active {
            font-weight:$Bold;
            color:#202020;
            border-bottom-color:#202020;
            &::after {
              content:"";
              @include position-horizon;
              bottom:6px;
              width:30px;
              height:4px;
              border-radius:100px;
              background-color:$MAINCOLOR;
            }
          }
        }
      }
    }
    .liveListWrap {
      padding: 16px;
      .listRow {
        @include flex(center);
        height:110px;
        margin-bottom:12px;
        cursor: pointer;
        .photo {
          position:relative;
          flex-shrink: 0;
          width:110px;
          height:110px;
          &::before {
            content: "";
            @include position-top-left;
            width: 100%; height: 100%;
            border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
            border-radius:16px;
            box-sizing: border-box;
          }
          img {
            width:100%;
            border-radius:16px;
          }
          .guest {
            @include position-bottom-right;
            width:48px;
            height:48px;
            @include border(white,8px,2px);
          }
          .video {
            @include position-top-right;
            width:20px;
            height:20px;
            margin:6px;
            @include BGIMG("common/icon/ico_video.png");
          }
        }
        .listContent {
          flex: 1;
          @include flex($fd:column);
          min-width:0;
          height:100%;
          padding: 8px 0;
          margin-left:16px;
          box-sizing: border-box;
          .listItem {
            @include flex(center);
            min-height:2px;
            margin-bottom:2px;
            &:nth-child(3) {
              margin-top: auto;
            }
            .title {
              @include font(15px,700,#303030);
              @include fontCut;
            }
            .nickNm {
              margin-left:4px;
              @include font(13px,400,#666);
              @include fontCut;
            }
            .state {
              @include font(13px,400,#999);
            }
          }
        }
      }      
    }
  } 
}
.floatingEvent {
  position: fixed;
  bottom: 15%;
  width: 100%; max-width: 480px;
  z-index: 20;
  .floatingWrap {
    position: relative;
    .fixedButton {
      position: absolute;
      right: 10px;
      z-index: 13;
      width: 48px;
      .attendStampActive {
        width: 48px;
        height: 48px;
        cursor: pointer;
        margin: 5px 0 0;
    
        &.basic {
          background: url("https://image.dalbitlive.com/event/attend/200811/icon_button@2x.png")
            center no-repeat;
          background-size: 100%;
        }
    
        &.motion {
          width: 48px;
          height: 48px;
          position: relative;
    
          &::after {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            overflow: hidden;
            content: "";
            background: url("https://image.dalbitlive.com/event/attend/201126/new_icon_roulette_01.png")
              center no-repeat;
            background-size: 48px;
            animation: rotate_image 1s linear infinite;
            transform-origin: 50% 50%;
            @keyframes rotate_image {
              100% {
                transform: rotate(360deg);
              }
            }
          }
          &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 48px;
            height: 48px;
            z-index: 1;
            background: url("https://image.dalbitlive.com/event/attend/201126/new_icon_roulette_02.png")
              center no-repeat;
            background-size: 60px;
          }
        }
      }
    }
  }  
}

@keyframes fadeIn {
  0% {
    border-bottom:1px solid transparent;
    background-color:transparent;
  }
  100% {
    border-bottom:1px solid #eee;
    background-color:white;
  }
}
@keyframes fadeOut {
  0% {
    border-bottom:1px solid #eee;
    background-color:white;

  }
  100% {
    border-bottom:1px solid transparent;
    background-color:transparent;

  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// 반응형 스타일
/* 피씨일때 헤더 없애기 */
.pcType {
  .refresh-wrap {
    display:none;
  }
  #mainPage {
    header {display:none;}
    .tabmenuWrap.isFixed {
      top: $GNB-HEIGHT;
      max-width:480px;
    }
  }
}
// 방송방 들어갔다 뒤로가기 하면 Swiper 에서 slide를 화면 100%잡아서 max-width:480px 을 주고, 모바일은 태블릿에서 볼때를 대비해 max-width:100%를 따로 줌
.mobileType {
  #mainPage {
    .topSwiper {
      max-width:100%;
    }
  }
}