@import "components/ui/_mixin.scss";

#mainPage {
  .headerWrap {
    position:fixed;
    z-index:$HEADER-ZINDEX;
    width:100%;
    header {
      text-indent:-99999px;
      .store {background-image:url("#{$IMGSERVER}/common/header/icoStore-w.png");
        &.bonus {
          position: relative;
          &::after {
            content: "SALE";
            @include position-horizon($bottom: 0px);
            @include flex(center, center);
            height: 16px;
            padding: 0px 5px;
            border-radius: 100px;
            @include font(11px, 700, #FFF);
            background-color: #FF1919;
          }
        }
      }
      .ranking {background-image:url("#{$IMGSERVER}/common/header/icoRank-w.png");}
      .message {background-image:url("#{$IMGSERVER}/common/header/icoMessage-w.png");}
      .alarm {background-image:url("#{$IMGSERVER}/common/header/icoAlarm-w.png");}
    }
    &.isShow {
      header {
        background-color:white;
        h1 {
          width:71px;height:25px;
          @include BGIMG("common/header/LOGO.png");
        }
        .store {background-image:url("#{$IMGSERVER}/common/header/icoStore-b.png");}
        .ranking {background-image:url("#{$IMGSERVER}/common/header/icoRank-b.png");}
        .message {background-image:url("#{$IMGSERVER}/common/header/icoMessage-b.png");}
        .alarm {background-image:url("#{$IMGSERVER}/common/header/icoAlarm-b.png");}
      }
    }
  }
  section {
    position:relative;
    margin-bottom:32px;
    &:last-child {
      margin-bottom:0px;
    }
  }
  // 탭메뉴 
  @import "./scss/tabmenu.scss";
  // 서브 탭메뉴
  @import "./scss/subTabmenu.scss";
  
  // 메인슬라이드
  @import "./scss/mainSwiper.scss";
  // 마이스타 
  @import "./scss/favoriteSwiper.scss";
  // 탑 10
  @import "./scss/toptenSwiper.scss";
  // 라이브
  @import "./scss/liveContents.scss";
}

// 플로팅 버튼 (출석체크 버튼)
@import "./scss/floatingBtn.scss";

// 반응형 스타일
/* 피씨일때 헤더 없애기 */
.pcType {
  .refresh-wrap {
    display:none;
  }
  #mainPage {
    header {display:none;}
    .tabmenuWrap {
      top: $GNB-HEIGHT;
      max-width:480px;
    }
  }
  #floatingEvent {
    max-width:480px;
  }
}
// 방송방 들어갔다 뒤로가기 하면 Swiper 에서 slide를 화면 100%잡아서 max-width:480px 을 주고, 모바일은 태블릿에서 볼때를 대비해 max-width:100%를 따로 줌
.mobileType {
  #mainPage {
    .mainSwiper {
      max-width:100%;
    }
  }
}