@import "components/ui/_mixin.scss";

#main {
  // max-width:480px;
  // margin: 0 auto;
  // border-left:1px solid #ddd;
  // border-right:1px solid #ddd;
  // background-color: $MAINCOLOR;
  // font-family: 'NotoSansKR', sans-serif;
  .headerWrap1 {
    position:fixed;
    z-index:10000;
    width:100%;
    header {
      text-indent:-99999px;
      .ranking {background-image:url("#{$IMGSERVER}/common/header/icoRank-w.png");}
      .message {background-image:url("#{$IMGSERVER}/common/header/icoMessage-w.png");}
      .alarm {background-image:url("#{$IMGSERVER}/common/header/icoAlarm-w.png");}
    }
    &.isShow {
      header {
        border-bottom:1px solid #eee;
        background-color:white;
        h1 {
          width:71px;height:25px;
          // @include BGING('common/header/LOGO.png');
          background-color:#ddd;
        }
        .ranking {background-image:url("#{$IMGSERVER}/common/header/icoRank-b.png");}
        .message {background-image:url("#{$IMGSERVER}/common/header/icoMessage-b.png");}
        .alarm {background-image:url("#{$IMGSERVER}/common/header/icoAlarm-b.png");}
      }
    }
  }
  section {
    position:relative;
    margin-bottom:35px;
  }
  .topSwiper {
    width:100%;
    height:360px;
    .photo {
      position:relative;
      width:100%;
      height:360px;
      @mixin whiteScreen {
        position:absolute;
        left:0;
        display:block;
        content:'';
        width:100%;
        height:150px;
      }
      &:after {
        @include whiteScreen;
        bottom:0;
        background-image:linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,.8) 20%, transparent);
      }
      img {
        width:100%;
        height:100%;
        object-fit: cover;
      }
    }
    .swiper-pagination {
      @include swiperPagination;
      bottom:30px;
      z-index:1;
      display:inline-block;
    }
    .info {
      position:absolute;
      bottom:0;
      left:0;
      @include flex(flex-start,center,column);
      width:100%;
      padding: 25px 16px 12px;
      .badge {
        display:inline-block;
        height:16px;
        background-color:#FF41EC;
      }
      .title {
        width:72%;
        line-height:30px;
        margin-bottom:6px;
        @include font(22px,500,#202020);
      }
      .nick {
        width:72%;
        line-height:24px;
        opacity:.7;
        @include font(15px,400,#202020);
        @include fontCut;
      }
    }
  }
  .favorites {
    .swiper-wrapper {
      padding-left:16px;
      .swiper-slide {
        width:auto;
        margin-right:10px;
        &:last-child {
          margin-right:28px;
        }
        .listColumn {
          width:68px;
          .photo {
            margin-bottom:2px;
            background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom,#B620FF,#FF41EC) !important;
            background-origin: border-box;
            background-clip: content-box, border-box;
            overflow:hidden;
            @include border(transparent,50%,2px);
            img {
              @include border(#fff,50%,3px);
            }
          }
          p {
            @include font(12px,400,#303030);
            @include fontCut;
          }
        }
      }
    }
  }
  .top10 {
    .cntTitle {
      margin-bottom:12px;
      .tabmenu {
        @include flex(center);
        height:20px;
        margin-left:12px;
        li {
          position:relative;
          padding: 0 8px;
          @include font(14px,400,#666);
          &.active {
            font-weight:500;
            color:#B620FF;
          }
          &:after {
            position:absolute;
            top:5px;
            right:0;
            display:block;
            content:'';
            width:1px;
            height:10px;
            background-color:#ccc;
          }
          &:last-child:after {
            display:none;
          }
        }
      }
    }
    .swiper-container {
      .swiper-wrapper {
        padding-left:16px;
        .swiper-slide {
          width:auto;
          margin-right:10px;
          &:last-child {
            margin-right:28px;
          }
          .listColumn {
            width:102px;
            .photo {
              position:relative;
              height:136px;
              margin-bottom:6px;
              border-radius:8px;
              overflow:hidden;
              img {
                height:100%;
                object-fit: cover;
              }
              @mixin RANKIMG($value) {
                @include position-bottom-right(8px,8px);
                width:30px;
                height:40px;
                @include BGIMG("#{$value}");
                background-size:auto 100%;
                background-position: right bottom;
              }
              @for $i from 1 through 10 {
                .rank-#{$i} {
                  @include RANKIMG('clip/dalla/number-#{$i}.png');
                }
              }
            }
            p {
              @include font(15px,400,#303030);
              @include fontCut;
            }
          }
        }
      }
    }
  }
  .daldungs {
    .cntTitle {
      margin-bottom:12px;
    }
    .swiper-wrapper {
      padding-left:16px;
      .swiper-slide {
        width:auto;
        margin-right:8px;
        &:last-child {
          margin-right:28px;
        }
        .listColumn {
          width:102px;
          border-radius:8px;
          overflow:hidden;
          .photo {
            height:150px;
            img {
              height:100%;
              object-fit: cover;
            }
          }
          p {
            position:absolute;
            bottom:0;
            padding:24px 8px 8px;
            background-image:linear-gradient(to bottom,transparent,rgba(0,0,0,.5));
            text-align:left;
            @include font(13px,500,#fff);
            @include fontCut;
          }
        }
      }
    }
  }
  .bannerWrap {
    padding:0 16px;
  }
  .liveView {
    .cntTitle {
      margin-bottom:8px;
    }
    .tabmenu {
      @include flex(center);
      padding:0 16px;
      li {
        flex:1;
        height:40px;
        line-height:40px;
        border-bottom:2px solid #F2F2F2;
        text-align:center;
        @include font(16px,500,#ACACAC);
        &.active {
          color:#202020;
          border-bottom-color:#202020;
        }
      }
    }
    .liveListWrap {
      padding: 16px;
      .listRow {
        @include flex(center);
        height:110px;
        margin-bottom:12px;
        .photo {
          width:110px;
          height:110px;
          border-radius:8px;
          overflow:hidden;
          img {
            width:100%;
          }
        }
      }
      .listContent {
        @include flex($fd:column);
        min-width:0;
        height:100%;
        margin-left:16px;
        .listItem {
          @include flex(center);
          min-height:2px;
          margin-bottom:2px;
          &:last-child {
            margin-top: auto;
          }
          .title {
            @include font(15px,700,#303030);
            @include fontCut;
          }
          .nickNm {
            margin-left:4px;
            @include font(13px,400,#666);
            @include fontCut;
          }
          .state {
            @include font(13px,400,#999);
          }
        }
      }
    }
  }
}
