@import "components/ui/_mixin.scss";

#bankTransfer {
  .infoInput {
    @include flex($fd:column);
    padding:12px 16px 0;
    .inputItems{
      margin-bottom: 15px;
      &:first-child{margin-top: 0;}
      .inputBox {
        p {
          @include font(15px,500,#303030);
          padding:0 16px;
          span {
            font-size:13px;
          }
        }
      }
    }
    .tabmenuWrap {
      position: relative;
      @include flex($fd:column);
      .title {
        margin-bottom:4px;
        @include font(13px,400,#666);
      }
      .tabmenu {
        display: flex;
        li {
          position: relative;
          @include flex(center,center);
          height:36px;
          line-height:34px;
          margin-right:4px;
          padding:0 15px;
          @include border(#e3e3e3,18px);
          @include font(13px,400,rgb(10, 10, 10));
          &.active {
            border-color:black;
            background: black;
            @include font(13px,500,white);
          }
        }
      }
    }
    .cashReceipt{
      margin-top: 8px;
      .inputItems {
        margin-bottom:0;
      }
    }
    .submitBtn{margin-top: 20px}
  }
  // 유의사항
  @include noticeInfo;
  
  .bottomInfo{
    border-top:1px solid #f5f5f5;
    padding-top:15px;
    .inspectionTime{
      display: flex;
      justify-content:center;
      align-items:center;
      height: 30px;
      margin-left: auto;
      @include font(13px,500,#666);
      font-size: 13px;
      font-weight:500;
      color: #666;
      border:1px solid #e3e3e3;
      border-radius: 18px;
      padding:0 13px;
    }
  }
}