@import "components/ui/_mixin.scss";


.cntTitle {
  @include flex(center);
  height:24px;
  padding: 0 16px;
  h2 {
    letter-spacing: -1.5px;
    @include font(20px,500,black);
  }
  button {
    margin-left: auto;
    letter-spacing: -1px;
    @include font(13px,400,#999);
  }
}
.listColumn {
  flex:none;
  @include flex(center,center,column);
  min-width: 0;
  .photo {
    width:100%;
    height:100%;
    img {
      width:100%;
    }
  }
  p {
    width:100%;
    text-align:center;
    @include fontCut;
  }
}

#remain {
  // background-color: $MAINCOLOR;
  font-family: 'NotoSansKR', sans-serif;
  section {
    position:relative;
  }
  .topSwiper {
    width:100%;
    img {
      width:100%;
    }
  }
  .favorites {
    .swiperWrap {
      @include flex(center);
      .listColumn {
        width:68px;
        .photo {
          background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom,#B620FF,#FF41EC);
          background-origin: border-box;
          background-clip: content-box, border-box;
          overflow:hidden;
          @include border(transparent,50%,2px);
          img {
            @include border(#fff,50%,2px);
          }
        }
        p {
          @include font(12px,400,#303030);
        }
      }
    }
  }
  .top10 {
    .cntTitle {
      .tabmenu {
        @include flex(center);
        margin-left:12px;
        li {
          position:relative;
          padding: 0 8px;
          @include font(14px,400,#666);
          &.active {
            font-weight:500;
            color:#B620FF;
          }
          &:after {
            position:absolute;
            top:5px;
            right:0;
            display:block;
            content:'';
            width:1px;
            height:10px;
            background-color:#ccc;
          }
          &:last-child:after {
            display:none;
          }
        }
      }
    }
    .swiperWrap {
      @include flex(center);
      .listColumn {
        @include flex(center,center);
        width:102px;
        height:136px;
        .photo {
          img {
            width:auto;
            height:100%;
            border-radius:8px;
            object-fit: cover;
          }
        }
        p {
          @include font(12px,400,#303030);
        }
      }
    }
  }
}
