@import "components/ui/_mixin.scss";


.cntTitle {
  @include flex(center);
  padding: 0 16px;
  h2 {
    height:28px;
    line-height:28px;
    letter-spacing: -1.5px;
    @include font(20px,500,black);
  }
  button {
    margin-left: auto;
    letter-spacing: -1px;
    @include font(13px,400,#999);
  }
}
.listColumn {
  flex:none;
  @include flex(center,center,column);
  min-width: 0;
  .photo {
    width:100%;
    height:100%;
    img {
      width:100%;
    }
  }
  p {
    width:100%;
    text-align:center;
    @include fontCut;
  }
}

#remain {
  // background-color: $MAINCOLOR;
  font-family: 'NotoSansKR', sans-serif;
  section {
    position:relative;
    margin-bottom:35px;
  }
  .topSwiper {
    width:100%;
    img {
      width:100%;
    }
  }
  .favorites {
    .swiper-wrapper {
      padding-left:16px;
      .listColumn {
        width:68px;
        margin-right:12px;
        &:last-child {
          margin-right:28px;
        }
        .photo {
          background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom,#B620FF,#FF41EC) !important;
          background-origin: border-box;
          background-clip: content-box, border-box;
          overflow:hidden;
          @include border(transparent,50%,2px);
          img {
            @include border(#fff,50%,3px);
          }
        }
        p {
          @include font(12px,400,#303030);
        }
      }
    }
  }
  .top10 {
    .cntTitle {
      margin-bottom:12px;
      .tabmenu {
        @include flex(center);
        height:20px;
        margin-left:12px;
        li {
          position:relative;
          padding: 0 8px;
          @include font(14px,400,#666);
          &.active {
            font-weight:500;
            color:#B620FF;
          }
          &:after {
            position:absolute;
            top:5px;
            right:0;
            display:block;
            content:'';
            width:1px;
            height:10px;
            background-color:#ccc;
          }
          &:last-child:after {
            display:none;
          }
        }
      }
    }
    .swiper-wrapper {
      padding-left:16px;
      .listColumn {
        width:102px;
        margin-right:10px;
        &:last-child {
          margin-right:28px;
        }
        .photo {
          height:136px;
          margin-bottom:6px;
          background-position:center;
          background-size:cover;
          background-repeat:no-repeat;
          border-radius:8px;
          overflow:hidden;
          img {
            height:100%;
            object-fit: cover;
          }
        }
        p {
          @include font(15px,400,#303030);
        }
      }
    }
  }
  .daldungs {
    .cntTitle {
      margin-bottom:12px;
    }
    .swiper-wrapper {
      padding-left:16px;
      .listColumn {
        position:relative;
        width:102px;
        margin-right:8px;
        border-radius:8px;
        overflow:hidden;
        &:last-child {
          margin-right:28px;
        }
        .photo {
          height:150px;
          @include backgroundPSR;
          img {
            height:100%;
            object-fit: cover;
          }
        }
        p {
          position:absolute;
          bottom:0;
          padding:24px 8px 8px;
          background-image:linear-gradient(to bottom,transparent,rgba(0,0,0,.5));
          @include font(13px,500,#fff);
        }
      }
    }
  }
  .liveView {
    .cntTitle {
      button {
        display:none;
      }
    }
  }
}
