@import '../../styles/variables';
@import "components/ui/_mixin.scss";

#loginPage {
  position: relative;
  @include flex(center, center);
  height: 100vh;
  background-color: #fff;

  .btnHome {
    position: absolute;
    top: 4px;
    left: 4px;
    display: inline-block;
    width: 40px; height: 40px;
    background-image: url(https://image.dalbitlive.com/svg/icon_back_black.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px 36px;
  }

  .loginForm {
    position: relative;
    @include flex(center, center, column);
    overflow: hidden;
    width: 100%;
    min-height: 455px;
    padding: 0 5%;
    min-height: 455px;
    text-align: center;
    box-sizing: border-box;

    .loginLogo {
      @include flex(center, center, column);
      margin-bottom: 30%;
      p {
        @include font(16px, 400, #202328);
        margin-bottom: 8px;
      }
      img {
        width: 180px;
      }
    }

    .socialLogin {
      position: relative;
      @include flex(center, center, column);
      width: 100%;

      button {
        @include flex(center, center);
        width: 100%;
        height: 48px;
        padding: 6px 16px;
        margin-bottom: 8px;
        border-radius: 8px;
        border: 1px solid #CBD0D5;
        @include font(15px, 400, #202020);
        box-sizing: border-box;

        &:last-child {
          margin-bottom: 0px;
        }

        img {
          display: inline-block;
          width: 30px; height: 30px;
        }
        span {
          flex: 1;
          line-height: 36px;
        }
      }

      .social-apple-btn {
        background-color: $black;
        color: #FFF;
        border: none;
      }

      .social-kakao-btn {
        background-color: #f9e000;
        color: #381e1f;
        border: none;
      }

      .social-more-btn {
        background-color: $white;
        color: $greishBrown;
      }

      .moreAnimation {
        position: relative;
        width: 100%;
        margin-top: 10px;
        animation: iosMoreAnim 0.8s;
        overflow: hidden;

        &.ios {
          animation: iosMoreAnim 0.8s;
        }
      }

      @keyframes moreAnim {
        0% {
          height: 90px;
        }

        100% {
          height: 300px;
        }
      }

      @keyframes iosMoreAnim {
        0% {
          height: 140px;
        }

        100% {
          height: 300px;
        }
      }
    }

    h1 {
      // margin-bottom: auto;
      margin-bottom: 16px;
      cursor: pointer;

      img {
        display: block;
        // width: 100px;
        margin: 0 auto;
      }
    }

    &__msg {
      margin-bottom: auto;
      font-size: 20px;
      line-height: 25px;
      font-weight: $light;
      color: $white;
      letter-spacing: -1px;
      span {
        font-weight: $bold;
      }
    }

    .header {
      position: absolute;
      width: 100%;
      top: 20px;
      left: 0;
      .inner {
        display: flex;
        padding: 0 45px;
      }

      .close-btn {
        width: 40px;
        height: 40px;
      }

      h1 {
        margin-left: auto;
        font-size: 20px;
        font-weight: bold;
        color: $white;
        line-height: 40px;
      }
    }

    .logo {
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
      width: 126px;
    }

    .logo_text {
      width: 126px;
      display: block;
      margin: 0 auto;
    }

    .link-wrap {
      display: flex;
      justify-content: center;
      align-items: center;

      .link-text {
        color: $white;
        font-size: 14px;
        font-weight: bold;

        &.yellow {
          color: #febd56;
        }
      }

      .bar {
        width: 1px;
        height: 12px;
        background-color: $white;
        margin: 0 9px;
        opacity: 0.2;
      }
    }

    .signupButton {
      a {
        display: block;
        margin: 20px auto 0px auto;
        width: 260px;
        height: 48px;
        line-height: 48px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border-radius: 28px;
        color: $white;
        background: linear-gradient(90deg, #ec455f 14%, #febd56 87%);
      }
    }
    

    .apple-alert {
      width: 100%;
      border-radius: 17px;
      margin: 0 0 10px;
      padding: 8px 0;
      background-color: $black;
      text-align: center;
      color: #ffd500;
      font-size: 12px;
      letter-spacing: -1.5px;
      white-space: nowrap;
    }
  }

  #layerPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 60;
    display: flex;
    justify-content: center;
    align-items: center;

    .btnClose {
      position: absolute;
      top: -40px;
      right: 0px;
      width: 32px;
      height: 32px;
      text-indent: -9999px;
      background: url(https://image.dalbitlive.com/svg/close_w_l.svg) no-repeat 0 0;
    }

    .layerContainer {
      position: relative;
      // width: 100%;
      min-width: 320px;
      max-width: 360px;
      border-radius: 16px;
      box-sizing: border-box;

      .loginPopup {
        position: relative;
        padding: 20% 10%;
        text-align: center;
        color: $white;
        background: url('https://image.dalbitlive.com/main/common/bg_login.svg') no-repeat;
        background-size: cover;
        border-radius: 16px;

        &__logoBox {
          padding-bottom: 28px;
          text-align: center;

          img {
            display: block;
            width: 130px;
            margin: 0 auto;
          }
        }

        .input-wrap {
          margin: 0 auto;
          padding-bottom: 16px;

          input {
            display: block;
            border: 1px solid $white;
            width: 100%;
            height: 24px;
            padding: 23px 24px;
            line-height: 24px;
            border-radius: 25px;
            color: $white;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: -0.4px;
            background: none;
            border-color: rgba(255, 255, 255, 0.5);
          }

          :focus {
            border-color: rgba(255, 255, 255, 1);
          }
          input::placeholder {
            color: $white;
            font-size: 14px;
            font-weight: 400;
          }
          input[type='password'] {
            margin-top: 8px;
            &::placeholder {
              color: $white;
              font-size: 14px;
              font-weight: 400;
            }
          }
          .login-btn {
            display: block;
            margin-top: 8px;
            width: 100%;
            height: 48px;
            line-height: 48px;
            background-color: rgba(255, 255, 255, 0.8);
            color: $primary;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: -0.5px;
            border-radius: 25px;
          }
        }
      }
    }
  }

  #login {
    width: 100%;
    height: 100%;
    background: url('https://image.dalbitlive.com/images/login/login_bg.png') center no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    section {
      position: relative;
      width: 260px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      box-sizing: border-box;
      margin: 0px 50px;
      margin: auto;
    }
  }

  // .newLogin {
  //   &__top {
  //     position: absolute;
  //     top: 0px;
  //     width: 100%;
  //   }

  //   &__center {
  //     margin-top: 20px;
  //   }

  //   &__title {
  //     display: flex;
  //     justify-content: space-between;
  //     margin-top: 20px;

  //     button {
  //       width: 40px;
  //       height: 40px;
  //       background: url('https://image.dalbitlive.com/svg/icon_back_white.svg') center no-repeat;
  //       text-indent: -99999px;
  //     }
  //     h2 {
  //       font-size: 16px;
  //       height: 40px;
  //       line-height: 40px;
  //       padding: 20 0px;
  //       color: $white;
  //       font-weight: normal;
  //     }
  //   }

  //   &__img {
  //     width: 142px;
  //     height: 142px;
  //     margin: auto;
  //     background: url('https://image.dalbitlive.com/images/login/login_img.png') center no-repeat;
  //     text-indent: -99999px;
  //   }

  //   &__logo {
  //     width: 90px;
  //     height: 18px;
  //     margin: auto;
  //     margin-bottom: 20px;
  //     background: url('https://image.dalbitlive.com/svg/login_logo.svg') center no-repeat;
  //     text-indent: -99999px;
  //   }

  //   &__input {
  //     display: flex;
  //     align-items: center;
  //     width: 100%;
  //     border-radius: 25px;
  //     margin-bottom: 8px;
  //     padding: 11px 24px;
  //     box-sizing: border-box;
  //     color: $white;
  //     font-size: 14px;
  //     font-weight: bold;
  //     font-size: 18px;
  //     border: solid 1px rgba(255, 255, 255, 0.5);
  //     background-color: rgba(255, 255, 255, 0);

  //     &::placeholder {
  //       color: #fff;
  //       font-weight: normal;
  //       font-size: 14px;
  //     }

  //     &:focus {
  //       border: solid 1px rgba(255, 255, 255, 1);
  //     }
  //   }

  //   &__LoginButton {
  //     height: 48px;
  //     width: 100%;
  //     margin-bottom: 15px;
  //     font-weight: bold;
  //     font-size: 16px;
  //     border-radius: 25px;
  //     background: $white;
  //     color: $primary;
  //   }

  //   &__text {
  //     overflow: hidden;
  //     height: 16px;
  //     line-height: 16px;
  //     display: flex;
  //     justify-content: center;

  //     margin-bottom: 34px;
  //     font-size: 14px;
  //     font-weight: bold;

  //     &--white {
  //       color: $white;
  //     }
  //     &--yellow {
  //       color: #febd56;
  //     }

  //     i {
  //       width: 1px;
  //       height: 12px;
  //       margin: 0px 10px;
  //       background: rgba(255, 255, 255, 0.2);
  //       margin-top: 2px;
  //     }
  //   }

  //   &__sns {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     margin-bottom: 50px;

  //     button {
  //       cursor: pointer;
  //       margin: 0px 4px;
  //       width: 40px;
  //       height: 40px;
  //       text-indent: -9999px;
  //       border-radius: 50%;
  //     }

  //     &--apple {
  //       background: url('https://image.dalbitlive.com/svg/icon_login_apple.svg') center no-repeat $black;
  //     }
  //     &--facebook {
  //       background: url('https://image.dalbitlive.com/svg/icon_login_facebook.svg') center no-repeat $white;
  //     }
  //     &--naver {
  //       background: url('https://image.dalbitlive.com/svg/icon_login_naver.svg') center no-repeat #2db400;
  //     }
  //     &--kakaotalk {
  //       background: url('https://image.dalbitlive.com/svg/icon_login_kakao.svg') center no-repeat #f9e000;
  //     }
  //     &--google {
  //       background: url('https://image.dalbitlive.com/svg/icon_login_google.svg') center no-repeat $white;
  //     }

  //     .aple__alert {
  //       text-align: center;
  //       font-size: 16px;
  //       margin: 10px;
  //       line-height: 21px;
  //       font-weight: bold;
  //       color: $white;
  //     }
  //   }

  //   &__button {
  //     position: absolute;
  //     bottom: 30px;
  //     border-radius: 28px;
  //     width: 100%;
  //     height: 48px;
  //     margin-bottom: 60px;
  //     margin-top: auto;
  //     line-height: 48px;
  //     font-size: 16px;
  //     font-weight: bold;
  //     color: $white;
  //     background: linear-gradient(90deg, #ec455f 14%, #febd56 87%);
  //   }
  // }
}
