/* 
  @color
*/
$MAINCOLOR: #FF3C7B;
$DOWNCOLOR: #FF6999;
$DISABLEDCOLOR: #FFD4E1;
$BLACKBTNCOLOR: #202020;
$IMGSERVER: unquote("https://image.dalbitlive.com");

// height 값 관리
$HEADER-HEIGHT: 52px;
$NAVIGATION-HEIGHT: 50px;
$GNB-HEIGHT: 68px;

//scroll 시 tab 고정 TOP값 (PC)
$PC-TABTOP : $HEADER-HEIGHT + $GNB-HEIGHT;
$MOBILE-TABTOP : $HEADER-HEIGHT;
$TAB-ZINDEX : 15;

// z-inde 관리
$ALERT-ZINDEX: 100;
$POPUP-ZINDEX: 90;
$POPSLIDE-ZINDEX: 80;
$MORE-ZINDEX: 20;
$FLOATING-ZINDEX: 20;
$GNB-ZINDEX: 50;
$NAVIGATION-ZINDEX: 50;
$PLAYER-ZINDEX: 60;
$HEADER-ZINDEX: 30;

// SUIT FONT-WEIGHT;
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$ExtraBold: 800;
$Heavy: 900;

@mixin position-horizon ($top: null,$bottom: null,$left: 50%) {
  position:absolute;transform:translateX(-50%);left:$left;top:$top;bottom:$bottom;
}
@mixin position-vertical ($left: null,$right: null) {
  position:absolute;transform:translateY(-50%);top:50%;left:$left;right:$right;
}
@mixin position-center ($left: null,$top: null) {
  position:absolute;transform:translate(-50%,-50%);left:50%;top:50%;
}
@mixin position-top-left ($top: 0,$left: 0,$trans: null) {
  position:absolute;top:$top;left:$left;transform: $trans;
}
@mixin position-top-right ($top: 0,$right: 0,$trans: null) {
  position:absolute;top:$top;right:$right;transform: $trans;
}
@mixin position-bottom-left ($bottom: 0,$left: 0,$trans: null) {
  position:absolute;bottom:$bottom;left:$left;transform: $trans;
}
@mixin position-bottom-right ($bottom: 0,$right: 0,$trans: null) {
  position:absolute;bottom:$bottom;right:$right;transform: $trans;
}
@mixin position-fixed ($top: 0,$left: 0,$bottom: 0,$right: 0) {
  position:fixed;top:$top;left:$left;bottom:$bottom;right:$right;
}

@mixin flex ($ai: null,$jc: null,$fd: null) {    
  display:flex;
  align-items:$ai;
  justify-content:$jc;
  flex-direction:$fd;
}

@mixin grid ($cols: null,$rows: null, $gap: null) {
  display: grid;
  grid-template-columns: $cols;
  grid-template-rows: $rows;
  grid-gap: $gap;
}

@mixin border ($color: inherit,$radius:null,$size: 1px) {
  border: $size solid $color;
  border-radius:$radius;
}

@mixin font ($size: null,$weight: 400,$color: inherit) {
  font: {
    size: $size;
    weight: $weight;
  }
  color:$color;
}

@mixin fontCut {
  word-break:break-all;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

@mixin fontLineCut($value: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $value;
  -webkit-box-orient: vertical;
  word-break:break-all;
  overflow:hidden;
}

@mixin backgroundPSR {
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

@mixin BGIMG($address) {
  background:url("#{$IMGSERVER}/#{$address}") center/cover no-repeat;
}

@mixin swiperPagination {
  position:absolute;
  left:auto;
  right:0;
  width:auto;
  height:20px;
  line-height:20px;
  padding:0 8px 0 10px;
  border-radius:100px 0 0 100px;
  @include font(12px,400,white);
  background-color:rgba(0,0,0,.4);
}

@mixin btnMainStyle($height,$radius,$font) {
  line-height: $height;
  background-color:$DOWNCOLOR;
  @include border($DOWNCOLOR,$radius);
  @include font($font,500,white);
}

@mixin btnGroupStyle {
  @include flex(center);
  button {
    flex:1;
    line-height:46px;
    margin-top:28px;
    border:1px solid;
    border-radius:16px;
    &:first-of-type {
      border-color:#D5D5D5;
      @include font(16px,$Medium,#666);
    }
    &:last-of-type {
      margin-left:8px;
      border-color:$DOWNCOLOR;
      background-color:$DOWNCOLOR;
      @include font(16px,$Bold,#fff);
    }
  }
}

@mixin photoStyle($width, $height, $radius) {
  position: relative;
  width: $width; height: $height;
  border-radius:$radius;
  box-sizing: border-box;
  &::before {
    content: "";
    @include position-top-left;
    width: 100%; height: 100%;
    border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
    border-radius:$radius;
    box-sizing: border-box;
  }
}

// 스토어 구매, 달교환
@mixin purchaseList {
  .myhaveDal {
    @include flex(center,space-between);
    padding:12px 16px 24px;
    .title {
      @include font(15px,500,#666);
    }
    span {
      @include flex(center);
      line-height:24px;
      @include font(20px,700,#202020);
      &::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 4px;
        background-size:18px;
      }
      &.dal {
        &::before {
          @include BGIMG('mypage/dalla/icon_dal.png');
          background-size:16px;
        }
      }
      &.byeol {
        &::before {
          @include BGIMG('mypage/dalla/icon_star.png');
        }
      }
    }
  }
  .storeDalList {
    @include flex($fd:column);
    padding:0 16px 30px;
    .item {
      position:relative;
      @include flex(center);
      width: 100%;
      height:55px;
      padding: 0 10px 0 5px;
      border: 1px solid #e3e3e3;
      border-radius: 16px;
      cursor: pointer;
      + .item {
        margin-top:10px;
      }
      &.active {
        border-color: #FF3C7B;
        .price {
          background:$DOWNCOLOR;
        }
        &::after{
          content:"";
          @include position-top-left(-2px,-2px);
          width:15px;height:15px;
          border-radius:100%;
          @include BGIMG("store/dalla/ico_check.png");
        }
      }
      @for $i from 1 through 9 {
        &:nth-child(#{$i}) {
          .itemIcon {
            width: 51px;
            height: 51px;
            margin-right: 5px;
            @include BGIMG("store/dalla/icoDal_#{$i}.png");
          }
        }
      }
      .dal {
        @include font(18px,500,#202020);
      }
      .price {
        width: 100px;
        line-height: 28px;
        margin-left:auto;
        text-align:center;
        border-radius:20px;
        background-color:#202020;
        @include font(14px,700,white);
      }
      .bonus{
        width:41px;
        height:17px;
        line-height:17px;
        text-align:center;
        font-size:12px;
        color:#fff;
        background:#FF8565;
        border-radius:10px;
        margin-left:5px;
      }
    }
  }
}

// 환전하기, 무통장입금 결과창
@mixin bankResult {
  .bankResult{
    @include flex($fd:column);
    min-height: 100vh;
    .resultText {
      padding:52px 0 48px;
      text-align: center;
      .title {
        line-height:30px;
        @include font(22px,600,black);
        span {
          color: #FF3C7B;
        }
      }
      .subTitle {
        margin-top: 6px;
        line-height: 20px;
        @include font(13px,400,#666);
      }
    }
    .receiptBoard {
      @include flex($fd:column);
      width:100%;
      max-width:480px;
      margin:0 auto;
      &:before {
        content:"";
        display:inline-block;
        height:20px;
        @include BGIMG("store/dalla/receiptTop.png");
        background-size:100% 20px;
      }
      &:after {
        content:"";
        display:inline-block;
        height:20px;
        @include BGIMG("store/dalla/receiptBottom.png");
        background-size:100% 20px;
      }
      .receiptList {
        @include flex;
        line-height:36px;
        padding:0 10%;
        background-image:url("https://image.dalbitlive.comstore/dalla/receiptBody.png");
        background-size: 100%;
        background-repeat: repeat-y;
        span {
          flex: none;
          @include font(13px,400,#999);
        }
        p {
          flex: 1;
          text-align: right;
          margin-left: 20px;
          @include font(15px,500,black);
          word-break: break-all;
        }
        .point{
          @include font(15px,500,#FF3C7B);
        }
      }
    }
    .submitBtn {
      margin:30px 16px;
    }
  }
}

// 유의사항
@mixin noticeInfo {
  .noticeInfo {
    padding:20px 16px 30px;
    h3 {
      position:relative;
      @include flex;
      margin-bottom: 8px;
      padding-left: 20px;
      @include font(12px,400,#FF3C7B);
      &::after{
        content:"";
        @include position-vertical;
        left:2px;
        width:16px;
        height:16px;
        background:url("https://image.dalbitlive.com/store/dalla/ico_info.png") no-repeat left / contain;
      }
    }
    p {
      position: relative;
      padding-left: 16px;
      line-height: 20px;
      letter-spacing: -0.8px;
      @include font(12px,400,#757575);
      &::before {
        @include position-top-left(9px,6px);
        content: '';
        width: 2px;height: 2px;
        background: #757575;
      }
    }
  }
}

// 공지사항
@mixin broadcastNoticeStyle {
  $boxColors: (#FFE8F7,#FFE6DE,#FFF6E1,#E2EAFF,#F3EEFF,#EDF5DF,#E3F6F2,#E5F5FB,#FFECEE);
  $badgeColors: (#EFB5CA,#FFBBA5,#FFD471,#98B4FF,#C1A8FF,#B5D878,#7EDBC7,#89D5F1,#FFAEB6);
  $colors: zip($boxColors,$badgeColors);
  @each $color in $colors {
    $i: index($colors,$color);
    &:nth-child(9n+#{$i}) {
      .noticeBox {
        background-color:nth($color,1);
        .badge {
          background-color:nth($color,2);
        }
      }
    }
  }
  .noticeBox {
    position:relative;
    @include flex($fd:column);
    width:100%;
    height:126px;
    margin-right:10px;
    padding: 16px 16px 12px 16px;
    border-radius:8px;
    .badge {
      width:48px;
      line-height:18px;
      margin-bottom:8px;
      border-radius:100px;
      letter-spacing: -.2px;
      font-style:italic;
      text-align:center;
      @include font(12px,$Medium,white);
    }
    .text {
      padding-right:24px;
      line-height:22px;
      word-break: break-all;
      @include font(15px,$SemiBold,#202020);
      @include fontLineCut;
    }
    .info {
      @include likeStyle;
    }
    .fixIcon {
      @include position-top-right(14px,10px);
      width:26px;
      height:26px;
      img {
        width:100%;
      }
    }
  }
}

// 탭 메뉴
@mixin tabmenuStyle-1 {
  @include flex(center);
  li {
    flex:1;
    line-height:44px;
    text-align: center;
    background-color: #ffffff;
    border-bottom:2px solid #f2f2f2;
    @include font(16px,$Medium,#666);
    &.active {
      @include font(16px,$Bold,#202020);
      border-bottom: solid 2px #202020;
    }
  }
}

@mixin subTabmenuStyle-1 {
  @include flex(center);
  li {
    line-height:34px;
    margin-right:4px;
    padding:0 16px;
    border-radius:100px;
    background-color: #F2F2F2;
    @include font(13px,400,#ACACAC);
    &.active {
      background-color: #202020;
      color:white;
    }
  }
}

@mixin selectWrapStyle-1 {
  @include position-top-left(50px);
  z-index: 10;
  width:100%;
  max-height:230px;
  padding:0 16px;
  background-color: white;
  border-radius:16px;
  box-shadow:0 2px 3px rgba(black,.16);
  overflow-y:auto;
  .option {
    line-height:50px;
    @include font(15px,500,#202020);
  }
}

@mixin moreBtnStyle-1 {
  position:relative;
  flex-shrink: 0;
  width:30px;
  height:30px;
  cursor:pointer;
  img {
    width:100%;
  }
  .isMore {
    @include position-top-right(100%,0);
    z-index: $MORE-ZINDEX;
    @include flex($fd:column);
    width:124px;
    border-radius:8px;
    background-color:white;
    box-shadow: 0 1px 8px rgba(black,.16);
    button {
      line-height:40px;
      text-indent:12px;
      text-align:left;
      @include font(13px,400,#303030);
      + button {
        border-top:1px solid #F2F2F2;;
      }
    }
  }
}

@mixin likeStyle {
  @include flex(center);
  height:25px;
  margin-top:auto;
  i {
    display:inline-block;
    min-width:37px;
    padding-left:28px;
    line-height:25px;
    background-position:left center;
    background-size:25px;
    background-repeat:no-repeat;
    @include font(14px,$Medium,#666);
    font-style:normal;
    cursor:pointer;
    + i {margin-left:10px;}
    &.likeOff {background-image: url("#{$IMGSERVER}/profile/heart_icon-off.png");}
    &.likeOn {background-image: url("#{$IMGSERVER}/profile/heart_icon-on.png");}
    &.cmt {background-image: url("#{$IMGSERVER}/profile/comment_icon-notice.png");}
  }
  .time {
    margin-left:auto;
    letter-spacing: -1px;
    @include font(12px,$Medium,black);
  }
}

@mixin badgeLive {
  @include flex(center, center);
  width:62px;height:28px;
  background-color: #FFE9E9;
  border-radius: 100px;
  cursor: pointer;
  .equalizer {
    display: inline-block;
    width: 12px;
    margin-top: -2px;
    margin-right: 4px;
  }
  .liveText {
    @include font(12px, 900, #FF3C7B);
  }
}

@mixin teamSymbol {
  position:relative;
  width:80px;
  height:80px;
  border-radius:16px;
  box-shadow: 0 2px 4px rgba(0,0,0,.16);
  overflow:hidden;
  img {
    @include position-center;
    width:100%;
  }
}

@mixin navigationStyle {
  #navigation {
    height:50px;
    pointer-events: none;
    nav.bottomGnb {
      position:fixed;
      bottom:0;
      z-index: 50;
      display:flex;
      align-items:center;
      width:100%;
      height:50px;
      background-color:white;
      pointer-events: initial;
      .navi {
        flex:1;
        height:100%;
        &:nth-child(1) {@include BGIMG('common/icon/navi_live.png');background-size:40px;}
        &:nth-child(2) {@include BGIMG('common/icon/navi_clip.png');background-size:40px;}
        &:nth-child(3) {@include BGIMG('common/icon/navi_plus.png');background-size:40px;}
        &:nth-child(4) {@include BGIMG('common/icon/navi_search.png');background-size:40px;}
        &:nth-child(5) {@include BGIMG('common/icon/navi_profile.png');background-size:40px;}
      }
    }
  }
}

@mixin popupDefaultStyle($position,$index) {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  @if ($position == center) {
    @include flex(center,center,column);
  } @else if $position == bottom {
    @include flex(flex-end);
  }
  background-color: rgba($color: #000, $alpha: 0.7);
  z-index: $index;
}