@import "components/ui/_mixin.scss";

#updatePop {
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  background-color: #fefefe;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,.16);
  z-index: $POPUP-ZINDEX;
  .wrapper {width: 100%;}
  .topBox {
    position: relative;
    @include flex(center);
    img {
      flex-shrink: 0;
      width: 64px;
      height: 64px;
    }
    .textBox {
      flex:1;
      margin-left: 8px;
      margin-right: 24px;
      h2 {
        margin-bottom: 4px;
        letter-spacing: -0.4px;
        @include font(16px,400,$MAINCOLOR);
      }
      p {
        width: 90%;
        letter-spacing: -0.33px;
        @include font(13px,400,#616161);
      }
    }
  }
  .updateBtn {
    width: 100%;
    height: 32px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #FF3C7B;
    @include font(14px, 500, #FFF);
  }
  .closeBtn {
    @include position-top-right;
    width: 40px;
    height: 40px;
    background: url('https://image.dallalive.com/svg/ico_close_g_m.svg') center/32px no-repeat;
  }
}