@import '../../../styles/global';

#attendEventPage {
  margin: 0 auto;

  .commonTopWrap {
    position: relative;

    img {
      width: 100%;
    }

    .btnBack {
      position: absolute;
      top: 2%;
      right: 2%;
      width: 32px;
      height: 32px;
    }
  }

  .tabWrap {
    width: 100%;
    padding-top: 2px;
    background-color: #fb7964;
    border-bottom: 2px solid #91313f;
    overflow: hidden;
    height: 40px;

    &.roulette {
      border-bottom: 2px solid #097b70;
    }

    &.fixed {
      position: fixed;
      top: 0;
      z-index: 2;
      overflow: hidden;
    }

    button {
      height: 40px;
      width: 50%;
      color: #fff;
      background-color: #d85a46;

      &.btnAttend {
        border-radius: 24px 12px 0 0;
        background-color: #91313f;
      }

      &.btnRoul {
        border-radius: 12px 24px 0 0;
        background-color: #097b70;
      }

      img {
        width: 89px;
      }
    }
  }

  .tabContent {
    &.isTop {
      margin-top: 42px;
    }
  }

  .noticeWrap {
    padding: 5% 5% 10% 5%;
    color: white;

    &__title {
      padding-bottom: 10px;
      color: #fff8df;
      font-size: 16px;
      font-weight: 600;

      &.active {
        img {
          margin-top: 6px;
          transform: rotate(180deg);
        }
      }
    }

    .noticeListBox {
      display: none;
      &.active {
        display: block;
      }

      p {
        display: inline-block;
        margin-bottom: 3px;
        padding: 2px 5px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.3px;
        border-radius: 4px;
        background-color: #1ab1a2;
      }

      li {
        position: relative;
        padding: 4px 0 6px 10px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.33px;
        text-align: left;

        &::before {
          content: '';
          position: absolute;
          top: 11px;
          left: 0;
          width: 1px;
          height: 1px;
          background-color: #fff;
          border-radius: 50%;
        }
      }
    }

    &.attend {
      background-color: #91313f;
    }

    &.roulette {
      background-color: #097b70;
    }
  }

  .roulettePanelBlock {
    position: relative;
    overflow: hidden;

    .noTouchLayer {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 999;
      text-indent: -9999px;
    }

    .roulettePanel {
      overflow: hidden;
      border-radius: 50%;
      width: 100%;
    }

    .roulettePin {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 36px;
    }
  }

  .popupWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 60;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .gifticon {
      width: 100%;
      max-width: 328px;
      padding: 16px;
      border-radius: 20px;
      background-color: white;
      box-sizing: border-box;

      h1 {
        padding-bottom: 16px;
        border-bottom: 1px solid #e0e0e0;
        text-align: center;
        font-size: 18px;
        font-weight: $bold;
      }

      .winInfo {
        padding: 20px;
        &__title {
          font-size: 20px;
          color: $primary;
          font-weight: $bold;
          padding-bottom: 8px;
          letter-spacing: -1px;
        }

        &__image {
          img {
            width: 90px;
            height: 90px;
          }
          margin: 0px auto 16px auto;

          .con {
            padding-top: 8px;
          }
        }

        &__content {
          // padding: 16px 0;
          line-height: 22px;
        }
      }

      .btnConfirm {
        width: 100%;
        height: 44px;
        border-radius: 12px;
        background-color: #FF3C7B;
        color: #fff;
        font-size: 18px;
        font-weight: 800;
      }

      .gifticonPhoneWrap {
        .sns_detail {
          display: block;
          margin: 12px 0 13px 0;
          width: 100%;
          img {
            width: 100%;
          }
        }

        .check_box {
          label {
            display: flex;
            font-size: 12px;
            color: $greishBrown;
            text-align: left;
            & + label {
              margin-top: 12px;
            }
            input[type='checkbox'] {
              flex-shrink: 0;
              margin-right: 8px;
            }
          }
        }

        .gifticonPhoneBox {
          position: relative;
          padding: 16px;
          border-radius: 12px;
          background-color: #eee;
          text-align: left;

          &__title {
            padding-bottom: 8px;
            letter-spacing: -0.6px;
            font-weight: $bold;
          }

          &__time {
            position: absolute;
            top: 56px;
            right: 23px;
            font-size: 14px;
            letter-spacing: -0.35px;
            text-align: right;
            color: #ec455f;
          }

          input {
            width: 100%;
            height: 44px;
            padding: 0 16px;
            border-radius: 12px;
            border: 1px solid #e0e0e0;
            color: #757575;
            background: white;
            font-size: 14px;
            letter-spacing: -0.35px;
            box-sizing: border-box;

            &:focus {
              color: $black;
              font-weight: $bold;
              font-size: 16px;
              border-radius: 12px;
              border: 1px solid $black;
            }
          }
        }

        .note {
          padding: 16px 0;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          color: $greishBrown;
        }

        button {
          width: 100%;
          height: 44px;
          margin-top: 16px;
          border-radius: 12px;
          background-color: $primary;
          color: #fff;
          font-size: 18px;
          font-weight: $bold;

          &:disabled {
            background-color: #bdbdbd;
          }
        }
      }
    }
  }

  .win-list-box {
    .content {
      padding: 24px 3%;

      .note {
        padding: 16px 21px;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.33px;
        text-align: center;
        color: #757575;
        &.coupon {
          padding: 0 0 24px 0;
        }
      }

      .gift {
        font-weight: 800;
      }

      table {
        th {
          padding: 5px 0;
          border-top: 1px solid #FF3C7B;
          border-bottom: 1px solid #FF3C7B;
          font-size: 12px;
          color: #FF3C7B;
        }

        td {
          padding: 10px 0;
          text-align: center;
          font-size: 13px;
          border-bottom: 1px solid #e0e0e0;
          letter-spacing: -0.5px;
          color: $darkGray;
          overflow: hidden;

          &.gift {
            font-weight: $bold;
            color: $black;
          }

          &.phone {
            color: $greishBrown;
          }

          &.icon {
            text-align: left;
            font-weight: 600;
            padding-left: 10px;
            letter-spacing: -1px;

            img {
              display: inline-block;
              margin-top: -4px;
              margin-right: 3px;
            }
          }

          &.date {
            color: $greishGray;
            .iconNew {
              display: inline-block;
              width: 20px;
              line-height: 13px;
            }
          }
          &.category {
            font-size: 13px;
          }

          &.state {
            color: $mediumGray;

            &.point {
              color: $black;
            }
          }

          &.nick {
            display: flex;
            align-items: center;
            color: $greishBrown;
            font-weight: $bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
            padding: 10px 8px;

            &.coupon {
              display: block;
              font-weight: $regular;
              color: $darkGray;
              text-align: center;
              padding-left: 8px;
            }

            .thumb {
              overflow: hidden;
              width: 28px;
              height: 28px;
              margin-right: 5px;
              border-radius: 50%;

              img {
                width: 100%;
              }
            }

            .phone {
              text-align: center;
            }

            p {
              width: calc(100% - 33px);
              text-align: left;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              word-wrap: normal;
            }
          }
        }
      }
    }
  }
}

.msg {
  .attendAlertBox {
    &__image {
      text-align: center;
      img {
        max-width: 140px;
      }
    }

    &__title {
      padding-bottom: 16px;
      font-size: 20px;
      line-height: 28px;
      font-weight: 800;

      span {
        color: #FF3C7B;
      }
    }
  }
}
