#liveBox {
  max-width: 1280px;
  margin: auto;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .selectBox {
    display: flex;
    justify-self: end;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
    padding-bottom: 20px;

    &__select {
      width: 136px;
      height: 40px;

      &:nth-child(1) {
        margin-left: auto;
      }
      &:nth-child(2) {
        margin-left: 10px;
      }
    }
  }

  .pageTitle {
    padding-top: 40px;
    margin-bottom: 49px;
    font-size: 28px;
    text-align: center;
    color: #632beb;
  }

  .liveList {
    display: flex;
    align-items: center;
    height: 117px;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;

    &__number {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 88px;
      max-width: 68px;
      color: #9e9e9e;
    }
    &__img {
      display: inline-block;
      border-radius: 10px;
      width: 96px;
      height: 96px;
    }
    &__idBox {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    &__title {
      font-size: 16px;
      color: #000;
      margin-bottom: 10px;
    }
    &__id {
      font-size: 16px;
      color: #632beb;
    }
  }
}
