input[type='file'] {
  display: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 49px;
  padding: 0px 10px;
  border-bottom: 1px solid #dedede;

  &__title {
    font-size: 18px;
    text-align: center;
  }
  &__button {
    &--back {
      width: 36px;
      position: absolute;
      top: 6px;
      left: 10px;
    }
    &--close {
      width: 36px;
      position: absolute;
      top: 6px;
      right: 10px;
    }
  }
}

.content {
  padding: 0 16px;
  letter-spacing: -0.35px;

  .radioLabelWrap {
    display: flex;
    margin: 14px 0;
    &__label {
      display: flex;
      align-items: center;
      flex: 1;
      & > span:first-child {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        background: url('./static/radio_off.svg') no-repeat center center;
        &.on {
          background: url('./static/radio_on.svg') no-repeat center center;
        }
      }
    }
  }
}

.charge {
  &__title {
    padding: 24px 0 8px;
    font-size: 16px;
    line-height: 1.25;
    color: #632beb;
    border-bottom: 1px solid #632beb;
  }
}

.payHold {
  overflow: hidden;
  border-radius: 13px;
  background: #eee;
  margin-top: 16px;
  margin-bottom: 20px;

  &__title {
    font-size: 24px;
    color: #632beb;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  &__object {
    margin-right: 6px;
  }

  &__dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #632beb;
    margin-left: 6px;
    margin-bottom: 4px;
    vertical-align: bottom;
    border: 0px;
  }

  &__text {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  &__sub {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;

    &--text {
      font-weight: 600;
    }
  }
}

.phone {
  margin-bottom: 32px;
  text-align: center;

  &__text {
    font-size: 14px;
  }

  &__title {
    display: block;
    color: #632beb;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.deposit {
  border-top: 1px solid #632beb;
  &__list {
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0;
    font-weight: 600;
  }

  &__value {
    font-size: 14px;
    color: #632beb;
  }
}

.payInquiry {
  font-size: 16px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 32px;
}

.payInquiry--purple {
  color: #632beb;
}

.pay_button--purple {
  display: block;
  width: 100%;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  background: #632beb;
  color: #fff;
  font-size: 16px;
}

.hm {
  height: 1000px;
}

.charge {
  &__title {
    /*참고*/
    display: flex;
    justify-content: space-between;

    padding: 24px 0 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    color: #632beb;
    border-bottom: 1px solid #632beb;

    &--point {
      vertical-align: middle;
      display: inline-block;
      color: #616161;
      font-size: 12px;
    }

    &--object {
      vertical-align: middle;
      margin-bottom: 2px;
      margin-left: 5px;
    }
  }
}

.myStar {
  &__notice {
    font-size: 12px;
    color: #616161;
    margin-top: 16px;
    margin-bottom: 12px;
  }
  &__content {
    margin-bottom: 12px;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
  }
  &__special {
    margin-top: 16px;
    &--title {
      font-size: 16px;
    }
    &--point {
      font-size: 14px;
      color: #ec455f;
      margin-top: 8px;
    }
  }
}

.point {
  margin-bottom: 12px;
  padding: 16px 12px 12px 12px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;

  &__list {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    display: flex;
    flex-direction: column;

    &--left {
      margin-right: 4px;
    }
  }

  &__label {
    text-align: center;
    margin-bottom: 8px;
  }

  &__value {
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #9e9e9e;

    &--input {
      color: #000;
    }
  }

  &__button {
    font-size: 14px;
    width: 100%;
    height: 40px;
    margin-bottom: 24px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #8556f6;
    color: #8556f6;
    border-radius: 4px;
    display: block;
    font-weight: 600;
  }
}

.pay {
  background: #f5f5f5;
  margin-bottom: 24px;
  padding-top: 16px;
  padding-bottom: 10px;

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;

    &--margin {
      margin-bottom: 9px;
    }

    &--small {
      font-size: 12px;
      color: #9e9e9e;
      margin-bottom: 9px;
    }

    &--line {
      border-top: solid 1px #e0e0e0;
      padding-top: 11px;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 600;
  }

  &--title {
    font-size: 14px;
    font-weight: 600;
    color: #424242;
  }
  &__value {
    font-size: 14px;
    color: #424242;
    display: flex;

    &--small {
      font-size: 12px;
      margin-right: 5px;
      line-height: 23px;
    }
    &--text {
      margin-top: 4px;
      margin-right: 3px;
      font-size: 12px;
    }

    &--purple {
      font-size: 16px;
      font-weight: 600;
      color: #632beb;
    }
  }
}

.PayView {
  &__list {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;

    &__consent {
      display: block;
      flex-direction: column;

      &--file {
        display: flex;
        margin-bottom: 8px;
      }

      &--caption {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        & > span {
          text-align: center;
        }
        & > span:last-child {
          color: #ec455f;
        }
      }
    }
  }

  &__input {
    flex: 1;
    &--disable {
      width: 100%;
      padding: 12px;
      font-size: 14px;
      border-radius: 4px;
      box-sizing: border-box;
      border: 1px solid #bdbdbd;
      background-color: #ececec;
    }
    &--address {
      display: flex;
      flex-direction: column;
      flex: 1;

      &--mt {
        margin-top: 8px;
      }
    }
    &--nomber {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }

    &--text {
      width: 100%;
      padding: 12px;
      font-size: 14px;
      border-radius: 4px;
      box-sizing: border-box;
      border: 1px solid #bdbdbd;
    }

    &--button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #bdbdbd;
      color: #fff;
      flex: 1;
      min-width: 80px;
      max-width: 80px;
      margin-left: 4px;
      border-radius: 4px;
      font-size: 14px;
    }

    &--file {
      display: flex;
      flex: 1;
      overflow-x: hidden;
    }

    &--line {
      width: 30px;

      text-align: center;
    }
    &--label {
      width: 100%;
      padding: 12px;
      font-size: 14px;
      border: 1px solid #bdbdbd;
      background-color: #f8f8f8;
      border-radius: 4px;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    width: 90px;
  }

  &__address {
    &--list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }
  }
}

.privacy {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  margin-bottom: 32px;

  &__title {
    margin-bottom: 8px;
    font-weight: 600;
  }

  &__text {
    font-size: 12px;
    color: #616161;
    line-height: 18px;
    flex: 1;
    margin-left: 36px;
  }

  &__checkBox {
    width: 24px;
    display: inline-block;
    margin-right: 8px;
  }
}

.adressBg {
  background: #f8f8f8;
  border-color: #e0e0e0;
}

.privacyButton {
  align-content: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  height: 40px;
  color: #fff;
  background: #632beb;
  margin-bottom: 50px;
  font-weight: 600;
}

.exchange {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  font-family: NanumSquareB;
  &__list {
    padding-bottom: 12px;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    &--title {
      margin-bottom: 7px;
      font-size: 16px;
      font-weight: bold;
    }

    &--red {
      color: red;
    }

    &--gray {
      color: dimgray;
    }
  }
}

.inquiry {
  padding: 20px 0 50px;
  font-weight: 600;
  text-align: center;

  &__number {
    padding-left: 8px;
    color: #632beb;
  }
}

.chargeButton {
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
  border-radius: 4px;
  background: #bdbdbd;
  color: #fff;
}

#layer {
  display: none;
  position: fixed;

  &__close {
    position: fixed;
    width: 20px;
    color: white;
    background-color: black;
    z-index: 2;
    font-size: 16px;
  }
}
