@import "components/ui/_mixin.scss";

#layerPop {
  @include popupDefaultStyle(center,$POPUP-ZINDEX);
  .popLayer {
    position: relative;
    .popContainer {
      @include flex(center, center, column);
      width: 312px; min-height: 175px;
      border-radius: 24px;
      background: #fff;
      h2 {
        line-height:48px;
        padding:20px 0 12px;
        @include font(16px,$Bold,#202020);
      }
    }
    .closeWrap {
      @include flex(center);
      width: 100%;
      margin-top: 20px;
      .dontShowLabel {
        flex: 1;
        position: relative;
        @include flex(center, center);
        width: 100%;
        .dontShow {
          position: absolute;
          left: 0; top: 0;
          width: 0px; height: 0px;
        }
        .dontShowBtn {
          flex: 1;
          @include flex(center, center);
          @include font(16px, 500, #FFFFFF);             
        }
      }
      .close {
        flex: 1;
        @include flex(center, center);
        @include font(16px, 500, #FFFFFF);        
      }
    }
  }
  &.defaultAlert {
    .popLayer {
      .popContainer {
        width:328px;
      }
    }
  }
}