@import "../_mixin.scss";

.checkLabel {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  input[type='checkbox'] {
    flex: none;
    display: inline-block;
    width: 23px; height: 23px;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.87' height='26.871' viewBox='0 0 26.87 26.871'%3E%3Cpath d='M12453,11916.979h-10v-4h10v-20h4v24Z' transform='translate(-371.953 -17208.137) rotate(45)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-position: center 4px;
    background-repeat: no-repeat;
    background-size: 13px;
    &.on {
      background-color: #FF3C7B;
    }
    &.off {
      background-color: #D8D8D8;
    }
  }
  
  .checkText {
    flex: 1;
    display: inline-block;
    margin-left: 8px;
    @include font(16px, 500, #303030);
    line-height: 20px;
    letter-spacing: -1px;
  }
}