@import '../../../styles/variables';
@import 'components/ui/_mixin.scss';

#root {
    .container {
        .totalWrap {
            #bestDj {
                .footerBtn {
                    
                }
            }
        }
    }
}

#bestDj {
    .header-wrap {
        position: sticky;
        top: 0;
        left: 50%;
        z-index: 4;
    }
    .img__full {
      width: 100%;
      -webkit-user-drag: none;
      vertical-align: middle;
      image-rendering: auto;
      &.MAT--100 {
          margin-top: -100px;
      }
    }
    .subContent {        
        background-color: #439BFF;
    }
    .list {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          padding-bottom: 40px;
          background-size: 100%;
          image-rendering: auto;
          &:nth-child(odd) {
            background: url('https://image.dalbitlive.com/event/bestDj/2202/bestDj_2202-bg-odd.png') #439BFF bottom no-repeat;
            background-size: 100% 100%;
          }
          &:nth-child(even) {
            background: #439BFF;
            background-size: 100% 100%;
          }
          
      &Wrap {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          z-index: 1;
      }
      & > .clickArea {
          position: absolute;
          top: 5%; left: 50%;
          transform:  translateX(-50%);
          width: 100%;
          padding-bottom: 45%;
          z-index: 20;
          cursor: pointer;
      }
      .img__full {
          z-index: 10;
      }
    }
    .list:nth-child(odd) .fanRank {
        justify-content: flex-end;
        background: url('https://image.dalbitlive.com/event/bestDj/2202/bestDj_2202-fanBox-odd.png') bottom no-repeat;
        background-size: 100% 100%;
        .fanRankListWrap {
            width: 75%;
            margin-right: 7.5%;
        } 
    }
    .list:nth-child(even) .fanRank {
        justify-content: flex-start;
        background: url('https://image.dalbitlive.com/event/bestDj/2202/bestDj_2202-fanBox-even.png') bottom no-repeat;
        background-size: 100% 100%;
        .fanRankListWrap {
            width: 80%;
        }
    }
    .fanRank {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: -8%;
      &List {
          flex: none;
          display: block;
          width: 30%;
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
          &Wrap {
              display: flex;
              align-items: center;
              justify-content: space-around;
              width: 100%;
              padding: 14% 5% 6%;
              box-sizing: border-box;
          }
      }
      &None {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 15% 0;
          font-size: 12px;
          font-weight: 500px;
          color: #666;
      }
      &Thumb {
          position: relative;
          display: block;
          width: 80%;
          padding-bottom: 80%;
          margin: 0 auto;
          border-radius: 50%;
          border: 1px solid #eee;
          background-color: #FFF;     
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          image-rendering: auto;   
          &.gold {
              &::after {
                  content: "";
                  display: block;
                  position: absolute;
                  bottom: 0;
                  right: -5px;
                  width: 40%;
                  height: 40%;
                  background-image: url('https://image.dalbitlive.com/event/medal/medal_gold.png');
                  background-position: center;
                  background-size: 100%;
                  background-repeat: no-repeat;
                  image-rendering: auto;
              }
          }
          &.silver {
              &::after {
                  content: "";
                  display: block;
                  position: absolute;
                  bottom: 0;
                  right: -5px;
                  width: 40%;
                  height: 40%;
                  background-image: url('https://image.dalbitlive.com/event/medal/medal_silver.png');
                  background-position: center;
                  background-size: 100%;
                  background-repeat: no-repeat;
                  image-rendering: auto;
              }
          }
          &.bronze {
              &::after {
                  content: "";
                  display: block;
                  position: absolute;
                  bottom: 0;
                  right: -5px;
                  width: 40%;
                  height: 40%;
                  background-image: url('https://image.dalbitlive.com/event/medal/medal_bronze.png');
                  background-position: center;
                  background-size: 100%;
                  background-repeat: no-repeat;
                  image-rendering: auto;
              }
          }
      }
      &Nick {
          display: block;
          margin-top: 4px;
          font-size: 12px;
          font-weight: 400;
          color: #1D1D1D;
          text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
      }
    }
    .footer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
      &Btn {
          position: absolute;
          bottom: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 10px;
          border-radius: 100px;
          background-color: #483BF0;          
          font-size: 1.5vw;
          font-weight: 700;
          color: #FFF;
          cursor: pointer;
      }
    }
  }
