@import '../../../styles/variables';

.specialdj {
  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d2d2d2;
    padding: 14px 0;
    box-sizing: border-box;
    padding: 12px 16px;

    &__title {
      font-size: 18px;
      letter-spacing: -0.45px;
      font-weight: 700;
    }

    &__btnBack {
      display: block;
      width: 36px;
      position: absolute;
      top: 6px;
      left: 2%;
    }
  }

  .specialdjSelect {
    .options.options {
      font-weight: 700;
      color: #000;
      &::before {
        top: 18px;
        height: 1px;
      }
      &::after {
        top: 18px;
        height: 1px;
      }
    }
  }

  .moerButtonSize {
    width: 44px;
    height: 44px;
    margin-left: 2px;
  }
  .checkWrite {
    overflow: hidden;
    box-sizing: border-box;
    padding: 0px 16px;
    background: #eee;
    min-height: 100%;

    .selctNotice {
      font-size: 12px;
      display: block;
      margin-top: 7px;
      text-indent: 4px;
    }

    .morePopup {
      background: rgba(000, 000, 000, 0.4);
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 2;
      width: 100%;
      height: 100%;
      display: flex;
    }

    .moreContent {
      border: solid 5px;
    }

    .list {
      position: relative;
      margin-bottom: 4px;

      &__margin {
        height: 42px;
        margin-bottom: 12px;
      }

      &--top {
        padding-top: 24px;
      }

      &--bottom {
        margin-bottom: 0px;
      }

      &__box {
        margin-bottom: 19px;
      }
      &__textNumber {
        font-size: 12px;
        color: #bdbdbd;
        text-align: right;
        margin-top: 4px;
        margin-left: auto;
        font-weight: normal;
        color: $darkGray;
        b {
          color: $black;
        }
      }

      &__title {
        display: flex;
        align-items: center;
        margin-top: 16px;
        margin-bottom: 8px;
        margin-left: auto;
        font-size: 16px;
        font-weight: 700;
        color: $black;

        &--marginTop {
          margin-top: 36px;
        }
        &--noMargin {
          margin-bottom: 0px;
        }
      }

      &__inpuText {
        position: relative;
        p {
          position: absolute;
          font-size: 12px;
          top: 13px;
          left: 16px;
        }
        input {
          width: 100%;
          height: 44px;
          line-height: 44px;
          border: 1px solid $lightGray;
          box-sizing: border-box;
          font-size: 16px;
          color: $black;
          border-radius: 12px;
          padding: 9px 0px 11px 92px;
          font-weight: 700;
          background: $white;
          &::placeholder {
            font-size: 14px;
            color: $mediumGray;
            font-weight: 400;
          }
          &:focus {
            border-color: $black;
          }
        }
      }

      &__selectBox {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        &--top {
          position: absolute;
          z-index: 1;
        }
        &--bottom {
          position: absolute;
          z-index: 0;
        }
      }

      &__plusButton {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        color: #fff;
        font-size: 16px;
      }

      &--bottom20 {
        margin-bottom: 20px;
      }
      &--bottom12 {
        margin-bottom: 20px;
      }

      &__textarea {
        width: 100%;
        min-height: 136px;
        padding: 16px 13px;
        font-size: 16px;
        letter-spacing: -0.4px;
        color: $black;
        font-weight: 700;
        border: 1px solid #9e9e9e;
        border-radius: 10px;
        background: #fff;
        overflow: hidden;
        box-sizing: border-box;

        &::placeholder {
          font-size: 14px;
          color: #bdbdbd;
          font-weight: normal;
        }

        &:focus {
          border-color: $black;
        }
      }
      &__titleGray {
        color: #bdbdbd;
        margin-left: 6px;
      }
    }

    .button {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      height: 44px;
      font-size: 18px;
      color: #fff;
      background: #bdbdbd;
      border-radius: 10px;
      margin-top: 24px;
      margin-bottom: 24px;
      font-weight: 700;

      &--on {
        background: #FF3C7B;
      }
    }
  }

  .selectBottom {
    position: relative;
    margin-top: 12px;
    height: 42px;
  }

  .specialdjSelect {
    position: relative;
    width: 104px;
    height: 42px;
    box-sizing: border;
    border: 1px solid #9e9e9e;
    border-radius: 10px;

    .options {
      width: 100%;
      border-color: #9e9e9e;
      background: #fff;
      border-radius: 10px;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;

      height: 40px;
      color: #9e9e9e;
      border: none;
      padding-left: 0px;
      text-indent: 10px;
      padding-top: 0px;
    }

    > div {
      position: absolute;
      left: -1px;
      padding-top: 10px;
      top: 35px;
      width: 104px;
      overflow-y: auto;
      font-size: 14px;
      height: 150px;
      color: #bdbdbd;
      border-color: #9e9e9e;
      background: #fff;
      z-index: 10;
      font-size: 14px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      .box-list {
        border-color: #9e9e9e;
      }
    }

    ::after {
      background-color: #757575;
    }

    ::before {
      background-color: #757575;
    }
  }

  .slectLine {
    padding: 0px 10px;
  }

  .mdieaSize {
    max-width: 740px;
    margin: auto;
  }
}
