@import '../../../styles/variables';

.specialdj {
  width: 100%;
  margin: auto;
  height: calc(100% - 50px);
  .imgResize {
    display: inline-block;
    width: 100%;

    &.buttonSize {
      padding: 0px 5%;
      box-sizing: border-box;
    }
  }

  .loginBox {
    padding: 32px 0px;
    background: #ebf3fe;
  }

  .title {
    flex: 1;
    display: flex;
    height: 48px;
    align-items: center;

    h2 {
      font-size: 18px;
      color: $black;
      margin-right: auto;
      margin-left: 16px;
      font-weight: bold;
    }

    button {
      width: 40px;
      height: 40px;
      margin-left: auto;
      margin-right: 6px;
      border: none;
      background: url('./static/ic_close.svg');
      text-indent: -999999px;
    }
  }

  .contentImg {
    position: relative;

    .startingPopup {
      position: absolute;
      width: 65.5%;
      height: 2.9%;
      left: 17.9%;
      top: 28.9%;
      text-indent: -999999px;
    }

    .goodsPopup {
      position: absolute;
      width: 17.7%;
      height: 2.2%;
      left: 74.7%;
      bottom: 59.2%;
      text-indent: -999999px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  .dayTitle {
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-size: 16px;
    letter-spacing: -0.35px;
    color: $black;
    line-height: 30px;
    background: url('https://image.dallalive.com/event/specialdj/20201223/bg.jpg');
    background-size: 100%;
    p {
      color: #ff5a00;
      display: inline-block;
    }
  }

  .buttonLink {
    width: 80%;
    margin: auto;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 700;
  }

  .checkList {
    width: 100%;
    box-sizing: border-box;
    background: url('https://image.dallalive.com/event/specialdj/20201223/bg.jpg');
    background-size: 100%;
    margin: auto;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.35px;

    &__table {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      border: 1px solid $lightGray;
      border-bottom: none;
      margin-bottom: 30px;
      font-size: 12px;
    }

    &__list {
      display: flex;
    }

    &__talbeLeft {
      display: flex;
      align-items: center;
      flex-basis: 140px;
      padding: 8px 12px;
      border-right: 1px solid $white;
      border-bottom: 1px solid $white;
      background: #d1d1d1;
    }
    &__talbeRight {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      padding: 8px 12px;
      border-bottom: 1px solid $white;
      font-weight: 700;
      background: $lighterGray;

      &--red {
        color: #ec455f;
        font-weight: 700;
      }

      &--purple {
        // color: $primary;
        font-weight: 700;
      }
    }
  }

  .buttonOn {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 22px;

    // &--purple {
    //   background: $primary;
    // }
  }

  .buttonOff {
    display: flex;
    width: 82%;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    border-radius: 30px;
  }

  .buttonBox {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 20px 40px;
    background: url('./static/content_bg.jpg');
    background-size: 100%;

    &--logout {
      padding: 32px 24px;
      background: #f2f2f2;
    }
  }
}
