@import "components/ui/_mixin.scss";

.cntTitle {
  @include flex(center);
  padding: 0 16px;
  h2 {
    height:28px;
    line-height:28px;
    letter-spacing: -.9px;
    @include font(20px,$SemiBold,#202020);
  }
  button {
    margin-left: auto;
    @include font(13px,$Medium,#303030);
  }
}
.badge {
  flex:none;
  height:16px;
}