@import "components/ui/_mixin.scss";

.cntTitle {
  @include flex(center);
  padding: 0 16px;
  h2 {
    height:28px;
    line-height:28px;
    letter-spacing: -1.5px;
    @include font(20px,500,black);
  }
  button {
    margin-left: auto;
    letter-spacing: -1px;
    @include font(13px,400,#999);
  }
}
.badge {
  flex:none;
  height:16px;
}