@import '../../styles/_variables';

#mypage {
  position: relative;
  min-height: 100vh;
  // .close-btn {
  //   position: absolute;
  //   left: 6px;
  // }
  .profile-info {
    position: relative;
    padding-top: 87px;
    min-height: 300px;
    .closeBtn {
      position: absolute;
      top: 30px;
      right: 20px;
      width: 32px;
      height: 32px;
      z-index: 16;
      background: url('../menu/static/ic_closeBtn.svg');
    }
    .adminBtn {
      position: absolute;
      top: 30px;
      left: 12px;
      z-index: 16;
    }
    .reportIcon {
      position: absolute;
      top: -59px;
      width: 32px;
      height: 32px;
      left: 20px;
      z-index: 3;
      background: url('../mypage/component/ic_report.svg');
      cursor: pointer;
    }
    .profile-detail {
      position: relative;
      display: flex;
      flex-direction: column;
      min-height: 300px;
      margin: 0 auto;
      padding: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: $white;
      z-index: 3;
      padding: 0 24px 20px;
      .profile-content {
        text-align: center;
        .profile-image {
          display: block;
          position: relative;
          background-size: cover;
          background-position: center;
          text-align: center;
          margin-top: -50px;
          figure {
            position: relative;
            width: 100px;
            height: 100px;
            margin: 0px auto 19px auto;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            img {
              display: none;
            }

            .holder {
              display: block;
              position: absolute;
              top: -20px;
              left: -20px;
              width: 140px;
              height: 140px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
            .holderBg {
              display: block;
              position: absolute;
              top: -20px;
              left: -62px;
              width: 224px;
              height: 140px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
            .profileBg {
              display: block;
              position: absolute;
              top: -20px;
              left: -40px;
              width: 180px;
              height: 140px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
          .zoom {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 22;
            background-color: rgba(0, 0, 0, 0.5);
          }
          .zoomImg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 95%;
            height: auto;
          }
        }
        .liveIcon {
          position: absolute;
          right: 20px;
          top: 20px;
          span {
            display: block;
            color: #f54640;
            font-size: 12px;
          }
        }
        .title {
          position: relative;
          display: inline-block;
          min-width: 100px;
          height: 32px;
          margin: 0 auto;
          padding: 0px 20px;
          line-height: 32px;
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: -0.35px;
          border-radius: 16px;
          color: $white;
          background-color: #f54640;
          z-index: 4;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .levelInfoWrap {
          position: relative;
          display: flex;
          flex-direction: column;
          margin: 0px auto;
          font-size: 12px;
          text-align: center;
          z-index: 2;
          .levelBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            .expTitle {
              font-size: 10px;
              // font-weight: bold;
              color: $white;
              &--start {
                position: absolute;
                left: 4px;
                top: 0;
              }
              &--end {
                position: absolute;
                right: 4px;
                top: 0;
              }
              &--rate {
                &::before {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 0px;
                  content: '';
                  width: 1px;
                  height: 8px;
                  background-color: #bdbdbd;
                }
              }
            }
            .expRate {
              margin-left: 6px;
              font-weight: 600;
              font-size: 10px;
              color: $black;
            }
            .levelInfo {
              position: absolute;
              left: 0;
              top: 0;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: row;
              width: 100%;
              height: 100%;
              font-size: 12px;
              color: #febd56;
              font-weight: bold;
              .expTitle {
                position: relative;
                padding: 0 8px;
                font-size: 12px;
              }
            }
          }
          .levelBar {
            position: relative;
            width: 300px;
            height: 16px;
            border-radius: 10px;
            background-color: #999;
          }
          .expBarStatus {
            position: absolute;
            top: 0px;
            left: -1px;
            height: 16px;
            max-width: calc(100% + 2px);
            border-radius: 10px;
            background-color: $black;
            text-align: right;
            color: #fff;
            font-size: 9px;
            padding: 1px 0;
            padding-right: 6px;
            line-height: 15px;
            box-sizing: border-box;
            text-indent: 3px;
            line-height: 16px;
          }
          .btn-info {
            display: flex;
            align-items: center;
            margin-right: 5px;
            border-radius: 14px;
            &:after {
              content: '';
              width: 20px;
              height: 12px;
              background: url('../menu/static/ic_help.png') no-repeat center center / cover;
            }
          }
        }
        .nameWrap {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          margin-top: 8px;
          strong {
            display: inline-block;
            font-size: 22px;
            color: $black;
          }
        }
        .profileMsgWrap {
          padding: 0px 5px;
          box-sizing: border-box;
          margin: 0 auto;
          margin-top: 8px;
          transform: skew(-0.03deg);
          font-size: 14px;
          font-family: inherit;
          line-height: 1.43;
          letter-spacing: normal;
          text-align: center;
          color: #424242;
        }
        .subIconWrap {
          display: inline-block;
          flex-direction: row;
          justify-content: center;
          margin: 0 8px;
          > span {
            display: inline-block;
            height: 16px;
            margin-left: 2px;
            &:first-child {
              margin-left: 0;
            }
          }
          .nationIcon {
            width: 24px;
            background: url('../menu/static/ico_korea.svg') no-repeat center center / cover;
          }
          .femaleIcon {
            width: 24px;
            background: url('../menu/static/ico_female.svg') no-repeat center center / cover;
          }
          .maleIcon {
            width: 24px;
            background: url('../menu/static/ico_male.svg') no-repeat center center / cover;
          }
        }

        .specialIcon {
          position: absolute;
          top: 0;
          left: 16px;
          width: 44px;
          padding-top: 30px;
          font-size: 14px;
          letter-spacing: -0.5px;
          line-height: 1.2;
          font-weight: bold;
          &::before {
            display: inline-block;
            width: 24px;
            height: 28px;
            position: absolute;
            top: 0;
            left: 10px;
            content: '';
            background: url('../menu/static/ico-specialdj.png') no-repeat center;
            background-size: cover;
          }
        }
        .badgeWrap {
          display: flex;
          margin: 5px auto 0;
          justify-content: center;
          align-items: center;
          .swiper-slide {
            display: block;
            width: auto;
            height: auto;
          }
          .swiper-wrapper {
            height: auto;
            margin: 0 auto;
          }
          .swiper-pagination {
            position: static;
            margin-top: 20px;
          }
          .swiper-pagination-bullet {
            width: 11px;
            height: 11px;
            background: $black;
            opacity: 0.5;
          }
          .swiper-pagination-bullet-active {
            background: $primary;
            opacity: 1;
          }

          .fan-badge {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 28px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: -0.35px;
            padding: 0 10px 0 3px;
            text-align: left;
            color: #ffffff;
          }
          .fan-badge:last-child {
            margin-right: 0;
          }

          .fan-badge img {
            width: 42px;
            height: 26px;
          }
          .fan-badge span {
            display: inline-block;
            vertical-align: middle;
            line-height: 2.2;
            color: #ffffff;
          }
        }
        .categoryCntWrap {
          margin: 14px 0 0;
          display: flex;
          align-items: center;
          justify-content: center;
          .icoWrap {
            display: flex;
            align-items: center;
          }
          .count-box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            width: 88px;
            height: 50px;
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              height: 40px;
              width: 1px;
              background-color: #eeeeee;
            }
            &:first-child {
              &::before {
                display: none;
              }
            }
            .icoImg {
              margin: 0 auto;
              display: inline-block;
              width: 24px;
              height: 24px;
              background: url('../menu/static/ico_like_g.svg') no-repeat center center / cover;

              &.type1 {
                background: url('../menu/static/bluehole.svg') no-repeat center center / cover;
              }
              &.type2 {
                background: url('../menu/static/star.svg') no-repeat center center / cover;
              }
            }
            .icotitle {
              display: flex;
              align-items: center;
              float: right;
              margin-left: 0px;
              line-height: 24px;
              font-size: 16px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              letter-spacing: normal;
              text-align: center;
              color: $greishbrown;
              &--active {
                &:after {
                  margin-left: 8px;
                  display: inline-block;
                  content: '';
                  width: 16px;
                  height: 16px;
                  background: url('../menu/static/fan_setting.svg');
                  cursor: pointer;
                }
              }
            }
            .cntTitle {
              font-size: 20px;
              font-weight: 800;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.13;
              letter-spacing: normal;
              text-align: center;
              color: $black;
              margin-left: 2px;
            }
          }
        }
        .topMedal {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 190px;
          height: 28px;
          margin: 8px auto 0;
          padding: 0 10px;
          border-radius: 14px;
          border: solid 1px $lightergray;
          background-color: #f5f5f5;
          font-size: 12px;
          font-weight: 600;
          line-height: 28px;
          text-align: center;
          color: $lightgray;
          letter-spacing: -0.6px;
          :before {
            display: block;
            content: '';
            width: 26px;
            height: 16px;
            margin-right: 8px;
            background: url('../menu/static/ic_crown.svg') no-repeat center center / cover;
          }
        }
        .fanListWrap {
          margin-top: 14px;
          display: flex;
          justify-content: center;
        }
        .fanRankList {
          display: flex;
          align-items: center;
          justify-content: center;
          .fanItem {
            display: inline-block;
            position: relative;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            margin-right: 3px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            & > a {
              display: block;
              width: 100%;
              height: 100%;
            }
            & + & {
              margin-left: 4px;
            }
            :after {
              display: block;
              position: absolute;
              bottom: 0;
              right: -4px;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-size: 12px 12px !important;
              content: '';
            }
            &.rank1:after {
              background: url(https://image.dalbitlive.com/images/api/ic_gold.png) no-repeat;
            }
            &.rank2:after {
              background: url(https://image.dalbitlive.com/images/api/ic_silver.png) no-repeat;
            }
            &.rank3:after {
              background: url(https://image.dalbitlive.com/images/api/ic_bronze.png) no-repeat;
            }
          }
          > a {
            &.none {
              display: none;
            }
          }
        }
        .buttonWrap {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-top: 0;
          .buttonWrapInner {
            display: flex;
            align-items: center;
            flex-direction: column;
            & > a {
              display: inline-block;
              padding: 0 20px;
              user-select: none;
              border: 1px solid #bdbdbd;
              border-radius: 18px;
              font-size: 14px;
              line-height: 36px;
              color: #9e9e9e;
              cursor: pointer;
            }

            a + a {
              margin-left: 4px;
            }
            .notBjWrap {
              display: flex;
              text-align: center;
              margin-top: 14px;
              margin-bottom: 14px;
              > button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 154px;
                height: 36px;
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                transform: skew(-0.03deg);
                letter-spacing: -0.35px;
                margin-right: 4px;
                border-radius: 12px;
                border: solid 1px #632beb;
                background-color: #632beb;

                &.fanRegist {
                  border: solid 1px $primary;
                  background-color: #fff;
                  color: $primary;
                }
                & span {
                  display: block;
                  width: 18px;
                  height: 18px;
                  background: url('../menu/static/ic_moon_s.svg') no-repeat center center / cover;
                }
                & em {
                  display: block;
                  font-weight: 600;
                  color: #fff;
                  font-style: normal;
                  line-height: 1.41;
                  letter-spacing: -0.35px;
                  height: 18px;
                }
              }
              & button:last-child {
                margin-right: 0;
              }
              .giftbutton {
                background-color: #fff;
                color: #632beb;
                em {
                  color: #632beb;
                }
              }
            }
          }
        }
      }
    }
  }
  .profile-menu {
    margin-top: 12px;
    padding-bottom: 23px;
    transform: skew(-0.03deg);
    .menu-box {
      margin-top: 12px;
    }
    .list {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 48px;
      background-color: $white;
      box-sizing: border-box;
      padding: 0 16px 0 16px;
      margin: 1px 0 1px 0;
      .arrow {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: url('./static/arrow.svg') no-repeat center center / cover;

        &--active {
          &:before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            margin-left: -28px;
            background: url('./static/new_circle.svg');
          }
        }
      }
      .text {
        color: $black;
        letter-spacing: -0.35px;
        font-weight: 800;
      }
      .icon {
        display: block;
        width: 32px;
        margin-right: 12px;
      }
      .price {
        position: absolute;
        right: 40px;
        top: 50%;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.2;
        letter-spacing: normal;
        text-align: right;
        color: $black;
      }
    }
  }
  .btn {
    &__logout {
      display: block;
      background-color: $white;
      width: 100%;
      color: $gray;
      font-size: 14px;
      margin-top: 24px;
      height: 48px;
      line-height: 48px;
    }
    &__fanRank {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
      transform: skew(-0.03deg);
      width: 72px;
      height: 28px;
      padding-left: 9px;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: -0.35px;
      line-height: 28px;
      border-radius: 25px;
      border: solid 1px #e0e0e0;
      color: $black;
      background-color: #ffffff;
      &::after {
        content: '';
        position: relative;
        right: 0px;
        width: 20px;
        height: 20px;
        background: url('../menu/static/ico_circle.svg') no-repeat center center / contain;
      }
    }
    &__fanMore {
      width: 28px;
      height: 28px;
      border: 1px solid #e0e0e0;
      border-radius: 50%;
      vertical-align: top;
      margin-top: -5px;
      margin-left: 2px;
      span {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2px;
        height: 2px;
        margin: 0 auto;
        background: #424242;
        border-radius: 50%;
        :after,
        :before {
          display: inline-block;
          position: absolute;
          width: 2px;
          height: 2px;
          border-radius: 50%;
          background: #424242;
          content: '';
        }
        :after {
          right: -5px;
        }
        :before {
          left: -5px;
        }
      }
    }
  }
}
