@import '../../styles/_variables';
@import "components/ui/_mixin.scss";

#profile_pc,
#clip_reply {
  position: relative;
  min-height: 100vh;
  .profile-info {
    position: relative;
    padding-top: 87px;
    min-height: 300px;
    .closeBtn {
      position: absolute;
      top: -46px;
      right: 20px;
      width: 32px;
      height: 32px;
      z-index: 16;
      background: url('../menu/static/ic_closeBtn.svg');
    }
    .closeBtn-layer {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 32px;
      height: 32px;
      z-index: 16;
      background: url('../menu/static/ic_closeBtn.svg');
    }
    .adminBtn {
      position: absolute;
      top: -46px;
      left: 12px;
      z-index: 16;
    }
    .adminEditButton {
      display: flex;
      align-items: center;
      position: absolute;
      top: -46px;
      left: 20px;
      z-index: 16;
      button {
        margin-left: 2px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
    .reportIcon {
      position: absolute;
      top: -46px;
      width: 36px;
      height: 36px;
      left: 20px;
      z-index: 3;
      background: url('../mypage/component/block_w_l.svg') no-repeat 0 0;
      cursor: pointer;
    }
    .profile-detail {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 230px;
      margin: 0 auto;
      padding: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: white;
      z-index: 4;
      padding: 0 24px 20px;
      .profile-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .profile-image {
          display: block;
          position: relative;
          background-size: cover;
          background-position: center;
          text-align: center;
          margin-top: -50px;
          figure {
            position: relative;
            width: 100px;
            height: 100px;
            margin: 0px auto 19px auto;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            img {
              display: none;
            }

            .holder {
              display: block;
              position: absolute;
              top: -20px;
              left: -20px;
              width: 140px;
              height: 140px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
            .holderBg {
              display: block;
              position: absolute;
              top: -20px;
              left: -62px;
              width: 224px;
              height: 140px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
            .profileBg {
              display: block;
              position: absolute;
              top: -20px;
              left: -40px;
              width: 180px;
              height: 140px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
          .zoom {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 22;
            background-color: rgba(0, 0, 0, 0.5);
          }
          .zoomImg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 95%;
            height: auto;
          }
        }
        .rightButton {
          position: absolute;
          top: 10px;
          right: 20px;
          z-index: 3;
          > button {
            margin-left: 4px;
            &:first-child {
              margin-left: 0;
            }
          }
          .liveIcon {
            width: 28px;
            height: 28px;
            img {
              width: 100%;
            }
            span {
              display: block;
              color: #f54640;
              font-size: 10px;
              font-weight: bold;
            }
          }
        }
        .title {
          position: relative;
          display: inline-block;
          min-width: 100px;
          height: 32px;
          margin: 0 auto;
          padding: 0px 20px;
          line-height: 32px;
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: -0.35px;
          border-radius: 16px;
          color: white;
          background-color: #f54640;
          z-index: 4;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .levelInfoWrap {
          position: relative;
          display: flex;
          flex-direction: column;
          margin: 4px auto 0;
          height: 22px;
          line-height: 22px;
          font-size: 12px;
          text-align: center;
          z-index: 2;
          .levelBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            .expTitle {
              font-size: 10px;
              color: white;
              &--start {
                position: absolute;
                left: 4px;
                top: 0;
              }
              &--end {
                position: absolute;
                right: 4px;
                top: 0;
              }
              &--rate {
                &::before {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 0px;
                  content: '';
                  width: 1px;
                  height: 8px;
                  background-color: #bdbdbd;
                }
              }
            }
            .expRate {
              margin-left: 6px;
              font-weight: 600;
              font-size: 10px;
              color: $black;
            }
            .levelInfo {
              position: absolute;
              left: 0;
              top: 0;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: row;
              width: 100%;
              height: 100%;
              font-size: 12px;
              font-weight: $bold;
              color: #febd56;
              .expTitle {
                position: relative;
                padding: 0 8px;
                font-size: 12px;
              }
            }
          }
          .levelBar {
            overflow: hidden;
            position: relative;
            width: 300px;
            height: 22px;
            border-radius: 10px;
            background-color: #999;
          }
          .expBarStatus {
            position: absolute;
            top: 0px;
            right: 0%;
            width: 100%;
            height: 22px;
            padding: 1px 0;
            padding-right: 6px;
            text-align: right;
            font-size: 9px;
            text-indent: 3px;
            background-color: $black;
            color: #fff;
            box-sizing: border-box;
          }
          .btn-info {
            display: flex;
            align-items: center;
            margin-right: 5px;
            border-radius: 14px;
            &:after {
              content: '';
              width: 20px;
              height: 12px;
              background: url('../menu/static/ic_help.png') no-repeat center center / cover;
            }
          }
        }
        .nameWrap {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          margin-top: 8px;
          strong {
            display: inline-block;
            font-size: 22px;
            color: $black;
            text-overflow: ellipsis;
            word-break: break-all;
          }
        }
        .profileMemId {
          display: block;
          font-size: 14px;
          color: $greishGray;
        }
        .profileMsgWrap {
          padding: 0px 5px;
          box-sizing: border-box;
          margin: 8px auto 0;
          font-size: 14px;
          line-height: 1.43;
          letter-spacing: normal;
          text-align: center;
          color: #424242;
        }
        .subIconWrap {
          display: inline-block;
          flex-direction: row;
          justify-content: center;
          position: absolute;
          bottom: 0;
          left: initial;
          margin: 0 8px;
          > span {
            display: inline-block;
            height: 16px;
            margin-left: 2px;
            &:first-child {
              margin-left: 0;
            }
          }
        }
        .newIcon {
          position: absolute;
          top: 12px;
          left: 10px;
          padding: 0 6px;
          font-size: 12px;
          text-align: center;
          line-height: 16px;
          background: $blue;
          color: white;
          border-radius: 12px;
        }
        .checkBadge {
          position: absolute;
          top: 0;
          left: 12px;
          .specialIcon {
            display: flex;
            justify-content: center;
            position: relative;
            width: 54px;
            height: 51px;
            background: url('https://image.dalbitlive.com/svg/ico_specialdj_on.png') no-repeat center;
            background-size: cover;
            &__count {
              position: absolute;
              top: 12px;
              font-weight: 600;
              font-style: normal;
              color: #ec455f;
              font-size: 11px;
              letter-spacing: -0.28px;
            }
            &.prev {
              background: url('https://image.dalbitlive.com/svg/ico_specialdj_off.png') no-repeat center;
            }
          }
        }
        // .specialIcon {
        //   position: absolute;
        //   top: 0;
        //   left: 16px;
        //   width: 44px;
        //   padding-top: 30px;
        //   font-size: 14px;
        //   letter-spacing: -0.5px;
        //   line-height: 1.2;
        //   font-weight: bold;
        //   &__count {
        //     position: absolute;
        //     top: 0;
        //     left: 50%;
        //     transform: translateX(-50%);
        //   }
        //   &::before {
        //     display: inline-block;
        //     width: 54px;
        //     height: 51px;
        //     position: absolute;
        //     top: 0;
        //     left: 10px;
        //     content: '';
        //     background: url('./static/specialdj_on.png') no-repeat center;
        //     background-size: cover;
        //   }

        //   &.prev {
        //     &::before {
        //       background: url('./static/specialdj_off.png') no-repeat center;
        //     }
        //   }

        .badgeWrap {
          width: 100%;
          display: flex;
          margin: 5px auto 0;
          justify-content: center;
          align-items: center;
          .swiper-slide {
            width: auto;
            min-width: 72px;
            height: auto;
          }
          .swiper-wrapper {
            height: auto;
            margin: 0 auto;
          }
          .swiper-pagination {
            position: static;
            margin-top: 20px;
          }
          .swiper-pagination-bullet {
            width: 11px;
            height: 11px;
            background: $black;
            opacity: 0.5;
          }
          .swiper-pagination-bullet-active {
            background: $MAINCOLOR;
            opacity: 1;
          }

          .icon_badge {
            min-width: 60px;
            height: 28px;
            margin-top: 12px;
            padding: 0 12px 0 8px;
            font-size: 14px;
            border-radius: 20px;
            .img {
              margin-left: -4px;
              height: 26px;
            }
          }
        }
        .categoryCntWrap {
          margin: 14px 0 0;
          display: flex;
          align-items: center;
          justify-content: center;
          .icoWrap {
            display: flex;
            align-items: center;
            &.isArrow {
              &::after {
                display: inline-block;
                vertical-align: middle;
                content: '';
                width: 24px;
                height: 24px;
                background: url(https://image.dalbitlive.com/svg/ico_arrow2_right_b.svg) no-repeat right center;
              }
            }
          }
          .count-box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            width: 88px;
            height: 50px;
            cursor: pointer;
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              height: 40px;
              width: 1px;
              background-color: #eeeeee;
            }
            &:first-child {
              &::before {
                display: none;
              }
            }
            .icoImg {
              margin: 0 auto;
              display: inline-block;
              width: 24px;
              height: 24px;
              background: url('../menu/static/ico_like_g.svg') no-repeat center center / cover;

              &.type1 {
                background: url('../menu/static/bluehole.svg') no-repeat center center / cover;
              }
              &.type2 {
                background: url('../menu/static/star.svg') no-repeat center center / cover;
              }
            }
            .icotitle {
              display: flex;
              align-items: center;
              float: right;
              margin-left: 0px;
              line-height: 24px;
              font-size: 16px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              letter-spacing: normal;
              text-align: center;
              color: $greishBrown;
              // &--active {
              //   &:after {
              //     margin-left: 8px;
              //     display: inline-block;
              //     content: '';
              //     width: 16px;
              //     height: 16px;
              //     background: url('../menu/static/fan_setting.svg');
              //     cursor: pointer;
              //   }
              // }
            }
            .cntTitle {
              font-size: 20px;
              font-weight: 800;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.13;
              letter-spacing: normal;
              text-align: center;
              color: $black;
              margin-left: 2px;
            }
          }
        }
        .topMedal {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 190px;
          height: 28px;
          margin: 8px auto 0;
          padding: 0 10px;
          border-radius: 14px;
          border: solid 1px $lightGray;
          background-color: #f5f5f5;
          font-size: 12px;
          font-weight: 600;
          line-height: 28px;
          text-align: center;
          color: $mediumGray;
          letter-spacing: -0.6px;
          :before {
            display: block;
            content: '';
            width: 26px;
            height: 16px;
            margin-right: 8px;
            background: url('../menu/static/ic_crown.svg') no-repeat center center / cover;
          }
        }
        .fanListWrap {
          display: flex;
          justify-content: center;
          background-color: #f5f5f5;
          padding: 6px 0;
          width: 328px;
          margin-top: 14px;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          &.cupidWrap {
            margin-top: 2px;
            border-top-left-radius: 0;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
          }
          &__cupidImg {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            margin-right: 4px;
          }
          &__cupidNick {
            max-width: calc(100% - 96px);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            word-wrap: normal;
            display: block;
            font-size: 16px;
            font-weight: 800;
            line-height: 26px;
          }
        }
        .fanRankList {
          display: flex;
          align-items: center;
          justify-content: center;
          .defalutTxt {
            font-size: 14px;
            color: #bdbdbd;
          }
          .fanItem {
            display: inline-block;
            position: relative;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            margin-right: 3px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            &.defalut {
              background: url('https://image.dalbitlive.com/svg/ico_defalitprofile.svg');
              margin-right: 6px;
              &:last-child {
                margin-right: 0;
              }
            }

            & > a {
              display: block;
              width: 100%;
              height: 100%;
            }
            & + & {
              margin-left: 4px;
            }
            &::after {
              display: block;
              position: absolute;
              bottom: 0;
              right: -4px;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-size: 12px 12px !important;
              content: '';
            }
            &.rank1:after {
              background: url(https://image.dalbitlive.com/images/api/ic_gold.png) no-repeat;
            }
            &.rank2:after {
              background: url(https://image.dalbitlive.com/images/api/ic_silver.png) no-repeat;
            }
            &.rank3:after {
              background: url(https://image.dalbitlive.com/images/api/ic_bronze.png) no-repeat;
            }
          }
          > a {
            &.none {
              display: none;
            }
          }
        }
        .buttonWrap {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 10px 0;
          > button {
            min-width: 45%;
            height: 36px;
            margin: 0 2px;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: -0.35px;
            border: 1px solid $MAINCOLOR;
            color: $MAINCOLOR;
            border-radius: 12px;
          }
          .btnFan {
            &--isOff {
              min-width: 34%;
              color: white;
              background: $MAINCOLOR;
              &::after {
                display: inline-block;
                position: relative;
                top: -2px;
                content: '';
                vertical-align: middle;
                width: 13px;
                height: 13px;
                margin-left: 3px;
                background: url('./static/ic_plus.svg') no-repeat 0 0;
              }
            }
          }
          .btnAlarm {
            background: $yellow;
            border: 0;
            min-width: 36px;
            > img {
              width: 24px;
            }

            &--isOff {
              background: white;
              border: 1px solid $MAINCOLOR;
            }
          }
        }
        .buttonWrap {
          // display: flex;
          // flex-direction: column;
          // justify-content: center;
          // align-items: center;
          // padding-top: 0;
          .buttonWrapInner {
            display: flex;
            align-items: center;
            flex-direction: column;
            & > a {
              display: inline-block;
              padding: 0 20px;
              user-select: none;
              border: 1px solid #bdbdbd;
              border-radius: 18px;
              font-size: 14px;
              line-height: 36px;
              color: #9e9e9e;
              cursor: pointer;
            }

            a + a {
              margin-left: 4px;
            }
            .notBjWrap {
              display: flex;
              text-align: center;
              margin-top: 14px;
              margin-bottom: 14px;
              > button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 154px;
                height: 36px;
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                transform: skew(-0.03deg);
                letter-spacing: -0.35px;
                margin-right: 4px;
                border-radius: 12px;
                border: solid 1px $MAINCOLOR;
                background-color: $MAINCOLOR;
                &.isNotFan {
                  &::after {
                    display: inline-block;
                    content: '';
                    vertical-align: middle;
                    width: 13px;
                    height: 13px;
                    margin-left: 3px;
                    background: url('./static/ic_plus.svg') no-repeat 0 0;
                  }
                }

                &.fanRegist {
                  border: solid 1px $MAINCOLOR;
                  background-color: #fff;
                  color: $MAINCOLOR;
                }
                & span {
                  display: block;
                  width: 18px;
                  height: 18px;
                  background: url('../menu/static/ic_moon_s.svg') no-repeat center center / cover;
                }
                & em {
                  display: block;
                  font-weight: 600;
                  color: #fff;
                  font-style: normal;
                  line-height: 1.41;
                  letter-spacing: -0.35px;
                  height: 18px;
                }
              }
              & button:last-child {
                margin-right: 0;
              }
              .giftbutton {
                background-color: #fff;
                color: $MAINCOLOR;
                em {
                  color: $MAINCOLOR;
                }
              }
            }
          }
        }
      }
    }
  }
  .profile-tab {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    margin-top: 12px;
    background: white;
    border-bottom: 1px solid $lightGray;
    &.fixedOn {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 7;
      width: 100%;
      margin-top: 0;
      // padding-top: 87px;
    }
    > li {
      position: relative;
      display: flex;
      justify-content: center;
      // width: 33.33%;
      width: inherit;
      text-align: center;
      &.isSelected {
        &::before {
          display: block;
          content: '';
          width: 100%;
          height: 1px;
          position: absolute;
          bottom: -1px;
          left: 0;
          background-color: $MAINCOLOR;
        }
        button {
          font-weight: bold;
          color: $MAINCOLOR;
        }
      }
      button {
        .cnt {
          color: $black;
        }
      }
    }
    &__content {
      .noticeIsTop {
        margin: 0 0 10px;
      }
    }
  }
  .profile-menu {
    margin-top: 12px;
    padding-bottom: 23px;
    transform: skew(-0.03deg);
    .menu-box {
      margin-top: 12px;
    }
    .list {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 48px;
      background-color: white;
      box-sizing: border-box;
      padding: 0 16px 0 16px;
      margin: 1px 0 1px 0;
      .arrow {
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -12px;
        width: 24px;
        height: 24px;
        background: url('./static/arrow.svg') no-repeat center center / cover;

        &--active {
          &:before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            margin-left: -28px;
            background: url('./static/new_circle.svg');
          }
        }
      }
      .text {
        color: $black;
        letter-spacing: -0.35px;
        font-weight: 800;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .icon {
        display: block;
        width: 32px;
        margin-right: 12px;
      }
      .price {
        position: absolute;
        right: 40px;
        font-size: 14px;
        color: $black;
      }
    }
  }
  .btn {
    &__logout {
      display: block;
      background-color: white;
      width: 100%;
      color: $darkGray;
      font-size: 14px;
      margin-top: 24px;
      height: 48px;
      line-height: 48px;
    }
    &__fanRank {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: skew(-0.03deg);
      width: 72px;
      height: 28px;
      padding-left: 9px;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: -0.35px;
      line-height: 28px;
      color: $black;

      &::after {
        content: '';
        position: relative;
        right: 0px;
        width: 20px;
        height: 20px;
        background: url('../menu/static/ico_circle.svg') no-repeat center center / contain;
      }
      &.cupid {
        width: auto;
      }
    }
    &__fanMore {
      width: 28px;
      height: 28px;
      border: 1px solid #e0e0e0;
      border-radius: 50%;
      vertical-align: top;
      margin-top: -5px;
      margin-left: 2px;
      span {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2px;
        height: 2px;
        margin: 0 auto;
        background: #424242;
        border-radius: 50%;
        :after,
        :before {
          display: inline-block;
          position: absolute;
          width: 2px;
          height: 2px;
          border-radius: 50%;
          background: #424242;
          content: '';
        }
        :after {
          right: -5px;
        }
        :before {
          left: -5px;
        }
      }
    }
  }

  .fanboard {
    width: 100%;
    position: relative;
    .writeWrap {
      padding: 12px 16px 8px;
      background-color: #eee;
      &__top {
        display: flex;
        flex-direction: column;
        padding: 6px 16px;
        background-color: #fff;
        border-radius: 12px;
        border: 1px solid $lightGray;
        .content_area {
          margin-top: 8px;
          & > textarea {
            width: 100%;
            height: 116px;
            font-size: 14px;
          }
        }
      }
      &__header {
        position: relative;
        display: flex;
        align-items: center;
        &::after {
          display: inline-block;
          content: '';
          position: absolute;
          right: -5px;
          top: 50%;
          margin-top: -12px;
          width: 24px;
          height: 24px;
          background: url('./static/ico-write.png') no-repeat 0 0;
        }
        &--active {
          &::after {
            display: none;
          }
        }
        > img {
          width: 32px;
          height: 32px;
          margin-right: 8px;
          border-radius: 50%;
        }
        span {
          font-size: 14px;
          &.gray {
            color: #bdbdbd;
          }
        }
      }

      &__btn {
        .btn__toggle {
          position: relative;
          display: block;
          width: 100%;
          height: 44px;
          margin-top: 10px;
          background-color: #f5f5f5;
          border: 1px solid #e0e0e0;
          border-radius: 12px;
          &::after {
            display: inline-block;
            content: '';
            width: 24px;
            height: 24px;
            margin-left: 2px;
            vertical-align: middle;
            background: url('./static/arrow_down_g.svg');
            transform: rotate(180deg);
          }
        }
      }
      &__btnWrap {
        .countBox {
          position: relative;
          display: flex;
          margin: 8px 0 2px;
          height: 24px;
          font-size: 14px;
          line-height: 1.08;
          letter-spacing: normal;
          text-align: right;

          .secret {
            display: flex;
            align-items: center;
            color: $black;
            > input {
              margin-right: 10px;
            }
            .bold {
              font-weight: bold;
            }
          }

          .count {
            position: absolute;
            right: 0;
            top: 0;
            line-height: 24px;
            font-size: 12px;
            color: $gray;
            > em {
              font-style: normal;
              color: $black;
            }
          }
        }
        .btn__ok {
          width: 100%;
          height: 44px;
          margin-top: 6px;
          border-radius: 12px;
          background-color: $MAINCOLOR;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          color: white;
        }
      }
    }
    .listWrap {
      height: 100%;
      background-color: #eeeeee;
      .list-count {
        padding-top: 10px;
        padding-left: 16px;
        margin-bottom: 8px;
        span:first-child {
          font-size: 16px;
          font-weight: 800;
          letter-spacing: normal;
          text-align: left;
          color: $black;
          margin-right: 6px;
        }
        span:last-child {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: normal;
          text-align: left;
          color: $MAINCOLOR;
        }
      }
      .list-item {
        width: 100%;
        margin-top: 8px;
        // padding-top: 12px;

        background-color: #fff;
        &:first-child {
          margin-top: 0;
        }
        &.on {
          margin-bottom: 0;
          .btn__reply {
            &::before {
              background: url('./static/ic_reply_purple.svg') no-repeat center center / cover;
            }
          }
        }
        .detailwapper {
          position: relative;
        }
        &__header {
          position: relative;
          display: flex;
          align-items: center;
          padding: 12px 16px 0 16px;
          .btn__more {
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -5px;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background: url('./static/ic_new_more.svg') no-repeat center center / cover;
          }
          .moreList {
            display: none;
            flex-direction: column;
            position: absolute;
            right: 20px;
            top: 34px;
            width: 80px;
            border: 1px solid #e0e0e0;
            background-color: #fff;
            padding: 8px 0;
            button {
              height: 26px;
              font-size: 14px;
              line-height: 2.14;
              letter-spacing: -0.35px;
              text-align: center;
              color: #757575;
              :hover {
                background-color: #f8f8f8;
              }
            }
            &.on {
              display: flex;
              z-index: 56;
            }
          }
          .thumb {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            border-radius: 50%;
          }
          .info {
            display: inline-block;
            margin-left: 10px;
            &__name {
              display: block;
              line-height: 20px;
              max-width: 200px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow-x: hidden;
              font-size: 16px;
              font-weight: 800;
              text-align: left;
              color: $black;
            }
            &__dt {
              display: block;
              margin-top: 2px;
              font-size: 12px;
              text-align: left;
              color: #9e9e9e;
            }

            &__lock {
              display: inline-block;
              width: 24px;
              height: 24px;
              margin-right: 1px;
              vertical-align: -6px;
              background: url('./static/lock_g.svg') no-repeat center;
            }
          }
        }
        &__content {
          padding: 10px 16px 8px;
          font-size: 14px;
          line-height: 1.4;
          color: $black;
          word-break: break-word;
        }
        &__bottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 10px 16px 12px;
          .btn__reply {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            letter-spacing: normal;
            text-align: left;
            font-weight: bold;
            color: #757575;
            &::before {
              display: block;
              content: '';
              width: 16px;
              height: 16px;
              margin-right: 6px;
              background: url('./static/reply_g.svg') no-repeat center center / cover;
            }
            > em {
              display: inline-block;
              margin-left: 3px;
              font-size: 14px;
              font-weight: bold;
              font-style: normal;
              color: $black;
            }
          }
        }
      }
      .reply-list {
        padding: 12px 0 12px 16px;
        &.modify {
          padding: 0;
        }
        background-color: #fbfbfb;
        border-top: 1px solid $lighterGray;
        .thumb {
          width: 32px;
          height: 32px;
        }
        .info__name {
          font-size: 14px;
        }
        .list-item__header {
          &::before {
            content: '';
            position: absolute;
            left: -3px;
            top: 50%;
            margin-top: -8px;
            width: 16px;
            height: 16px;
            color: $greishGray;
            background: url('./static/ico-reply.svg') no-repeat 0 0;
          }
        }
      }
    }
  }
}

#wallet_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#walletPop {
  width: 328px;
  height: auto;
  background-color: #fff;
  border-radius: 20px;

  .title {
    padding: 16px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
  }

  .contents {
    min-height: 441px;
    padding: 12px 16px;
    background-color: #eee;

    &__buttonWrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 8px;
      border-radius: 12px;
      background-color: #fff;
      & > button {
        display: flex;
        align-items: center;
        padding: 6px 10px;
        text-align: left;

        & > span {
          margin-left: 10px;
          font-size: 14px;
        }
      }

      & > button:not(:last-child) {
        border-bottom: 1px solid #eee;
      }
    }
  }

  .buttonWrap {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px 16px 16px;
    background-color: #eee;
    border-radius: 0 0 20px 20px;
    & > button {
      width: 100%;
      height: 44px;
      border-radius: 12px;
      color: #fff;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
    }

    & > button:first-child {
      margin-right: 4px;
      background-color: #757575;
    }

    & > button:last-child {
      background-color: #632beb;
    }
  }
}
