#mypageClip {
  background-color: #fff;
  height: 100vh;
  .uploadBtn {
    bottom: 16px;
    right: 16px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #632beb;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.35px;
    line-height: 1.14;
    text-align: center;
    color: #ffffff;
    &:before {
      display: block;
      content: '';
      width: 24px;
      height: 24px;

      background: url('./static/clip_upload.svg') no-repeat center center / cover;
    }
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__tab {
      width: 100%;
    }

    &__tabBtn {
      color: #757575;
      width: 50%;
      height: 36px;
      box-sizing: border-box;
      border-bottom: 1px solid #e0e0e0;
      background: #fff;
      font-weight: 700;
      &--active {
        color: #632beb;
        border-color: #632beb;
      }
    }
  }
  .uploadWrap {
    display: flex;
    flex-direction: column;
    padding: 16px 0 0 16px;
    box-sizing: border-box;
    // justify-content: center;
    // align-content: center;
    // margin-top: 120px;
    .noResult {
      margin: 120px auto 0 auto;
      text-align: center;
      &__guideTxt {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: -0.4px;
        text-align: center;
        color: #9e9e9e;
      }
      &__uploadBtn {
        display: block;
        width: 260px;
        height: 48px;
        margin-top: 28px;
        border-radius: 25px;
        background-color: #632beb;
        font-size: 16px;
        font-weight: 800;
        text-align: center;
        color: #ffffff;
      }
    }
    .uploadList {
      display: flex;
      flex-direction: column;

      &__topWrap {
        align-items: center;
        width: 100%;
        display: flex;
        line-height: 1.3;
      }

      &__line {
        flex-basis: 1px;
        height: 10px;
        background: #bdbdbd;
        margin: 0px 6px;
      }

      &__container {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 20px;
        cursor: pointer;
        &:first-child {
          margin-top: 0;
        }
      }
      &__profImg {
        width: 72px;
        height: 72px;
        border-radius: 12px;
        margin-right: 16px;
      }
      &__categoryWrap {
        display: flex;
      }
      &__category {
        font-size: 14px;
        color: #632beb;
        font-weight: normal;
        letter-spacing: -0.5px;
      }
      &__title {
        font-size: 14px;
        color: #424242;
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        letter-spacing: -0.5px;
      }
      &__nickName {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        color: #000000;
        margin: 7px 0px;
      }
      &__details {
        width: calc(100% - 88px);
        em,
        strong {
          display: block;
        }
      }
      &__cnt {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 3px;
        em {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 5px;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          letter-spacing: -0.3px;
          text-align: left;
          color: #424242;
          &:before {
            content: '';
            display: block;
            margin-right: 2px;
            width: 16px;
            height: 16px;
            background: url('./static/message.svg');
            opacity: 0.8;
          }
        }
        &.play {
          &:before {
            background: url('./static/clip_play_cnt.svg');
            opacity: 0.8;
          }
        }
        &.star {
          &:before {
            background: url('./static/clip_stat_cnt.svg');
            opacity: 0.8;
          }
        }
        &.like {
          &:before {
            background: url('./static/clip_like_cnt.svg');
            opacity: 0.8;
          }
        }
      }
    }
  }
  .historyBtnWrap {
    margin-bottom: 14px;
    .historyBtn {
      width: 76px;
      height: 32px;
      margin-right: 4px;
      border-radius: 12px;
      border: solid 1px #e0e0e0;
      background-color: #ffffff;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.35px;
      text-align: center;
      color: #000000;

      &--active {
        background-color: #632beb;
        border: solid 1px #632beb;
        color: #fff;
      }
    }
  }
  .listSimple {
    padding: 12px 2%;

    .listSimpleBox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .listSimpleItem {
        position: relative;
        width: 49%;
        max-height: 330px;
        padding: 10px;
        margin-bottom: 10px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
        border-radius: 16px;
        box-sizing: border-box;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
        }
        .topWrap {
          display: flex;
          justify-content: space-between;
          &__status {
            display: flex;
            align-items: center;
          }
          &__count {
            margin-left: auto;
            color: #fff;
            font-size: 11px;
            font-weight: normal;
            text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.6);
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: -0.28px;
            text-align: left;
            color: #ffffff;
            z-index: 3;
            &--icon,
            &--num {
              margin-right: 4px;
            }
          }
        }

        .bottomWrap {
          display: flex;
          flex-direction: column;
          position: absolute;
          bottom: 10px;
          z-index: 3;

          &__nick {
            color: #fff;
            font-weight: normal;
            font-size: 12px;
          }
          &__title {
            margin-top: 2px;
            max-width: 140px;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            word-wrap: normal;
          }
        }
      }
    }
  }
  .maleIcon,
  .femaleIcon {
    display: block;
    width: 24px;
    height: 16px;
    background: url('./component/male.svg');
    background-color: #fff;
    border-radius: 10px;
    margin-left: 2px;
  }
  .femaleIcon {
    background: url('./component/female.svg');
    background-color: #fff;
    border-radius: 10px;
  }
}
