@import '../../styles/global.scss';
@import "components/ui/_mixin.scss";

#mypageClip {
  background-color: $white;
  .uploadBtn {
    bottom: 16px;
    right: 16px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $MAINCOLOR;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.35px;
    line-height: 1.14;
    text-align: center;
    color: $white;
    &:before {
      display: block;
      content: '';
      width: 24px;
      height: 24px;

      background: url('./static/clip_upload.svg') no-repeat center center / cover;
    }
  }

  // global within
  em {
    &::before {
      content: '';
      background-size: cover;
    }
    &.icon {
      &_play::before {
        background-image: url('https://image.dalbitlive.com/svg/visit_g_s.svg');
      }
      &_byeol::before {
        background-image: url('https://image.dalbitlive.com/svg/ic_gift.svg');
      }
      &_good::before {
        background-image: url('https://image.dalbitlive.com/svg/ico_like_g_s.svg');
      }
      &_good-color::before {
        background-image: url('https://image.dalbitlive.com/svg/ico_like_g.svg');
      }
      &_reply::before {
        background-image: url('https://image.dalbitlive.com/svg/message_g_s.svg');
      }
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__tab {
      width: 100%;
    }

    &__tabBtn {
      color: $greishGray;
      width: 50%;
      height: 36px;
      box-sizing: border-box;
      border-bottom: 1px solid $lightGray;
      background: $white;
      font-weight: 700;
      &--active {
        color: $MAINCOLOR;
        border-color: $MAINCOLOR;
      }
    }
  }

  .subTab_box {
    padding: 12px 0 8px;
    background-color: #eeeeee;

    button {
      &:first-child {
        margin-left: 16px;
      }
      &:last-child {
        margin-right: 16px !important;
      }
    }

    .subTab_button {
      height: 32px;
      padding: 0 16px;
      border-radius: 12px;
      text-align: center;
      line-height: 1.43;
      font-size: 14px;
      font-weight: $bold;
      color: $black;
      background-color: $white;

      &.active {
        color: $white;
        background-color: $MAINCOLOR;
      }
    }

    // swiper inside subTab_box
    .swiper-wrapper {
      .swiper-slide {
        width: auto;
      }
    }

    .tab_description {
      margin: 12px 16px 0;
      padding: 4px 0 5px;
      border-radius: 14px;
      background-color: #632beb;
      text-align: center;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: $white;
        font-size: 14px;
        font-weight: $bold;
        line-height: 1.71;
        letter-spacing: -0.5px;

        > em {
          display: flex;
          align-items: center;
          &::before {
            display: inline-block;
            width: 20px;
            height: 20px;
          }
        }
        > span {
          margin-left: 5px;
          padding: 0 10px;
          background: #fff;
          color: #632beb;
          border-radius: 14px;
        }
      }
    }
  }

  .uploadWrap {
    position: relative;
    padding: 0 16px 16px;
    background-color: #eeeeee;

    .loadingWrap {
      position: absolute;
      background-color: transparent;
      .loading {
        position: absolute;
        top: 35%;
      }
    }
  }
  .historyWrap {
    background-color: $white;
  }

  .uploadWrap,
  .historyWrap {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;

    .noResult {
      margin: 120px auto 0 auto;
      text-align: center;
      &__guideTxt {
        @include normal-font();
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: -0.4px;
        text-align: center;
        color: $gray;
      }
      &__uploadBtn {
        display: block;
        width: 260px;
        height: 48px;
        margin-top: 28px;
        border-radius: 25px;
        background-color: $MAINCOLOR;
        font-size: 16px;
        font-weight: 800;
        text-align: center;
        color: $white;
      }
    }

    .upload_list {
      .my_clip_item {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        padding: 12px;
        border-radius: 12px;
        background-color: $white;

        .text_wrap {
          display: flex;
          width: 100%;
        }

        .thumb {
          position: relative;
          margin-right: 12px;

          .image {
            &_prof {
              width: 60px;
              border-radius: 12px;
            }
            &_lock {
              position: absolute;
              left: 50%;
              top: 50%;
              width: 24px;
              height: 24px;
              opacity: 0;
              transform: translate(-50%, -50%);
              transition: opacity 0.2s ease-out;
              &.visible {
                opacity: 1;
              }
            }
          }
        }

        .text_box {
          flex: 1;
          .title_box {
            display: flex;
            align-items: center;
            > span {
              @include normal-font(14px);
              line-height: 1.14;
              color: $MAINCOLOR;
              &::after {
                display: inline-block;
                width: 1px;
                height: 10px;
                margin: 0 6px;
                background-color: #bdbdbd;
                content: '';
              }
            }
            > p {
              flex: 1;
              margin: 0;
              font-size: 14px;
              font-weight: $bold;
              line-height: 1.14;
              color: #242424;
              @include multi-ellipsis(1);
            }
          }
        }

        .button_box {
          position: relative;
          .dot_button {
            &::before {
              display: block;
              width: 24px;
              height: 24px;
              background-image: url('https://image.dalbitlive.com/svg/icon_more_button.svg');
              content: '';
            }
          }

          .more_button {
            position: absolute;
            right: 0;
            top: 50%;
            height: 54px;
            padding: 0 50px 0 15px;
            border: 1px solid #e0e0e0;
            font-size: 14px;
            color: #757575;
            white-space: nowrap;
            background-color: $white;
            opacity: 0;
            transform: scale(0);
            transform-origin: 100% 0;
            transition: all 0.1s ease-out;
            &.active {
              opacity: 1;
              transform: scale(1);
              transform-origin: 100% 0;
              transition: all 0.1s ease-out;
            }
          }
        }

        p {
          margin: 4px 0 8px;
          @include normal-font(12px);
          line-height: 1.08;
          color: #616161;
          @include multi-ellipsis(1);
        }

        .icon_box {
          display: flex;
          align-items: center;

          > span {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 8px;
            @include normal-font(12px);
            color: $greishBrown;

            em {
              &::before {
                display: block;
                width: 16px;
                height: 16px;
                margin-right: 2px;
              }
            }
          }
        }
      }
    }

    .member_list {
      display: flex;
      margin-bottom: 4px;
      padding: 12px;
      border-radius: 12px;
      background-color: $white;

      .prof_thumb {
        img {
          width: 60px;
          border-radius: 50%;
        }
      }

      .text_wrap {
        margin-left: 12px;
        width: calc(100% - 72px);

        .text_box {
          display: flex;
          align-items: center;

          em {
            margin-right: 4px;
            &.female::before {
              display: inline-block;
              width: 24px;
              height: 16px;
              background-size: cover;
              background-image: url('https://image.dalbitlive.com/svg/gender_w_w.svg');
              content: '';
            }
            &.male::before {
              display: inline-block;
              width: 24px;
              height: 16px;
              background-size: cover;
              background-image: url('https://image.dalbitlive.com/svg/gender_m_w.svg');
              content: '';
            }
          }

          p {
            flex: 1;
            font-size: 14px;
            font-weight: $bold;
            word-break: break-word;
            color: #242424;
            @include multi-ellipsis(1);
          }
        }

        .clip_box {
          display: flex;
          align-items: center;
          margin-top: 8px;

          .clip_thumb {
            width: 34px;
            margin-right: 8px;
            img {
              width: 100%;
              border-radius: 8px;
            }
          }
          .content_box {
            width: calc(100% - 60px);
            p {
              margin-bottom: 4px;
              @include normal-font(12px);
              line-height: 1.08;
              color: #616161;
              @include multi-ellipsis(1);
              word-break: break-word;
            }
            span {
              display: flex;
              align-items: center;
              font-size: 12px;
              color: #424242;
            }
            em {
              display: flex;
              margin-right: 4px;
              &::before {
                display: inline-block;
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }

    .uploadList {
      display: flex;
      flex-direction: column;
      padding: 12px 16px 0;
      background-color: $white;

      &__topWrap {
        align-items: center;
        width: 100%;
        display: flex;
        line-height: 1.3;
      }

      &__line {
        flex-basis: 1px;
        height: 10px;
        background: $mediumGray;
        margin: 0px 6px;
      }

      &__container {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 16px;
        cursor: pointer;
        &:first-child {
          margin-top: 0;
        }
      }
      &__profImg {
        width: 72px;
        height: 72px;
        border-radius: 12px;
        margin-right: 16px;
      }
      &__categoryWrap {
        display: flex;
      }
      &__category {
        @include normal-font(14px);
        color: $MAINCOLOR;
        letter-spacing: -0.5px;
      }
      &__title {
        font-size: 14px;
        color: $greishBrown;
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        letter-spacing: -0.5px;
      }
      &__nickName {
        @include normal-font(12px);
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        color: $black;
        margin: 7px 0px;
      }
      &__details {
        width: calc(100% - 88px);
        em,
        strong {
          display: block;
        }
      }
      &__cnt {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 3px;
        em {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 5px;
          @include normal-font(12px);
          letter-spacing: -0.3px;
          text-align: left;
          color: $greishBrown;
          &:before {
            content: '';
            display: block;
            margin-right: 2px;
            width: 16px;
            height: 16px;
            background: url('./static/message.svg');
            opacity: 0.8;
          }
        }
        &.play {
          &:before {
            background: url('./static/clip_play_cnt.svg');
            opacity: 0.8;
          }
        }
        &.star {
          &:before {
            background: url('./static/clip_stat_cnt.svg');
            opacity: 0.8;
          }
        }
        &.like {
          &:before {
            background: url('./static/clip_like_cnt.svg');
            opacity: 0.8;
          }
        }
      }
    }
  }

  .historyBtnWrap {
    padding: 12px 16px 8px;
    background-color: #eeeeee;
    .historyBtn {
      width: 76px;
      height: 32px;
      margin-right: 4px;
      border-radius: 12px;
      border: solid 1px $lightGray;
      background-color: $white;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.35px;
      text-align: center;
      color: $black;

      &--active {
        background-color: $MAINCOLOR;
        border: solid 1px $MAINCOLOR;
        color: $white;
      }
    }
  }
  .listSimple {
    padding: 12px 2%;

    .listSimpleBox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .listSimpleItem {
        position: relative;
        width: 49%;
        max-height: 330px;
        padding: 10px;
        margin-bottom: 10px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
        border-radius: 16px;
        box-sizing: border-box;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
        }
        .topWrap {
          display: flex;
          justify-content: space-between;
          &__status {
            display: flex;
            align-items: center;
          }
          &__count {
            margin-left: auto;
            color: $white;
            text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.6);
            font-stretch: normal;
            @include normal-font(11px);
            letter-spacing: -0.28px;
            text-align: left;
            color: $white;
            z-index: 3;
            &--icon,
            &--num {
              margin-right: 4px;
            }
          }
        }

        .bottomWrap {
          display: flex;
          flex-direction: column;
          position: absolute;
          bottom: 10px;
          z-index: 3;

          &__nick {
            color: $white;
            font-weight: normal;
            font-size: 12px;
          }
          &__title {
            margin-top: 2px;
            max-width: 140px;
            color: $white;
            font-size: 14px;
            font-weight: 600;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: normal;
            text-align: left;
            color: $white;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            word-wrap: normal;
          }
        }
      }
    }
  }
  .maleIcon,
  .femaleIcon {
    display: block;
    width: 24px;
    height: 16px;
    background: url('./component/male.svg');
    background-color: $white;
    border-radius: 10px;
    margin-left: 2px;
  }
  .femaleIcon {
    background: url('./component/female.svg');
    background-color: $white;
    border-radius: 10px;
  }
}
