@import "components/ui/_mixin.scss";

.frame {
  @include position-center;
  z-index: 10;
  width:135%;
  height:135%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}
.frameBg {
  @include position-center;
  z-index: 5;
  width:216%;
  height:135%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}