@import "components/ui/_mixin.scss";

.frame {
  @include position-center;
  z-index: 10;
  width:100px;
  height:100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}
.frameBg {
  @include position-center;
  z-index: 5;
  width:160px;
  height:100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}