#evnetPackage {
  max-width: 720px;
  margin: auto;
  .title {
    position: relative;
    h2 {
      font-size: 18px;
      text-align: center;
      line-height: 40px;
    }
    button {
      position: absolute;
      top: 0px;
      right: 6px;
      width: 40px;
      height: 40px;
      background: url(./static/close.svg) center no-repeat;
      margin-right: 6px;
      text-indent: -999999px;
    }
  }

  .content {
    img {
      display: block;
      width: 100%;
      height: auto;
    }

    button {
      display: block;
      width: 100%;
    }
  }

  .writeWrap {
    padding: 0px 16px;
    box-sizing: border-box;
    background: #eee;
    min-height: 100vh;

    &::-webkit-input-placeholder {
      color: #bdbdbd;
    }
    &:-moz-placeholder {
      color: #bdbdbd;
    }
    &::-moz-placeholder {
      color: #bdbdbd;
    }
    &:-ms-input-placeholder {
      color: #bdbdbd;
    }

    .list {
      padding-top: 12px;
      margin-bottom: 12px;
      display: block;
      width: 100%;
      li {
        height: 44px;
        border-radius: 12px;
        padding-left: 16px;
        box-sizing: border-box;
        margin-bottom: 4px;
        background: #fff;
        border: 1px solid #e0e0e0;
        font-size: 12px;
      }

      &__title {
        display: inline-block;
        font-size: 12px;
        color: #000;
        line-height: 44px;
        width: 62px;
        letter-spacing: -0.5px;
      }
    }

    input {
      display: inline-block;
      width: calc(100% - 88px);
      margin-left: 12px;
      background: #fff;
      font-size: 12px;
      color: #333;
      height: 40px;
      line-height: 40px;
      box-sizing: border-box;
      font-weight: bold;
      letter-spacing: -0.5px;
    }

    h3 {
      font-size: 16px;
      display: block;
      margin-bottom: 8px;
    }

    textarea {
      display: block;
      width: 100%;
      min-height: 100px;
      color: #333;
      border: 1px solid #e0e0e0;
      font-size: 14px;
      border-radius: 12px;
      padding: 12px;
      box-sizing: border-box;
    }

    .textNumber {
      text-align: right;
      font-size: 12px;
      color: #616161;
      margin-top: 8px;
      b {
        color: #000;
      }
    }

    button {
      height: 44px;
      line-height: 44px;
      text-align: center;
      color: #fff;
      border-radius: 12px;
      font-size: 18px;
      background: #bdbdbd;
      width: 100%;
      margin-top: 32px;
      margin-bottom: 50px;
      &.active {
        background: #FF3C7B;
      }
    }
  }
}
