@import "components/ui/_mixin.scss";

.listColumn {
  position:relative;
  flex-shrink:0;
  @include flex(center,center,column);
  min-width: 0;
  .photo {
    @include photoStyle(auto,auto,inherit);
    img {
      width:100%;
    }
  }
  .userNick {
    width:100%;
    text-align:center;
    @include fontCut;
  }
}