@import "../../../../asset/scss/common/variables";
@import "components/ui/_mixin.scss";

#broadcastSettingTitleWrap {
  padding: 30px 12px 12px 12px;
  background-color: #fff;
  width: 360px;

  h3 {
    margin-bottom: 16px;
    text-align: center;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 12px;
    & > span:first-child {
      font-size: 14px;
    }
  }

  textarea {
    width: 326px;
    height: 100px;
    margin: 8px 0;
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: $bold;
    line-height: 24px;
    resize: none;
    &::placeholder {
      font-size: 14px;
      color: #bdbdbd;
      line-height: 22px;
    }

    &:disabled {
      border: 1px solid $lightGray;
      background-color: #f5f5f5;
    }
  }
  .buttonWrap {
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    &__delete {
      width: 60px;
      height: 32px;
      border: 1px solid #757575;
      border-radius: 8px;
    }

    &__cancel {
      width: 60px;
      height: 32px;
      background-color: #757575;
      border-radius: 8px;
      color: #fff;
      float: right;
      margin-right: 4px;
    }

    &__add {
      width: 60px;
      height: 32px;
      background-color: $MAINCOLOR;
      border-radius: 8px;
      color: #fff;
      float: right;

      &.disabled {
        background-color: $mediumGray;
      }
    }
  }

  .contentsWrap {
    margin-top: 32px;
    & > p {
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: $bold;
      line-height: 18px;
      & > span {
        margin-left: 8px;
        color: $MAINCOLOR;
      }
    }

    & > button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 14px 8px 14px 16px;
      margin-bottom: 4px;
      background-color: #fff;
      border: 1px solid $lightGray;
      border-radius: 12px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.35px;
      text-align: left;
      white-space: break-spaces;
      word-break: break-all;
      &.on::after {
        display: inline-block;
        width: 24px;
        min-width: 24px;
        height: 24px;
        min-height: 24px;
        background: url(../../static/radio_on.svg);
        content: "";
      }
      &::after {
        display: inline-block;
        width: 24px;
        min-width: 24px;
        height: 24px;
        min-height: 24px;
        background: url(../../static/radio_off.svg);
        content: "";
      }
    }
  }
  .buttonBottomWrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 64px;
    & > button {
      width: 100%;
      padding: 16px 0;
      text-align: center;
      border: 1px solid $MAINCOLOR;
      border-radius: 10px;
      color: $MAINCOLOR;
      font-size: 14px;

      &:first-child {
        margin-right: 10px;
      }

      &.on {
        background-color: $MAINCOLOR;
        color: #fff;
      }
    }
  }
}
