@import '../../../../styles/variables';
@import "components/ui/_mixin.scss";

input[type='file'] {
  display: none;
}
.btnMyList {
  display: block;
  position: absolute;
  top: 8px;
  right: 16px;
  height: 32px;
  padding: 0 8px 0 4px;
  line-height: 32px;
  font-size: 14px;
  font-weight: $bold;
  background: $MAINCOLOR;
  color: $white;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url(https://image.dalbitlive.com/mypage/ico_edit_w.svg) no-repeat;
  }
  &.on {
    display: none;
  }
}
.personalWrap {
  &__headerButton {
    display: flex;
    margin-bottom: 8px;
    padding-left: 16px;
    & button {
      margin-right: 4px;
      padding: 10px 20px;
      color: black;
      background-color: white;
      border-radius: 12px;
      font-size: 14px;
    }

    & button.on {
      color: white;
      background-color: #632beb;
    }
  }
}

.personalListWrap {
  background-color: white;
  &__eachWrap {
    display: flex;
    align-items: center;
    padding: 14px 16px;
    border-bottom: 1px solid #eeeeee;
    font-size: 12px;
  }

  &__label {
    margin-right: 9px;

    .stateComplete {
      padding: 5px 8px;
      color: #ec455f;
      border: 1px solid #ec455f;
      border-radius: 12px;
    }
    .stateWait {
      padding: 5px 8px;
      color: #feac2c;
      border: 1px solid #feac2c;
      border-radius: 12px;
    }
    .state {
      padding: 5px 8px;
      color: #616161;
      border: 1px solid #e0e0e0;
      border-radius: 12px;
    }
  }

  &__title {
    display: flex;
    flex: 1;
    max-width: 60%;
    white-space: nowrap;
    overflow-x: hidden;
    margin-right: 8px;
    // padding-bottom: 4px;
    font-size: 14px;
    align-items: center;
  }
}

.personalDetailWrap {
  background-color: white;
  &__header {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    font-size: 12px;
    border-bottom: 1px solid #eeeeee;
  }

  &__label {
    margin-right: 9px;

    .stateComplete {
      padding: 5px 8px;
      color: #ec455f;
      border: 1px solid #ec455f;
      border-radius: 12px;
    }
    .stateWait {
      padding: 5px 8px;
      color: #feac2c;
      border: 1px solid #feac2c;
      border-radius: 12px;
    }
    .state {
      padding: 5px 8px;
      color: #616161;
      border: 1px solid #e0e0e0;
      border-radius: 12px;
    }
  }

  &__title {
    display: flex;
    flex: 1;
    max-width: 60%;
    white-space: nowrap;
    overflow-x: hidden;
    margin-right: 8px;
    padding-bottom: 4px;
    font-size: 14px;
    align-items: center;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    padding: 12px 16px 50px 16px;
  }

  &__qna {
    margin-bottom: 16px;
    &--title {
      font-size: 16px;
    }
    &--content {
      font-size: 14px;
    }
  }

  &__addFile {
    margin-bottom: 16px;
    & img {
      width: 100px;
      height: 100px;
    }

    & img:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__answer {
    font-size: 14px;
    &--header {
      display: flex;
      align-items: center;
    }
    &--icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 6px;
      background: url('../static/ic_answer.svg') no-repeat center;
      background-color: #ec455f;
      border-radius: 50%;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 31.7px;
    padding: 0 16px;
    & button:not(:last-child) {
      margin-right: 4px;
    }
    & button:last-child {
      background-color: #632beb;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 13px 0;
    border-radius: 12px;
    background-color: #757575;
    color: white;
  }
  &__zoom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);

    & img {
      display: block;
      position: absolute;
      width: 95%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.personalAddWrap {
  padding: 0 16px;

  .qnaInfoBanner {
    overflow: hidden;
    margin-bottom: 12px;
    border-radius: 12px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  &__select {
    position: absolute;
    width: calc(100% - 32px);
    z-index: 3;

    div.wrapper {
      div:last-child {
        border-bottom: none;
      }
    }

    & > div {
      & > div {
        width: 100%;
        color: #757575;
        background-color: white;
        border: 1px solid #e0e0e0;
        border-radius: 12px;
        font-size: 14px;
        &.options {
          display: flex;
          align-items: center;
          height: 44px;
          padding-left: 16px;
          &::before {
            top: 20px;
            background-color: #9e9e9e;
          }
          &::after {
            top: 20px;
            background-color: #9e9e9e;
          }
        }
        &:first-child.open {
          border-radius: 12px 12px 0 0;
        }
      }
      & > div:last-child.open {
        border-top: none;
        & .box-list {
          padding: 10px 16px;
          font-size: 14px;
          color: #757575;
        }
      }
    }
  }
  &__content {
    padding-top: 50px;
    &--notPad {
      padding-top: 0px !important;
    }
  }

  &__input {
    display: block;
    width: 100%;
    margin-bottom: 4px;
    padding: 13px 16px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    font-size: 14px;
    &::placeholder {
      color: #757575;
    }
    &--textarea {
      height: 300px;
    }
    &:disabled {
      background-color: #f5f5f5;
    }
  }
  &__caption {
    font-size: 12px;
    color: #616161;
    margin-bottom: 12px;
  }
  &__file {
    display: flex;
    align-items: center;
    &--text {
      width: 90%;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
    &--add {
      position: absolute;
      right: 32px;
      width: 18px;
      height: 18px;
      cursor: pointer;
      background: url('../static/ic_file.svg') no-repeat center;
    }
    &--delete {
      position: absolute;
      right: 32px;
      width: 18px;
      height: 18px;
      cursor: pointer;
      background: url('../static/ic_delete.svg') no-repeat center;
    }
  }
  &__submit {
    width: 100%;
    margin-top: 30px;
    padding: 13px 0;
    background-color: #cdcdcd;
    color: white;
    border-radius: 12px;

    &.on {
      background-color: #632beb;
    }
  }
  .callBoxWrap {
    margin-top: 10px;
    padding: 15px 14px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    font-size: 14px;
    .callBox {
      display: flex;
      align-items: center;
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
    }
    .callBox_title {
      flex: 1;
      font-size: 12px;
      color: #616161;
      .callBox_title__custom {
        font-size: 14px;
        span {
          font-size: 16px;
        }
      }
    }
    .callBox_desc {
      display: block;
      font-size: 11px;
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 94px;
      height: 28px;
      padding: 6px 0;
      border-radius: 14px;
      font-size: 11px;
      text-align: center;
      background-color: black;
      color: white;
      box-sizing: border-box;
      > img {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 4px;
      }
    }
  }
  &__checkboxWrap {
    display: flex;
    margin: 30px 0 16px 0;
    font-size: 12px;
    &--check {
      display: flex;
      flex: 1;
      align-items: center;
      & > span {
        margin-left: 8px;
      }
    }
  }
  &__agreeWrap {
    display: flex;
    align-items: center;
    margin-top: 30px;
    &--text {
      flex: 1;
      margin-left: 8px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: normal;
    }

    &--deep {
      margin-right: 5px;
      font-size: 12px;
      color: #616161;
      text-decoration: underline;
      letter-spacing: -0.3px;
      cursor: pointer;
    }
  }

  &__callWrap {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 15px 14px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    font-size: 14px;

    &--box {
      flex: 1;

      .bold {
        font-weight: bold;
      }

      &--s {
        font-size: 11px;
      }
    }

    &--call {
      display: flex;
      align-items: center;
      padding: 7px 17px;
      background-color: black;
      border-radius: 14px;
      font-size: 11px;
      & > img {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 4px;
      }
    }
  }

  &__policy {
    padding: 15px 0;
    font-size: 12px;
    color: #757575;
    text-align: center;
  }
}

#qnaInfoWrap {
  background-color: $white;

  h3 {
    padding: 4px 0 12px;
    background-color: $lighterGray;
    font-size: 18px;
    font-weight: $bold;
    color: $MAINCOLOR;
    text-align: center;

    img {
      vertical-align: middle;
    }
  }
  .InfoInnerBox {
    padding: 0 16px 32px 16px;

    .introBox {
      padding: 12px 0;
      font-size: 14px;
      line-height: 22px;
      color: $greishBrown;
      text-align: center;

      span {
        color: $black;
        font-weight: $bold;
      }
    }

    .giftBox {
      width: 100%;
      padding: 20px 25px;
      background-color: $whiteGray;
      border: 1px solid $lightGray;
      border-radius: 12px;
      box-sizing: border-box;

      &__title {
        margin-bottom: 16px;
        font-size: 14px;
        color: $red;
        text-align: center;
        font-weight: $bold;
      }

      &__content {
        display: flex;
        justify-content: center;

        .image {
          width: 70px;
          margin-right: 20px;
          padding-top: 12px;

          img {
            width: 100%;
          }
        }

        dl {
          font-size: 14px;
          dt {
            color: $MAINCOLOR;
          }

          dd {
            font-weight: $bold;

            img {
              display: inline-block;
              margin: 0 4px;
            }
          }
          dt + dd,
          dd + dt {
            margin-top: 8px;
          }
        }
      }
    }

    .noticeBox {
      margin-top: 20px;
      font-size: 14px;

      &__title {
        display: inline-block;
        margin-bottom: 12px;
        padding: 5px 8px 6px 30px;
        border-radius: 14px;
        background: $greishBrown url(https://image.dalbitlive.com/svg/ic_notice_line_wh.svg) no-repeat 7px;
        color: $white;
      }

      li {
        position: relative;
        padding-left: 12px;
        line-height: 22px;
        color: $greishGray;

        &::after {
          content: '';
          position: absolute;
          top: 11px;
          left: 0;
          width: 4px;
          height: 1px;
          background-color: $greishGray;
        }
      }
    }
  }
}
