@import "components/ui/_mixin.scss";

#partnerDj {
  flex: 1;
  @include flex(center, center, column);
  width: 100%;
  .content {
    flex: 1;
    @include flex(center, flex-start, column);
    width: 100%;
    padding: 10px 20px;
    background: url("https://image.dalbitlive.com/partnerDj/partnerDj_bg.png") #FCFCFC no-repeat center 114px;
    background-size: 22%;
    box-sizing: border-box;
    section {
      @include flex(center, center, column);
      width: 100%;
      padding: 30px 0;
      border-bottom: 1px solid #DFDFDF;
      &:last-child {
        border-bottom: none;
      }
      .top {
        @include flex(center, center, column);
        width: 100%;
        .offical {
          @include font(15px, 700, #BCBCBC);
          line-height: 19px;
        }
        .mainTitle {
          @include font(35px, 900, #FF3C7B);
          line-height: 44px;
        }
        .contractTitle {
          @include flex(center, center);
          padding: 0 29px;
          border: 1px solid #DEDCDD;
          border-radius: 100px;
          @include font(17px, 600, #202020);
          line-height: 36px;
        }
      }
      .textWrap {
        @include flex(center, center, column);
        width: 100%;
        margin-top: 21px;
        p {
          text-align: center;
          @include font(13px, 500, #363636);
          margin-bottom: 16px;
          line-height: 18px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
      .stepWrap {
        @include flex(center, center);
        width: 100%;
        margin-top: 27px;
        .step {          
          @include flex(center, center);
          height: 66px;
          &:nth-child(1) {
            width: 60%;
            padding-right: 6%;
            clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0 100%, 0 0);
            @include font(14px, 500, #202020);
            background-color: #F8F8F8;
          }
          &:nth-child(2) {
            width: 40%;
            margin-left: -4%;
            padding-left: 6%;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 15% 50%);
            @include font(14px, 800, #202020);
            background-color: #ECECEC;
          }
        }
      }
    }
  }
}