@import "components/ui/_mixin.scss";

.container {
  .totalWrap {
    #inquire {
      .tabmenu {
        top: $PC-TABTOP;
      }
    }
  }
}

#inquire {
  .subContent {
    .tabmenu {
        position:sticky;
        top: $MOBILE-TABTOP;
        @include flex(center);
        margin:0 16px;
        background-color: #FFF;
        z-index: $TAB-ZINDEX;
        li {
          flex:1;
          @include flex(center,center);
          height:48px;
          border-bottom:2px solid #F2F2F2;
          letter-spacing: -1px;
          @include font(16px,$Medium,#575757);
          cursor:pointer;
          &.active {              
            @include font(16px,$Bold,#202020);
            border-bottom:2px solid #202020;
          }
        }
    }    
  }
}