@import "components/ui/_mixin.scss";

#inquire {
  .subContent {
    .tabmenu {
        position:relative;
        @include flex(center);
        margin:0 16px;
        li {
          flex:1;
          @include flex(center,center);
          height:42px;
          border-bottom:2px solid #F2F2F2;
          letter-spacing: -1px;
          @include font(16px,500,#ACACAC);
          &:nth-child(1) {
            &.active ~ .underline {left:0;}            
          }
          &:nth-child(2) {
            &.active ~ .underline {left:50%;}
          }
          &.active {              
            @include font(16px,700,#202020);
          }
        }
        .underline {
          @include position-bottom-left;
          width:50%;
          height:2px;
          background-color:black;
          transition: all .1s ease-in-out;
        }
    }    
  }
}