@import "components/ui/_mixin.scss";

#inquireWrite {
  position: relative;
  width: 100%;
  padding: 21px 16px;
  .inputItems {
    margin-bottom:16px;
    .title {
      @include flex(flex-start);
      &::after {
        content:"";
        display:inline-block;
        width:4px;height:4px;
        margin-left:2px;
        border-radius:50%;
        background-color:$MAINCOLOR;
      }
    }
    .inputBox {
      margin-bottom:15px;
      button {
        flex:1;
        @include flex(center);
        margin:0 15px;
        text-align:left;
        @include font(15px,400,#999);
        &::after {
          content:"";
          display: inline-block;
          width:20px;height:20px;
          margin-left:auto;
          @include BGIMG("common/icoArrow-b.png");
        }
        &.active {
          @include font(15px,500,#202020);
        }
      }
      .selectWrap {
        @include position-top-left(50px);
        z-index: 10;
        width:100%;
        max-height:230px;
        padding:0 16px;
        background-color: white;
        border-radius:16px;
        box-shadow:0 2px 3px rgba(black,.16);
        overflow-y:auto;
        .option {
          line-height:50px;
          @include font(15px,500,#202020);
        }
      }
    }
  }
  .imageUpload {
    margin-bottom:16px;
  }
  .inputLabel {
    @include flex(center);
    margin-bottom:32px;
    .checkInfo {
      @include flex(center);
      &::after {
        content:"[필수]";
        display:inline-block;
        margin-left:4px;
        @include font(12px,$Bold,$MAINCOLOR);
      }
    }
    .policyBtn {
      margin-left: auto;
      @include font(13px,$Regular,#999);
    }
  }
  .submitBtn {
    width: 100%;
  }
}

#layerPop {
  .popContainer {
    padding: 20px 0;
    box-sizing: border-box;
    .popTitle {
      @include flex(center, center);
      width: 100%;
      line-height: 48px;
      @include font(16px, 700, #202020);
    }
    .popContent {
      width: 100%;
      padding: 12px 20px;
      box-sizing: border-box;
      .dashList {
        position: relative;
        @include flex(flex-start, flex-start, column);
        li {
            position: relative;
            width: 100%;
            padding-left: 10px;
            line-height: 20px;
            letter-spacing: -1px;
            word-break: keep-all;
            @include font(12px, 400, #666666);
            box-sizing: border-box;
            &:last-child {
                margin-bottom: 0spx;
            }
            &::before {
              content: "";
              position: absolute;
              left: 0; top: 8px;
              @include flex(center, center);
              width: 6px; height: 1px;
              background-color: #666666;
          }
        }       
      }
    }
  }   
}