@import "components/ui/_mixin.scss";

#dalCharge {
  @include flex($fd:column);
  min-height:100vh;
  section{
    background:#fff;
  }
  .cntTitle {
    margin-bottom:8px;
    padding:0;
  }

  .eventBanner {
    width: 100%;
    .bannerImg {
      width: 100%;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
    .bannerInfo {
      @include flex(flex-start, flex-start, column);
      width: 100%;
      padding: 8px 16px;
      box-sizing: border-box;
      .bannerText {
        @include font(12px, 600, #202020);
        margin-bottom: 3px;
        line-height: 15px;
        &:last-child {
          margin-bottom: 0px;
        }
        &.point {
          @include font(12px, 600, #FF1919);
        }
      }
    }
  }

  .purchaseInfo {
    padding:20px 16px 15px;
    border-bottom:9px solid #F2F2F2;
    .infoBox {
      @include flex($fd:column);
      border-radius: 16px;
      background: #f6f6f6;
      .divider{
        width: 100%;
        height: 1px;
        background: #fff;
      }
      .infoList {
        @include flex(center);
        line-height: 50px;
        padding: 0 15px;
        &:last-child {
          border-top:1px solid white;
        }
        .title {
          @include font(15px,500,#303030);
        }
        p {
          margin-left: auto;
          @include font(15px,500,#202020);
          .totalCnt {
            margin-right: 3px;
            @include font(23px,500,#202020);
          }
          &.quantity {
            @include flex(center);
            span {
              display: inline-block;
              width: 45px;
              font-size: 15px;
              text-align: center;
            }
            button {
              width: 23px;
              height: 23px;
              text-indent: -9999px;
              border-radius: 50%;
              &.plus {
                @include BGIMG("svg/ico_add.svg");
                background-color:#FF3C7B;
              }
              &.minus {
                @include BGIMG("svg/ico_minus.svg");
                background-color:#FF3C7B;
              }
            }
          }
        }
      }
    }
  }
  .paymentMethod{
    padding:20px 16px 0;
    .selectWrap {
      @include flex($jc:space-between);
      flex-wrap: wrap;
      .selectItem {
        position: relative;
        @include flex(center,center);
        width: calc(50% - 4px);
        line-height: 48px;
        margin-bottom: 8px;
        border-radius: 16px;
        border: 1px solid #e0e0e0;
        @include font(15px,500,#303030);
        cursor: pointer;
        &.active {
          border-color: #FF3C7B;
          color: #FF3C7B;
        }
        &.disabled{
          border: none;
          background: #e3e3e3;
          color: #fff;
          pointer-events: none;
        }
        .bonus {
          @include flex(center, center);          
          height: 28px; 
          padding: 0px 10px;
          margin-left: 6px;
          border-radius: 100px;
          @include font(13px, 600, #FFF);
          letter-spacing: -1px;
          background-color: #FF1919;
        }
        &:nth-child(1) {
          width: 100%;
          &::before {
            content: "";
            display: inline-block;
            width: 24px; height: 24px;
            margin-right: 6px;
            background-image: url("https://image.dalbitlive.com/common/icon/icon_payment-account.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
        &:nth-child(2) {
          width: 100%;
        }
      }
    }
  }
  .noticeInfo {
    padding:20px 16px 30px;
    h3 {
      position:relative;
      @include flex;
      margin-bottom: 8px;
      padding-left: 20px;
      @include font(12px,600,#666666);
      &::after{
        content:"";
        @include position-vertical;
        left:2px;
        width:16px;
        height:16px;
        background:url("https://image.dalbitlive.com/common/icon/icon_info-gray.png") no-repeat left / contain;
      }
    }
    p {
      position: relative;
      padding-left: 16px;
      line-height: 20px;
      letter-spacing: -0.8px;
      @include font(12px,500,#666666);
      &::before {
        @include position-top-left(9px,6px);
        content: '';
        width: 2px;height: 2px;
        background: #757575;
      }
    }
  }
  .bottomInfo{
    @include flex(center,center);
    height:58px;
    margin-top:auto;
    border-top:1px solid #F5F5F5;
    @include font(14px,400,#666);
    span{
      @include font(16px,700,black);
      margin-left: 4px;
    }
  }
  #popSlide {
    .slideLayer {
      @include flex($fd:column);
      padding:35px 28px 40px;
      .title {
        margin-bottom:15px;
        @include font(22px,bold,#202020);
      }
      .infoBox {
        width:100%;
        margin-bottom:18px;
        padding:18px 0 20px;
        border-radius:16px;
        background-color:#F8F8F8;
        text-align:center;
        @include font(19px,500,#303030);
      }
      .text {
        line-height:18px;
        letter-spacing: -1px;
        text-align:center;
        @include font(13px,400,#43464A);
      }
      .submitBtn {
        width:100%;
        margin-top:20px;
      }
    }
  }
}
