@import "./global";
@import "components/ui/_mixin.scss";

.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none !important;
}

html {
  font-size: 16px;
  color: $black;
}
// 메인및 서브 페이지 센터영역 공통 wrap
#root {
  width:100%;
  overflow-x:hidden;
}

.refresh-wrap {
  display: block;
  position: absolute;
  height: 48px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top:-48px;
  // background-color: rgba(127, 127, 127, 0.3);
  // transition: height 0ms cubic-bezier(0.26, 0.26, 0.69, 0.69) 0s;
  z-index: 10;
  &.rank {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    background-color: transparent;
    // transition: height 0ms cubic-bezier(0.26, 0.26, 0.69, 0.69) 0s;
  }
  .icon-wrap {
    position: absolute;
    left: 50%;
    bottom: 6px;
    .arrow-refresh-icon {
      display: block;
      position: relative;
      left: -50%;
      width: 32px;
      height: 32px;
    }
  }
}

.container {
  min-height: 100vh;
  background-color: #fbfbfb;
  .totalWrap {
    width: 800px;
    margin: 0 auto;
    .content {
      background: $white;
      min-height: 100vh;
      width: 480px;
      border-left: 1px solid $lightGray;
      border-right: 1px solid $lightGray;
      box-sizing: content-box;
      &.player {
        padding-bottom: 80px;
      }
      .subContent {
        min-height: calc(100vh - 50px);
        box-sizing: border-box;
        &.gray {
          background: $lighterGray;
        }
      }
    }
    .rightContent {
      float: right;
      background: $white;
      min-height: 100vh;
      width: 280px;
      .subContent {
        border-left: 1px solid $lightGray;
        border-right: 1px solid $lightGray;
        padding: 40px 16px;
        min-height: calc(100vh - 50px);
        box-sizing: border-box;
      }
    }
  }
}
.mobile-app {
  #gnb {
    display: none;
  }
  .totalWrap {
    width: 100%;
  }
  #mainPage {
    .fixedButton {
      right: 20px;
      margin-right: auto;
    }
    .mainSlideWrap {
      .mainSlideItem {
        height: 220px;
      }
    }
  }
  #attendEventPage {
    width: 100%;
  }

  #footerWrap {
    display: none;
  }
  .rouletteTab {
    .rouletteBox {
      min-height: auto;
    }
  }
}
#GNB {
  position:sticky;
  top:0;
  z-index: 99999;
  width:100%;
  height: 68px;
  background-color: white;
  border-bottom:1px solid #E0E0E0;
  .gnbContainer {
    position: relative;
    @include flex(center);
    max-width:800px;
    height:100%;
    margin: 0 auto;
    .gnbHeader {
      @include flex(center);
      width:100%;
      max-width:480px;
      h1 {
        height:25px;
        max-width:480px;
        img {
          width:71px;
          height:100%;
        }
      }
      button {
        margin-left:auto;
        @include border(#D9D9D8,2px);
      }
    }
    .gnbNavigation {
      margin-left:auto;
      ul {
        @include flex(center);
        li {
          position:relative;
          width:44px;height:44px;
          &:hover::before {
            content:"";
            @include position-horizon;
            top:100%;
            width:13px;height:12px;
            @include BGIMG("common/gnb/gnb-dot.png");
          }
          &:hover::after {
            @include position-horizon;
            top:calc(100% + 8px);
            padding:0 7px 0 7px;
            height:24px;
            line-height:22px;
            border-radius:4px;
            background-color:#424242;
            white-space: nowrap;
            @include font(14px,normal,white);
          }
          &:nth-child(1) {
            @include BGIMG("common/gnb/gnbLive-off.png");
            &:hover::after {content:"라이브";}
          }
          &:nth-child(2) {
            @include BGIMG("common/gnb/gnbClip-off.png");
            &:hover::after {content:"클립";}
          }
          &:nth-child(3) {
            @include BGIMG("common/gnb/gnbSearch-off.png");
            &:hover::after {content:"검색";}
          }
          &:nth-child(4) {
            @include BGIMG("common/gnb/gnbRank-off.png");
            &:hover::after {content:"랭킹";}
          }
          &:nth-child(5) {
            @include BGIMG("common/gnb/gnbMy-off.png");
            &:hover::after {content:"마이";}
          }
          &:nth-child(6) {
            @include BGIMG("common/gnb/gnbAllim-off.png");
            &:hover::after {content:"알람";}
          }
          &.active {
            &:nth-child(1) {@include BGIMG("common/gnb/gnbLive-on.png");}
            &:nth-child(2) {@include BGIMG("common/gnb/gnbClip-on.png");}
            &:nth-child(3) {@include BGIMG("common/gnb/gnbSearch-on.png");}
            &:nth-child(4) {@include BGIMG("common/gnb/gnbRank-on.png");}
            &:nth-child(5) {@include BGIMG("common/gnb/gnbMy-on.png");}
            &:nth-child(6) {@include BGIMG("common/gnb/gnbAllim-on.png");}
          }
        }
      }
    }
  }
}
#guide {
  position: fixed;
  right: 0;
  top: 0;
  width: 80px;
  height: 100vh;
  z-index: 5;
  .guideItem {
    margin-top: 26px;
    text-align: center;
    &__icon {
      margin: 0 auto;
      width: 48px;
      height: 48px;
      background-color: $lightGray;
      border-radius: 50%;

      img {
        display: inline-block;
        margin-top: 7px;
      }
    }

    &__text {
      margin-top: 8px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.24px;
      color: $black;
    }
  }
}
// header common
.header-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 12px 16px;
  color: $black;
  background-color: $white;
  border-bottom: 1px solid #d2d2d2;
  box-sizing: border-box;

  .header-title {
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    letter-spacing: -0.45px;
    color: $black;
    &.isLong {
      padding-left: 28px;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -1.2px;
    }
    &.isCursor {
      cursor: pointer;
    }
  }

  .btnClose {
    display: block;
    position: absolute;
    top: 50%;
    left: 6px;
    margin-top: -20px;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
    background: url("#{$IMG_SERVER}/svg/icon_back_gray.svg") no-repeat 0 0;
  }

  .btnCloseWhite {
    background: url("#{$IMG_SERVER}/svg/icon_back_white.svg") no-repeat 0 0;
  }

  .allCheck {
    display: flex;
    position: absolute;
    top: 9px;
    right: 20px;
    align-items: center;
  }

  .deleteIcon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background: url("#{$IMG_SERVER}/svg/ico_alarm_delete.svg") no-repeat center;
    background-size: contain;
    &.isActive {
      background: url("#{$IMG_SERVER}/svg/ico_alarm_delete_active.svg") no-repeat center;
    }
  }
}
.searchIcon {
  position: absolute;
  left: 8px;
  display: block;
  width: 40px;
  background: url("../../pages/clip/static/clip_search.svg");
  height: 40px;

  cursor: pointer;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100%;
  height: 84px;
  background-color: $primary;
  transition: top 0.3s ease-in 0s;
  z-index: 5;

  &__box {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 30px;
  }

  &__input {
    width: 802px;
    height: 52px;
    border: solid 2px $white;
    border-radius: 30px;
    background: $primary;
    box-sizing: border-box;
    padding: 24px 16px;
    color: $white;
    font-size: 16px;
    letter-spacing: -0.4px;

    &::placeholder {
      color: $white;
      letter-spacing: -0.4px;
      opacity: 0.5;
    }
  }

  &.open {
    top: 56px;
  }
  &.close {
    top: -28px;
  }
}

.noResultWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    font-size: 14px;
    line-height: 1.25;
    color: $greishGray;
    &.noResult {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 14px;
      line-height: 1.4;
      text-align: center;
      &::before {
        display: inline-block;
        content: "";
        width: 82px;
        height: 68px;
        margin-bottom: 16px;
        background: url("#{$IMG_SERVER}/images/api/pc_img_noresult.svg") no-repeat center;
      }
    }
  }
}

.broadcast-menu {
  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      position: relative;
      display: block;
      width: 84px;
      height: 84px;
      margin-bottom: 84px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
      background: url("../../common/static/ic_mic.svg") no-repeat center center / 36px;
      background-color: #632beb;
      z-index: 99;
      border-radius: 50%;
      &:after {
        display: block;
        position: absolute;
        width: 120px;
        left: 50%;
        bottom: -34px;
        transform: translateX(-50%);
        content: "실시간 방송";
        font-size: 18px;
        font-weight: $bold;
        letter-spacing: -0.45px;
        color: #fff;
      }
    }
    .recoding {
      background: url("../../common/static/ic_record.svg") no-repeat center center / 36px;
      background-color: #632beb;
      &:after {
        content: "클립 녹음";
      }
    }
    .upload {
      background: url("../../common/static/ic_upload.svg") no-repeat center center / 36px;
      background-color: #632beb;
      &:after {
        content: "클립 업로드";
      }
    }
  }
}

.btnWrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;

  .btn {
    width: 100%;
    height: 44px;
    font-size: 16px;
    border-radius: 12px;
    color: $white;
    font-weight: $bold;
    text-align: center;
    background-color: $primary;
    &.isDisable {
      background: $mediumGray;
    }
    &.btn_cancel {
      width: 49%;
      background-color: $greishGray;
    }
    &.btn_ok {
      width: 49%;
      &.isDisable {
        background: $mediumGray;
      }
    }
  }
}
.profileImage {
  position: relative;
  text-align: center;
  cursor: pointer;
  .thumb {
    position: relative;
    margin: 0 auto 0;
    border-radius: 50%;
  }
  .holder {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    & + .thumb {
      margin-top: 13px;
    }
  }
  .holderBg {
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .profileBg {
    display: block;
    position: absolute;
    top: -20px;
    left: -40px;
    width: 180px;
    height: 140px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .zoom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 22;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .zoomImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 95%;
    height: auto;
  }
}

.flexBox {
  @include flex("", flex-start, "");
}
.ellipsis {
  @include multi-ellipsis(1);
}
@media (max-width: 800px) {

}

@media (max-width: 480px) {
  #gnb,
  #guide {
    display: none;
  }
  .container {
    #mainPage {
      .headerWrap {
        width: 100%;
      }
      #gnbWrap {
        display: flex;
      }
    }
    .totalWrap {
      width: 100%;
      border: 0;
    }
  }
}
@media (max-width: 1400px) {
  #guide {
    display: none;
  }
}
