@import "./global";
@import "components/ui/_mixin.scss";

.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none !important;
}
// 메인및 서브 페이지 센터영역 공통 wrap
#root {
  width:100%;
}

.content-article {
  @include flex($fd: column);
  min-height:100vh !important;
}

.refresh-wrap {
  @include position-horizon;
  top:0;
  margin-top:-48px;
  z-index: 10;
  // background-color: rgba(127, 127, 127, 0.3);
  // transition: height 0ms cubic-bezier(0.26, 0.26, 0.69, 0.69) 0s;
  &.rank {
    position: absolute;top: 0;
    transform: translateX(-50%);
    background-color: transparent;
    // transition: height 0ms cubic-bezier(0.26, 0.26, 0.69, 0.69) 0s;
  }
  .icon-wrap {
    @include position-bottom-left(6px,50%);
    .arrow-refresh-icon {
      position: relative;
      left: -50%;
      display: block;
      width: 32px;height: 32px;
    }
  }
}

.container {
  @include flex(center,center,column);
  min-height: calc(100vh - #{$GNB-HEIGHT});
  padding-top:20px;
  background-color: #fbfbfb;
  .totalWrap {
    flex:1;
    @include flex($fd:column);
    max-width:800px;
    height:100%;
    > .content {
      flex:1;
      position:relative;
      @include flex($fd:column);
      width: 480px;
      height:100%;
      border-top:1px solid $lightGray;
      background: $white;
      &::before {
        content:"";
        @include position-top-left(0,-1px);
        z-index: 2;
        width:1px;
        height:100%;
        background-color:$lightGray;
      }
      &::after {
        content:"";
        @include position-top-right(0,-1px);
        z-index: 2;
        width:1px;
        height:100%;
        background-color:$lightGray;
      }
      &.player {
        padding-bottom: 80px;
      }
      .subContent {
        min-height: calc(100vh - 50px);
        box-sizing: border-box;
        &.gray {
          background: $lighterGray;
        }
      }
      header {
        top:68px !important;
      }
    }
    .rightContent {
      float: right;
      background: $white;
      min-height: 100vh;
      width: 280px;
      .subContent {
        border-left: 1px solid $lightGray;
        border-right: 1px solid $lightGray;
        padding: 40px 16px;
        min-height: calc(100vh - 50px);
        box-sizing: border-box;
      }
    }
  }
}
#GNB {
  position:-webkit-sticky;
  position:sticky;
  top:0;
  width:100%;min-width:480px;
  height: $GNB-HEIGHT;
  background-color: white;
  border-bottom:1px solid #E0E0E0;
  z-index: $GNB-ZINDEX;
  .gnbContainer {
    position: relative;
    @include flex(center);
    height:100%;
    margin: 0 auto;
    .gnbHeader {
      flex:1;
      @include flex(center,center);
      width:100%;
      h1 {
        height:25px;
        width:200px;
        cursor: pointer;
        img {
          width:71px;
          height:100%;
        }
      }
    }
    .gnbNavigation {
      flex:1;
      @include flex(center,center);
      width:480px;
      ul {
        @include flex(center,space-between);
        width:328px;
        li {
          width:56px;height:56px;

        }
      }
    }
    .subGnbNavigation {
      flex:1;
      @include flex(center,center);
      ul {
        @include flex(center);
        li {
          width:44px;height:44px;
          background-color:#ddd;
          + li {
            margin-left:6px;
          }
          &:nth-child(1) {@include BGIMG("common/gnb/gnbMy-off.png");}
          &:nth-child(2) {@include BGIMG("common/gnb/gnbMali-off.png");}
          &:nth-child(3) {@include BGIMG("common/gnb/gnbStore-off.png");}
          &:nth-child(4) {@include BGIMG("common/gnb/gnbAllim-off.png");}
          &.active {
            &:nth-child(1) {@include BGIMG("common/gnb/gnbMy-on.png");}
            &:nth-child(2) {@include BGIMG("common/gnb/gnbMail-on.png");}
            &:nth-child(3) {@include BGIMG("common/gnb/gnbStore-on.png");}
            &:nth-child(4) {@include BGIMG("common/gnb/gnbAllim-on.png");}
          }
        }
      }
      button {
        position: relative;
        @include flex(center,center);
        width:114px;
        line-height:34px;
        margin-left:11px;
        @include border(#D9D9D8,2px);
        @include font(14px,SemiBold,#161616);
        &::before {
          content:"+";
          display:inline-block;
          width:10px;
          height:10px;
          line-height:10px;
          margin-right:4px;
          font-size:18px;
        }
        &:hover {
          border-color:$MAINCOLOR;
          background-color:$MAINCOLOR;
          color:white;
        }
      }
    }
    ul {
      li {
        position:relative;
        // width:44px;height:44px;
        border-radius:50%;
        &:hover {
          background-color:#F2F2F2 !important;
        }
        &:hover::before {
          content:"";
          @include position-horizon;
          top:100%;
          width:13px;height:12px;
          @include BGIMG("common/gnb/gnb-dot.png");
        }
        &:hover::after {
          @include position-horizon;
          top:calc(100% + 8px);
          padding:0 7px 0 7px;
          height:24px;
          line-height:22px;
          border-radius:4px;
          background-color:#424242;
          white-space: nowrap;
          @include font(14px,normal,white);
        }
        &[data-url="/"] {
          @include BGIMG("common/gnb/gnbLive-off.png");
          &:hover::after {content:"라이브";}
        }
        &[data-url="/clip"] {
          @include BGIMG("common/gnb/gnbClip-off.png");
          &:hover::after {content:"클립";}
        }
        &[data-url="/search"] {
          @include BGIMG("common/gnb/gnbSearch-off.png");
          &:hover::after {content:"검색";}
        }
        &[data-url="/rank"] {
          @include BGIMG("common/gnb/gnbRank-off.png");
          &:hover::after {content:"랭킹";}
        }
        &[data-url="/mypage"] {
          @include BGIMG("common/gnb/gnbMy-off.png");
          &:hover::after {content:"마이";}
        }
        &[data-url="/mail"] {
          @include BGIMG("common/gnb/gnbMail-off.png");
          &:hover::after {content:"우체통";}
        }
        &[data-url="/store"] {
          @include BGIMG("common/gnb/gnbStore-off.png");
          &:hover::after {content:"스토어";}
        }
        &[data-url="/notice"] {
          @include BGIMG("common/gnb/gnbAllim-off.png");
          &:hover::after {content:"알람";}
          .newDot {
            @include position-top-right(4px,4px);
            display:inline-block;
            width:8px;height:8px;
            border-radius:50%;
            background-color:$MAINCOLOR;
          }
        }
        &.active {
          &[data-url="/"] {@include BGIMG("common/gnb/gnbLive-on.png");}
          &[data-url="/clip"] {@include BGIMG("common/gnb/gnbClip-on.png");}
          &[data-url="/search"] {@include BGIMG("common/gnb/gnbSearch-on.png");}
          &[data-url="/rank"] {@include BGIMG("common/gnb/gnbRank-on.png");}
          &[data-url="/mypage"] {@include BGIMG("common/gnb/gnbMy-on.png");}
          &[data-url="/mail"] {@include BGIMG("common/gnb/gnbMail-on.png");}
          &[data-url="/store"] {@include BGIMG("common/gnb/gnbStore-on.png");}
          &[data-url="/notice"] {@include BGIMG("common/gnb/gnbAllim-on.png");}
        }
      }
    }
  }
}
#guide {
  position: fixed;
  right: 0;
  top: 0;
  width: 80px;
  height: 100vh;
  padding-top: $GNB-HEIGHT;
  z-index: 5;
  .guideItem {
    margin-top: 26px;
    text-align: center;
    &__icon {
      @include flex(center, center);
      margin: 0 auto;
      width: 48px;
      height: 48px;
      background-color: $lightGray;
      border-radius: 50%;
      img {
        display: inline-block;
      }
    }

    &__text {
      margin-top: 8px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.24px;
      color: $black;
    }
  }
}
#footerWrap {
  margin-top:auto;
  padding: 30px 0 50px;
  background-color: #F7F7F7;
  text-align: center;
  .infoList {
    > li {
      display: inline-block;
      position: relative;
      padding: 5px 6px;
      @include font(14px,normal,#202020);
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        width: 1px;
        height: 10px;
        background-color:#202020;
      }
      &:first-child {
        &::before {
          display: none;
        }
      }
    }
  }
  .infoBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 290px;
    margin: 20px auto 0;
    font-size: 12px;
    > li {
      display: inline-block;
      &.isBlock {
        display: block;
      }
      span {
        display: inline-block;
        padding: 2px 2px;
        color: #202020;
        letter-spacing: -0.4px;
        &.sbj {
          color: #999;
        }
        &.emp {
          color: #202020;
          a {
            color: inherit;
          }
        }
      }
    }
  }
  .copyright {
    margin-top: 20px;
    font-size: 12px;
    color: #999;
  }
}

#player {
  position: fixed;bottom: 0;left:50%;
  transform:translateX(-50%);
  width: 100%;
  max-width:480px;
  height: 70px;
  z-index: 50;
  color: #fff;
  border-radius: 16px 16px 0 0;
  overflow:hidden;
  cursor: pointer;
  .inner-player {
    position: relative;
    @include flex(center,space-between);
    width: 100%;
    height: 100%;
    padding: 0px 24px;
    box-sizing: border-box;
    .inner-player-bg {
      @include position-center;
      width:120%;
      height:120%;
      filter: blur(21px);
      opacity: .6;
    }
    .info-wrap {
      position:relative;
      z-index: 1;
      @include flex(center);
      .equalizer {
        width: 36px;
        height: 36px;
        margin-right: 8px;
        color: #fdad2b;
        text-align: center;
        display: flex;
        flex-direction: column;

        ul {
          padding-top: 1px;
          height: 14px;
          width: 20px;
          margin: 0 auto;
          padding: 0 0 0 0;
          position: relative;
          li {
            width: 2px;
            float: left;
            margin: 0 2px 0 0;
            padding: 0;
            height: 14px;
            position: relative;
            list-style-type: none;
            span {
              display: block;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              height: 14px;
              background: #fdad2b;
              transform: none;
            }
          }
          li:nth-child(1) span {
            animation: equalizer-bar 2s 1s ease-out alternate infinite;
          }
          li:nth-child(2) span {
            animation: equalizer-bar 2s 0.5s ease-out alternate infinite;
          }
          li:nth-child(3) span {
            animation: equalizer-bar 2s 1.5s ease-out alternate infinite;
          }
          li:nth-child(4) span {
            animation: equalizer-bar 2s 0.25s ease-out alternate infinite;
          }
          li:nth-child(5) span {
            animation: equalizer-bar 2s 2s ease-out alternate infinite;
          }
        }
        p {
          margin-top: auto;
          padding-top: 6px;
          font-size: 11px;
        }
      }

      .thumb {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        margin-right: 16px;
        background: #ccc;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &::before {
          position: absolute;
          content: "";
          /* background: rgba(0, 0, 0, 0.3); */
          width: 100%;
          height: 100%;
          z-index: 4;
        }
        .playToggle__play,
        .playToggle__stop {
          position: relative;
          padding: 10px;
          z-index: 5;

          &.video {
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }

      .room-info {
        width: 256px;
        font-size: 13px;
        letter-spacing: -0.35px;

        .title {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 3px;
          font-size: 16px;
          font-weight: 300;
        }
        p {
          font-weight: 300;
        }
      }

      .counting {
        span {
          display: inline-block;
          margin-right: 18px;

          img {
            vertical-align: middle;
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }

    .close-btn {
      display: block;
      cursor: pointer;
    }
  }
}


// mobile
.mobile-app {
  #GNB {
    display: none;
  }
  .totalWrap {
    width: 100%;
  }
  #mainPage {
    .fixedButton {
      right: 20px;
      margin-right: auto;
    }
  }
  #footerWrap {
    display: none;
  }
}

.cursorPointer {
  cursor: pointer;
}

// .noResultWrap {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   span {
//     font-size: 14px;
//     line-height: 1.25;
//     color: $greishGray;
//     &.noResult {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       flex-direction: column;
//       font-size: 14px;
//       line-height: 1.4;
//       text-align: center;
//       &::before {
//         display: inline-block;
//         content: "";
//         width: 82px;
//         height: 68px;
//         margin-bottom: 16px;
//         background: url("#{$IMG_SERVER}/images/api/pc_img_noresult.svg") no-repeat center;
//       }
//     }
//   }
// }

.broadcast-menu {
  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      position: relative;
      display: block;
      width: 84px;
      height: 84px;
      margin-bottom: 84px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
      background: url("../../common/static/ic_mic.svg") no-repeat center center / 36px;
      background-color: $MAINCOLOR;
      z-index: 99;
      border-radius: 50%;
      &:after {
        display: block;
        position: absolute;
        width: 120px;
        left: 50%;
        bottom: -34px;
        transform: translateX(-50%);
        content: "실시간 방송";
        font-size: 18px;
        font-weight: $bold;
        letter-spacing: -0.45px;
        color: #fff;
      }
    }
    .recoding {
      background: url("../../common/static/ic_record.svg") no-repeat center center / 36px;
      background-color: $MAINCOLOR;
      &:after {
        content: "클립 녹음";
      }
    }
    .upload {
      background: url("../../common/static/ic_upload.svg") no-repeat center center / 36px;
      background-color: $MAINCOLOR;
      &:after {
        content: "클립 업로드";
      }
    }
  }
}
.btnWrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;

  .btn {
    flex:1;
    line-height:48px;
    background-color: $MAINCOLOR;
    @include border($MAINCOLOR,16px);
    @include font(16px,$Bold,white);
    text-align: center;
    &.btn_cancel {
      margin-right:4px;
      background-color:white;
      @include border(#d5d5d5,16px);
      @include font(16px,$SemiBold,#666);
    }
    &.btn_ok {
      border-color:$MAINCOLOR;
    }
    &.isDisable {
      border: 1px solid $mediumGray;
      background: $mediumGray;
    }
  }
}
.profileImage {
  position: relative;
  text-align: center;
  cursor: pointer;
  .thumb {
    position: relative;
    margin: 0 auto 0;
    border-radius: 50%;
  }
  .holder {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    & + .thumb {
      margin-top: 13px;
    }
  }
  .holderBg {
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .profileBg {
    display: block;
    position: absolute;
    top: -20px;
    left: -40px;
    width: 180px;
    height: 140px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .zoom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 22;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .zoomImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 95%;
    height: auto;
  }
}

@media (max-width: 800px) {
  .totalWrap {
    width:480px;
  }
}
@media (max-width: 480px) {
  #gnb,
  #guide {
    display: none;
  }
  .container {
    #mainPage {
      .headerWrap {
        width: 100%;
      }
      #gnbWrap {
        display: flex;
      }
    }
    .totalWrap {
      width: 100%;
      border: 0;
    }
  }
}
@media (max-width: 1400px) {
  #guide {
    display: none;
  }
}
