@import "./global";

@font-face {
  font-family: 'SUIT';
  src: url('https://image.dallalive.com/assets/font/SUIT-Thin.woff2') format('woff2');
  font-weight: 100;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://image.dallalive.com/assets/font/SUIT-ExtraLight.woff2') format('woff2');
  font-weight: 200;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://image.dallalive.com/assets/font/SUIT-Light.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://image.dallalive.com/assets/font/SUIT-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://image.dallalive.com/assets/font/SUIT-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://image.dallalive.com/assets/font/SUIT-SemiBold.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://image.dallalive.com/assets/font/SUIT-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://image.dallalive.com/assets/font/SUIT-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://image.dallalive.com/assets/font/SUIT-Heavy.woff2') format('woff2');
  font-weight: 900;
}