// color
// $default: #333;
$primary: #632beb;
$yellow: #febd56;
$red: #ec455f;
$blue: #4593ec;
$emerald: #00c3cb;

$black: #000;
$greishBrown: #424242;
$darkGray: #616161;
$greishGray: #757575;
$gray: #9e9e9e;
$mediumGray: #bdbdbd;
$lightGray: #e0e0e0;
$lighterGray: #eee;
$lightestGray: #f0f0f0;
$whiteGray: #f5f5f5;

$white: #fff;

$light: 300;
$regular: 400;
$bold: 500;

$IMG_SERVER: "https://image.dalbitlive.com";
