@import "components/ui/_mixin.scss";

#setting #forbid{
  .subContent{
    position: relative;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    .inputWrap{
      .inputItems{
        margin-bottom: 8px;
        &:last-child{margin-bottom: 0;}
      }
    }
    .submitBtn{
      width: 100%;
      margin-top: 20px;
    }
    .noticeInfoWrap {
      padding:20px 16px 30px;
      h3 {
        @include flex;
        @include font(12px,500,#FF3C7B);
        position:relative;
        margin-bottom: 8px;
        padding-left: 20px;
        &::after{
          content:"";
          @include position-vertical;
          left:2px;
          width:16px;
          height:16px;
          background:url("https://image.dalbitlive.com/setting/forbid/ico_info.png") no-repeat left / contain;
        }
      }
      p {
        position: relative;
        padding-left: 16px;
        line-height: 20px;
        letter-spacing: -0.8px;
        @include font(12px,400,#757575);
        &::before {
          @include position-top-left(9px,6px);
          content: '';
          width: 2px;height: 2px;
          background: #757575;
        }
      }
    }
  }
}