@import "components/ui/_mixin.scss";

#setting #forbid{
  .inputWrap{
    padding:16px 16px 12px;
    .inputItems{
      margin-bottom: 8px;
      &:last-child{margin-bottom: 0;}
      .inputBox{
        .inputBtn{
          @include flex(center, center);
          width: 84px;
          height: 42px;
          @include border(#d9d9d9, 14px);
          @include font(14px, 600, #666);
        }
      }
    }
  }
  .submitBtn{
    width:100%;
    margin-top:20px;
  }
  @include noticeInfo;
}