@import "components/ui/_mixin.scss";

.container {
  .totalWrap {
    #honor {
      .tabmenu {
        top: $PC-TABTOP;
      }
    }
  }
}

#honor {
  @include flex($fd:column);
  width: 100%; min-height: calc(100vh - #{$GNB-HEIGHT});
  // 배지 아이콘 mixin
  @mixin specialCnt {
    @include flex(center, center);
    min-width: 52px;
    line-height:28px;
    padding: 0 0 0 4px;
    border-radius: 100px;
    background-color: #202020;
    @include font(12px, 400, #fff);
    .icoRight {
      display: inline-block;
      width: 14px; height: 14px;
      @include BGIMG("common/arrow/whiteArrow-right.png");
    }
  }

  @mixin level {
    display:inline-block;
    width: auto; line-height: 16px;
    padding: 0px 4px;
    @include border(#ACACAC,100px);
    @include font(12px,600,#ACACAC);
    letter-spacing: -1px;
    &::before {
      content: "Lv";
      margin-left: 1px;
    }
  }

  @mixin photo {
    position:relative;
    width: 75px;
    height:75px;
    margin-right:16px;
    img {
      width:100%;
      border-radius:50%;
    }
  }

  .tabmenu {
    position:sticky;
    top: $MOBILE-TABTOP;
    padding:0 16px;
    @include tabmenuStyle-1;
    background-color: #FFF;
    z-index: 11;
  }
  section {
    position:relative;
    padding: 0 16px;
  }
  .infomation {
    margin: 8px 16px;
    @include font(14px,$Medium,$MAINCOLOR);
    strong {
      font-weight: 600;
    }
  }
  .myHonorSection {
    .myHonorBox {
      position: relative;
      @include flex(center);
      width: 100%;
      padding: 16px;
      margin-bottom: 12px;
      border-radius: 16px;
      background-color: #FFF5F8;
      .photo {
        @include photo;
      }
      .listContent {
        width: 50%;
        .nickNm {
          @include font(14px,$Medium,#202020);
          @include fontCut;
        }
        .level {
          @include level;
        }
        .listItem {
          @include flex(center);
          margin-top: 8px;
        }
      }
      .specialCnt {
        @include position-top-right(5px,5px);
        @include specialCnt;
      }
      .me {
        @include position-bottom-right(5px,5px);
        @include flex(center, center);
        width: 20px; line-height: 20px;
        border-radius: 50%;
        background-color: #fff;
        @include font(12px, 500, #ACACAC);
      }
    }
  }
  .listSection {
    padding-bottom:40px;
    .new {
      width: 52px; line-height: 26px;
      text-align:center;
      @include border($MAINCOLOR,100px);
      @include font(12px,$SemiBold,$MAINCOLOR);
    }
    .live {
      @include flex(center, center);
      width: 60px; line-height: 28px;
      border-radius: 100px;
      @include font(12px,900,$MAINCOLOR);
      background-color: #FFE9E9;
      &::before {
        content: "";
        display: inline-block;
        width: 11px; height: 10px;
        margin-right: 4px;
        @include BGIMG("common/icon/iconLive-equalizer.png");
      }
    }
    .level {
      @include level;
    }
    .specialCnt {
      @include specialCnt;
    }
    .listWrap {
      &.specialDj {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px 13px;
      }
      &.weeklyPick {
        position: relative;
      }
      .listColumn {
        @include flex(center,center,column);
        padding: 6px;
        border: 1px solid #E3E3E3;
        border-radius: 16px;
        overflow-x: hidden;
        cursor: pointer;
        .photo {
          @include photo;
          margin: 20px 0 18px;
        }
        .listItem {
          @include flex(center,center);
          width:100%;
          margin-bottom: 6px;
          &:first-child {
            justify-content: space-between;
            margin-bottom: 5px;
          }
          .gender {
            margin-right:2px; 
          }
          .nickNm {
            @include font(14px,$Medium,#202020);
            @include fontCut;
          }
        }
      }
      .listRow {
        @include flex(center);
        margin-bottom: 12px;padding: 16px;
        @include border(#E3E3E3,16px);
        .photo {
          width:75px; height:75px;
          img {
            border-radius: 50%;
          }
        }
        .listContent {
          flex: 1;
          @include flex($fd:column);
          min-width:0;
          margin: 0px 60px 0px 16px;
          .round {
            margin-bottom:10px;
            @include font(12px,$Regular,#666);
            &.jointAward {
              @include font(12px,$Regular,$MAINCOLOR);
            }
          }
          .memNick {
            @include font(15px, 500, #202020);
            @include fontCut;
          }
        }
        .back {
          .rightArrow {
            display: inline-block;
            width: 20px; height: 20px;
            @include BGIMG("common/arrow/rightArrow-757575.png");
          }
        }
      }
    }
  }

  .partnerDjInfo {
    @include flex(center,center);
    width: 100%;
    padding: 38px 36px 25px 20px;
    box-sizing: border-box;
    @include BGIMG("honor/partnerDj/honor_partnerDj-topBg.png");
    .infoText {
      flex: 1;
      @include flex(flex-start, center, column);
      span {
        @include font(26px, 700, #303030);
        margin-bottom: 8px;
      }
      p {
        @include font(15px, 500, #303030);
        margin-bottom: 24px;
      }
      button {
        text-align: left;
        @include font(14px, 500, #FF3C7B);
        text-decoration: underline;
      }
    }
    .infoDecoration {
      flex: none;
      width: 78px;
      img {
        width: 100%;
      }
    }
  }
  .partnerDjWrap {
    flex: 1;
    display: grid;
    row-gap: 16px;
    column-gap: 12px;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: max-content;
    width: 100%;
    padding: 12px 16px;
    box-sizing: border-box;
    background-color: #F7F7F7;
    .partnerDjList {
      @include flex(center, flex-start, column);
      width: 100%;
      border-radius: 8px;
      background-color: #fff;
      overflow: hidden;
      cursor: pointer;
      .thumbnail {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .userInfo {
        @include flex(center, center, column);
        width: 100%;
        padding: 18px;
        .userData {
          @include flex(center, center);
          width: 100%;
          overflow: hidden;
          .male {
            flex: none;
            display: inline-block;
            width: 18px; height: 18px;
            margin-right: 4px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E%3Cg id='ico_male' transform='translate(-261 -1931)'%3E%3Cg transform='translate(261 1931)' fill='none' stroke='%238989eb' stroke-width='2'%3E%3Crect width='28' height='28' rx='14' stroke='none'/%3E%3Crect x='1' y='1' width='26' height='26' rx='13' fill='none'/%3E%3C/g%3E%3Cpath d='M318.97,320.273v-4.822l2.229,2.229,1.739-1.738-5.2-5.2-5.2,5.2,1.739,1.738,2.229-2.229v4.822a4.885,4.885,0,1,0,2.459,0Zm-1.229,7.147a2.425,2.425,0,1,1,2.426-2.425A2.428,2.428,0,0,1,317.74,327.42Z' transform='translate(-42.74 1624.211)' fill='%238989eb'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
          .female {
            flex: none;
            display: inline-block;
            width: 18px; height: 18px;
            margin-right: 4px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E%3Cg id='ico_female' transform='translate(-259 -1931)'%3E%3Cg transform='translate(259 1931)' fill='none' stroke='%23ff927b' stroke-width='2'%3E%3Crect width='28' height='28' rx='14' stroke='none'/%3E%3Crect x='1' y='1' width='26' height='26' rx='13' fill='none'/%3E%3C/g%3E%3Cpath d='M402.731,322.425a5,5,0,1,0-2.517,0v1.356H397.73V326.3h2.483v4.66h2.517V326.3h2.483v-2.517h-2.483Zm-3.742-4.834a2.483,2.483,0,1,1,2.483,2.483A2.486,2.486,0,0,1,398.989,317.592Z' transform='translate(-128.473 1623.887)' fill='%23ff927b'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
          .nickNm {
            @include font(17px, 700, #202020);
            @include fontCut;
          }
        }
        .badgeLive {
          @include flex(center, center);
          width:100px;height:28px;
          margin-top: 13px;
          background-color: #FFE9E9;
          border-radius: 100px;
          cursor: pointer;
          .equalizer {
            display: inline-block;
            width: 12px;
            margin-top: -2px;
            margin-right: 4px;
          }
          .liveText {
            @include font(12px, 900, #FF3C7B);
          }
        }
        .fanButton {
          @include flex(center, center);
          width:100px;height:28px;
          margin-top: 13px;
          background-color: #202020;
          border: 1px solid #202020;
          border-radius: 100px;
          @include font(12px, 600, #FFF);
          box-sizing: border-box;
          &.active {
            background-color: white;
            border: 1px solid #E3E3E3;
            @include font(12px, 600, #303030);
          }
        }
      }
    }
  }

  .starDjInfo {
    @include flex(center,center,column);
    width: 100%;
    box-sizing: border-box;
    @include BGIMG("honor/starDj/honor_starDj-topBg.png");
    .starDjTop {
      @include flex(center,center);
      width: 100%;
      padding: 5px  36px 6px 20px;
      .infoText {
        flex: 1;
        @include flex(flex-start, center, column);
        span {
          @include font(26px, 700, #303030);
          margin-bottom: 8px;
        }
        p {
          @include font(15px, 500, #303030);
          margin-bottom: 24px;
        }
        button {
          text-align: left;
          @include font(14px, 500, #8C5EFF);
          text-decoration: underline;
        }
      }
      .infoDecoration {
        flex: none;
        width: 78px;
        img {
          width: 100%;
        }
      }
    }
  }
  .starDjWrap {
    flex: 1;
    width: 100%;
    padding: 12px 16px 30px;
    box-sizing: border-box;
    .starDjList {
      @include flex(center, space-between);
      width: 100%;
      border-radius: 8px;
      padding: 16px 16px 8px;
      margin-bottom: 12px;
      background-color: #FAFAFA;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0px;
      }
      .photoWrap {
        flex: none;
        @include flex(center, center, column);
        margin-right: 16px;
        .thumbnail {
          @include photoStyle(100px, 100px, 50%);
          margin-bottom: 8px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .badgeLive {
          @include flex(center, center);
          width:100px;height:28px;
          background-color: #FFE9E9;
          border-radius: 100px;
          cursor: pointer;
          .equalizer {
            display: inline-block;
            width: 12px;
            margin-top: -2px;
            margin-right: 4px;
          }
          .liveText {
            @include font(12px, 900, #FF3C7B);
          }
        }
        .fanButton {
          @include flex(center, center);
          width:100px;height:28px;
          background-color: #202020;
          border: 1px solid #202020;
          border-radius: 100px;
          @include font(12px, 600, #FFF);
          box-sizing: border-box;
          &.active {
            background-color: white;
            border: 1px solid #E3E3E3;
            @include font(12px, 600, #303030);
          }
        }
      }

      .userInfoWrap {
        flex: 1;
        @include flex(flex-start, flex-start, column);
        min-width: 0;
        .infoWrap {
          @include flex(center);
          width: 100%;
          padding-bottom: 12px;
          border-bottom: 1px solid #F2F2F2;
          .gender {
            flex: none;
            display: inline-block;
            width: 18px; height: 18px;
            margin-right: 4px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            &.male {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E%3Cg id='ico_male' transform='translate(-261 -1931)'%3E%3Cg transform='translate(261 1931)' fill='none' stroke='%238989eb' stroke-width='2'%3E%3Crect width='28' height='28' rx='14' stroke='none'/%3E%3Crect x='1' y='1' width='26' height='26' rx='13' fill='none'/%3E%3C/g%3E%3Cpath d='M318.97,320.273v-4.822l2.229,2.229,1.739-1.738-5.2-5.2-5.2,5.2,1.739,1.738,2.229-2.229v4.822a4.885,4.885,0,1,0,2.459,0Zm-1.229,7.147a2.425,2.425,0,1,1,2.426-2.425A2.428,2.428,0,0,1,317.74,327.42Z' transform='translate(-42.74 1624.211)' fill='%238989eb'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            &.female {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E%3Cg id='ico_female' transform='translate(-259 -1931)'%3E%3Cg transform='translate(259 1931)' fill='none' stroke='%23ff927b' stroke-width='2'%3E%3Crect width='28' height='28' rx='14' stroke='none'/%3E%3Crect x='1' y='1' width='26' height='26' rx='13' fill='none'/%3E%3C/g%3E%3Cpath d='M402.731,322.425a5,5,0,1,0-2.517,0v1.356H397.73V326.3h2.483v4.66h2.517V326.3h2.483v-2.517h-2.483Zm-3.742-4.834a2.483,2.483,0,1,1,2.483,2.483A2.486,2.486,0,0,1,398.989,317.592Z' transform='translate(-128.473 1623.887)' fill='%23ff927b'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
          }
          .nickName {
            width: 100%;
            @include font(17px, 700, #202020);
            @include fontCut;
          }
        }
        .dataWrap {
          @include flex(flex-start, flex-start, column);
          width: 100%;
          padding-top: 12px;
          .dataList {
            @include flex(center, space-between);
            width: 100%;
            margin-bottom: 4px;
            &:last-child {
              margin-bottom: 0px;
            }
            .dataTitle {
              position: relative;
              @include flex(center);
              padding-left: 18px;
              background-position: left center;
              background-repeat: no-repeat;
              background-size: contain;
              @include font(12px, $Medium, #999999);
              &.goodCnt {background-image: url("https://image.dalbitlive.com/common/dataCnt/dataIcon-heart.png");}
              &.listenerCnt {background-image: url("https://image.dalbitlive.com/common/dataCnt/dataIcon-twoman.png");}
              &.broadMin {background-image: url("https://image.dalbitlive.com/common/dataCnt/dataIcon-time.png");}
            }
            .dataNum {
              @include font(12px, $Medium, #666666);
              strong {
                @include font(12px, $Bold, #666666);
                margin-right: 4px;
              }
            }
          }
        }
      }
    }
  }

  .weeklyPickTop {
    position: relative;
    @include flex($fd:column);
    width: 100%;
    padding: 54px 20px 28px;
    height: 193px;
    background: url("https://image.dalbitlive.com/honor/weeklyPick/honor_weeklyPick-topBg.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;    
    &::before {
      content: "";
      position: absolute; top: 30px; left: 65px;
      display: inline-block;
      width: 104px; height: 44px;
      background: url("https://image.dalbitlive.com/honor/weeklyPick/honor_weeklyPick-textBg.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    span {
      position: relative;
      @include font(26px, $Bold, #303030);
      margin-bottom: 20px;
    }
    p {
      @include font(15px, $Medium, #303030);
      line-height: 20px;
    }
  }
  .weeklyPickWrap {
    padding:12px 16px 30px;    
    .listWrap {      
      position: relative;
      .listRow {
        position: relative;
        @include flex(center);
        margin-bottom: 12px;padding: 14px 16px;
        border-radius: 8px;
        background-color: #FAFAFA;
        overflow: hidden;
        cursor: pointer;
        .photo {
          @include photoStyle(75px, 75px, 50%);
          overflow: hidden;
        }
        .listContent {
          flex: 1;
          @include flex($fd:column);
          min-width:0;
          margin: 0px 60px 0px 16px;
          .round {
            margin-bottom:10px;
            @include font(12px,$Regular,#666);
            &.thisweekPick {
              @include font(12px,$SemiBold,#FF3C7B);
            }
          }
          .memNick {
            @include font(15px, 500, #202020);
            @include fontCut;
          }
        }
        .back {
          .rightArrow {
            display: inline-block;
            width: 20px; height: 20px;
            @include BGIMG("common/arrow/rightArrow-757575.png");
          }
        }
        .newTag {
          @include position-top-right(-27px, -27px);
          @include flex(flex-end, center);
          width: 54px; height: 54px;
          padding-bottom: 2px;
          @include font(11px, $Regular, #FFF);
          transform: rotate(45deg);
          background-color: #202020;
        }
      }
    }
  }

  #layerPop {
    .popContainer {
      padding:0;
    }
    .honorPopup {
      width:100%;
      height:440px;
      padding: 20px 0 0;
      .title {
        @include flex(center,center,column);
        height:72px;
        @include font(16px,$Medium,#202020);
        strong {
          display: inline-block;
          max-width: 200px;
          @include font(16px,$Bold,$MAINCOLOR);
          @include fontCut;
        }
        span {
          @include flex(center);
        }
      }
      .table {
        width: 100%;
        margin-top: 10px;
        .summary {
          @include flex(center, space-between);
          margin-bottom: 8px;
          padding: 0 22px;
          @include font(12px,$Medium,$MAINCOLOR);
        }
        .tableInfo {
          .thead {
            @include flex(center);
            line-height:26px;
            margin: 0 22px;
            border-top: 1px solid $MAINCOLOR;
            border-bottom: 1px solid $MAINCOLOR;
            @include font(12px,$Medium,$MAINCOLOR);
          }
          .tbody {
            max-height: 280px;
            @include font(13px,$Regular,#202020);
            overflow-y: auto;
            .tbodyList {
              @include flex(center);
              margin: 0 22px;
              line-height:26px;
              + .tbodyList {
                border-top: 1px solid #F2F2F2;
              }
            }
          }
          span {
            flex:1;
            text-align:center;
          }
        }
      }
    }
  }
}