@import "components/ui/_mixin.scss";

#honor {
  .content {
    position: relative;
    @include flex(flex-start, flex-start, column);
    width: 100%;
    padding: 0 16px 16px;
    .tabmenu {
      position:relative;
      @include flex(center);
      width: 100%;
      li {
        flex: 1;
        @include flex(center, center);
        padding: 10px 0;
        border-bottom: 2px solid #ccc;
        @include font(16px,500,#ccc);
        &.active {
          @include font(16px,700,#333);   
          border-bottom: 2px solid #333;       
        }
      }
    }
    .infomation {
      @include font(14px,400,#FF3C7B);
      margin: 8px 0;
    }
    .specialCnt {
      flex: none;
      @include flex(center, center);
      width: 52px; height: 28px;
      border-radius: 100px;
      @include font(12px, 400, #fff);
      background-color: #202020;
      box-sizing: border-box;
      .iconRightArrow {
        display: inline-block;
        width: 14px; height: 14px;
        margin-right: -4px;
        background-image: url("https://image.dalbitlive.com/common/arrow/whiteArrow-right.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .new {
      flex: none;
      @include flex(center, center);
      width: 52px; height: 28px;
      border-radius: 100px;
      border: 1px solid #FF3C7B;
      @include font(12px, 400, #FF3C7B);
      box-sizing: border-box;
    }
    .live {
      position: relative;
      @include flex(center, center);
      width: 60px; height: 28px;
      border-radius: 100px;
      @include font(12px, 700, #FF3C7B);
      background-color: #FFE9E9;
      &::before {
        content: "";
        display: inline-block;
        width: 11px; height: 10px;
        margin-right: 4px;
        background-image: url("https://image.dalbitlive.com/common/icon/iconLive-equalizer.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    .level {
      flex: none;
      @include flex(center);
      width: auto; height: 18px;
      padding: 0px 5px;
      border: 1px solid #ACACAC;
      border-radius: 100px;
      @include font(12px, 400, #ACACAC);
      box-sizing: border-box;
      &::before {
        content: "Lv";
        margin-right: 2px;
      }
    }

    .myHonor {
      position: relative;
      @include flex;
      width: 100%;
      padding: 5px;
      margin-bottom: 12px;
      border-radius: 16px;
      background-color: #FFF5F8;
      box-sizing: border-box;
      .myInfoWrap {
        position: relative;
        @include flex(flex-start, center, column);
        width: 50%;
        .listRow {
          @include flex(center);
          margin-bottom: 4px;
          &:last-child {
            margin-bottom: 0px;
          }
          &.dataCnt {
            margin-top:8px; 
          }
          .nickNm {
            @include font(14px, 500, #202020);
            @include fontCut;
          }          
        }
      } 
      .specialCnt {
        @include position-top-right($top:5px, $right:5px);
      }
      .me {
        @include position-bottom-right($bottom:5px, $right:5px);
        @include flex(center, center);
        width: 20px; height: 20px;
        border-radius: 50%;
        background-color: #fff;
        @include font(12px, 500, #ACACAC);
      }
    }

    .gridWrap {
      display: grid;
      grid-gap: 13px;
      width: 100%;
      &.column2 {
        flex: 1;
        grid-template-columns: repeat(2, 1fr);
        .gridList {
          position: relative;
          @include flex(center, center, column);
          padding: 5px;
          border: 1px solid #E3E3E3;
          border-radius: 16px;
          box-sizing: border-box;
          cursor: pointer;

          .listRow {
            @include flex(center);
            width: 100%;
            &:nth-child(1) {
              justify-content: space-between;
              margin-bottom: 4px;
            }
            &:nth-child(2) {
              margin-bottom: 2px;
            }
            &:nth-child(3) {
              justify-content: center;
              margin-bottom: 2px;
            }
            &:nth-child(4) {
              @include flex(center, center);
              em {
                margin-right: 2px;
              }
              .nickNm{
                @include font(14px, 500, #202020);
              }
            }
            &.dataCnt {
              @include flex(center, center);
              .dataCnt {
                margin-right: 6px;
              }
            }
          }
        }
      }
    }

    .listWrap {
      position: relative;
      @include flex(flex-start, flex-start, column);
      width: 100%;
      .listRow {
        @include flex(center);
        width: 100%;
        padding: 16px;
        margin-bottom: 12px;
        border: 1px solid #E3E3E3;
        border-radius: 16px;
        box-sizing: border-box;
        .photo {
          flex: none;
          width: 75px; height: 75px;
          border-radius: 50%;
          img {
            width: 100%;
            border-radius: 50%;
          }
        }
        .listContent {
          flex: 1;
          @include flex(flex-start, flex-start, column);
          margin: 0px 60px 0px 16px;
          overflow: hidden;
          .listItem {
            @include flex(center);
            width: 100%;
            margin-bottom: 6px;
            &:last-child {
              margin-bottom: 0px;
            }
            .round {
              @include font(12px, 400, #666666);
              &.jointAward {
                @include font(12px, 400, #FF3C7B);
              }
            }
            .memNick {
              @include font(15px, 500, #202020);
              @include fontCut;
            }
          }
        }
        .listBack {
          .rightArrow {
            flex: none;
            display: inline-block;
            width: 20px; height: 20px;
            background-image: url("https://image.dalbitlive.com/common/arrow/rightArrow-757575.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }
  #layerPop {
    .popTitle {
      width: 100%;
      padding: 12px 0;
      @include font(16px, 400, #202020);
      text-align: center;
      strong {
        flex: 1;
        display: inline-block;
        max-width: 200px;
        @include font(16px, 700, #FF3C7B);
        @include fontCut;
        vertical-align: bottom;
      }
    }
    .popContent {
      width: 100%;
      margin-top: 10px;
      .logTop {
        @include flex(center, space-between);
        margin-bottom: 8px;
        span {
          @include font(12px, 400, #FF3C7B);
        }
      }
      .logWrap {
        .logHead{
          @include flex(center);
          border-top: 1px solid #FF3C7B;
          border-bottom: 1px solid #FF3C7B;
          padding: 4px 0;
          span {
            flex: 1;
            @include flex(center, center);
            @include font(12px, 400, #FF3C7B);
          }
        }
        .logContent{
          max-height: 200px;
          overflow: auto;
          .logList {
            @include flex(center);
            padding: 4px 0;
            border-bottom: 1px solid #F2F2F2;
            &:last-child {
              border-bottom: none;
            }
            span {
              flex: 1;
              @include flex(center, center);
              @include font(13px, 400, #202020);
            }
          }
        }        
      }
    }
  }
}