@import "components/ui/_mixin.scss";

.appDownloadPopup {
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  &__closeButton {
    margin-left: auto;
    position: relative;
    width: 32px;
    height: 32px;
    font-size: 0;
    margin-bottom: 8px;
    background: url('https://image.dalbitlive.com/images/api/close_w_l.svg') no-repeat 0 0;
    z-index: 1;
  }

  &__monnImg {
    width: 236px;
    left: 30px;
    height: 110px;
    background: url('https://image.dalbitlive.com//images/popup/appdownload/moon.png') no-repeat center;
    background-size: 110px;
    position: absolute;
    top: -56px;
  }

  &__content {
    width: 100%;
    position: relative;
    border-radius: 20px;
    box-sizing: border-box;
    b {
      font-size: 18px;
      text-align: center;
      letter-spacing: -0.8px;
      color: $MAINCOLOR;
      line-height: 24px;
      display: block;
      margin-bottom: 20px;
      margin-top: 60px;
    }
    p {
      text-align: center;
      font-size: 14px;
      color: #000;
      line-height: 20px;
      letter-spacing: -0.8px;
      margin-bottom: 24px;
      font-weight: bold;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 48px;
      color: #fff;
      font-size: 18px;
      text-align: center;
      background: $MAINCOLOR;
      border-radius: 9px;
      font-weight: bold;
      letter-spacing: -0.8px;

      &.androidIcon {
        &::before {
          content: '';
          margin-right: 10px;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background: url('https://image.dalbitlive.com//images/popup/appdownload/app_android_icon.png') center no-repeat #000;
          background-size: 25px;
        }
      }

      &.iosIcon {
        &::before {
          content: '';
          margin-left: 28px;
          margin-right: 10px;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background: url('https://image.dalbitlive.com//images/popup/appdownload/app_ios_icon.png') center no-repeat #000;
          background-size: 25px;
        }
      }
    }
  }
}
