@import "components/ui/_mixin.scss";

.subTabmenu {
  @include flex(center);
  height:20px;
  margin-left:auto;
  li {
    position:relative;
    padding: 0 10px;
    @include font(14px,600,#ACACAC);
    cursor:pointer;
    &.active {
      font-weight:700;
      color:#202020;
      cursor:default;
    }
    &:after {
      position:absolute;
      top:5px;
      right:0;
      display:block;
      content:'';
      width:1px;
      height:10px;
      background-color:#ccc;
    }
    &:last-child:after {
      display:none;
    }
  }
}