@import "components/ui/_mixin.scss";

@mixin tabmenuUnderline($value) {
  $nav-length: $value;
  $nav-width: calc(100% / #{$nav-length});
  li {
    flex:1;
    text-align:center;
    @for $i from 1 through $nav-length {
      &:nth-child(#{$i}) {
        &.active {
          ~ .underline {
            left: calc(#{$nav-width} * #{$i} - (#{$nav-width} / 2));
            transform:translateX(-50%);
          }
        }
      } 
    }
  }
  .underline {
    @include position-bottom-left;
    bottom:6px;
    width:30px;
    height:4px;
    border-radius:100px;
    background-color:$MAINCOLOR;
    transition:all .1s ease-in-out;
  }
}

.tabmenu {
  position:relative;
  @include flex(center);
  @include tabmenuUnderline(4);
  li {
    line-height:48px;
    text-align:center;
    @include font(16px,$SemiBold,#ACACAC);
    cursor: pointer;
    &.active {
      font-weight:$Bold;
      color:#202020;
      border-bottom-color:#202020;
      cursor: default;
    }
  }
}