@import '../../../../styles/variables';
@import "components/ui/_mixin.scss";

.faqWrap {
  .searchWrap {
    padding: 0 16px 12px 16px;

    & > input {
      width: 100%;
      padding: 0 16px;
      height: 50px;
      border: 2px solid $MAINCOLOR;
      border-radius: 28px;
      font-size: 14px;
      font-weight: $bold;
      background: $white;
    }

    & > input::placeholder {
      color: $greishGray;
      font-size: 14px;
      font-weight:  $bold;
      text-align: left;
    }

    .searchBtn {
      position: absolute;
      width: 36px;
      height: 36px;
      right: 24px;
      margin-top: 6px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 0;
    }
  }

  .searchResult {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .listWrap {
    &__category {
      display: inline-block;
      margin: 16.5px 16px 9.5px 16px;
      font-size: 16px;
      font-weight: 800;
      line-height: 1.13;
      letter-spacing: normal;
      text-align: left;
      color: $black;
    }
  }
  .tableWrap {
    display: flex;
    border-bottom: 1px solid $lightGray;
    background-color: $white;
    padding: 12px 0 14px 16px;
    font-size: 14px;
    font-weight: $bold;
    cursor: pointer;
    .txt_strong {
      color: $MAINCOLOR;
      font-weight: bold;
    }
    & em {
      position: absolute;
      left: 20px;
      top: 0;
      margin-right: 3px;
      color: $MAINCOLOR;
      font-style: normal;
    }
    &.on {
      border-bottom: none;
    }
  }
}
