@import "components/ui/_mixin.scss";

header {
  .buttonGroup {    
    .store {
      &.bonus {
        position: relative;
        &::after {
          content: "SALE";
          @include position-horizon($bottom: 0px);
          @include flex(center, center);
          height: 16px;
          padding: 0px 5px;
          border-radius: 100px;
          @include font(11px, 700, #FFF);
          background-color: #FF1919;
        }
      }
    }
  }
}