@import "components/ui/_mixin.scss";

.mydalDetail {
  @include flex(center);
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 12px;
  border-radius:8px;
  box-sizing: border-box;
  background-color: #F8F8F8;
  .dalCount {
    flex: 1;
    @include flex(flex-start, flex-start, column);
    @include font(14px,500,#3E3E3E);      
    > span {
      @include font(12px,400,#666666);
      margin-bottom: 5px;
    } 
    > div {
      @include flex(center);
      @include font(16px,400,#202020);
      &:before {
        content:"";
        display:inline-block;
        width:15px;
        height:15px;
        margin-right:11px;
        @include BGIMG('common/icon/icon_dal.png');
      }
      span {
        @include font(17px,700,#202020);
        margin-right: 2px;
      } 
    }
  }
  .buttonGroup {
    @include flex(center);
    padding-left: 20px;
    border-left: 2px solid #ECECEC;
    margin-left:auto;
    button {
      position:relative;
      line-height: 27px;
      @include font(14px,600,#202020);
    }
  }
}