@import 'components/ui/_mixin.scss';

.container {
  .totalWrap {
    #contentStarSchedule{
      .tabmenu {
        top: $PC-TABTOP;
      }
    }
  }
}


#contentStarSchedule{
  position: relative;
  background: #f8f8f8;
  section{
    position: relative;
    img{
      width: 100%;
    }
  }
  .scheduleWrap{
    img{
      box-shadow: 0px 3px 6px rgba(0,0,0,0.05);
    }
  }
  .tabmenu {
    @include flex(center);
    margin-bottom: 16px;
    background-color: #FFF;
    position:sticky;
    top: $MOBILE-TABTOP;
    z-index: 1;
    li {
      flex:1;
      @include flex(center, center);
      height:48px;
      text-align: center;
      background-color: #ffffff;
      border-bottom:2px solid #f2f2f2;
      @include font(16px,600,#acacac);
      box-sizing: border-box;
      &.active {
        @include font(16px,bold,#202020);
        border-bottom: solid 2px #202020;
      }
    }
  }
  .contentWrap{
    width: 100%;
    padding: 18px;
    .contentBox{
      width: 100%;
      border: 4px solid #fff;
      border-radius: 16px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.16);
      background: #fff;
      margin-bottom: 18px;
      overflow: hidden;
      cursor: pointer;
      .thumbNail{
        position: relative;
        width: 100%;
        border-radius: 16px 16px 0 0;
        overflow: hidden;
        .off{
          @include position-top-left;
          @include flex(center, center);
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.65);
          >p{@include font(16px, $SemiBold, #fff);}
        }
      }
      .eventInfo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 76px;
        padding: 0 16px;
        .eventTitle{
          @include font(16px, $Bold, #202020);
          margin-bottom: 6px;
          @include fontCut;
        }
        .eventDate{
          @include font(14px, $SemiBold, #202020);
          @include fontCut;
        }
      }
      &.comingSoon{
        cursor: default;
        .thumbNail {
          width: 100%;
          padding-bottom: 50.31%;
          background: url("https://image.dalbitlive.com/event/contentStarSchedule/comingSoon.png") no-repeat center/contain;
        }
        .eventInfo {
          padding: 0;
          text-align: center;
          background-color: #FCFCFC;
          .eventTitle {
            @include font(13px, 400, #666666);
          }
        }
      }
      &.off{
        cursor: default;
        .eventInfo{
          color: #929292;
        }
      }
    }
    .offListNone{
      width: 100%;
      margin: 130px 0;
      text-align: center;
      @include font(13px, $Regular, #666);
      >.title{
        @include font(16px, $Medium, #303030);
        margin-bottom: 6px;
      }
    }
  }
}