@import '../../../../styles/variables';
@import "components/ui/_mixin.scss";

#popupWrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  z-index: 60;
  .contentWrap {
    position: relative;
    width: calc(100% - 32px);
    max-width: 390px;
    border-radius: 15px;
    background-color: #fff;
    .title {
      height: 52px;
      line-height: 52px;
      border-bottom: 1px solid #e0e0e0;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      letter-spacing: -1px;
      color: #000000;
      box-sizing: border-box;
    }
    .searchWrap {
      position: relative;
      padding: 8px 16px;
      background-color: #f5f5f5;
      input {
        width: 100%;
        height: 44px;
        padding: 0 44px 0 16px;
        border: 1px solid #e0e0e0;
        border-radius: 12px;
        background: white;
        box-sizing: border-box;
        &::placeholder {
          font-size: 14px;
          color: #9e9e9e;
          letter-spacing: -1px;
        }
      }
      button {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 40px;
        height: 40px;
        img {
          width: 100%;
        }
      }
    }
    .searchTitle {
      padding: 13px 0 6px 16px;
      font-size: 16px;
      font-weight: 700;
      color: black;
      span {
        margin-left: 4px;
        font-size: 12px;
        color: $MAINCOLOR;
      }
      p {
        font-size: 12px;
        font-weight: 500;
        color: #424242;
      }
      &.status {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -1px;
      }
    }
    .tabBtnWrap {
      display: flex;
      align-items: center;
      height: 40px;
      background-color: #f5f5f5;
      button {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 16px;
        color: #424242;
        letter-spacing: -1px;
        &.active {
          font-weight: 700;
          color: $MAINCOLOR;
          &:after {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            width: 48px;
            height: 1px;
            background-color: $MAINCOLOR;
          }
        }
      }
    }
    .listWrap {
      height: 304px;
      box-sizing: border-box;
      overflow: auto;
      .list {
        display: flex;
        align-items: center;
        height: 62px;
        padding: 0 20px 0 16px;
        box-sizing: border-box;
        .photo {
          flex: none;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
        }
        .listBox {
          margin: 0 10px;
          min-width: 0;
          .nick {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 16px;
            font-weight: 600;
            color: black;
          }
          .listItem {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            color: #424242;
            span {
              height: 20px;
              line-height: 20px;
            }
            .average {
              display: inline-flex;
              align-items: center;
              margin-left: 12px;
              em {
                display: inline-block;
                height: 14px;
                line-height: 14px;
                margin-top: 2px;
                margin-right: 4px;
                padding: 0 4px;
                border-radius: 100px;
                background-color: #9e9e9e;
                font-size: 10px;
                font-weight: 500;
                color: white;
              }
            }
            .category {
              font-size: 14px;
              font-size: 700;
              color: $MAINCOLOR;
            }
            .time {
              margin-left: 4px;
              font-size: 12px;
              color: #757575;
            }
            .marble {
              display: inline-flex;
              align-items: center;
              height: 18px;
              margin-right: 8px;
              font-size: 12px;
              img {
                flex: none;
                width: 12px;
                height: 12px;
                margin-right: 2px;
                vertical-align: bottom;
              }
            }
          }
        }
        button {
          flex: none;
          width: 56px;
          height: 26px;
          margin-left: auto;
          border-radius: 100px;
          font-size: 12px;
          font-weight: 500;
          box-sizing: border-box;
          &.submit {
            background-color: $MAINCOLOR;
            color: white;
          }
          &.cancel {
            border: 1px solid $MAINCOLOR;
            color: $MAINCOLOR;
          }
          &.accept {
            background-color: #ff2980;
            color: white;
          }
        }
      }
    }
    .close {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 53px;
      height: 53px;
      cursor: pointer;
      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}

.alertLayer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  z-index: 60;
  .contentWrap {
    position: relative;
    width: calc(100% - 32px);
    max-width: 390px;
    border-radius: 15px;
    background-color: #fff;
    box-sizing: border-box;
    .title {
      height: 52px;
      line-height: 52px;
      border-bottom: 1px solid #e0e0e0;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      letter-spacing: -1px;
      color: #000000;
      box-sizing: border-box;
    }
    .textWrap {
      padding: 16px;
      h2 {
        margin: 2px 0;
        font-size: 16px;
        font-weight: 700;
        color: $MAINCOLOR;
        text-align: center;
      }
      p {
        margin-bottom: 16px;
        letter-spacing: -1px;
        font-size: 16px;
        color: black;
        text-align: center;
      }
    }
    .buttonWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px 16px;
      box-sizing: border-box;
      button {
        flex: 1;
        height: 44px;
        border-radius: 12px;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        &:first-child {
          background-color: #757575;
          margin-right: 4px;
        }
        &:last-child {
          background-color: $MAINCOLOR;
        }
      }
    }
  }
}
.alertUserId {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: -1px;
  white-space: nowrap;
  span {
    display: flex;
    align-items: center;
    strong {
      max-width: 240px;
      font-size: 22px;
      font-weight: 500;
      color: $MAINCOLOR;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
