@import "../../components/ui/mixin";

/* 피씨일때 헤더 없애기 */
#root {
  .container {
    .totalWrap {
      #remypage {
        header {
          .buttonGroup {
            display:none;
          }
        }
      }
    }
  }
  .content-article {
    height: auto;
    min-height:calc(100vh - #{$NAVIGATION-HEIGHT});
  }
}

#remypage {
  flex:1;
  @include flex($fd:column);
  height:100%;
  .myInfo {
    @include flex;
    padding:16px;
    cursor: pointer;
    .textWrap {
      @include flex($fd:column);
      min-width:0;
      @include font(19px,400,black);
      .text {
        @include flex($fd: column);
        margin-bottom:12px;
        letter-spacing: -.3px;
        span{display: flex;}
        strong {
          display:inline-block;
          max-width:200px;
          font-weight: $Bold;
          @include fontCut;
        }
      }
      .info {
        @include flex(center);
        margin-bottom:12px;
        .level {
          @include flex(center);
          padding: 0 6px 0 4px;
          cursor:pointer;
          &::before {
            content:"";
            display: inline-block;
            width:14px;height:14px;
            margin-right:4px;
            @include BGIMG("mypage/dalla/levelInfo.png");
          }
        }
        .userId {
          margin-left:4px;
          line-height:20px;
          @include font(13px,$Regular,black);
        }
      }
      .count {
        @include flex;
        line-height: 25px;
        i {
          margin-right:4px;
          line-height:20px;
          font-style:normal;
          @include font(15px,$Medium,#5A5A5A);
        }
        span {
          line-height:20px;
          margin-right:18px;
          @include font(15px,$Bold,black);
        }
      }
    }
    .photoWrap {
      @include flex(center,center,column);
      margin-left:auto;
      .photo {
        position: relative;
        width:75px;
        height:75px;
        &::before {
          content: "";
          @include position-top-left;
          width: 100%; height: 100%;
          border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
          border-radius:50%;
          box-sizing: border-box;
        }
        img {
          width:100%;
          border-radius:50%;
          object-fit: cover;
        }
      }
      button {
        width:72px;
        line-height:23px;
        margin-top:auto;
        @include border(#E0E0E0,100px);
        @include font(12px,$Medium,#5A5A5A);
      }
    }
  }
  .mydalDetail {
    @include flex(center);
    height:60px;
    margin:0 16px 12px;
    padding: 20px;
    border-radius:8px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: 0.1);
    .dalCount {
      @include flex(center);
      height:30px;
      line-height:30px;
      @include font(14px,500,#3E3E3E);
      &:before {
        display:inline-block;
        content:"";
        width:15px;
        height:15px;
        margin-right:4px;
        @include BGIMG('mypage/dalla/icon_dal.png');
      }
      span {
        margin-left: 8px;
        @include font(16px,700,#FF3C7B);
      }
    }
    .buttonGroup {
      @include flex(center);
      height:30px;
      line-height:30px;
      margin-left:auto;
      button {
        position:relative;
        height:100%;
        padding:0 8px;
        @include font(14px,500,#303030);
      }
    }
  }
  .myData {
    @include flex(center, space-around);
    width: 100%;
    margin-bottom: 16px;
    .myDataList {
      flex: 1;
      @include flex(center, center, column);
      cursor: pointer;
      .walletIcon {
        display: inline-block;
        width: 45px; height: 45px;
        @include BGIMG('mypage/dalla/icon_mypage-wallet.png');
      }
      .reportIcon {
        display: inline-block;
        width: 45px; height: 45px;
        @include BGIMG('mypage/dalla/icon_mypage-report.png');
      }
      .clipIcon {
        display: inline-block;
        width: 45px; height: 45px;
        @include BGIMG('mypage/dalla/icon_mypage-clip.png');
      }
      .myDataType {
        @include font(13px, 500, #666666);
      }
    }
  }
  .myMenu {
    .myMenuWrap {
      @include flex($fd:column);
      .myMenuList {
        flex:1;
        @include flex(center,space-between);
        height:55px;
        line-height:55px;
        padding:0 16px;
        text-align:left;
        @include font(15px,$Medium,#303030);
        cursor: pointer;
        .myMenuName {
          position: relative;
          &.new {
            &::after {
              content: "";
              @include position-top-right(15px, -10px);
              width: 6px; height: 6px;
              border-radius: 50%;
              background-color: #FF3C7B;
            }
          }
        }
        .rightArrow {
          display:inline-block;
          content:'';
          width:20px;height:20px;
          @include BGIMG('common/icoArrow-r.png');
        }
      }
    }
    .versionInfo {
      flex: 1;
      @include flex(center,space-between);
      height:55px;
      padding: 0 16px;
      line-height: 55px;
      text-align: left;
      .title {
        @include font(15px,$Medium,#303030);
      }
      .version {
        @include font(13px,$Medium,#9D9D9D);
      }
    }
    .logout {
      flex: 1;
      @include flex(center);
      width: 100%;
      height:55px;
      padding: 0 16px;
      line-height: 55px;
      text-align: left;
      @include font(15px,$Medium,#303030);
    }
  }
  #popSlide {
    .myLevelInfo {
      width:100%;
      padding: 0 16px 32px;
      .infoItem {
        @include flex(center);
        line-height:25px;
        margin-bottom:8px;
        .level {
          line-height:25px;
          @include font(16px,$Medium,white);
        }
        span {
          @include font(17px,$SemiBold,#303030);
        }
        p {
          margin-left:auto;
          @include font(15px,$SemiBold,$MAINCOLOR);
        }
      }
      .levelGauge {
        position: relative;
        height:13px;
        margin-bottom:8px;
        border-radius:100px;
        background-color:#E8E8E8;
        .gaugeBar {
          @include position-top-left;
          display:inline-block;
          width:0;
          height:100%;
          border-radius:100px;
          background-image: linear-gradient(to right,#FF8565,$MAINCOLOR);
          transition:width 1s ease;
        }
      }
      .exp {
        @include font(13px,$Medium,#303030);
      }
      .submitBtn {
        width:100%;
        margin-top:20px;
      }
    }
  }
}