@import "components/ui/_mixin.scss";

#remypage {
  .myInfo {
    @include flex;
    padding:16px 16px 12px;
    .textWrap {
      @include flex($fd:column);
      @include font(19px,400,black);
      .text {
        margin-bottom:16px;
        letter-spacing: -1px;
      }
      .count {
        height:20px;
        line-height:20px;
        @include font(14px,400,#878787);
        i {
          margin-right:4px;
          font-style:normal;
          letter-spacing: -1px;
        }
        span {
          margin-right:16px;
          @include font(14px,500,black);
        }
      }
    }
    .photo {
      width:75px;
      height:75px;
      margin-left:auto;
      img {
        width:100%;
        border-radius:50%;
        object-fit: cover;
      }
    }
  }
  .mydalDetail {
    @include flex;
    padding: 12px 16px 14px 19px;
    .detail {
      flex:1;
      .title {
        @include font(12px,400,#999);
      }
    }
    .buttonWrap {
      @include flex;
      margin-top:auto;
      button {
        height:20px;
        line-height:20px;
      }
    }
  }
}