@import "components/ui/_mixin.scss";

#profileDetail {
  header {
    button {
      width:40px;height:40px;
    }
  }
  section {
    position: relative;
  }
  .detailWrap {
    @include flex($fd:column);
    padding-top: 20px;
    .detail {
      padding: 0 16px;
      .listRow {
        .photo {
          width:36px;
          height:36px;
          margin-right:8px;
          img {
            border-radius:50%;
          }
        }
        .listContent {
          .nick {
            @include font(13px,500,#202020);
          }
          .time {
            @include font(12px,400,#707070);
          }
        }
      }
      .info {
        @include flex(center);
        i {
          display:inline-block;
          width:20px;height:20px;
          margin-right:4px;
          &.like {@include BGIMG('mypage/dalla/icolike-g.png');}
          &.like.active {@include BGIMG('mypage/dalla/icolike-p.png');}
          &.comment {@include BGIMG('mypage/dalla/icocomment-g.png');}
        }
        span {
          height:20px;
          line-height:18px;
          margin-right:8px;
          @include font(13px,400,#6B6B6B);
        }
      }
    }
  }
}