@import "components/ui/_mixin.scss";

#myprofile {
  position:relative;
  header {
    position:fixed;
    border-bottom:1px solid #D3D3D3;
    background-color:white;
    .buttonGroup {
      button {
        width:40px;
        height:40px;
        text-indent: -99999px;
        &.editBtn {
          @include BGIMG('common/header/icoEdit-b.png');
        }
      }
    }
  }
  .socialWrap {
    padding-bottom:40px;
    .tabmenu {
      @include flex(center);
      padding: 0 8px;
      li {
        line-height:50px;
        padding:0 12px;
        @include font(16px,400,#666);
        &.active {
          @include font(16px,700,black);
        }
      }
      button {
        width:52px;
        height:30px;
        line-height:30px;
        margin-left:auto;
        letter-spacing: -1px;
        white-space: nowrap;
        text-align:center;
        @include font(13px,400,#666);
        &:before {
          display:inline-block;
          content:"+";
          line-height:1.1;
          margin-right:2px;
          font-size:16px;
        }
      }
    }
    .feedSection {
      .fixFeed {
        position:relative;
        padding: 5px 0 15px;
        border-bottom:1px solid #F2F2F2;
        .title {
          @include flex;
          padding:0 16px;
          margin-bottom:16px;
          .text {
            @include flex(center);
            padding:0 12px 0 8px;
            line-height:26px;
            letter-spacing: -1px;
            @include border(#EBEBEB,100px);
            @include font(13px,400,#202020);
            &:before {
              display:inline-block;
              content:"";
              width:18px;
              height:18px;
              background:url("#{$IMGSERVER}/mypage/dalla/bookmark.png") center/cover no-repeat;
            }
          }
          button {
            margin-left:auto;
            letter-spacing: -2px;
            @include font(13px,400,#666);
          }
        }
        .swiper-wrapper {
          padding-left:16px;
          .swiper-slide {
            width:auto;
            &:last-child {
              margin-right:20px;
            }
          }
        }
        .swiper-slide {
          $colors: (#FFD4E3,#FFE6DE,#FFF6E1,#E2EAFF,#F3EEFF);
          @each $color in $colors {
            $i: index($colors,$color);
            &:nth-child(5n+#{$i}) {
              .feedBox {
                background-color:$color;
              }
            }
          }
          .feedBox {
            @include flex($fd:column);
            width:158px;
            height:150px;
            margin-right:10px;
            padding: 20px 12px 12px 16px;
            border-radius:10px;
            .text {
              line-height:22px;
              word-break: break-all;
              @include font(17px,500,black);
              @include fontLineCut;
              text-overflow: ellipsis;
              overflow: hidden;
              &.add {
                -webkit-line-clamp: 4;
              }
            }
            .info {
              @include flex(flex-end);
              margin-top:auto;
              .time {
                letter-spacing: -1px;
                @include font(12px); 
              }
              .thumb {
                position:relative;
                width:42px;
                height:42px;
                margin-left:auto;
                border-radius:5px;
                overflow:hidden;
                &:after {
                  @include position-center;
                  z-index: 1;
                  display:block;
                  content:"";
                  width:100%;
                  height:100%;
                  background-color:rgba(0,0,0,.13);
                }
                img {
                  width:100%;
                }
                .count {
                  @include position-center;
                  z-index: 2;
                  @include font(17px,500,white);
                }
              }
            }
          }
        }
      }
    }
    .fanboardSection {
      .subTabmenu {
        @include flex;
        padding:0 16px;
        margin-bottom:15px;
        li {
          line-height:28px;
          margin-right:5px;
          padding:0 12px;
          border-radius:100px;
          background-color:#F6F6F6;
          @include font(13px,500,#ACACAC);
          &.active {
            background-color:#202020;
            color:white;
          }
        }
      }
      .subArea {
        @include flex(center);
        padding:0 16px;
        .title {
          letter-spacing: -1px;
          @include font(15px,500,#202020);
        }
        button {
          margin-left:auto;
          letter-spacing: -1px;
          @include font(13px,400,#666);
          &:before {
            content:"";
            display:inline-block;
            width:20px;height:20px;
          }
        }
      }
    }
    .clipSection {
      .subArea {
        @include flex(center);
        height:25px;
        margin-bottom:16px;
        padding:0 16px;
        .title {
          letter-spacing: -1px;
          @include font(15px,500,#202020);
        }
        button {
          margin-left:auto;
          letter-spacing: -1px;
          @include font(13px,400,#666);
        }
      }
      .clipContent {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:8px;
        padding:0 16px;
        .listColumn {
          border-radius:8px;
          overflow:hidden;
          &:before {
            @include position-center;
            display:block;
            content:"";
            width:100%;height:100%;
            background-color:rgba(0,0,0,.1);
          }
          p {
            display:none;
          }
          .title {
            @include position-bottom-left;
            width:100%;
            padding:24px 0 10px 10px;
            background:linear-gradient(to bottom,transparent,rgba(0,0,0,.5));
            text-align:left;
            @include font(14px,700,white);
          }
          .info {
            @include position-top-right(10px,10px);
            @include flex(center);
            .dataCnt {
              @include font(12px, 400, #FFF);
              margin-right: 16px;
              &:last-child{ margin-right: 0;}
              &.goodCnt {background-image: url("https://image.dalbitlive.com/common/dataCnt/dataIcon-clipGoodCnt.png");}
              &.replyCnt {background-image: url("https://image.dalbitlive.com/common/dataCnt/dataIcon-clipReplyCnt.png");}
            }
          }
        }
      }
    }
  }
}