#winnerInfo{

  padding: 0 16px 20px 16px;

  /*===================================*/

  // 이름, 주민등록번호
  .infoBox-readonly {
    width: 100%;
    border-radius: 12px;
    border: solid 1px #e0e0e0;
    background-color: #f5f5f5;
    align-items: center;
    padding: 16px;
    display: flex;
    margin-bottom: 4px;

    .formText {
      width: 30%;
      font-size: 12px;
      line-height: 1.33;
      color: #000000;
    }

    .infoText {
      width: calc(100% - 90px);
      font-size: 16px;
      font-weight: bold;
      line-height: 1.38;
      color: #000000;
    }
  }

  // 이메일, 상세주소 (input 테두리)

  .focusBox {
    .formText {
      width: 30%;
      font-size: 12px;
      line-height: 2;
      color: #000000;
      position: absolute;
      padding: 16px;
    }
    .inputFocus {
      width: 100%;
      height: 100%;
      padding: 16px 16px 16px 31%;
      border: solid 1px #e0e0e0;
      border-radius: 12px;
      margin-bottom: 4px;

      flex: 1;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.38;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

    }
    & > input::placeholder {
      color: #bdbdbd;
      font-size: 14px;
    }

    :focus {
      padding-left: 31%;
      border-radius: 12px;
      border: solid 1px #000000;
      display: flex;
    }

  }

  // 주소
  .infoBox {
    border-radius: 12px;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    align-items: center;
    padding: 16px;
    display: flex;
    margin-bottom: 4px;

    .formText {
      width: 29%;
      font-size: 12px;
      line-height: 1.33;
      color: #000000;
    }

    input {
      flex: 1;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.38;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &::placeholder {
        color: #bdbdbd;
        font-size: 14px;
      }

      &:disabled {
        background-color: inherit;
      }
    }

  }

  // 우편번호, 신분증사본, 가족관계증명서 (텍스트-버튼)영역
  .infoBox-button-readonly {
    width: 100%;
    border-radius: 12px;
    border: solid 1px #e0e0e0;
    background-color: #f5f5f5;
    align-items: center;
    padding: 10px 10px 10px 16px;
    display: flex;
    margin-bottom: 4px;

    .formText {
      width: 29%;
      font-size: 12px;
      line-height: 1.33;
      color: #000000;
    }

    .textButton {
      display: flex;
      flex: 1;
      font-size: 16px;
      font-weight: bold;

      .textLabel {
        display: flex;
        flex: 1;
        align-items: center;
        font-size: 14px;

        & > span:first-child {
          width: 100px; // px로 주어야 ...이 적용이 되어서ㅠㅠ
          display: inline;
          flex: 1;
          align-items: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          color: #bdbdbd;
        }

        & > span:last-child {
          width: 75px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
        }
      }

      // 우편번호
      & > input:disabled {
        background-color: inherit;
        width: 70%;
      }

      .searchBox {
        width: 75px;
        height: 100%;
        border-radius: 9px;
        background-color: #bdbdbd;
        padding: 7px;
        align-items: center;
        justify-content: center;

        .searchText {
          font-size: 14px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }


  /*=================================*/
  .msgBox{
    width: 100%;
    border-radius: 12px;
    padding:16px 23px 16px 23px;
    border: solid 1px #632beb;
    background-color: #ffffff;
    margin: 20px 0 20px 0;

    .msgText{
      width: 100%;
      font-size: 12px;
      line-height: 1.33;
      text-align: center;
      color: #000000;
    }
  }

  .prizeBox {
    border-radius: 12px;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    display:flex;
    padding: 14px 16px 14px 16px;
    margin-bottom: 4px;

    &:first-child {
      padding-top: 0
    }
    .prizeText {
      width: 30%;
      font-size: 14px;
      font-weight: bold;
      color: #632beb;
    }
    .prizeInfo {
      width: 70%;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.13;
      text-align: right;
      color: #000000;
    }
  }

  .checkArea {
    width: 100%;
    display: flex;
    padding-top: 25px;

    .checkbox {
      img {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        background-color: #632beb;
        margin-left: 2px;
      }
    }

    .checkText {
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      color: #000000;
      margin-left: 14px;
    }

  }

  .checkDescArea{
    margin: 7px 0 32px 1px;
    .checkDescText{
      width: calc(100% - 34px);
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #757575;
      margin-left: 34px;
    }
  }

  .descArea {
    padding: 4px;
    margin-bottom: 10px;

    .descText {
      width: calc(100%);
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #757575;
    }
  }

  .saveButton {
    width: 100%;
    border-radius: 12px;
    background-color: #bdbdbd;
    padding: 12px 120px 12px 120px;

    &-active {
      width: 100%;
      border-radius: 12px;
      padding: 12px 120px 12px 120px;
      background-color: #632beb;
    }
  }
  .saveButtonText {
    width: 100%;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    color: #ffffff;
  }

  #layer {
    display: none;
    position: fixed;
    z-index: 3;

    &__close {
      position: fixed;
      width: 20px;
      color: white;
      background-color: black;
      z-index: 2;
      font-size: 16px;
    }
  }

}