#alarmWrap {
  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    box-sizing: border-box;

    &__title {
      flex: 1;
      font-size: 18px;
      letter-spacing: -0.45px;
      font-weight: 800;
      text-align: center;
    }

    &__count {
      margin-left: 8px;
      color: #FF3C7B;
      font-weight: 600;
    }
    &__right {
      display: flex;
      align-items: center;
      position: absolute;
      top: 9px;
      right: 16px;

      .deleteIcon {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        background: url('../../static/ic_delete_alarm.svg') no-repeat center;
        background-size: contain;
        &.isActive {
          background: url('../../static/ic_delete_alarm_active.svg') no-repeat center;
        }
      }
    }

    &__btnBack {
      display: block;
      width: 36px;
      position: absolute;
      top: 4px;
      left: 2%;
    }
  }
  .subTabList {
    padding-top: 12px;
  }

  .contents {
    width: 100%;
    padding: 12px 16px;
    background-color: #fff;

    &__list {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      &--img {
        margin-right: 10px;
        & > img {
          width: 40px;
          height: 40px;
          border-radius: 36px;
        }
      }
      &--text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-right: 5px;
      }
      &--title {
        margin-bottom: 3px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.35px;
        text-align: left;
        color: #000;
      }
      &--time {
        font-size: 12px;
        font-weight: normal;

        letter-spacing: -0.3px;
        text-align: left;
        color: #000;
      }
    }
  }
}
