#alarmWrap {
  .header {
    display: flex;
    align-items: center;
    padding: 25px 16px;
    background-color: #eeeeee;
    &__left {
      display: flex;
      flex: 1;
      font-size: 16px;
      font-weight: bold;
    }
    &__count {
      margin-left: 8px;
      color: #632beb;
      font-weight: normal;
    }
    &__right {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      .deleteIcon {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        background: url('../../static/delete_g_s.svg') no-repeat center;
        background-size: contain;
      }
    }
  }

  .contents {
    width: 100%;
    height: 100vh;
    padding: 12px 16px;
    background-color: #fff;

    &__list {
      display: flex;
      align-items: center;
      &--img {
        margin-right: 10px;
        & > img {
          width: 40px;
          height: 40px;
          border-radius: 36px;
        }
      }
      &--text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      &--title {
        margin-bottom: 6px;
        font-size: 16px;
      }
      &--time {
        font-size: 12px;
      }
    }
  }
}
