#alarmWrap {
  .header {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    &__left {
      display: flex;
      align-items: center;
      flex: 1;
      font-size: 16px;
      font-weight: bold;
      &--back {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background: url('./static/ic_back.svg') no-repeat center;
      }
    }
    &__count {
      margin-left: 8px;
      color: #632beb;
      font-weight: 600;
    }
    &__right {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      .deleteIcon {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        background: url('../../static/delete_g_s.svg') no-repeat center;
        background-size: contain;
      }
    }
  }

  .contents {
    width: 100%;
    height: 100vh;
    padding: 12px 16px;
    background-color: #fff;

    &__list {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      &--img {
        margin-right: 10px;
        & > img {
          width: 40px;
          height: 40px;
          border-radius: 36px;
        }
      }
      &--text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
      }
      &--title {
        margin-bottom: 3px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.35px;
        text-align: left;
        color: #000;
      }
      &--time {
        font-size: 12px;
        font-weight: normal;

        letter-spacing: -0.3px;
        text-align: left;
        color: #000;
      }
    }
  }
}
