@import '../../../styles/variables';

#awardEventPage {
  .topBox {
    position: relative;
    text-align: center;

    &__mainImg {
      width: 100%;
    }

    .btnBack {
      position: absolute;
      top: 2%;
      right: 2%;
      width: 32px;
      height: 32px;
    }
  }

  .tabBox {
    position: relative;
    display: flex;
    background-color: #efefef;
    padding: 0 5%;

    .btn {
      width: 33.33333333333333%;
      height: 50px;
      background-color: #acacac;
      color: white;
      font-size: 18px;
      border-radius: 15px 15px 0 0;
      box-sizing: border-box;
      border: 3px solid #acacac;

      &.active {
        position: relative;
        font-weight: $bold;
        border-bottom: 0;
      }

      &:nth-of-type(1) {
        &.active {
          background-color: #ec6382;
          border-color: #e84d70;

          &::after {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #ec6382;
          }
        }
      }

      &:nth-of-type(2) {
        &.active {
          background-color: #6442df;
          border-color: #4f2ccf;

          &::after {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #6442df;
          }
        }
      }

      &:nth-of-type(3) {
        &.active {
          background-color: #30bdca;
          border-color: #148f9a;

          &::after {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #30bdca;
          }
        }
      }
    }

    &.result {
      padding-top: 5px;
      .btn {
        width: 50%;

        img {
          width: 60%;
        }

        &:nth-of-type(2) {
          &.active {
            background-color: #ffd05f;
            border-color: #ea9c00;

            &::after {
              content: '';
              position: absolute;
              bottom: -3px;
              left: 0;
              width: 100%;
              height: 3px;
              background-color: #ffd05f;
            }
          }
        }
      }
    }
  }

  .countBoxWrap {
    position: absolute;
    width: 100%;
    bottom: 3.2%;
    margin: 20px 0;
    padding: 0 16px;
    box-sizing: border-box;

    &__title {
      padding-bottom: 5px;
      font-weight: $bold;
    }

    &__subTxt {
      color: #5e5e5e;
    }

    .countBox {
      & > div {
        display: flex;
        justify-content: center;
        max-width: 80%;
        margin: 10px auto;
      }

      .times {
        position: relative;
        display: flex;
        justify-content: space-between;

        &:nth-of-type(1) {
          padding-right: 10%;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 3%;
            width: 30%;
            height: 100%;
            background: url(https://image.dallalive.com/event/award/201214/ico_day_text.png) no-repeat;
            background-size: 100%;
          }
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
          padding-right: 5%;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 3%;
            width: 12%;
            height: 100%;
            background: url(https://image.dallalive.com/event/award/201214/ico_time_dot.png) no-repeat;
            background-size: 100%;
          }
        }

        .images {
          display: block;
          width: 49%;

          img {
            width: 100%;
          }

          &.active {
            top: 0;
            opacity: 1;
            // animation: ani 1s normal ease-out;
          }

          &.always {
            top: 0;
            opacity: 1;
            // animation: ani 1s normal ease-out infinite;
          }

          &.false {
            animation: none;
          }

          // @keyframes ani {
          //   0% {
          //     top: -20px;
          //     opacity: 0;
          //   }

          //   100% {
          //     top: 0px;
          //     opacity: 1;
          //   }
          // }
        }
      }
    }
  }

  .tabGuideWrap {
    border-top: 3px solid#e84d70;
    .topImage {
      position: relative;

      img {
        width: 100%;
      }

      .goodsBtn {
        position: absolute;
        bottom: 4%;
        right: 13%;
        width: 15%;
      }
    }
    .noticeWrap {
      padding: 5% 5% 10% 5%;

      &__title {
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;

        &.active {
          img {
            transform: rotate(180deg);
          }
        }
      }

      .noticeListBox {
        display: none;
        &.active {
          display: block;
        }

        p {
          display: inline-block;
          margin-bottom: 3px;
          padding: 2px 5px;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: -0.3px;
          border-radius: 4px;
          background-color: #1ab1a2;
        }

        li {
          position: relative;
          padding: 4px 0 6px 10px;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: -0.33px;
          text-align: left;

          &::before {
            content: '';
            position: absolute;
            top: 11px;
            left: 0;
            width: 1px;
            height: 1px;
            background-color: $black;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .tabVoteWrap {
    border-top: 3px solid #4f2ccf;
    padding: 0 0 24px 0;
    background: url(https://image.dallalive.com/event/award/201214/vote-img.png) no-repeat top;
    background-size: 100%;

    .btnBox {
      padding: 0 5%;

      .voteBtn {
        height: 54px;
        width: 100%;
        background-color: $primary;
        color: white;
        font-size: 16px;
        border-radius: 12px;
        font-weight: $bold;

        &:disabled {
          background-color: #bdbdbd;
        }
      }
    }

    .voteListBox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 80% 5% 0 5%;

      .voteListItem {
        width: 45%;
        margin-bottom: 32px;

        .thumb {
          position: relative;
          overflow: hidden;
          margin-bottom: 8px;
          border-radius: 14px;
          cursor: pointer;
          img {
            width: 100%;
          }

          .nickName {
            position: absolute;
            width: 100%;
            bottom: 0;
            padding: 10px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            text-align: center;
            font-size: 12px;
          }
        }

        .checkBtn {
          width: 100%;
          height: 40px;
          font-size: 14px;
          border: 2px solid #c9c9c9;
          border-radius: 14px;
        }

        .checkedBtn {
          width: 100%;
          height: 40px;
          font-size: 14px;
          border: 2px solid #e84d70;
          background-color: #e84d70;
          border-radius: 14px;
          color: white;

          img {
            width: 20px;
          }
        }
      }
    }
  }

  .tabCommentWrap {
    border-top: 3px solid #148f9a;
    &__topImg {
      width: 100%;
    }
  }

  .awardVoteThxPop {
    text-align: center;

    p {
      margin-top: 16px;
      font-size: 14px;
      line-height: 22px;
    }

    .title {
      padding-bottom: 8px;
      color: $primary;
      font-size: 18px;
      font-weight: $bold;
    }
  }

  .awardGoodsPop {
    .scrollBox {
      overflow-y: scroll;
      max-height: 350px;
      img {
        width: 100%;
      }
    }

    p {
      padding-top: 14px;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }
  }

  .btnWrap {
    margin-top: 20px;
    .btn {
      width: 100%;
      height: 44px;
      font-size: 16px;
      border-radius: 12px;
      color: white;
      font-weight: $bold;
      text-align: center;
      background-color: $primary;
    }
  }

  .tabDjWrap {
    border-top: 3px solid#e84d70;
    padding: 30% 0 20% 0;
    background: url(https://image.dallalive.com/event/award/201214/bg-result01.png),
      url(https://image.dallalive.com/event/award/201214/bg-result02.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%;
    background-position: center top, center bottom;

    .awardDjList {
      padding: 0 3%;

      .awardDjItem {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 4px solid #ffd71b;
        background-color: white;
        border-radius: 20px;
        box-sizing: border-box;

        &::after {
          content: '';
          position: absolute;
          top: -12%;
          left: 0;
          width: 12%;
          height: 35%;
          background: url('https://image.dallalive.com/event/award/201214/ico-2020-trophy.png') no-repeat;
          background-size: 100%;
        }

        .djThumbBox {
          position: relative;
          overflow: hidden;
          width: 38%;

          border-radius: 14px;
          cursor: pointer;
          img {
            width: 100%;
          }

          .nickName {
            position: absolute;
            width: 100%;
            bottom: 0;
            padding: 10px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            text-align: center;
            font-size: 14px;
          }
        }

        .bestFanList {
          width: 59%;

          .bestFanItem {
            display: flex;
            align-items: center;
            cursor: pointer;

            .thumb {
              position: relative;
              width: 18%;
              margin-right: 8px;

              &__image {
                width: 100%;
                border-radius: 50%;
              }

              &__medal {
                position: absolute;
                bottom: -10%;
                right: 0;
                width: 40%;
                height: 47%;
              }
            }

            span {
              display: block;
              flex: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-wrap: normal;
              font-size: 14px;
            }

            & + .bestFanItem {
              margin-top: 8px;
            }
          }
        }

        & + .awardDjItem {
          margin-top: 34px;
        }
      }
    }

    .notice {
      padding-top: 32px;
      line-height: 25px;
      text-align: center;
      font-size: 14px;
      color: #333;
    }
  }

  .tabFanWrap {
    border-top: 3px solid#ea9c00;
    padding: 30% 0 20% 0;
    background: url(https://image.dallalive.com/event/award/201214/bg-result04.png),
      url(https://image.dallalive.com/event/award/201214/bg-result03.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top, center bottom;

    .awardFanList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 5%;

      .awardFanItem {
        width: 30%;
        margin-right: 5%;
        padding-bottom: 20px;
        cursor: pointer;

        .thumb {
          position: relative;

          &__image {
            width: 100%;
            border-radius: 50%;
          }

          &__medal {
            position: absolute;
            bottom: 4%;
            right: 2%;
            width: 30%;
            height: 40%;
          }
        }

        .nickName {
          overflow: hidden;
          padding-top: 10px;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
          text-align: center;
          color: #333;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }

    .notice {
      padding-top: 32px;
      line-height: 25px;
      text-align: center;
      font-size: 14px;
      color: #333;
    }
  }

  .awardRankPage {
    position: relative;
    margin: auto;
    max-width: 460px;
    padding-bottom: 28px;
    background: #33106b;

    .btnBack {
      position: absolute;
      top: 18px;
      right: 18px;
      width: 32px;
      height: 32px;
    }

    img {
      width: 100%;
    }

    .awradTab {
      padding: 0px 16px;
      box-sizing: border-box;
      display: flex;
      background: #e8e8f9;
    }

    .djBox {
      .winnerList {
        position: relative;
        .swiper-container {
          position: absolute;
          left: 0px;
          top: 48%;
          margin-left: 10%;
          width: 83%;
          overflow: hidden;
          box-sizing: border-box;

          .slideWrap {
            margin-right: 12px;
            width: calc(25% - 4%);
            flex-shrink: 0;
            cursor: pointer;

            &.active {
              .slideWrap__thumb {
                img {
                  padding: 3px;
                  background-image: linear-gradient(to top, #ffdb7f, #ffcb23);
                }
              }

              .slideWrap__nickName {
                color: #ffdb7f;
              }
            }

            &__thumb {
              border-radius: 20px;

              img {
                width: 100%;
                padding: 3px;
                border-radius: 20px;
                background: #333;
              }
            }

            &__nickName {
              display: block;
              margin: 8px auto 0 auto;
              font-size: 12px;
              text-align: center;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-weight: $bold;
              letter-spacing: normal;
              color: white;
            }
          }
        }
      }

      .detailView {
        position: relative;
        margin-top: 5%;

        .userItem {
          display: flex;
          padding: 0px 16px;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;

          &__userInfo {
            padding: 8px 16px;
            width: 45%;
            box-sizing: border-box;
            .infoThumbnail {
              position: relative;

              .userThumbnail {
                flex-shrink: 0;
                margin: 28% auto 0 auto;
                width: 56%;
                border-radius: 50%;
                display: block;
              }
              .userFrame {
                left: 0px;
                top: -34%;
                position: absolute;
              }
            }

            .infoText {
              margin-top: 20%;
              text-align: center;
              .userNickName {
                display: block;
                font-weight: $bold;
                color: white;
                font-size: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .userTitle {
                margin-top: 4px;
                color: #ffcb23;
                overflow: hidden;
                line-height: 16px;
                font-size: 11px;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                white-space: pre-wrap;
              }
            }
          }

          &__textBox {
            padding: 30px 12px 12px 0;
            box-sizing: border-box;
            flex: 1;

            .impression {
              padding: 20px 2px 8px 12px;
              line-height: 1.4;
              border-radius: 24px;
              background: white;
              color: $black;
              font-size: 13px;
              height: 100%;
              word-break: break-word;
              white-space: pre-wrap;
            }

            .impressionPoint {
              width: 88px;
              margin: -34px auto 4px auto;
              display: block;
            }
            .textScroll {
              height: 100%;
              overflow-y: scroll;
              &::-webkit-scrollbar {
                width: 10px;
              }
              &::-webkit-scrollbar-thumb {
                border-radius: 6px;
                background: rgba(0, 0, 0, 0.4);
              }
            }
          }
        }
      }

      .scoreTotal {
        margin-top: 5%;
        position: relative;

        &__item {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
        }
        &__title {
          position: relative;
          width: 78%;
          margin: 7% auto 0 auto;
          padding-bottom: 5%;
          text-align: center;
          font-size: 17px;
          color: #fece84;
          font-weight: $bold;
          background: url(https://image.dallalive.com/event/award_rank/dot.jpg) repeat-x bottom center / 1.8%;

          @media screen and (max-width: 420px) {
            font-size: 15px;
          }
          &::after {
            display: block;
            position: absolute;
            left: 5%;
            bottom: 50%;
            content: '';
            width: 16px;
            height: 16px;
            background: url(https://image.dallalive.com/event/award_rank/moon_icon_left.jpg) no-repeat center / cover;
          }

          &::before {
            display: block;
            position: absolute;
            right: 5%;
            bottom: 50%;
            content: '';
            width: 16px;
            height: 16px;
            background: url(https://image.dallalive.com/event/award_rank/moon_icon_right.jpg) no-repeat center / cover;
          }
          span {
            display: inline-block;
            color: white;
            max-width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: top;
          }
        }

        &__infoBox {
          padding: 0px 7%;
          display: flex;
          justify-content: space-evenly;
          margin-top: 4%;
          overflow: hidden;
          li {
            width: 27%;
            text-align: center;
            font-weight: $bold;
            color: white;
            font-size: 13px;
            span {
              margin: 10% auto 91% auto;
              letter-spacing: -1px;
            }

            div {
              padding: 56% 0;
              position: relative;
              p {
                position: absolute;
                padding: 0px 10px;
                box-sizing: border-box;
                display: block;
                bottom: 7%;
                width: 100%;
                text-align: center;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }

            .people {
              background: url(https://image.dallalive.com/event/award_rank/img_dj_info_1.png) no-repeat bottom / 100%;
            }

            .heart {
              background: url(https://image.dallalive.com/event/award_rank/img_dj_info_2.png) no-repeat bottom / 100%;
            }
            .days {
              background: url(https://image.dallalive.com/event/award_rank/img_dj_info_3.png) no-repeat bottom / 100%;
            }
          }
        }

        .dayText {
          margin-top: 4.5%;
          font-size: 14px;
          font-weight: $bold;
          color: #fece84;
          text-align: center;
          @media screen and (min-width: 460px) {
            font-size: 16px;
          }

          @media screen and (min-width: 370px) {
            margin-top: 6%;
          }

          p {
            display: inline-block;
            color: white;
            max-width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: top;
          }
          span {
            color: $red;
          }
        }
      }

      .buttonBox {
        padding: 0px 16px;
        margin-top: 5%;
        display: flex;

        button {
          width: 50%;
          &:first-child {
            margin-right: 2%;
          }
        }
      }
    }

    .fanBox {
      &__item {
        margin-top: 7%;
        display: flex;
        padding: 0px 16px;
        box-sizing: border-box;

        .thumbnailBox {
          width: 42%;
          position: relative;
          overflow: hidden;
          border-radius: 28px;

          img {
            min-width: 100px;
          }

          &::after {
            position: absolute;
            width: 40px;
            height: 54px;
            background: url(https://image.dallalive.com/event/award_rank/medal@2x.png) no-repeat center / 100%;
            text-indent: -9999px;
            left: 8%;
            top: -1px;
            content: '메달';
          }

          .nickName {
            min-height: 48px;
            line-height: 48px;
            text-align: center;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background: white;
            color: $black;
            border-radius: 0 0 28px 28px;
            font-size: 16px;
          }
        }
        .textBox {
          width: 58%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: white;
          padding-left: 4%;
          box-sizing: border-box;

          &__list {
            padding-top: 3%;
            width: 100%;
            font-size: 14px;
            overflow: hidden;
            li {
              display: block;
              display: flex;
              line-height: 26px;
              align-items: center;
              margin-bottom: 3px;
              letter-spacing: -0.5px;
              color: $lightGray;

              &::before {
                content: '';
                flex-shrink: 0;
                width: 22px;
                height: 22px;
                margin-right: 9px;
              }

              &:nth-child(odd) {
                &::before {
                  content: '';
                  background: url(https://image.dallalive.com/event/award_rank/djr_1@2x.png) no-repeat center / 22px;
                }
              }

              &:nth-child(2n) {
                &::before {
                  content: '';
                  background: url(https://image.dallalive.com/event/award_rank/djr_2@2x.png) no-repeat center / 22px;
                }
              }
            }
          }
        }
        .introduce {
          display: flex;
          align-items: center;
          position: relative;
          width: 100%;
          overflow: hidden;
          white-space: pre-wrap;
          span {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -6%);
            width: 80%;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
          img {
            min-width: 120px;
          }
        }
      }
    }
  }
}
