@import "components/ui/_mixin.scss";

#noticeDetail {
  flex:1;
  @include flex($fd: column);
  height:100%;
  header {
    .buttonGroup {
      div.moreBtn {
        @include moreBtnStyle-1;
        width:40px;height:40px;
      }
    }
  }
  section {
    position: relative;
  }
  .detailWrap {
    flex:1;
    @include flex($fd:column);
    height:calc(100% - 48px);
    padding:14px 16px;
    .noticeList {
      @include broadcastNoticeStyle;
      + .noticeList {
        margin-top:12px;
      }
    }
  }
}