@import '../../styles/variables';

$size: 20px;
$speed: 1.3s;
$bar-width: 3px;
$gutter-width: 3px;
$bar-color: white;

#clipPlayList {
  position: relative;
  height: 100%;

  .playListTotal {
    font-size: 16px;
    margin-top: 3px;
    margin-left: 13px;
    line-height: 40px;
    font-weight: $bold;
    span {
      color: #FF3C7B;
    }
  }

  .playListWrap {
    // padding: 16px;
    margin: 50px 0 0 0;
    &.on {
      display: block;
      &.edit {
        margin-top: 100px;
        height: 100%;
      }
    }
    &.off {
      display: none;
    }
    .totalListItem {
      position: fixed;
      top: 45px;
      padding: 16px 0 8px 16px;
      font-size: 16px;
      line-height: 18px;
      font-weight: bold;
      color: #000;
      z-index: 1;
      background: #fff;
      width: 100%;
      span {
        color: #FF3C7B;
      }
    }

    .playListBox {
      // padding-top: 30px;
      margin-top: 80px;
    }
  }

  .playListSorter {
    position: fixed;
    display: flex;
    top: 50px;
    left: 0;
    width: 100%;
    height: 50px;
    background: primary;
    z-index: 2;
    justify-content: space-between;
    &__dim {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
      &.on {
        display: block;
      }
    }
    .playListSorterList {
      display: none;
      position: absolute;
      left: 0;
      top: 50px;
      width: 100%;
      padding: 10px 20%;
      background: #fff;
      text-align: center;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      &.on {
        display: block;
      }
      &__item {
        padding: 10px 0;
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        cursor: pointer;
        &.on {
          color: primary;
        }
      }
    }
    button {
      color: #fff;
      height: 50px;
      font-size: 14px;
      font-weight: bold;
    }
    &__deleteBtn {
      padding: 0 16px 0 26px;
      background: url(static/delete_b.svg) no-repeat left center;
      background-size: 24px;
      &.none {
        background: none;
        width: 70px;
        font-size: 0;
        cursor: inherit;
      }
    }
    &__selectBtn {
      padding: 0 16px;
      &.on {
        color: #ffe600;
      }
    }

    &__sortBtn {
      padding: 0 16px;
      &:after {
        display: inline-block;
        margin-left: 4px;
        border-top: 7px solid #fff;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-bottom: 5px solid transparent;
        vertical-align: bottom;
        content: '';
      }
    }
  }

  .playlistEdit {
    position: relative;
    &__headerBtn {
      display: block;
      position: fixed;
      right: 10px;
      top: 8px;
      width: 54px;
      height: 32px;
      border-radius: 16px;
      border: solid 1px #757575;
      background-color: #fff;
      margin-left: auto;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.14;
      letter-spacing: -0.35px;
      text-align: center;
      color: #757575;
      z-index: 3;
      &--edit {
        border-radius: 16px;
        border: solid 1px primary;
        background-color: primary;
        color: #fff;
      }
    }
  }
  .editSortWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 362px;
    height: 52px;
    background-color: primary;
  }
}

#playListItem {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  height: 92px;
  outline: none;

  &.edit {
    cursor: pointer;
  }

  &.on {
    background: rgba(66, 88, 254, 0.1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  }

  button {
    position: absolute;
    right: -47px;
    top: 12px;
    width: 62px;
    height: 62px;
    span {
      display: block;
      width: 16px;
      margin: 5px auto;
      height: 1px;
      background: #000;
    }
  }

  .playListItem__thumb {
    position: relative;
    margin-right: 12px;
    width: 72px;
    cursor: pointer;
    &.edit {
      cursor: auto;
    }

    img {
      width: 100%;
      border-radius: 12px;
    }

    &--playTime {
      position: absolute;
      bottom: 3px;
      right: 3px;
      width: 42px;
      height: 15px;
      opacity: 0.6;
      border-radius: 12px;
      background-color: #000000;
      color: #fff;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
    }

    &--dim {
      display: none;
    }
  }

  .textBox {
    width: calc(100% - 132px);
    height: 62px;
    &__iconBox {
      display: flex;
      align-items: center;
      &--type {
        min-width: 30px;
        background-color: #9e9e9e;
        color: #fff;
        font-size: 11px;
        padding-left: 6px;
        padding-right: 6px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        border-radius: 8px;
      }
      &--gender {
        display: block;
        width: 24px;
        height: 16px;
        margin-left: 4px;
        &.female {
          background: url('static/ic_female.svg');
        }
        &.male {
          background: url('static/ic_male.svg');
        }
      }
    }

    &__subject,
    &__nickName {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      word-wrap: normal;
    }

    &__subject {
      margin: 8px 0 4px;
      font-size: 14px;
      font-weight: 700;
    }

    &__nickName {
      font-size: 12px;
      color: #757575;
    }
  }

  &.active {
    .playListItem__thumb {
      &--dim {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 72px;
        height: 72px;
        opacity: 0.6;
        border-radius: 12px;
        background-color: #000;
      }

      .equalizer {
        width: 36px;
        height: 36px;
        padding-top: 28px;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        box-sizing: border-box;

        ul {
          height: 14px;
          width: 20px;
          margin: 0 auto;
          padding: 0;
          position: relative;

          li {
            width: 2px;
            float: left;
            margin: 0 2px 0 0;
            padding: 0;
            height: 14px;
            position: relative;
            list-style-type: none;

            span {
              display: block;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              height: 14px;
              background: #fff;
              transform: none;
            }
          }
          li:nth-child(1) span {
            animation: equalizer-bar 2s 1s ease-out alternate infinite;
          }
          li:nth-child(2) span {
            animation: equalizer-bar 2s 0.5s ease-out alternate infinite;
          }
          li:nth-child(3) span {
            animation: equalizer-bar 2s 1.5s ease-out alternate infinite;
          }
          li:nth-child(4) span {
            animation: equalizer-bar 2s 0.25s ease-out alternate infinite;
          }
          li:nth-child(5) span {
            animation: equalizer-bar 2s 2s ease-out alternate infinite;
          }
        }
      }
    }

    .textBox {
      &__subject,
      &__nickName {
        color: primary;
      }
    }
  }

  &.playing {
    .textBox__subject {
      color: primary;
    }
    .textBox__nickName {
      color: primary;
    }
    .playingbarWrap {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
    .playingbar {
      position: absolute;
      margin: 0 auto;
      top: calc(50% - 10px);
      left: calc(50% - 7px);
      width: $size;
      height: $size;

      span {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        width: $bar-width;
        background-color: $bar-color;
        animation: up-down $speed infinite;
        border-radius: 2px;

        &:nth-child(2) {
          left: $bar-width + $gutter-width;
          animation-delay: -$speed / 3 * 2;
        }

        &:nth-child(3) {
          left: $bar-width * 2 + $gutter-width * 2;
          animation-delay: -$speed / 3;
        }
      }
    }
  }
}

@keyframes up-down {
  from {
    top: $size;
  }
  50% {
    top: 4px;
  }
  to {
    top: $size;
  }
}
