#pcService {
  width: 640px;
  margin: auto;
  background: #297eff;
  padding-bottom: 100px;
  h2 {
    display: flex;
    align-items: center;
    height: 48px;
    margin-right: auto;
    padding-left: 16px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    background: #fff;
    button {
      width: 40px;
      height: 40px;
      margin-left: auto;
      margin-right: 6px;
      border: none;
      background: url('./ic_close.svg');
      text-indent: -999999px;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
