#clipOpenPopup {
  .content {
    padding: 20px;
  }

  .title {
    position: relative;

    h2 {
      margin: auto;
      font-size: 18px;
      height: 52px;
      line-height: 52px;
      letter-spacing: -0.4px;
      text-align: center;
      border-bottom: 1px solid #eaeaea;
    }

    button {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0px;
      top: -40px;
      text-indent: -99999px;
      background-image: url('https://image.dallalive.com/svg/ic_close_w.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  h3 {
    font-size: 14px;
    color: #3a3a3a;
    margin-bottom: 10px;
    letter-spacing: -0.35px;
  }
  ul {
    margin-bottom: 30px;
  }
  ul li {
    position: relative;
    padding-left: 16px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.3px;
    &::before {
      position: absolute;
      content: '';
      left: 5px;
      top: 9px;
      width: 2px;
      height: 2px;
      background: #000;
    }
  }
}
