.scroll-wrap {
  position: relative;
  overflow: hidden;

  .scroll-inner {
    overflow: scroll;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;

    &.windows {
      overflow: auto;
      margin-bottom: -17px;

      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    &.windows::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }

    &.windows {
      // 스크롤 잠시 확인
      margin-right: 0;
      margin-bottom: 10px;
    }

    &.macintosh {
      margin-right: -14px;
    }
  }

  .scroll-bar-wrap {
    position: absolute;
    width: 8px;
    height: 100%;
    top: 0;
    right: 0;

    .scroll-bar {
      position: relative;
      width: 100%;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.1);
      transition: opacity 0.5s ease-in-out;

      &.visible {
        opacity: 1;
      }
      &.hidden {
        opacity: 0;
      }
    }
  }
}
