@import '../../../styles/variables';

#raffleDj {
  position: relative;
  width: 100%;
  margin: auto;
  background: linear-gradient(to bottom, #ffee01 50%, #00abe3 51%, #00abe3 100%);
  > section {
    position: relative;
    > img {
      width: 100%;
    }
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 53px;
    height: 53px;
    cursor: pointer;
    img {
      width: 22px;
      height: 22px;
    }
  }
  .top {
    position: relative;
    width: 100%;
    > img {
      width: 100%;
    }
    .date {
      position: absolute;
      top: 10px;
      left: 15px;
      display: flex;
      align-items: center;
      height: 28px;
      font-size: 16px;
      font-weight: 900;
      font-family: 'NanumSquare', 'NotoSans', sans-serif;
      span {
        margin-right: 2px;
        &:nth-child(even) {
          color: #000000;
        }
        &:nth-child(odd) {
          color: #00abe3;
        }
        &.red {
          color: #ea4eaa !important;
        }
      }
      img {
        height: 27px;
      }
    }
  }

  .section-1 {
    margin-top: -55px;
  }
  .section-2 {
    .time {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      width: calc(100% - 48px);
      height: 12.28%;
      margin: 0 24px 14px;
      padding: 0 3px 0 10px;
      background-color: #000000;
      border-radius: 15px;
      white-space: nowrap;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
      box-sizing: border-box;
      > img {
        width: 22.58%;
        margin-right: 4px;
      }
      .inline {
        display: inline-block;
        height: 41px;
        line-height: 40px;
      }
      button {
        flex: 1;
        display: flex;
        height: 100%;
        padding: 3px 0;
        img {
          height: 100%;
          margin-left: auto;
        }
      }
    }
  }
  .section-3 {
    .gift {
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: calc(100% - 48px);
      height: 16.8%;
      margin: 0 24px 38px;
      padding: 0 16px 0 12px;
      background-color: #ffffff;
      border: 2px solid #000000;
      border-radius: 15px;
      box-sizing: border-box;
      > img {
        width: 67.5px;
        height: 20px;
        margin-right: 4px;
      }
      .giftList {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        img {
          image-rendering: -webkit-optimize-contrast;
          &.giftTitle1 {
            width: 30.09%;
          }
          &.giftTitle2 {
            width: 43.2%;
          }
        }
        span {
          margin-left: auto;
          letter-spacing: -1px;
        }
        &:first-child {
          span {
            color: #ff4874;
          }
        }
        &:last-child {
          span {
            color: #4879ff;
          }
        }
      }
      button {
        flex: none;
        margin-left: auto;
        img {
          width: 107px;
          height: 35px;
        }
      }
    }
  }
  .section-4 {
    margin-top: -30px;
  }
  footer {
    padding: 16px 12px 40px 16px;
    background-color: #424242;
    .fTop {
      display: flex;
      align-items: center;
      img {
        &:first-child {
          margin-right: auto;
        }
        &:last-child {
          margin-left: 3px;
        }
      }
    }
    ul {
      margin-top: 12px;
      li {
        position: relative;
        margin-bottom: 4px;
        padding-left: 10px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: -0.5px;
        color: rgba(255, 255, 255, 0.6);
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '-';
          display: block;
        }
      }
    }
  }
}
@media (min-width: 600px) {
  #raffleDj {
    .top {
      .date {
        height: 46px;
        img {
          height: 100%;
        }
      }
    }
    .section-2 {
      .time {
        border-radius: 28px;
        .inline {
          font-size: 32px !important;
        }
      }
    }
    .section-3 {
      .gift {
        .giftList {
          &:first-child {
            margin-bottom: 8px;
          }
          span {
            font-size: 22px;
          }
        }
      }
    }
  }
}
