@import '../../styles/variables';
@import "components/ui/_mixin.scss";

#storyPage {
  .content {
    @include flex($fd: column);
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    .reference {
      @include font(13px, $Regular, #303030);
      margin-bottom: 13px;
    }
    .storyWrap {
      @include flex($fd: column);
      width: 100%;
      .storyList {
        @include flex(flex-start);
        width: 100%;
        .thumbnail {
          flex: none;
          display: inline-block;
          width: 40px; height: 40px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
