@import '../../../styles/variables';

#gganbu {
  #betting {
    .participant {
      padding: 20px 12px 14px;
      .participantWrap {
        overflow: hidden;
        border-radius: 100px;
        border: 3px solid #ff2980;
        background-color: #ff2980;
        cursor: pointer;
      }
      .participantBox {
        display: flex;
        letter-spacing: -1px;
        font-size: 14px;

        label {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30%;
          height: 36px;
          background-color: #ff2980;
          vertical-align: middle;
          img{flex: none;width: auto;height: 19px;}
        }

        .swiper-container-vertical {
          width: 70%;
          height: 36px;
          border-radius: 0 100px 100px 0;
          overflow: hidden;
        }
      }
      .participantList {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #fff;

        .nodata {
          width: 100%;
          height: 100%;
          padding: 8px 14px;
          box-sizing: border-box;
          font-size: 14px;
          font-weight: 500;
          color: #757575;
          letter-spacing: -1px;
        }

        .time {
          width: 30%;
          max-width: 92px;
          font-size: 14px;
          font-weight: 500;
          color: #757575;
          text-overflow: ellipsis;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
          word-wrap: normal;
          letter-spacing: -1px;
        }

        .user {
          flex: 1;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          word-wrap: normal;
          font-size: 14px;
          font-weight: 500;
          color: #000000;
        }

        .result {
          width: 20%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          word-wrap: normal;
          font-size: 14px;
          font-weight: 700;
          color: #000000;
          text-align: center;
          padding-right: 10px;
          &.success {
            color: #ff2980;
          }
          &.fail {
            color: #a1a1a1;
          }
        }
      }
    }

    .betting {
      position: relative;
      width: 100%;
      padding-bottom: 171%;
      background-image: url(https://image.dallalive.com/event/gganbu/marble_betting-bg.png);
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: contain;
      &.round4 {
        background-image: url(https://image.dallalive.com/event/gganbu/marble_betting-bg-round4.png);
      }
      .bettingWrap {
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 76%;
        height: 180px;
        & > form {
          width: 100%;
        }
      }
      .bettingBtn {
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        width: 25%;
        padding-bottom: 26%;
        border-radius: 50%;
        background-image: url(https://image.dallalive.com/event/gganbu/betting_btn.png);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        &.disable {
          background-image: url(https://image.dallalive.com/event/gganbu/betting_btn-disable.png);
          pointer-events: none;
        }
      }

      .section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 18px;
        &:last-child {
          margin-bottom: 0;
        }
        .sectionTitle {
          display: block;
          & img {flex: none; width: auto; height:21px;}
        }
        .sectionMarble {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
        .marbleData {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
        .marbleIcon {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-right: 4px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          &.red {
            background-image: url(https://image.dallalive.com/event/gganbu/marble-red.png);
          }
          &.yellow {
            background-image: url(https://image.dallalive.com/event/gganbu/marble-yellow.png);
          }
          &.blue {
            background-image: url(https://image.dallalive.com/event/gganbu/marble-blue.png);
          }
          &.purple {
            background-image: url(https://image.dallalive.com/event/gganbu/marble-purple.png);
          }
        }
        .bettingCount {
          display: inline-block;
          width: 35px;
          height: 18px;
          border: 1px solid #a5a5a5;
          border-radius: 2px;
          font-size: 14px;
          font-weight: 500;
          color: #656565;
          line-height: 18px;
          text-align: center;
          box-sizing: border-box;
        }
        .marbleCount {
          font-size: 14px;
          font-weight: 500;
          color: #333;
        }
      }
    }

    .marbleLog {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      padding: 76px 12px 14px;
      margin-top: -44px;
      background-color: #ff2980;
      box-sizing: border-box;
      .title {
        margin-bottom: 20px;
      }
      .logTable {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        .logHead {
          display: flex;
          align-items: center;
          width: 100%;
          height: 40px;
          background-color: #ff8ac4;
          .logTitle {
            text-align: center;
            font-size: 14px;
            font-weight: 900;
            color: #fff;
            &:nth-child(1) {
              width: 50%;
            }
            &:nth-child(2) {
              width: 10%;
            }
            &:nth-child(3) {
              width: 40%;
            }
          }
        }
        .logBody {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          background-color: #fff;
          .logList {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 52px;
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 90%;
              height: 1px;
              transform: translateX(-50%);
              background: linear-gradient(to right, #fff 0%, #c5c5c5 30%, #c5c5c5 70%, #fff 100%);
            }
            &:last-child::after {
              content: none;
            }
            .logMarble {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 50%;
              .marbleData {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                &:last-child {
                  margin-right: 0;
                }
              }
              .marbleIcon {
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                &.red {
                  background-image: url(https://image.dallalive.com/event/gganbu/marble-red.png);
                }
                &.yellow {
                  background-image: url(https://image.dallalive.com/event/gganbu/marble-yellow.png);
                }
                &.blue {
                  background-image: url(https://image.dallalive.com/event/gganbu/marble-blue.png);
                }
                &.purple {
                  background-image: url(https://image.dallalive.com/event/gganbu/marble-purple.png);
                }
              }
            }
            .logResult {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 10%;
              font-size: 14px;
              font-weight: 700;
              & .success {
                color: #ff2980;
              }
              & .fail {
                color: #a1a1a1;
              }
            }
            .logData {
              display: block;
              width: 40%;
              padding: 0 10px;
              overflow: hidden;
              box-sizing: border-box;
              .logUser {
                display: block;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 14px;
                font-weight: 700;
                color: #242424;
                text-align: center;
              }
              .logTime {
                font-size: 12px;
                font-weight: 400;
                color: #757575;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

#participantPage {
  .participantBox {
    .content {
      padding: 24px 3%;

      .note {
        padding: 16px 21px;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.33px;
        text-align: center;
        color: #757575;
        &.coupon {
          padding: 0 0 24px 0;
        }
      }

      .gift {
        font-weight: 800;
      }

      table {
        border-collapse: collapse;
        tHead {
          tr {
            border-top: 1px solid #FF3C7B;
            border-bottom: 1px solid #FF3C7B;
          }
          th {
            padding: 5px 0;
            font-size: 12px;
            color: #FF3C7B;
          }  
        }
        tr{
          border-bottom: 1px solid #e0e0e0;
        }
        td {
          padding: 10px 0;
          text-align: center;
          font-size: 12px;
          letter-spacing: -0.5px;
          color: #424242;
          overflow: hidden;

          &.result {
            text-align: center;
            font-weight: 600;
            padding: 10px 8px;
            letter-spacing: -1px;
          }

          &.date {
            color: $greishGray;
            padding: 10px 8px;
            .iconNew {
              display: inline-block;
              width: 20px;
              line-height: 13px;
            }
          }
          &.category {
            font-size: 13px;
          }

          &.nick {
            display: flex;
            align-items: center;
            color: $greishBrown;
            font-weight: $bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
            padding: 10px 8px;
            cursor: pointer;

            .thumb {
              overflow: hidden;
              width: 28px;
              height: 28px;
              margin-right: 5px;
              border-radius: 50%;

              img {
                width: 100%;
              }
            }

            .phone {
              text-align: center;
            }

            p {
              width: calc(100% - 33px);
              text-align: left;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              word-wrap: normal;
            }
          }
        }
      }
    }
  }
}
#marblePocketPage {
  .marblePocketBox {
    font-family: 'Noto Sans CJK KR', 'NanumSquare', sans-serif;
    .space {
      display: block;
      width: 100%;
      height: 8px;
      background-color: #eee;
    }
    .mypointWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      background-color: #FF2980;
      .title {
        flex: 1;
        display: flex;
        align-items: center;
        & img {flex: none; width: auto; height: 17px;}
      }
      .mypoint {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        .score {
          font-size: 20px;
          font-weight: 700;
          color: #fff;
          margin-right: 4px;
        }
      }
    }
    
    .content {
      padding: 16px 16px 26px;
      .titleWrap {
        display: block;
        margin-bottom: 10px;
      }
      .title {
        font-size: 16px;
        font-weight: 700;
        color: #000;
      }
      .infoWrap {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-top: 6px;
      }
      .info {
        font-size: 12px;
        font-weight: 400;
        color: #9c9c9c;
        letter-spacing: -1px;
      } 
      .exchangeMarble {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 25px;
      }
      .shadowBox {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-top: 8px;
        padding: 10px 12px;
        border-radius: 12px;
        background-color: #fff;
        box-shadow: 0px 1px 3px rgba($color: #000000, $alpha: 0.2);
      }

      .pocketWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        & img{flex: none; width: auto; height: 66px; }
      }
      .pocket {
        display: inline-block;
        width: 74px;
        height: 66px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .pocketCount {
        font-size: 14px;
        font-weight: 500;
        color: #424242;
        margin-left: 12px;
      }

      .pocketBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 11px 0;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        border-radius: 10px;
        background-color: #bdbdbd;
        pointer-events: none;
        &.active {
          pointer-events: auto;
          background-color: #FF3C7B;
        }
      }

      .pocketTab {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      .pocketTabMenu {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        border: 1px solid #E0E0E0;
        font-size: 14px;
        font-weight: 700;
        color: #000000;
        padding: 6px 0;
        margin-right: 4px;
        &:last-child{
          margin-right: 0px;
        }
        &.active {
          font-size: 14px;
          font-weight: 700;
          color: #fff;
          background-color: #FF3C7B;
          border: 1px solid #FF3C7B;
        }
      }
      table {
        border-collapse: collapse;
        tHead {
          tr {
            border-top: 1px solid #FF3C7B;
            border-bottom: 1px solid #FF3C7B;
          }
          th {
            padding: 5px 0;
            font-size: 12px;
            color: #FF3C7B;
          }  
        }
        tr{
          border-bottom: 1px solid #e0e0e0;
        }
        td {
          padding: 10px 0;
          text-align: center;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: -0.5px;
          color: #424242;
          overflow: hidden;
          &.bonus {
            text-align: center;
            font-weight: 500;
            padding: 10px 8px;
            letter-spacing: -1px;
          }

          &.date {
            color: #424242;
            padding: 10px 8px;
            .iconNew {
              display: inline-block;
              width: 20px;
              line-height: 13px;
            }
          }
          &.nick {
            display: block;
            color: #424242;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
            padding: 10px 8px;
            cursor: pointer;

            p {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              word-wrap: normal;
            }
          }
        }
      }
    }
  }

  .openPocket {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .openPocketAni {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    &.ani1 {
      background-image: url(https://image.dallalive.com/event/gganbu/ani/special_marble_01.webp);
      .openPocketNum {
        animation-delay: 3.5s;
      }
    }
    &.ani2 {
      background-image: url(https://image.dallalive.com/event/gganbu/ani/special_marble_02.webp);
      .openPocketNum {
        animation-delay: 3.5s;
      }
    }
    &.ani3 {
      background-image: url(https://image.dallalive.com/event/gganbu/ani/special_marble_03.webp);
      .openPocketNum {
        animation-delay: 4.5s;
      }
    }
    &.ani4 {
      background-image: url(https://image.dallalive.com/event/gganbu/ani/special_marble_04.webp);
      .openPocketNum {
        animation-delay: 5.5s;
      }
    }
  }
  .openPocketNum {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5, 0.5);
    font-size: 56px;
    font-weight: 900;
    letter-spacing: -1px;
    color: #fff;
    animation: openPocketNum 0.5s linear forwards;
    opacity: 0;
    &::before {
      content: '+';
    }
  }
  @keyframes openPocketNum {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5, 0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -250%) scale(1, 1);
    }
  }
}
