@import '../../../styles/variables';

#gganbu {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  padding-top: 50px;
  .header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .top {
    position: relative;
    width: 100%;
    .topImg {
      width: 100%;
      pointer-events: none;
    }
    .topBtn {
      position: absolute;
      top: 54.257%;
      left: 0;
      margin: 0 31.115%;
      width: 37.77%;
      min-width: 136px;
      img {
        width: 100%;
      }
    }
    .memo {
      position: absolute;
      bottom: 7.98%;
      left: 0;
      width: 91.11%;
      margin: 0 4.445%;
      .memoInner {
        position: relative;
        width: 100%;
        padding-top: 67.69%;
        background: url('https://image.dalbitlive.com/event/gganbu/TopMemo.png') center/auto 100% no-repeat;
        .userWrap {
          position: absolute;
          top: 25%;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: 75%;
          padding: 0 40px;
          box-sizing: border-box;
          .userTxt {
            height: 18px;
            line-height: 18px;
            font-size: 12px;
            font-weight: 500;
            color: #813802;
            letter-spacing: -1px;
          }
          .userUl {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-top: 7px;
            .userList {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              min-width: 0;
              margin-bottom: auto;
              .photo {
                flex: none;
                position: relative;
                width: 100%;
                height: 0;
                padding-top: 100%;
                border-radius: 50%;
                background-color: white;
                overflow: hidden;
                object-fit: cover;
                box-sizing: border-box;
                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 100%;
                }
              }
              .badge {
                width: 44px;
                height: 16px;
                line-height: 16px;
                margin-top: 5px;
                border-radius: 100px;
                font-size: 12px;
                font-weight: 500;
                color: white;
                text-align: center;
              }
              .nick {
                width: 100%;
                margin-top: 2px;
                font-size: 14px;
                font-weight: 700;
                color: #333;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
              .gganbuBtn {
                position: relative;
                width: 86px;
                height: 28px;
                margin-top: 10px;
                img {
                  width: 100%;
                  &.btnNew {
                    position: absolute;
                    top: -10px;
                    right: -12px;
                    width: 28px;
                    height: 26px;
                  }
                }
              }
            }
            .dot {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 52px;
              height: 60.78%;
              margin: 0 12px auto;
              .normal {
                width: 32px;
              }
              .var {
                position: relative;
                width: 52px;
                img {
                  width: 100%;
                }
                .varLevel {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  font-size: 16px;
                  font-weight: 700;
                  color: #000;
                  text-shadow: 1px 1px 0 rgba(255, 255, 255, 1), -1px 1px 0 rgba(255, 255, 255, 1),
                    1px -1px 0 rgba(255, 255, 255, 1), -1px -1px 0 rgba(255, 255, 255, 1);
                }
                .varTit {
                  position: absolute;
                  bottom: -5px;
                  left: 50%;
                  transform: translateX(-50%);
                  display: inline-block;
                  height: 14px;
                  line-height: 14px;
                  padding: 0 4px;
                  border-radius: 100px;
                  background-color: #50463f;
                  font-size: 10px;
                  font-weight: 500;
                  color: #fff;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
  }
  .tabWrap {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 0;
    .tabBtn {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      button {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        line-height: 40px;
        &:nth-child(1) {
          background-color: #ff8ac4;
          border-radius: 22px 8px 0 0;
        }
        &:nth-child(2) {
          background-color: #ff8ac4;
          border-radius: 8px 22px 0 0;
        }
        &.active {
          background-color: #fff;
        }
        img {
          flex: none;
          width: auto;
          height: 18px;
        }
      }
      .tabLine {
        display: none;
      }
    }
    &.fixed {
      .tabBtn {
        position: fixed;
        top: 50px;
        bottom: auto;
        border-radius: 0 0 20px 20px !important;
        background: #ff8ac4;
        overflow: hidden;
        button {
          border-radius: 0 !important;
          background: transparent !important;
          &.active {
            &:nth-child(1) {
              ~ .tabLine {
                left: 4px;
              }
            }
            &:nth-child(2) {
              ~ .tabLine {
                left: calc(50% + 4px);
              }
            }
          }
        }
        .tabLine {
          position: absolute;
          top: 4px;
          display: block;
          width: calc(50% - 8px);
          height: 32px;
          border-radius: 100px;
          background-color: #fff;
          z-index: -1;
          transition: left 0.3s;
        }
      }
    }
  }
  #collect {
    background-color: #333;
    .content {
      position: relative;
      background-color: #fff;
      .bg {
        width: 100%;
        vertical-align: bottom;
        pointer-events: none;
      }
      .title {
        position: absolute;
        top: 1.81%;
        left: 0;
        margin: 0 35.695%;
        img {
          width: 100%;
          min-height: 24px;
          vertical-align: bottom;
        }
      }
      .subTitle {
        position: absolute;
        top: 4.112%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 16px;
        text-align: center;
        box-sizing: border-box;
        img {
          height: 16px;
          vertical-align: bottom;
          object-fit: cover;
        }
      }
      .status {
        position: absolute;
        top: 7.237%;
        left: 0;
        width: 100%;
        .statusWrap {
          position: relative;
          width: calc(100% - 60px);
          height: 0;
          margin: 0 30px;
          padding-top: 47.225%;
          .marbleWrap {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            width: 100%;
            height: calc(100% - 32px);
            .report {
              flex: 1;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              height: 100%;
              padding: 10px 14px 6px;
              border-radius: 12px;
              background-color: #fff;
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
              box-sizing: border-box;
              .marbleListWrap {
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: calc(100% - 64px);
                .list {
                  flex-basis: 50%;
                  display: flex;
                  align-items: center;
                  margin-bottom: 2px;
                  img {
                    width: 26px;
                    height: 26px;
                  }
                  span {
                    margin-left: 8px;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: -1px;
                  }
                }
              }
              .marbleScore {
                flex: none;
                width: 100%;
                height: 18px;
                line-height: 18px;
                margin-top: 5px;
                font-size: 14px;
                font-weight: 700;
                text-align: center;
              }
              button {
                width: 114px;
                margin: auto auto 0;
                img {
                  width: 100%;
                }
              }
            }
            .pocket {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              flex-wrap: wrap;
              height: 100%;
              margin-left: 6px;
              padding: 10px 0 6px;
              border-radius: 12px;
              background-color: #fff;
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
              box-sizing: border-box;
              .list {
                flex: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: calc(100% - 58px);
                img {
                  width: 75px;
                }
              }
              .pocketScore {
                flex: none;
                width: 100%;
                height: 18px;
                line-height: 18px;
                font-size: 14px;
                font-weight: 700;
                text-align: center;
              }
              button {
                width: 114px;
                height: 30px;
                margin: 5px auto 0;
                img {
                  width: 100%;
                }
              }
            }
            &None {
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 79.02%;
              border-radius: 12px;
              background-color: white;
              font-size: 14px;
              font-weight: 500;
              color: #333333;
              text-align: center;
              letter-spacing: -1px;
            }
          }
          .score {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 26px;
            line-height: 26px;
            margin-top: 6px;
            font-size: 16px;
            font-weight: 700;
            color: #333333;
            text-align: center;
            border-radius: 100px;
            background-color: #fff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
    .notice {
      position: relative;
      z-index: 1;
      margin-top: -5.559% !important;
      img {
        width: 100%;
      }
      button {
        position: absolute;
        top: 20px;
        right: 4.445%;
        width: 24px;
        transform-origin: center;
        transform: rotate(180deg);
      }
      &.active {
        button {
          transform: rotate(0);
        }
      }
    }
    .rank {
      position: relative;
      z-index: 1;
      width: 100%;
      margin-top: -5.559% !important;
      img {
        width: 100%;
        &.rankTopImg {
          vertical-align: bottom;
        }
      }
      .rankWrap {
        width: 100%;
        padding: 8px 0 16px;
        background: #fff;
      }
      .rankList {
        display: flex;
        align-items: center;
        width: calc(100% - 24px);
        margin: 0 12px 8px;
        padding: 13px 16px 13px 10px;
        border-radius: 14px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        .number {
          flex: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 40px;
          text-align: center;
          .rankNum {
            display: inline-block;
            height: 20px;
            line-height: 20px;
            border-radius: 100px;
            padding: 0 7px;
            background-color: #eee;
            font-size: 12px;
            font-weight: 700;
            &.top30 {
              background-color: #333;
              color: #fff;
            }
          }
          &.medal-1 {
            img {
              width: 40px;
            }
          }
          &.medal-2 {
            img {
              width: 30px;
            }
          }
          &.medal-3 {
            img {
              width: 30px;
            }
          }
        }
        .rankBox {
          flex: 1;
          min-width: 0;
          padding: 0 20px;
          box-sizing: border-box;
          .rankItem {
            display: flex;
            align-items: center;
            height: 20px;
            margin-bottom: 2px;
            em {
              background: #eee;
            }
            .badge {
              flex: none;
              display: inline-block;
              width: 44px;
              height: 16px;
              line-height: 16px;
              border-radius: 14px;
              font-size: 12px;
              font-weight: bold;
              color: #fff;
              text-align: center;
              letter-spacing: -0.3px;
            }
            .userNick {
              margin-left: 6px;
              padding-right: 2px;
              font-size: 14px;
              font-weight: 500;
              color: #242424;
              letter-spacing: -1px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              
              img {
                flex: none;
                width: auto;
                height: 20px;
              }
            }
            .userId {
              flex: none;
              margin-left: 6px;
              font-size: 12px;
              color: #757575;
              letter-spacing: -0.5px;
              white-space: nowrap;
            }
          }
        }
        .score {
          flex: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          img {
            width: 18px;
            height: 100%;
          }
          span {
            font-size: 12px;
            font-weight: 700;
            color: #0f7fff;
          }
        }
        &.my {
          width: 100%;
          height: 68px;
          margin: 0;
          padding-left: 24px;
          padding-right: 28px;
          background-color: #f5f5f5;
          box-shadow: none;
          border-radius: 0;
          .number {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 34px;
            .tit {
              margin-bottom: 4px;
              font-size: 12px;
              font-weight: 700;
              color: #242424;
              letter-spacing: -1px;
              white-space: nowrap;
            }
            .num {
              display: inline-block;
              height: 20px;
              line-height: 20px;
              padding: 0 7px;
              border-radius: 100px;
              background-color: #ff2980;
              font-size: 12px;
              color: #fff;
            }
          }
        }
      }
    }
  }

  #round {
    .section-1 {
      height: 224px;
      padding: 22px 10px;
      background-color: #00abe3;
      box-sizing: border-box;
      text-align: center;
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 112px;
        height: 38px;
        margin: 0 auto;
        border-radius: 18px;
        background-color: #000000;
        font-size: 25px;
        font-weight: bold;
        color: #ffffff;
        img {
          height: 28px;
          vertical-align: bottom;
        }
      }
      p {
        margin-top: 8px;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
      }
      .txt {
        width: 216px;
        margin-top: 18px;
      }
    }
    .section-2 {
      height: 378px;
      margin-top: -30px;
      padding: 20px 16px;
      border-radius: 30px;
      background-color: #ffffff;
      text-align: center;
      box-sizing: border-box;
      .title {
        padding-bottom: 20px;
        border-bottom: 1px solid #cecece;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        img {
          height: 28px;
          vertical-align: bottom;
        }
        span {
          color: #00abe3;
        }
      }
      .subTitle {
        padding: 16px 0 12px;
        font-size: 18px;
        font-weight: bold;
        color: #00abe3;
        text-align: center;
        img {
          height: 20px;
          vertical-align: bottom;
        }
      }
      .table {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 38px);
        gap: 4px 0;
        line-height: 38px;
        text-align: center;
        .th {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #00abe3;
          img {
            height: 18px;
          }
        }
        .td {
          background-color: #ececec;
          img {
            height: 38px;
          }
        }
        div {
          &:nth-child(3n - 2) {
            border-radius: 10px 0 0 10px;
          }
          &:nth-child(3n) {
            border-radius: 0 10px 10px 0;
          }
        }
      }
      .alert {
        margin-top: 10px;
        height: 16px;
      }
    }
    .section-3 {
      img {
        width: 100%;
      }
    }

    footer {
      padding: 16px 12px 23px 16px;
      background-color: #424242;
      .fTop {
        display: flex;
        align-items: center;
        img {
          &:first-child {
            margin-right: auto;
          }
          &:last-child {
            margin-left: 3px;
          }
        }
      }
      ul {
        margin-top: 12px;
        li {
          position: relative;
          margin-bottom: 4px;
          padding-left: 10px;
          font-size: 13px;
          font-weight: 600;
          letter-spacing: -0.5px;
          color: #e0e0e0;
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '-';
            display: block;
          }
        }
      }
    }
  }
}
@media (min-width: 600px) {
  #raffle {
    .top {
      .date {
        height: 46px;
        .dateImg {
          height: 100%;
        }
      }
    }
    #total {
      .section-1 {
        .ticket {
          .number {
            font-size: 42px;
          }
        }
        .exWrap {
          .exBox {
            .title {
              font-size: 24px;
              margin-top: 8px;
            }
          }
        }
      }
      .section-2 {
        .status {
          font-size: 20px !important;
        }
      }
    }
  }
}
