@import "../../components/ui/_mixin.scss";

#exchangePage{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  color:#000;
  .doExchange {
    position:relative;
    header{
      .title{
        justify-content: center;
      }
    }
    section{
      position:relative;
      padding:0 16px;
      margin-bottom: 28px;
    }
    .currentValue {
      @include flex(center);
      @include position-top-right(50%, 16px, translateY(-50%));
      @include font(12px, 400);
      @include border(#d6d6d6, 13px);
      height:26px;
      line-height:26px;
      padding:0 9px 0 7px;
      .iconDal{
        display: block;
        width: 18px;
        height: 18px;
        background: url('https://image.dalbitlive.com/mypage/dalla/icon_dal.png') no-repeat center / 10px 10px;
      }
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
      font-size: 20px;
      font-weight: bold;
      .plusBtn {
        &::after {
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          vertical-align: middle;
          margin-top: -2px;
          margin-left: 2px;
          background: url(./static/plus.svg);
        }
      }
    }
    .tabWrap{
      margin-bottom: 0;
      .tabBox{
        @include flex(center);
        width:100%;
        height:42px;
        margin-bottom: 8px;
        button{
          @include font(16px, 500, #acacac);
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          background-color: #ffffff;
          border-bottom:2px solid #f2f2f2;
        &.active {
            @include font(16px, 600, #000);
            border-bottom: solid 2px #202020;
          }
        }
      }
    }
    .exchangeWrap{
      .noticeBtn{
        @include font(12px);
        @include border(#d6d6d6, 13px);
        width:68px;
        height:26px;
        text-align:center;
        margin: 12px 0 15px;
      }
      .amountBox{
        @include flex(center);
        width:100%;
        height:75px;
        background:#f8f8f8;
        border-radius:16px;
        padding: 0 15px;
        font-size:13px;
        &.active{
          background: #FFF5F8;
          .num{color: #FF3C7B;}
          .unit{color: #FF3C7B;}
        }
        .iconStar{
          @include BGIMG('mypage/dalla/icon_star.png');
          flex: none;
          width: 25px;
          height: 25px;
          margin-right: 5px;
        }
        .title{flex:none;}
        .counter{
          height: 31px;
          display: flex;
          align-items: flex-end;
          margin-left:auto;
          &.disabled{color: #999;}
          .num{
            width: 100%;
            font-size:24px;
            text-align: right;
            &::placeholder{color:#000}
          }
          .unit{
            @include font(15px, 600);
            margin: 0 0 4px 4px;
          }
        }
      }
      .infoBox{
        display: flex;
        flex-direction: column;
        margin-left:15px;
        padding: 12px 0 12px 8px;
        border-left:1px solid #dcdcdc;
        p{
          @include font(12px);
          position: relative;
          &:after{
            @include position-top-left(50%,-10.5px,translateY(-50%));
            content:"";
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background: #D6D6D6;
          }
          &.special{
            @include font(14px, 600 , #FF3C7B);
          }
        }
      }
      .btnBox{
        padding: 0 12px;
        display: flex;
        button{
          @include font(16px, 600 , #FF3C7B);
          @include border(#FF3C7B, 16px);
          width: 100%;
          height: 48px;
          margin: 15px 8px 0 0;
          letter-spacing: -0.5px;
          &:last-child{margin-right: 0;}
        }
        .exchange{
          background: #FF3C7B;
          color:#fff;
        }
      }
    }
    .formWrap{
      .radioLabelBox {
        display: flex;
        margin-bottom: 12px;
        label {
          @include font(13px, 400, #acacac);
          height: 36px;
          line-height: 36px;
          padding: 0 15px;
          background: #f6f6f6;
          border-radius: 18px;
          margin-right: 4px;
          &.active {
            @include font(13px, 500, #fff);
            background: #000;
          }
        }
        & > input {
          display: none;
        }
      }
      .formBox{
        display: flex;
        flex-direction: column;
        &.repply{
          .listRow{
            .inputBox{
              div{
                @include font(15px, 500, #000);
              }
            }
          }
        }
        .listRow{
          @include flex(center);
          overflow: hidden;
          margin-bottom: 8px;
          .title{
            @include font(12px);
            min-width: 88px;
          }
          .inputBox{
            @include flex(center);
            @include font(15px, 500);
            flex: 1;
            height: 100%;
            box-sizing: border-box;
            input {
              @include flex(center);
              position:relative;
              width: 100%;
              height: 100%;
              min-height: 50px;
              background: #F6F6F6;
              border-radius: 16px;
              padding: 0 15px;
              &::placeholder{
                @include font(15px, 400, #999);
              }
              &:focus{
                background: #fff;
                border: 1px solid #FF3C7B;
              }
            }
            div{
              @include flex(center);
              @include font(15px, 400, #999);
              width: 100%;
              min-height: 50px;
              background: #F6F6F6;
              border-radius: 16px;
              padding: 13px 15px;
            }
            button{
              @include flex(center);
              @include font(14px, 400, #FF3C7B);
              @include border( #FF3C7B, 14px);
              flex: none;
              height: 36px;
              padding: 0 13px;
              margin-left: 8px;
            }
            select {
              &::after {
                @include position-top-right(50%, 24px, translate(-50%, -50%) rotate(-135deg));
                width: 12px;
                height: 12px;
                border-left: 2px solid #bdbdbd;
                border-top: 2px solid #bdbdbd;
                content: '';
              }
            }
            .line {
              margin: 0 5px;
            }
          }
        }
      }
      .privacyBox{
        .privacyTit{
          @include font(16px, 500);
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          .checkboxLabel{
            @include flex(center);
            margin-right: 8px;
            > input:checked ~ .checkbox__btn {
              background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 18'%3E%3Cpath fill='%23fff' d='M8.319 15.353L0 6.882l2.6-2.647 8.32 8.471L23.4 0 26 2.647 10.92 18z'/%3E%3C/svg%3E")
                      center no-repeat,
              #FF3C7B;
              background-size: 50%, cover;
            }
            .checkboxBtn{
              flex: none;
              display: inline-block;
              width: 23px;
              height: 23px;
              border-radius: 100%;
              background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 18'%3E%3Cpath fill='%23fff' d='M8.319 15.353L0 6.882l2.6-2.647 8.32 8.471L23.4 0 26 2.647 10.92 18z'/%3E%3C/svg%3E")
                      center no-repeat,
                  #ddd;
              background-size: 50%, cover;
            }
          }
          .highlight{
            @include font(12px, 600, #FF3C7B);
            margin-left: 4px;
          }
        }
        p{
          @include font(12px, 400);
          letter-spacing: -0.5px;
        }
      }
    }
    .privacyWrap{
      .privacy {
        display: flex;
        margin-top: 8px;
        &__text {
          margin-left: 10px;
  
          &--title {
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: bold;
          }
  
          &--explain {
            color: #757575;
            font-size: 12px;
          }
        }
      }
    }
    .bottomWrap{
      button{
        @include font(16px, 600, #fff);
        width: 100%;
        height: 48px;
        background: #FF3C7B;
        border-radius: 16px;
        margin-bottom: 28px;
        &.disabled{
          background:rgba(255,60,123,0.2);
        }
      }
    }
    #layer {
      display: none;
      position: fixed;
      z-index: 3;

      &__close {
        position: fixed;
        width: 20px;
        color: white;
        background-color: black;
        z-index: 2;
        font-size: 16px;
      }
    }
  }
  .exchangeResult{
    position: relative;
    section{
      position:relative;
      padding:0 16px;
    }
    .titleWrap{
      @include flex(center, center, column);
      letter-spacing: -0.5px;
      margin: 54px 0 47px 0;
      .title{
        @include font(22px, 500, #202020);
        span{
          color: #FF3C7B;
        }
      }
      .subTit{
        @include font(13px, 400, #666);
        text-align: center;
        margin-top: 11px;
      }
    }
    .bottomWrap{
      button{
        @include flex(center, center);
        @include font(16px, 600, #fff);
        width: 100%;
        height: 48px;
        background: #FF3C7B;
        border-radius: 16px;
        margin-top: 32px;
      }
    }
  }
  .receiptWrap{
    .receiptBox{
      display: flex;
      flex-direction: column;
      padding: 10px 15px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.24);
      .listRow{
        @include flex(center, space-between);
        height: 36px;
        &.borderT{
          border-top: 1px solid #ececec;
        }
        .title{
          @include font(13px, 400, #999);
          &.total{
            @include font(13px, 400, #000);
          }
        }
        .value{
          font-size:15px;
          &.total{
            color: #FF3C7B;
          }
          span{color: #FF3C7B;}
        }
      }
    }
  }
}