@import "components/ui/_mixin.scss";

.container {
  .totalWrap {
   #rankingList {
     .tabmenu {
       top: $PC-TABTOP;
     }
   }
  } 
 }

#rankingList {
  header {
    .benefits {
      display: inline-block;
      width: 40px; height: 40px;
    }
    .title {
      pointer-events: auto;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      .optionSelect {
        display: inline-block;
        width: 20px; height: 20px;
        margin-left: 4px;
        @include BGIMG('ranking/dalla/titleArrow-b.png');
        cursor: pointer;
      }
    }
  }
  .tabmenu {
    position:sticky;
    top: $MOBILE-TABTOP;
    @include flex(center);
    padding:0 16px;
    background-color: #fff;
    z-index: 2;
    li {
      flex: 1;
      @include flex(center, center);
      height: 48px;
      border-bottom: 2px solid #F2F2F2;
      @include font(16px,600,#ACACAC);
      box-sizing: border-box;
      &.active {
        @include font(16px,700,#202020);
        border-bottom: 2px solid #202020;
      }
    }
  }
  .rankingContent {
    box-sizing: border-box;
    .swiper-container {
      position: relative;
      @include flex(center);
      width: 100%;
      padding: 0 16px 30px;
      box-sizing: border-box;
      .swiper-pagination {
        position: absolute;
        bottom:0px; left: 50%;
        transform: translateX(-50%);
        @include flex(center,center);
        width:auto;
        padding:12px 0;
        .swiper-pagination-bullet {
          width: 8px; height: 5px;
          border-radius: 100px;
          background-color:#D2D2D2;
          &.swiper-pagination-bullet-active {
            width: 15px; height: 5px;
            background-color: #202020;
          }
        }
      }
    }
    .rankingTop3 {
      @include flex(center, center, column);
      width: 100%;
      @include BGIMG('ranking/dalla/rankingDetail-Top3Bg.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left top;
      .topHeader {
        position: relative;
        @include flex(center, center);
        width: 100%;
        padding: 14px 16px;
        @include font(18px, 600, #272727);
        line-height: 40px;
        .questionMark {
          position: absolute;
          top: 50%; right: 16px;
          transform: translateY(-50%);
          width: 20px; height: 20px;
          @include BGIMG('common/icon/ico_questionMark-bgGray.png');
          cursor: pointer;
        }
      }
      .topContent{
        @include flex(flex-start, space-between);
        width: 100%;
      }
      .ranker {
        flex:1;
        &:nth-child(1) {
          order:2;
          .listColumn {
            width:100px;
            .photo {
              width: 100px; height: 100px;
            }
          }
        }
        &:nth-child(2) {
          order:1;
          .photo {
            width: 84px; height: 84px;
          }
        }
        &:nth-child(3) {
          order:3;
          .photo {
            width: 84px; height: 84px;
          }
        }
        .listColumn {
          @include flex(center, center, column);
          width:84px;
          height:128px;
          margin:0 auto;
          cursor: pointer;
          .photo {
            position: relative;
            @include flex(flex-end, center);
            width:100%;
            margin-top:auto;
            &::before {
              content: "";
              @include position-top-left;
              width: 100%; height: 100%;
              border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
              border-radius:50%;
              box-sizing: border-box;
            }

            img {
              width:100%;
              border-radius: 50%;
            }
            .rankerRank {
              @include position-top-left;
              @include flex(center, center);
              width: 32px; height: 32px;
              line-height: 32px;
              border-radius: 50%;
              background: linear-gradient(to bottom, #FF3C7B 0%, #FF8565 100%);
              @include font(20px, 700, #fff);
            }
          }
          .rankerNick {
            width: 100%;
            text-align: center;
            @include font(14px, 700, #202020);
            margin-top: 8px;
            @include fontCut;
          }
        }
        .badgeLive {
          width:100px;height:28px;
          @include BGIMG('ranking/dalla/badgeLiveTop.png');
          margin: 12px auto;
          cursor: pointer;
        }
      }
      .cupidWrap {
        position: relative;
        @include flex(center, center, column);
        width: 100px;
        margin: 22px auto 0;
        padding: 8px;
        border-radius: 16px;
        background-color: #F6F6F6;
        .cupidHeader {
          @include flex(center);
          width: 61px; height: 20px;
          border-radius: 100px;
          padding: 0px 6px 0px 20px;
          margin: -18px 0 12px;
          @include font(12px,500,#FFFFFF);
          @include BGIMG('common/icon/icoppyong.png');
          background-color:#303030;
          background-position: 4px center;
          background-size: 16px 16px;
          box-sizing: border-box;
        }
        .cupidContent {
          @include flex(center, center, column);
          width: 100%;
          .cupidThumb {
            display: inline-block;
            width: 50px; height: 50px;
            border-radius: 50%;
            border: 1px solid #CCCCCC;
            img {
              width: 100%;
              border-radius: 50%;
            }
          }
          .cupidNick {
            width: 100%;
            margin-top: 7px;
            text-align: center;
            @include font(12px,500,#202020);
            @include fontCut;
          }
        }
      }
    }
    .listWrap {
      position: relative;
      flex:1;
      @include flex(center, flex-start, column);
      height: 100%;
      padding:15px 0;
      margin: 20px 16px;
      border-top: 1px solid #F2F2F2;
      .listRow {
        flex:none;
        @include flex(center);
        width: 100%;
        margin-bottom:15px;
        min-width: 0;        
        &:last-child {
          margin-bottom:0px;
        }
        .rank {
          order:-1;
          flex: none;
          width: 30px;
          margin-right:8px;
          text-align:center;
          @include font(16px,600,#333);
        }
        .photo {
          flex: none;
          position: relative;
          width:60px; height: 60px;
          border-radius: 50%;
          cursor: pointer;          
          &::before {
            content: "";
            @include position-top-left;
            width: 100%; height: 100%;
            border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
            border-radius:50%;
            box-sizing: border-box;
          }
          img {
            width:100%;
            border-radius: 50%;
          }
        }
        .listContent {
          flex: 1;
          padding: 0 16px;
          @include flex(center, center, column);
          overflow: hidden;
          .listItem {
            @include flex(center);
            width: 100%;
            + .listItem {
              margin-top:4px;
            }
            span {
              display: block;
              @include fontCut;
            }
            .nick {
              line-height:20px;
              margin-left:4px;
              @include font(16px,500,#202020);
              @include fontCut;
            }
            i {
              height:16px;
              line-height:14px;
              margin-right:8px;
              padding-left:16px;
              font-style:normal;
              @include font(12px,400,#8B8B8B);
              @mixin ICONIMG($value) {
                @include BGIMG('#{$value}');
                background-position: left center;
                background-size:16px;
              }
              &.heart {@include ICONIMG('common/icon/icoheart.png');}
              &.person {@include ICONIMG('common/icon/icoperson.png');}
              &.star {@include ICONIMG('common/icon/icostar.png');}
              &.time {@include ICONIMG('common/icon/icotime.png');}
              &.ppyong {
                height:18px;line-height:16px;
                padding:0 8px 0 18px;
                border-radius:100px;
                @include ICONIMG('common/icon/icoppyong.png');
                @include font(12px,500,#666);
                background-color:#F6F6F6;
              }
            }
          }
        }
        .listBack {
          flex: none;
          @include flex(center, center);
          width:60px;
          .badgeLive {
            width:60px;height:28px;
            @include BGIMG('ranking/dalla/badgeLive.png');
          }
        }
      }
    }
  }
  #popSlide {
    .selectWrap {
      position: relative;
      @include flex(center, center, column);
      width: 100%;
      padding: 20px 0 30px;
      .selectOption {
        width: 100%;
        text-align: center;
        @include font(16px, 400, #202020);
        line-height: 55px;
        cursor: pointer;
        &.active {
          @include font(16px, 700, #FF3C7B);
        }
      }
    }
  }
}

#layerPop {
  .popTitle {
    line-height: 48px;
    text-align: center;
    @include font(16px, 700, #202020);
  }
  .popSubTitle {
    @include font(16px, 400, #202020);
    @include fontLineCut();
    text-align: center;
    letter-spacing: -1px;
    margin: 11px 0;
    line-height: 26px;
    white-space: pre;
    overflow: hidden;
    &.point {
      color: #FF3C7B;
    }
  }
  .popText {
    @include font(13px, 400, #666666);
    @include fontLineCut();
    text-align: center;
    letter-spacing: -1px;
    margin: 11px 0;
    line-height: 20px;
    white-space: pre;
    overflow: hidden;
    span {
      @include font(13px, 400, #FF6B4B);
      padding-left: 16px;
      background-image: url("https://image.dalbitlive.com/ranking/dalla/popup-cupid.png");
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 16px 16px;
    }
  }  
}