@import "components/ui/_mixin.scss";

.container {
 .totalWrap {
  #rankingBenefit {
    .tabmenu {
      position: sticky;
      top:116px;
      background-color: #FFF;
      z-index: 2;
    }
  }
 } 
}

#rankingBenefit {
  .tabmenu {
    position: sticky;
    top:48px;
    @include flex(center);
    padding:0 16px;
    background-color: #FFF;
    z-index: 2;
    li {
      flex: 1;
      @include flex(center, center);
      height: 48px;
      border-bottom: 2px solid #F2F2F2;
      @include font(16px,600,#ACACAC);
      box-sizing: border-box;
      &.active {
        @include font(16px,700,#202020);
        border-bottom: 2px solid #202020;
      }
    }
  }
  .subContent {
    position: relative;
    @include flex(flex-start, flex-start, column);
    width: 100%;
    padding: 16px 0;
  }
}