@import "components/ui/_mixin.scss";

.container {
  .totalWrap {
   #rankingList {
     #rankCategory {
       top: $PC-TABTOP;
     }
     .tabWrap {
      top: calc(#{$PC-TABTOP} + 48px);
    }
   }
  } 
 }

#rankingList {
  header {
    .benefits {
      @include flex(center);
      height: 40px;
      margin-right: 13px;
      @include font(14px, $Medium, #303030);
      &::after {
        content: "";
        display: inline-block;
        width: 20px; height: 20px;
        @include BGIMG("common/icon/icon_benefit.png");
      }
    }
  }
  #rankCategory {
    position:sticky;
    top: $MOBILE-TABTOP;
    z-index: $TAB-ZINDEX;
    .rankCategoryWrapbox {
      position:relative;
      @include flex(center);
      overflow-x:hidden;
      .wrapboxBg {
        @include position-top-left;
        left:0;
        z-index: -1;
        width:400%;
        height:100%;
        transition: left .2s ease-in-out;
        background: linear-gradient(to right, #AF6FF5 0%, #CD79F1 24%, #CE7AF2 25%, #EB84EE 49%, #EB84EE 50%, #F574CD 74%, #F675CE 75%, #FF64AC 100%);
        background-size: 100%;
      }
      .underline {
        position: absolute;
        bottom: 0;
        left:12.5%;
        transform: translateX(-50%);
        width: 25px; height: 5px;
        border-radius: 100px;
        transition: left .2s ease-in-out;
        background-color: rgba($color: #FFFFFF, $alpha: 0.8);
      }
      .rankCategoryList {
        flex: 1;
        position: relative;
        @include flex(center, center);
        height: 48px;
        @include font(18px,800,rgba(255,255,255,0.6));
        box-sizing: border-box;
        cursor: pointer;
        &.active {
          @include font(18px,800,#FFF);
        }
        @for $i from 1 to 5 {
          &:nth-child(#{$i}) {
            &.active {
              ~ .wrapboxBg {
                left: calc(-100% * #{$i} + 100%);
              }
              ~ .underline {
                left: calc(25% * #{$i} - 12.5%);
              }
            }
          }
        }
      }
    }
  }
  .tabWrap {
    position:sticky;
    top: #{$MOBILE-TABTOP + 48px};
    @include flex(center);
    width: 100%;
    padding:13px 16px 5px;
    background-color: #fff;
    z-index: $TAB-ZINDEX;
    .tabmenu {
      position: relative;
      @include flex(center);
      width: 100%;
      border-radius: 100px;
      background-color: #F6F6F6;
      li {
        flex: 1;
        @include flex(center, center);
        height: 36px;
        @include font(14px,$Medium,#666666);
        box-sizing: border-box;
        z-index: 2;
        &.active {
          width: 100%; height: 36px;
          border: 1px solid #666666;
          border-radius: 100px;
          animation: opactity 0.5s ease-in-out forwards;
          @include font(14px,700,#1A1A1A);
        }
      }
      #tabUnderline {
        position: absolute;
        height: 36px;
        border: 1px solid #666666;
        border-radius: 100px;
        background-color: #FFF;
        // transition: left 0.15s linear;
        z-index: 1;
      }
    }
  }
  
  .rankingContent {
    position: relative;
    box-sizing: border-box;
    .topItems {
      @include position-top-left;
      @include flex(center);
      width:100%;height:47px;
      padding:0 16px;
      z-index: 10;
      pointer-events: none;
      .fanSettingBtn {
        @include flex(center);
        padding: 0 12px;
        line-height:28px;
        background-color:#FCFCFC;
        @include border(#E8E8E8,100px);
        @include font(13px,$Medium,#ACACAC);
        pointer-events: initial;
        &::before {
          content:"";
          display:inline-block;
          width:6px;
          height:6px;
          margin-right:4px;
          border-radius:50%;
          background-color:#ACACAC;
        }
        &.active {
          background-color:#FFF9FB;
          border-color:#FFD4DC;
          color:#FF5A8A;
          &::before {
            background-color:#FF5A8A;
          }
        }
      }
      .questionMark {
        width: 20px;
        height: 20px;
        margin-left:auto;
        @include BGIMG('common/icon/ico_questionMark-bgGray.png');
        cursor: pointer;
        pointer-events: initial;
      }
    }
    .swiper-container {
      position: relative;
      @include flex(center);
      width: 100%;
      padding: 0 16px 21px;
      box-sizing: border-box;
      .swiper-pagination {
        position: absolute;
        bottom:0px; left: 50%;
        transform: translateX(-50%);
        @include flex(center,center);
        width:auto;
        .swiper-pagination-bullet {
          width: 8px; height: 5px;
          border-radius: 100px;
          background-color:#ACACAC;
          &.swiper-pagination-bullet-active {
            width: 15px; height: 5px;
            background-color: #202020;
          }
        }
      }
    }
    .rankingTop3 {
      @include flex(center, center, column);
      width: 100%;
      .topHeader {
        position: relative;
        @include flex(center, center);
        width: 100%; height: 47px;
        @include font(18px, 600, #272727);
        line-height: 40px;
      }
      .topContent{
        @include flex(flex-start, space-between);
        width: 100%;
        margin-top:4px;
      }
      .ranker {
        flex:1;
        .listColumn {
          position:relative;
          @include flex(center, center, column);
          width:84px;
          height:128px;
          margin:0 auto;
          cursor: pointer;
          &.none {
            display: none;
          }
          .teamWrapBox {
            position:relative;
            margin-top:auto;
            .teamSymbol {
              @include teamSymbol;
            }
          }
          .photo {
            @include photoStyle(100%,84px,50%);
            margin-top:auto;
            img {
              width:100%;
              border-radius:50%;
              object-fit: cover;
            }
          }
          .rankerRank {
            @include position-top-left(0px, -4px);
            @include flex(center, center);
            &.index1 {
              width: 40px; height: 50px;
              @include BGIMG("ranking/dalla/rankDetail_1st.png");
            }
            &.index2 {
              width: 30px; height: 40px;
              @include BGIMG("ranking/dalla/rankDetail_2nd.png");
            }
            &.index3 {
              width: 30px; height: 40px;
              @include BGIMG("ranking/dalla/rankDetail_3rd.png");
            }
          }
          .rankerNick {
            width: 100%;
            text-align: center;
            @include font(14px, 600, #202020);
            margin-top: 8px;
            line-height: 20px;
            @include fontCut;
          }
        }
        .badgeLive {
          @include flex(center, center);
          width:100px;height:28px;
          margin: 12px auto 0px;
          background-color: #FFE9E9;
          border-radius: 100px;
          cursor: pointer;
          .equalizer {
            display: inline-block;
            width: 12px;
            margin-top: -2px;
            margin-right: 4px;
          }
          .liveText {
            @include font(12px, 900, #FF3C7B);
          }
        }
        .badgeListener {
          @include flex(center, center);
          width:100px;height:28px;
          margin: 12px auto 0px;
          background-color: #F0EBFF;
          border-radius: 100px;
          cursor: pointer;
          .headset {
            display: inline-block;
            width: 15px;
            margin-right: 2px;
          }
          .ListenerText {
            @include font(12px, 900, #9A78FF);
          }
        }
        &:nth-child(1) {
          order:2;
          .photo {
            width:100px;height:100px;
          }
          .teamWrapBox {
            .teamSymbol {
              width:100px;height:100px;
            }
          }
        }
        &:nth-child(2) {order:1;}
        &:nth-child(3) {order:3;}
      }
      .cupidWrap {
        position: relative;
        @include flex(center, center, column);
        width: 100px;
        margin: 22px auto 0;
        padding: 8px;
        border-radius: 16px;
        background-color: #F6F6F6;
        .cupidHeader {
          @include flex(center, center);
          width: 74px; height: 20px;
          border-radius: 100px;
          padding: 0px 6px 0px 20px;
          margin: -18px 0 12px;
          @include font(12px,500,#FFFFFF);
          @include BGIMG('common/icon/icon_honey.png');
          background-color:#303030;
          background-position: 4px center;
          background-size: 16px 16px;
          box-sizing: border-box;
        }
        .cupidContent {
          @include flex(center, center, column);
          width: 100%;
          .cupidThumb {
            display: inline-block;
            width: 50px; height: 50px;
            border-radius: 50%;
            border: 1px solid #CCCCCC;
            img {
              width: 100%;
              border-radius: 50%;
            }
          }
          .cupidNick {
            width: 100%;
            margin-top: 7px;
            text-align: center;
            line-height: 16px;
            @include font(12px,500,#202020);
            @include fontCut;
          }
        }
      }
    }
    .listWrap {
      position: relative;
      flex:1;
      @include flex(center, flex-start, column);
      height: 100%;
      padding:12px 0;
      margin: 12px 16px;
      border-top: 1px solid #F2F2F2;
      .listRow {
        cursor: pointer;
        flex:none;
        @include flex(center);
        width: 100%;
        margin-bottom:15px;
        min-width: 0;        
        &:last-child {
          margin-bottom:0px;
        }
        .rank {
          order:-1;
          flex: none;
          width: 30px;
          margin-right:8px;
          text-align:center;
          @include font(16px,600,#333);
        }
        .photo {
          flex: none;
          position: relative;
          width:60px; height: 60px;
          border-radius: 50%;
          cursor: pointer;          
          &::before {
            content: "";
            @include position-top-left;
            width: 100%; height: 100%;
            border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
            border-radius:50%;
            box-sizing: border-box;
          }
          img {
            width:100%;
            border-radius: 50%;
          }
        }
        .listContent {
          flex: 1;
          padding: 0 12px;
          @include flex(center, center, column);
          overflow: hidden;
          .listItem {
            @include flex(center);
            width: 100%;
            + .listItem {
              margin-top:6px;
            }
            span {
              display: block;
              @include fontCut;
            }
            .nick {
              line-height:20px;
              margin-left:4px;
              @include font(14px,500,#202020);
              @include fontCut;
            }
            i {
              height:16px;
              line-height:14px;
              margin-right:8px;
              padding-left:16px;
              font-style:normal;
              @include font(12px,400,#8B8B8B);
              @mixin ICONIMG($value) {
                @include BGIMG('#{$value}');
                background-position: left center;
                background-size:16px;
              }
              &.heart {@include ICONIMG('common/icon/icoheart.png');}
              &.person {@include ICONIMG('common/icon/icoperson.png');}
              &.star {@include ICONIMG('common/icon/icostar.png');}
              &.time {@include ICONIMG('common/icon/icotime.png');}
              &.ppyong {
                height:18px;line-height:16px;
                padding:0 8px 0 18px;
                border-radius:100px;
                @include ICONIMG('common/icon/icoppyong.png');
                @include font(12px,500,#666);
                background-color:#F6F6F6;
              }
            }
          }
        }
        .listBack {
          flex: none;
          @include flex(center, center);
          .badgeLive {
            @include flex(center, center);
            width:62px;height:28px;
            margin: 12px auto 0px;
            background-color: #FFE9E9;
            border-radius: 100px;
            cursor: pointer;
            .equalizer {
              display: inline-block;
              width: 12px;
              margin-top: -2px;
              margin-right: 4px;
            }
            .liveText {
              @include font(12px, 900, #FF3C7B);
            }
          }
          .badgeListener {
            @include flex(center, center);
            width:62px;height:28px;
            margin: 12px auto 0px;
            background-color: #F0EBFF;
            border-radius: 100px;
            cursor: pointer;
            .headset {
              display: inline-block;
              width: 15px;
              margin-right: 2px;
            }
            .ListenerText {
              @include font(12px, 900, #9A78FF);
            }
          }
        }
      }
    }
  }
  #popSlide {
    .selectWrap {
      position: relative;
      @include flex(center, center, column);
      width: 100%;
      padding: 20px 0 30px;
      .selectOption {
        width: 100%;
        text-align: center;
        @include font(16px, 400, #202020);
        line-height: 55px;
        cursor: pointer;
        &.active {
          @include font(16px, 700, #FF3C7B);
        }
      }
    }
  }
  #layerPop {
    .popContainer {
      padding: 20px 0 51px;
      box-sizing: border-box;
      .popTitle {
        line-height: 48px;
        text-align: center;
        @include font(16px, 700, #202020);
      }
      .popSubTitle {
        @include font(16px, 400, #202020);
        @include fontLineCut();
        text-align: center;
        letter-spacing: -1px;
        margin-top: 12px;
        line-height: 26px;
        white-space: pre;
        overflow: hidden;
        &.point {
          color: #FF3C7B;
        }
      }
      .popText {
        @include font(13px, 400, #666666);
        @include fontLineCut();
        text-align: center;
        letter-spacing: -1px;
        margin-top: 20px;
        line-height: 20px;
        white-space: pre;
        overflow: hidden;
        span {
          @include font(13px, 400, #FFC400);
          padding-left: 16px;
          background-image: url("https://image.dalbitlive.com/common/dataCnt/dataIcon-yellowCupid.png");
          background-position: left center;
          background-repeat: no-repeat;
          background-size: 16px 16px;
        }
      } 
    }     
  }
  .tabmenu {
    li {
      position:relative;
      cursor:pointer;
    }
  }
}

@keyframes opactity {
  0% {
    border: 1px solid #eee;
    background-color: transparent;
  }
  100% {
    border: 1px solid #666;
    background-color: #FFFFFF;
  }
}
