@import "components/ui/_mixin.scss";

#rankingBenefit {
  .tabmenu {
    position:relative;
    @include flex(center);
    padding:0 16px;
    li {
      flex: 1;
      @include flex(center, center);
      padding: 10px 0;
      border-bottom: 2px solid #ccc;
      @include font(16px,500,#ccc);
      &.active {
        @include font(16px,700,#333);
        border-bottom: 2px solid #333;
      }
    }
  }
  .subContent {
    position: relative;
    @include flex(flex-start, flex-start, column);
    width: 100%;
    padding: 16px 0;
  }
}