#EventKnowHow {
  input[type='file'] {
    display: none;
  }
  .title {
    position: relative;
    h2 {
      font-size: 18px;
      text-align: center;
      line-height: 40px;
    }
    button {
      position: absolute;
      top: 0px;
      right: 6px;
      width: 40px;
      height: 40px;
      background: url(./static/close.svg) center no-repeat;
      margin-right: 6px;
      text-indent: -999999px;
    }
  }

  .title_2 {
    position: relative;
    border-bottom: 1px solid #eee;
    h2 {
      font-size: 18px;
      text-align: center;
      line-height: 40px;
    }
    button {
      position: absolute;
      top: 0px;
      left: 6px;
      width: 40px;
      height: 40px;
      background: url(./static/back_g.svg) center no-repeat;
      margin-right: 6px;
      text-indent: -999999px;
    }
  }
  .home {
    img {
      width: 100%;
      object-fit: contain;
    }
    &__top {
      position: relative;
      & > div {
        position: absolute;
        top: 34%;
        width: 100%;
        text-align: center;
        & > span {
          padding: 2px 19px;
          border-radius: 22px;
          background-color: #ffeaa7;
          color: #885632;
          font-size: 13px;
          font-weight: bold;
          line-height: 12px;
          letter-spacing: -0.33px;
        }
      }
    }
    &__bottom {
      padding: 32px 20px;
      background-color: #25ba91;

      &--button {
        width: 100%;
        text-align: center;
        margin-top: 17.7px;

        & > button {
          width: 220px;
          height: 44px;
          border: 4px solid #8bd6c2;
          border-radius: 36px;
          background-color: #fff;
          color: #FF3C7B;
          font-size: 17px;
          font-weight: bold;
          line-height: 38px;
        }
      }
      &--contentsWrap {
        position: relative;
        margin-top: 17.7px;
        height: 48px;
        line-height: 48px;
        background-color: #ffdd71;
        color: #000;
        text-align: center;
        & > span {
          height: 23px;
          font-size: 17px;
          font-weight: bold;

          &.open::after {
            content: '';
            position: absolute;
            top: 13px;
            width: 23px;
            height: 23px;
            background: url(./static/arrow_right_b.svg) no-repeat center;
            transform: rotate(90deg);
            background-size: contain;
          }

          &.close::after {
            content: '';
            position: absolute;
            top: 13px;
            width: 23px;
            height: 23px;
            background: url(./static/arrow_right_b.svg) no-repeat center;
            transform: rotate(270deg);
            background-size: contain;
          }
        }
      }
      &--contents {
        padding: 4px 18px 20px 18px;
        background-color: #ffe69e;
        color: #242424;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.3px;

        .title {
          margin-top: 16px;
          color: #242424;
          font-size: 16px;
          font-weight: bold;
          line-height: 26px;
          letter-spacing: -0.42px;
        }

        & > p {
          display: flex;
          font-size: 14px;
          line-height: 20px;
          & > span {
            margin-right: 4px;
          }
        }
      }
    }
  }

  .mainTabWrap {
    display: flex;
    background-color: #fff;
    border-top: 1px solid #eee;
    &.fixed {
      position: fixed;
      top: 0px;
      width: 100%;
      z-index: 2;
    }
    & > button {
      flex: 1;
      height: 39px;
      font-size: 16px;
      line-height: 18px;

      &.active {
        color: #FF3C7B;
        font-weight: bold;
        border-bottom: 1px solid #FF3C7B;
      }
    }
  }
  .attendWrap {
    .tabWrap {
      &.fixed {
        position: fixed;
        top: 40px;
        width: 100%;
        z-index: 2;
      }
    }

    &__buttonWrap {
      display: flex;
      padding: 12px 16px 8px 16px;
      background-color: #eee;
      &--conditions {
        & > button {
          min-width: 50px;
          height: 32px;
          padding: 0 12px;
          border-radius: 12px;
          background-color: #fff;
          font-size: 14px;
          text-align: center;
          line-height: 20px;

          &.active {
            color: #fff;
            background-color: #FF3C7B;
          }
        }
        & > button:not(:last-child) {
          margin-right: 2px;
        }
      }
      &--other {
        display: inline-flex;
        justify-content: flex-end;
        flex: 1;
      }

      &--my {
        width: 52px;
        height: 32px;
        margin-right: 2px;
        background-color: #fff;
        border: 1px solid #FF3C7B;
        border-radius: 16px;
        color: #FF3C7B;
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: -0.35px;

        &.active {
          background-color: #FF3C7B;
          color: #fff;
        }
      }

      &--add {
        width: 72px;
        height: 32px;
        background-color: #FF3C7B;
        border-radius: 16px;
        & > span {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: -0.35px;
          &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(./static/edit_w.svg) no-repeat center;
          }
        }
      }
    }

    &__header {
      display: flex;
      padding: 15px 16px;
      background-color: #fff;
      border-bottom: 1px solid #eee;
      &__countWrap {
        display: inline-flex;
        font-size: 16px;
        line-height: 18px;
        font-weight: bold;

        &--count {
          margin-left: 6px;
          color: #FF3C7B;
          font-weight: normal;
        }

        & > button {
          margin-left: 8px;
          & > img {
            width: 18px;
            height: 18px;
          }
          &.active {
            & > img {
              animation: anim 1s;
            }
          }
        }
      }
      @keyframes anim {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(-360deg);
        }
      }
      &__sortWrap {
        display: inline-flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        font-size: 14px;
        color: #757575;
        line-height: 16px;

        .tit {
          display: inline-block;
          width: 1px;
          height: 12px;
          margin: 0 8px;
          border: 1px solid #9e9e9e;
        }

        & > span.active {
          color: #000;
          font-weight: bold;
        }
      }
    }

    .attendListWrap {
      padding: 16px;
      &__item {
        display: flex;
        position: relative;
        margin-bottom: 20px;
        & > img {
          width: 120px;
          min-width: 120px;
          max-width: 120px;
          height: 120px;
          min-height: 120px;
          max-height: 120px;
          object-fit: contain;
          border-radius: 12px;
          background-color: #000;
        }

        &--device {
          position: absolute;
          left: 5px;
          top: 5px;
        }

        &__content {
          display: grid;
          width: 100%;
          margin-left: 12px;
        }
        &--header {
          display: flex;
          align-items: center;
          & > span:first-child {
            height: 16px;
            padding: 0 8px;
            border: 1px solid #757575;
            border-radius: 8px;
            font-size: 11px;
            color: #757575;
            line-height: 16px;
            letter-spacing: -0.28px;
          }
          & > span:last-child {
            flex: 1;
            font-size: 12px;
            color: #757575;
            line-height: 26px;
            text-align: right;
          }
        }

        &--title {
          flex-basis: 150px;
          margin-bottom: 8px;
          font-size: 14px;
          line-height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        &--nickNm {
          margin-bottom: 11px;
          font-size: 12px;
          color: #757575;
          line-height: 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &--icons {
          display: flex;
          align-items: flex-end;
          height: 100%;
          font-size: 12px;
          & > span:not(:last-child) {
            margin-right: 8px;
          }
          img {
            width: 16px;
            height: 16px;
            vertical-align: bottom;
          }

          .moreIcon {
            position: absolute;
            width: 24px;
            height: 24px;
            right: 0;
            &.none {
              display: none;
            }
          }

          .red {
            color: #ec455f;
          }
        }
        &--more {
          position: absolute;
          right: 20px;
          bottom: 0px;
          padding: 12px;
          background-color: #fff;
          border: 1px solid #e0e0e0;
          & > p:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  .attendAddWrap {
    padding: 0px 16px;
    &__condition {
      &--buttons {
        & > button {
          margin: 0 4px 4px 0;
          padding: 8px 12px;
          border: 1px solid #e0e0e0;
          border-radius: 12px;
          &.active {
            background-color: #FF3C7B;
            color: #fff;
            border: 1px solid #FF3C7B;
          }
        }
      }
    }

    &__inputWrap {
      &--additional {
        padding: 12px;
        border-radius: 20px;
        background-color: #eee;
        & > span {
          font-size: 12px;
          color: #757575;
          line-height: 20px;
          letter-spacing: -0.3px;
        }
      }

      &--input {
        display: flex;
        margin-bottom: 4px;
        padding: 16px 12px;
        border: 1px solid #e0e0e0;
        border-radius: 12px;
        background-color: #fff;
        font-size: 12px;

        & > span {
          display: inline-block;
          min-width: 70px;
        }

        & > input {
          width: calc(100% - 70px);
          color: #000;
          font-weight: bold;
          &::placeholder {
            color: #bdbdbd;
            font-weight: normal;
          }
        }
      }
    }

    &__commonTitle {
      display: flex;
      margin: 20px 0 8px 0;
      & > span:first-child {
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        letter-spacing: -0.4px;
      }

      & > span:last-child {
        flex: 1;
        font-size: 12px;
        color: #bdbdbd;
        text-align: right;
        line-height: 18px;
        letter-spacing: -0.3px;
      }

      &--title {
        width: 100%;
        padding: 12px;
        border: 1px solid #e0e0e0;
        border-radius: 12px;
        font-size: 14px;
        &::placeholder {
          color: #bdbdbd;
          font-weight: 100;
        }
      }

      &--contents {
        width: 100%;
        padding: 12px;
        min-height: 116px;
        border: 1px solid #e0e0e0;
        border-radius: 12px;
        font-size: 14px;
        &::placeholder {
          color: #bdbdbd;
          font-weight: 100;
        }
      }
    }

    &__imgWrap {
      display: flex;
      justify-content: space-between;

      &--label {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 32%;
        min-height: 92px;
        border-radius: 20px;
        background-color: #eee;
        font-size: 12px;
        font-weight: 100;
        color: #bdbdbd;
        overflow: hidden;

        &.black {
          background-color: #000;
        }
      }

      &--necessary {
        position: absolute;
        top: 8px;
        left: 8px;
        padding: 1px 8px;
        border-radius: 12px;
        background-color: #000;
        color: #fff;
        font-size: 12px;
      }

      &--uploadImg {
        width: 100%;
        object-fit: contain;
      }

      &--deleteBtn {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 16px;
        height: 16px;
        background: url(./static/close_round_b.svg) no-repeat;
      }
    }

    &__addBtn {
      width: 100%;
      height: 48px;
      margin-top: 16px;
      border-radius: 10px;
      background-color: #bdbdbd;
      color: #fff;

      &.active {
        background-color: #FF3C7B;
      }
    }
  }

  .attendDetailWrap {
    background-color: #eee;

    &__contents {
      margin-top: 12px;
      padding: 0 16px;
      background-color: #fff;
    }

    &__header {
      display: flex;
      position: relative;
      padding: 8px 0;
      border-bottom: 1px solid #eee;
      & > img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 36px;
      }

      &--center {
        flex: 1;
      }

      &--nick {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        font-size: 14px;
        & > img {
          margin-right: 4px;
        }
      }

      &--icons {
        display: flex;
        align-items: flex-end;
        font-size: 12px;
        & > span:not(:last-child) {
          margin-right: 8px;
        }
        img {
          width: 16px;
          height: 16px;
          vertical-align: bottom;
        }

        .red {
          color: #ec455f;
        }
      }

      &--other {
        display: flex;
      }

      &--more {
        position: absolute;
        right: 20px;
        top: 13px;
        padding: 12px;
        border: 1px solid #e0e0e0;
        background-color: #fff;
        & > p:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    &__title {
      margin-top: 20px;
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;

      &--date {
        font-size: 12px;
        font-weight: 100;
        color: #757575;
        line-height: 13px;
      }
    }

    &__system {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 20px;
      padding: 20px 12px 12px 12px;
      background-color: #eee;
      border-radius: 20px;

      &--title {
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 24px;
      }

      &--wrap {
        display: flex;
        padding: 16px 12px;
        background-color: #fff;
        border-radius: 12px;
        font-size: 12px;
        line-height: 13px;

        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }

      &--type {
        display: flex;
        align-items: center;
        min-width: 70px;
        &.purple {
          color: #FF3C7B;
        }
      }
      &--value {
        flex: 1;
        font-weight: bold;
        word-break: break-all;
      }
    }

    &__imgSlider {
      position: relative;
      width: 100%;
      min-height: 320px;
      margin-top: 12px;
      border: 1px solid #e0e0e0;
      border-radius: 20px;

      .swiper-container {
        height: 100%;
        border-radius: 20px;
        .swiper-wrapper {
          border-radius: 20px;
          & > img {
            background-color: #000;
            border-radius: 20px;
            object-fit: contain;
          }
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }

      &--prev {
        display: block;
        position: absolute;
        top: 50%;
        left: 0px;
        width: 36px;
        height: 36px;
        background: url(./static/ic_arrow_back_m.svg) no-repeat center;
        z-index: 3;

        &.blind {
          display: none;
        }
      }
      &--next {
        display: block;
        position: absolute;
        top: 50%;
        right: 0px;
        width: 36px;
        height: 36px;
        background: url(./static/ic_arrow_back_m.svg) no-repeat center;
        transform: rotate(180deg);
        z-index: 3;

        &.blind {
          display: none;
        }
      }

      &--index {
        display: flex;
        position: absolute;
        align-items: center;
        right: 16px;
        bottom: 16px;
        font-size: 12px;
        color: #fff;
        letter-spacing: -0.35px;
        z-index: 3;
        & > img {
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-right: 4px;
        }
      }
    }

    &__content {
      margin-top: 12px;
      margin-bottom: 20px;
      padding: 0 12px;
      font-size: 14px;
      white-space: pre-line;
      word-break: break-word;
    }
  }
}
