@import '../../styles/variables';
@import "components/ui/_mixin.scss";
#serviceWrap {
  .serviceWrap {
    &__contents {
      align-items: center;
      justify-self: center;
      padding: 30px 16px;
      &--tip {
        width: 100%;
        font-size: 14px;
        text-align: center;
        margin-bottom: 30px;
      }
    }

    &__user {
      &--os {
        padding: 15px 0;
        border-radius: 24px;
        background-color: rgba(99, 43, 235, 0.05);
        font-size: 16px;
        text-align: center;
      }

      &--version {
        margin-top: 12px;
        font-size: 16px;
        & > div {
          text-align: center;
        }

        &--gray {
          margin-top: 8px;
          color: $greishGray;

          & > button {
            margin-left: 10px;
            padding: 3px 8px;
            border: 1px solid $red;
            border-radius: 12px;
            font-size: 14px;
            color: $red;
          }
        }
      }

      &--point {
        font-weight: bold;
        color: $MAINCOLOR;
      }
    }
    &__caption {
      margin-top: 30px;
      font-size: 14px;
      &--wait {
        display: flex;
        font-weight: bold;
        margin-bottom: 5px;
        &::after {
          content: '';
          display: block;
          flex: 1;
          margin: 0 0 7px 5px;
          border-bottom: 1px solid $lighterGray;
        }
      }

      &--question {
        color: $greishGray;
        &--point {
          color: $MAINCOLOR;
          cursor: pointer;
        }
      }

      &--box {
        display: flex;
        flex-direction: column;
        margin-top: 17px;
        padding: 18px 20px;
        background-color: #f5f5f5;
        border: 1px solid $lighterGray;
        border-radius: 12px;
        font-size: 14px;

        & > span {
          margin-bottom: 5px;
          & > span {
            height: 21px;
          }
        }

        button {
          margin-left: 10px;
          padding: 3px 10px;
          background-color: black;
          border-radius: 9px;
          color: white;
          font-size: 11px;
        }

        .bold {
          font-weight: bold;
        }

        .gray {
          color: $greishGray;
          font-size: 12px;
        }
      }
    }

    &__personal {
      margin-top: 40px;
      margin-bottom: 14px;
      text-align: center;

      &--button {
        padding: 13px 42px;
        background-color: $MAINCOLOR;
        border-radius: 22px;
        color: #fff;
      }
    }

    &__policy {
      font-size: 12px;
      color: $greishGray;
      text-align: center;
    }
  }
}
