#attend-event {
  max-width: 460px;
  margin: 0 auto;

  .event-main {
    position: relative;

    .img-top {
      width: 100%;
    }

    .main-text {
      position: absolute;
      width: 100%;
      right: 0;
      bottom: 25%;
      color: #fff;
      text-align: center;
      font-size: 12px;
    }

    button.btn-back {
      position: absolute;
      right: 16px;
      top: 16px;
      width: 22px;
      height: 22px;
    }

    button.btn-check {
      width: 55%;
      height: 22%;
      position: absolute;
      bottom: 1%;
      left: 22%;
      background-image: url(https://image.dallalive.com/event/attend/200811/btn_check@2x.png);
      background-size: 100%;
      background-repeat: no-repeat;

      &.complete {
        background-image: url(https://image.dallalive.com/event/attend/200804/btn_check_disabeld@2x.png);
      }
    }
  }

  .gifticon-win-wrap {
    padding: 8px 3%;
    background-color: #ff7572;

    .gifticon-win-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 6px solid #5640bd;
      background: #5640bd;
      letter-spacing: -1px;
      font-size: 14px;

      .swiper-container-vertical {
        width: 70%;
        height: 48px;
      }

      label {
        width: 28%;
        margin-right: 2%;
        color: #fff;
        text-align: center;
      }

      .gifticon-win-list {
        display: flex;
        align-items: center;
        width: 100%;
        height: 48px;
        padding: 0 9px;
        box-sizing: border-box;
        background-color: #fff;
        font-size: 14px;
        letter-spacing: -1px;

        .time {
          width: 48%;
          max-width: 92px;
          margin-right: 2%;
          color: #757575;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          word-wrap: normal;
          letter-spacing: -1px;
        }

        .nick-name {
          width: 50%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          word-wrap: normal;
        }
      }
    }
  }

  .event-content-wrap {
    position: relative;
    padding: 10px 3%;
    background-color: #ff7572;

    .top-title {
      position: absolute;
      top: -5px;
      left: calc(50% - 125px);
      width: 250px;
      height: 35px;
      background-image: url(https://image.dallalive.com/event/attend/200617/sub_title@2x.png);
      background-size: 100%;
    }
  }

  .event-content {
    padding: 1px 3%;
    background-color: #fff;

    .event-section {
      position: relative;
      margin-top: 30px;
      text-align: center;

      .title-label {
        display: inline-block;
        margin-bottom: 20px;
        color: #fff;

        img {
          width: 50%;
        }
      }

      .title-top {
        img {
          width: 100%;
        }
      }

      .gifticon-benefit {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;

        .gifticon-benefit-item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 10px 0 20px 0;
          width: 48.5%;
          background-color: #ece8ff;
          border-radius: 20px;

          .gifti-img-coffee {
            img {
              width: 50%;
            }
          }

          .gifti-img-chicken {
            img {
              width: 90%;
            }
          }

          .description {
            margin-top: 8px;
            font-size: 14px;
            font-weight: 700;

            span {
              display: block;
              margin-top: 5px;
              color: #757575;
              font-size: 12px;
              font-weight: 500;
            }
          }

          .luna-date {
            width: 50%;
            margin: 10px auto 0 auto;
            padding: 5px 0;
            border-radius: 8px;
            border: 1px solid #bdbdbd;
            background-color: #fff;
            color: #FF3C7B;
            font-weight: 700;
          }
        }

        .gifticon-benefit-input {
          width: 100%;
          margin: 20px 0;
          padding: 18px 12px;
          background-color: #d5f1f2;
          border-radius: 20px;
          text-align: left;

          .title {
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: 700;
            color: #067878;

            span {
              display: inline-block;
              margin-left: 5px;
              font-size: 12px;
              color: #f51f60;
            }
          }

          .input-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 12px;

            input {
              width: 80%;
              height: 36px;
              border-radius: 8px;
              padding: 0 8px;
            }

            button {
              width: 18%;
              height: 36px;
              border-radius: 8px;
              background-color: #00baba;
              color: #fff;
            }
          }

          .note {
            margin-top: 10px;
            color: #739797;
            font-size: 12px;
          }
        }
      }

      .stamp-box {
        margin-top: 30px;

        .stamp-box-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: stretch;

          .stamp-box-item {
            position: relative;
            width: 30%;

            .stamp-box-item-wrap {
              overflow: hidden;
              margin-bottom: 25%;
              text-align: center;
              color: #919191;
              border-radius: 20px;
              box-shadow: 0px 4px 0 0 rgba(0, 0, 0, 0.1);
              border: solid 1px #bdbdbd;
              padding-bottom: 6px;

              &::after {
                content: '';
                position: absolute;
                width: 10%;
                height: 10%;
                background-image: url(https://image.dallalive.com/event/attend/200804/ic_double_arrow_right@2x.png);
                background-size: 100%;
                background-repeat: no-repeat;
              }

              .stamp-date {
                background-color: #bdbdbd;
                font-size: 14px;
                padding: 7px 0;
                color: #fff;
              }

              .stamp-area {
                width: 80%;
                margin: 0 auto;
                text-align: center;
                color: #bfbfbf;

                img {
                  width: 100%;
                }

                .today-icon {
                  display: none;
                }
              }

              .stamp-exp {
                margin-top: 10px;
                padding: 0 5px;
                font-size: 12px;
                letter-spacing: -1px;
              }
            }

            &.today {
              .stamp-box-item-wrap {
                border: 1px solid #2cbbbb;
                box-shadow: 0px 4px 0 0 rgba(44, 187, 187, 0.2);
                color: #000;

                .stamp-date {
                  background-color: #2cbbbb;
                }

                .stamp-area {
                  position: relative;
                  .today-icon {
                    position: absolute;
                    top: 15%;
                    right: 6%;
                    display: inline-block;
                    width: 42%;
                  }
                }
              }
            }

            &.success {
              .stamp-box-item-wrap {
                border: 1px solid #FF3C7B;
                box-shadow: 0px 4px 0 0 rgba(255, 60, 123, 0.2);
                color: #FF3C7B;

                .stamp-date {
                  background-color: #8556f6;
                }
              }
            }

            &.fail {
              .stamp-box-item-wrap {
                border: 1px solid #c0badd;
                color: #c6c6c6;

                .stamp-date {
                  background-color: #c0badd;
                }
              }
            }

            &:nth-of-type(1) {
              order: 1;
              .stamp-box-item-wrap {
                &::after {
                  top: 40%;
                  right: -14%;
                }
              }
            }

            &:nth-of-type(2) {
              order: 2;
              .stamp-box-item-wrap {
                &::after {
                  top: 40%;
                  right: -14%;
                }
              }
            }

            &:nth-of-type(3) {
              order: 3;

              .stamp-box-item-wrap {
                &::after {
                  bottom: 3%;
                  left: 45%;
                  transform: rotate(90deg);
                }
              }
            }

            &:nth-of-type(4) {
              order: 6;

              .stamp-box-item-wrap {
                &::after {
                  top: 40%;
                  left: -14%;
                  transform: rotate(180deg);
                }
              }
            }
            &:nth-of-type(5) {
              order: 5;

              .stamp-box-item-wrap {
                &::after {
                  top: 40%;
                  left: -14%;
                  transform: rotate(180deg);
                }
              }
            }

            &:nth-of-type(6) {
              order: 4;

              .stamp-box-item-wrap {
                &::after {
                  bottom: 3%;
                  left: 45%;
                  transform: rotate(90deg);
                }
              }
            }

            &:nth-of-type(7) {
              order: 7;

              .stamp-box-item-wrap {
                &::after {
                  top: 40%;
                  right: -14%;
                }
              }
            }
          }
        }
      }

      .point-box {
        width: 65%;
        margin-bottom: 7.5%;
        order: 8;

        &.basic {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 10px;
          border-radius: 20px;
          background-color: #5640bd;
          box-shadow: 0px 4px 0 0 rgba(255, 60, 123, 0.2);

          .title-label {
            position: absolute;
            top: -5%;
            left: 35%;
            width: 30%;

            img {
              width: 100%;
            }
          }
          .title {
            padding-top: 10%;
            img {
              width: 100%;
            }
          }

          .detail-info {
            padding: 8px;
            border-radius: 8px;
            background-color: #fff;
            line-height: 22px;
            font-size: 14px;
            letter-spacing: -0.5px;

            label {
              span {
                font-weight: 700;
              }

              &.attend {
                display: block;
              }
            }
          }
        }

        &.more {
          position: relative;
          border-radius: 20px;
          background: #ffdf3e url(https://image.dallalive.com/event/attend/200804/bonus_card_on@2x.png) no-repeat;
          background-size: 100%;
          background-position: center;
          box-shadow: 0px 4px 0 0 #ffba00;
          cursor: pointer;
        }

        &.complete {
          position: relative;
          border-radius: 20px;
          background: #ffdf3e url(https://image.dallalive.com/event/attend/200804/bonus_card_end@2x.png) no-repeat;
          background-size: 100%;
          background-position: center;
          box-shadow: 0px 4px 0 0 #ffba00;

          .detail-info {
            position: absolute;
            bottom: 15%;
            left: 5%;
            width: 58%;
            padding: 8px;
            border-radius: 8px;
            background-color: #fff;
            line-height: 22px;
            font-size: 11px;
            letter-spacing: -0.5px;

            label {
              display: block;

              span {
                font-weight: 700;
                i {
                  font-style: normal;
                  color: #ff7572;
                }
              }

              &.attend {
                display: block;
              }
            }
          }
        }
      }

      .bonus-box {
        width: 60%;
        margin: 20px 8px;
        height: 86px;
        border-radius: 10px;
        border: solid 3px #c3b8e0;
        background-color: #f5f5f5;
        background-image: url(https://image.dallalive.com/event/attend/200617/img_rabbit_grey@2x.png);
        background-size: 58px;
        background-position: 92% bottom;
        background-repeat: no-repeat;

        .title {
          padding-top: 3px;
          font-size: 12px;
          font-weight: 600;
          line-height: 1.33;
          letter-spacing: -0.3px;
          text-align: center;
          color: #ad99e1;
        }

        button.btn-more {
          display: none;
          width: 96px;
          height: 40px;
          margin: 10px 0 0 5%;
          background-image: url(https://image.dallalive.com/event/attend/200617/btn_bonus@2x.png);
          background-size: 100%;
        }

        &.more {
          border-color: #8556f6;
          background-image: url(https://image.dallalive.com/event/attend/200617/img_rabbit_color@2x.png);

          .title {
            color: #713eea;
          }

          button.btn-more {
            display: block;
          }
        }

        &.complete {
          border-color: #8556f6;
          background-image: url(https://image.dallalive.com/event/attend/200617/img_heartbeat@2x.png);

          .title {
            color: #713eea;
          }

          button.btn-more {
            display: block;
            background-image: url(https://image.dallalive.com/event/attend/200617/btn_bonus_off@2x.png);
          }
        }
      }
    }

    // .content-left-wrap {
    //   width: 140px;
    //   padding: 32px 8px 26px 8px;
    //   background-color: #ebf6d9;

    //   .detail-text-title {
    //     margin-bottom: 10px;
    //     width: 71px;
    //     height: 24px;
    //     background-image: url(https://image.dallalive.com/event/attend/200617/textimg_1@2x.png);
    //     background-size: 100%;

    //     &.bonus {
    //       width: 63px;
    //       height: 23px;
    //       background-image: url(https://image.dallalive.com/event/attend/200617/textimg3@2x.png);
    //     }
    //   }

    //   .detail-text-content {
    //     width: 114px;
    //     height: 59px;
    //     background-image: url(https://image.dallalive.com/event/attend/200617/textimg_2@2x.png);
    //     background-size: 100%;

    //     &.bonus {
    //       width: 111px;
    //       height: 59px;
    //       background-image: url(https://image.dallalive.com/event/attend/200617/textimg_4@2x.png);
    //     }
    //   }

    //   .detail-info-box {
    //     display: flex;
    //     flex-wrap: wrap;
    //     align-items: center;
    //     margin: 16px 0 24px;
    //     padding: 7px 5px;
    //     background-color: #fff;
    //     border-radius: 8px;
    //     font-size: 12px;

    //     .label {
    //       width: 60%;
    //       margin: 2px 0;

    //       img {
    //         display: inline-block;
    //         margin-right: 2px;
    //         vertical-align: middle;
    //       }

    //       &:nth-of-type(1) {
    //         color: #3dbbfa;
    //       }

    //       &:nth-of-type(2) {
    //         color: #fd6a7e;
    //       }

    //       &:nth-of-type(3) {
    //         color: #ff6500;
    //       }
    //     }

    //     .value {
    //       width: 40%;
    //       margin: 2px 0;
    //       text-align: right;
    //       font-size: 11px;
    //       letter-spacing: -1px;

    //       span {
    //         font-size: 15px;
    //         font-weight: 600;
    //       }
    //     }
    //   }
    // }

    // .content-right-wrap {
    //   width: calc(100% - 140px);
    //   background-color: #fff;

    //   .stamp-box {
    //     padding-top: 27px;

    //     .stamp-box-list {
    //       display: flex;
    //       flex-wrap: wrap;
    //       align-items: center;

    //       .stamp-box-item {
    //         width: 33.3333%;
    //         margin-bottom: 7px;
    //         padding: 0 4px;
    //         font-size: 11px;
    //         text-align: center;
    //         color: #919191;

    //         .stamp-area {
    //           width: 50px;
    //           height: 50px;
    //           margin: 0 auto;
    //           background-image: url(https://image.dallalive.com/event/attend/200617/img_stamp_default@2x.png);
    //           background-size: 100%;
    //           border-radius: 50%;
    //           font-size: 12px;
    //           text-align: center;
    //           color: #bfbfbf;

    //           span {
    //             display: block;
    //             padding-top: 27px;
    //             letter-spacing: -1px;
    //           }
    //         }

    //         &.success {
    //           color: #3dbbfa;
    //           font-weight: 600;

    //           .stamp-area {
    //             background-image: url(https://image.dallalive.com/event/attend/200617/img_stamp_check@2x.png);

    //             span {
    //               display: none;
    //             }
    //           }
    //         }

    //         &.fail {
    //           color: #c6c6c6;
    //           text-decoration: line-through;

    //           .stamp-area {
    //             background-image: url(https://image.dallalive.com/event/attend/200617/img_stamp_uncheck@2x.png);

    //             span {
    //               display: none;
    //             }
    //           }
    //         }
    //       }
    //     }
    //   }

    //   .bonus-box {
    //     margin: 20px 8px;
    //     height: 86px;
    //     border-radius: 10px;
    //     border: solid 3px #c3b8e0;
    //     background-color: #f5f5f5;
    //     background-image: url(https://image.dallalive.com/event/attend/200617/img_rabbit_grey@2x.png);
    //     background-size: 58px;
    //     background-position: 92% bottom;
    //     background-repeat: no-repeat;

    //     .title {
    //       padding-top: 3px;
    //       font-size: 12px;
    //       font-weight: 600;
    //       line-height: 1.33;
    //       letter-spacing: -0.3px;
    //       text-align: center;
    //       color: #ad99e1;
    //     }

    //     button.btn-more {
    //       display: none;
    //       width: 96px;
    //       height: 40px;
    //       margin: 10px 0 0 5%;
    //       background-image: url(https://image.dallalive.com/event/attend/200617/btn_bonus@2x.png);
    //       background-size: 100%;
    //     }

    //     &.more {
    //       border-color: #8556f6;
    //       background-image: url(https://image.dallalive.com/event/attend/200617/img_rabbit_color@2x.png);

    //       .title {
    //         color: #713eea;
    //       }

    //       button.btn-more {
    //         display: block;
    //       }
    //     }

    //     &.complete {
    //       border-color: #8556f6;
    //       background-image: url(https://image.dallalive.com/event/attend/200617/img_heartbeat@2x.png);

    //       .title {
    //         color: #713eea;
    //       }

    //       button.btn-more {
    //         display: block;
    //         background-image: url(https://image.dallalive.com/event/attend/200617/btn_bonus_off@2x.png);
    //       }
    //     }
    //   }
    // }
  }

  .event-notice {
    padding: 20px 16px;
    background-color: #ff7572;

    .title {
      padding-bottom: 10px;
      color: #fff8df;
      font-size: 16px;
      font-weight: 600;
      text-align: center;

      &.active {
        img {
          margin-top: 6px;
          transform: rotate(180deg);
        }
      }
    }

    ul {
      display: none;

      &.active {
        display: block;
      }
    }

    li {
      position: relative;
      padding: 4px 0 0 10px;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: -0.33px;
      text-align: left;
      color: #fff;

      &::before {
        content: '';
        position: absolute;
        top: 11px;
        left: 0;
        width: 3px;
        height: 3px;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }

  .win-list-box {
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #d2d2d2;
      padding: 14px 0;
      box-sizing: border-box;
      padding: 12px 16px;
      position: relative;

      &__title {
        font-size: 18px;
        letter-spacing: -0.45px;
        font-weight: 800;
      }

      &__btnBack {
        display: block;
        width: 36px;
        position: absolute;
        top: 6px;
        left: 2%;
      }
    }

    .content {
      padding: 0 3%;

      .note {
        padding: 16px 21px;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.33px;
        text-align: center;
        color: #757575;
      }

      table {
        th {
          padding: 5px 0;
          border-top: 1px solid #FF3C7B;
          border-bottom: 1px solid #FF3C7B;
          font-size: 12px;
          color: #FF3C7B;
        }

        td {
          padding: 10px 0;
          text-align: center;
          font-size: 13px;
          border-bottom: 1px solid #e0e0e0;
          letter-spacing: -0.5px;

          &.date {
            color: #757575;

            .iconNew {
              display: inline-block;
              width: 20px;
              line-height: 13px;
            }
          }

          &.nick {
            display: flex;
            align-items: center;
            padding-left: 10px;

            .thumb {
              overflow: hidden;
              width: 28px;
              height: 28px;
              margin-right: 5px;
              border-radius: 50%;

              img {
                width: 100%;
              }
            }

            p {
              width: calc(100% - 33px);
              text-align: left;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              word-wrap: normal;
            }
          }
        }
      }
    }
  }
}
