@import "components/ui/_mixin.scss";

.profileCard {
  position:relative;
  z-index: 1;
  padding:0 16px;
  background-color:#F7F7F7;
  .cardWrap {
    @include flex($fd:column);
    transform:translateY(-18px);
    border-radius:10px;
    background-color:white;
    .userInfo {
      @include flex(flex-end);
      margin-top:-10px;
      padding:0 25px;
      .photo {
        position:relative;
        width:72px;
        height:72px;
        margin-right:15px;
        img {
          width:100%;
          height:100%;
          border-radius:50%;
          object-fit: cover;
        }
        .frameBg {
          display:none;
        }
      }
      .info {
        min-width:0;
        .item {
          @include flex(center);
          letter-spacing: -1px;
          .nick {
            @include font(17px,500,black);
            @include fontCut;
          }
          .userid {
            letter-spacing: -.5px;
            @include font(12px,400,#A4A4A4);
          }
        }
      }
    }
    .count {
      @include flex;
      height:76px;
      padding:0 32px;
      .item {
        flex:1;
        @include flex(center,center,column);
        padding-top:7px;
        letter-spacing: -1px;
        span {
          @include font(16px,500,black);
        }
        i {
          height:20px;
          line-height:20px;
          font-style:normal;
          @include font(13px,400,#878787);
        }
      }
    }
    .buttonWrap {
      @include flex;
      margin-top:auto;
      border-top:1px solid #F2F2F2;
      button {
        flex:1;
        height:45px;
        border-left:1px solid #F2F2F2;
        @include font(13px,400,black);
        &:first-child {
          border-left:none;
        }
        &.isFan {
          &:before {
            display:inline-block;
            content:"";
            width:17px;
            height:17px;
            @include BGIMG("mypage/dalla/check_ico.png");
            vertical-align: bottom;
          }
        }
      }
    }
  }
}