@import "components/ui/_mixin.scss";

.socialListWrap {
  .socialList {
    border-bottom: 1px solid #F2F2F2;
    .listRow {
      @include flex(center);
      height:60px;
      padding:0 16px;
      .photo {
        position: relative;
        width:36px;
        height:36px;
        border-radius:50%;
        overflow:hidden;
        &::before {
          content: "";
          @include position-top-left;
          width: 100%; height: 100%;
          border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
          border-radius:50%;
          box-sizing: border-box;
        }    
      }
      .listContent {
        letter-spacing: -.5px;
        margin-left:8px;
        .listItem {
          @include flex(center);
          width: 100%;
        }
        .lock {
          display: inline-block;
          width: 12px; height: 15px;
          margin-right: 8px;
          @include BGIMG("common/icon/icon-lock.png");
        }
        .nick {
          @include font(13px,500,#202020);
          @include fontCut;
        }
        .time {
          @include font(12px,400,#999);
        }
      }
      .listBack {
        @include flex;
        margin-left:auto;
        .fixIcon {
          width:30px;
          height:30px;
          @include BGIMG("profile/fixmark-on.png");
          background-size:24px;
        }
        div.moreBtn {
          @include moreBtnStyle-1;
          margin-left:8px;
          cursor:pointer;
        }
      }
    }
  }
  .socialContent {
    padding: 2px 16px 16px;
    .text {
      position:relative;
      margin-bottom:16px;
      word-break: break-all;
      @include font(13px,400,#202020);
      &.lineCut-4 {
        @include fontLineCut(4);
        &:after {
          position:absolute;bottom:0;right:0;
          content:"더보기";
          display:inline-block;
          @include font(14px,$Medium,#999);
        }
      }
    }
    .swiperPhoto {
      margin-bottom:16px;
      .photo {
        position:relative;
        display:grid;
        column-gap: 4px;
        + .photo {
          margin-top:4px;
        }
        &.grid-1 {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
        }
        &.grid-2 {
          grid-template-columns: repeat(2,1fr);
          grid-template-rows: 1fr;
        }
        &.grid-3 {
          grid-template-columns: repeat(3,1fr);
          grid-template-rows: 1fr;
        }
        img {
          width:100%;
          border-radius:8px;
          object-fit: contain;
        }
      }
      .photoMore {
        @include position-bottom-right;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        column-gap: 4px;
        width:100%;
        height:100%;
        .count {
          @include flex(center,center);
          @include font(23px,$SemiBold,white);
          background-color:rgba(0,0,0,.4);
        }
      }
    }
    .swiper-slide {
      width:100%;
      background-color:#ddd;
      .photo {
        height:100%;
        img {
          width:100%;
          height:100%;
          border-radius:8px;
          object-fit: cover;
        }
      }
      .info {
        @include flex(center);
      }
    }
    .swiper-pagination {
      @include position-bottom-right(17px, 0);
      left: auto;
      @include flex(center, center);
      width: auto; height: 20px;
      padding: 0 10px;
      border-radius: 10px 0 0 10px;
      background-color: rgba($color: #000000, $alpha: 0.4);
      @include font(13px, 500, #FFF);
      letter-spacing: 1px;
    }
    .info {
      @include flex(center);
      height:25px;
      margin-top:auto;
      i {
        display:inline-block;
        padding-left:28px;
        line-height:25px;
        font-style:normal;
        cursor:pointer;
        + i {
          margin-left:10px;
        }
        @include font(14px,$Medium,#666);
        &.like {
          @include BGIMG("profile/heart_icon-notice.png");
          background-position:left center;
          background-size:25px;
        }
        &.cmt {
          @include BGIMG("profile/comment_icon-notice.png");
          background-position:left center;
          background-size:25px;
        }
      }
      .time {
        margin-left:auto;
        letter-spacing: -1px;
        @include font(12px,$Medium,black);
      }
    }
    .dataCnt {
      height: 20px;
      padding-left: 24px;
      line-height: 20px;
      @include font(13px, 400, #6B6B6B);
      background-size: 20px 20px;
      cursor:pointer;
      &.replyCnt {
        background-image: url("https://image.dalbitlive.com/common/dataCnt/dataIcon-tailCnt.png");
      }
    }
  }
}