@import "components/ui/_mixin.scss";

.socialListWrap {
  .socialList {
    border-bottom: 1px solid #F2F2F2;
    .listRow {
      @include flex(center);
      height:60px;
      padding:0 16px;
      .photo {
        position: relative;
        width:36px;
        height:36px;
        border-radius:50%;
        overflow:hidden;
        &::before {
          content: "";
          @include position-top-left;
          width: 100%; height: 100%;
          border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
          border-radius:50%;
          box-sizing: border-box;
        }    
      }
      .listContent {
        letter-spacing: -.5px;
        margin-left:6px;
        .nick {
          @include font(13px,500,#202020);
          @include fontCut;
        }
        .time {
          @include font(12px,400,#999);
        }
      }
      .listBack {
        @include flex;
        margin-left:auto;
        .fixIcon {
          width:30px;
          height:30px;
          @include BGIMG("profile/fixmark-on.png");
          background-size:24px;
        }
        div.moreBtn {
          @include moreBtnStyle-1;
          margin-left:8px;
        }
      }
    }
  }
  .socialContent {
    padding: 2px 16px 16px;
    .text {
      margin-bottom:16px;
      word-break: break-all;
      @include font(13px,400,#202020);
    }
    .swiperPhoto {
      margin-bottom:16px;
    }
    .swiper-slide {
      width:100%;
      height:225px;
      background-color:#ddd;
      .photo {
        height:100%;
        img {
          width:100%;
          height:100%;
          img {
            width:100%;
            height:100%;
            border-radius:5px;
            object-fit: cover;
          }
        }
      }
      .swiper-pagination {
        @include swiperPagination;
      }
      .info {
        @include flex(center);
        .dataCnt {
          height: 20px;
          padding-left: 24px;
          line-height: 20px;
          @include font(13px, 400, #6B6B6B);
          background-size: 20px 20px;
          &.replyCnt {
            background-image: url("https://image.dalbitlive.com/common/dataCnt/dataIcon-tailCnt.png");
          }
        }
      }
    }
  }
}