@import "components/ui/_mixin.scss";

.totalInfo {
  padding: 16px 0 20px;
  border-bottom:8px solid #F2F2F2;
  .badgeInfo {
    @include flex(flex-start);
    height:20px;
    margin-bottom:16px;
    padding:0 16px;
    @include font(11px);
    overflow:hidden;
    &.isOpen {
      height:auto;
    }
    .title {
      flex-shrink: 0;
      width:20px;
      height:20px;
      text-indent:-99999px;
      @include BGIMG("/profile/badge_icon.png");
    }
    .badgeGroup {
      flex:1;
      @include flex(center);
      flex-wrap:wrap;
      margin-left: 8px;
      .badgeItem {
        height:18px;
        line-height: 19px;
        margin-top:1px;
        margin-bottom:1px;
      }
      .grade {
        background-color:black;
        padding: 0 7px;
      }
    }
    button {
      flex-shrink: 0;
      width:20px;height:20px;
      text-indent:-99999px;
      @include BGIMG("profile/drop_down_icon.png");
    }
  }
  .rankInfo {
    @include flex;
    padding:0 16px;
    .box {
      flex:1;
      @include flex(center);
      height:58px;
      margin-right:5px;
      padding: 12px 10px 12px 8px;
      border-radius:8px;
      background-color: #F8F8F8;
      &:last-child {
        flex-grow: 0;
        flex-basis: 38.8%;
        margin-right:0;
      }
      .title {
        flex:none;
        height:33px;
        margin-right:12px;
        @include font(16px);
        img {
          height:100%;
        }
      }
      .photoGroup {
        @include flex;
      }
      .photo {
        position:relative;
        width:36px;
        height:36px;
        margin-right:10px;
        border-radius:50%;
        background-color:#fff;
        &::before {
          content: "";
          @include position-top-left;
          width: 100%; height: 100%;
          border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
          border-radius:50%;
          box-sizing: border-box;
        }
        img {
          width:100%;
          height:100%;
          border-radius:50%;
          object-fit: cover;
        }
        &:last-child {
          margin-right:0;
        }
        .badge {
          @include position-top-left(-3px,-3px);
          width:18px;
          height:18px;
          line-height:16px;
          @include border(white,50%,1px);
          background-color:#FE3C7B;
          text-align:center;
          @include font(10px,600,white);
        }
      }
    }
  }
  .comment {
    margin-top: 20px;
    padding:0 16px;
    .title {
      margin-bottom:8px;
      @include font(17px,$Bold,#202020);
    }
    .text {
      @include font(15px,$Medium,black);
    }
  }
  .broadcastNotice {
    margin-top:16px;
    .title {
      margin-bottom:12px;
      padding:0 16px;
      @include font(17px,$Bold,#202020);
    }
    .swiper-wrapper {
      padding-left:16px;
      .swiper-slide {
        width:auto;
        &:last-child {
          margin-right:24px;
        }
      }
    }
    .swiper-slide {
      $boxColors: (#FFE8F7,#FFE6DE,#FFF6E1,#E2EAFF,#F3EEFF,#EDF5DF,#E3F6F2,#E5F5FB,#FFECEE);
      $badgeColors: (#EFB5CA,#FFBBA5,#FFD471,#98B4FF,#C1A8FF,#B5D878,#7EDBC7,#89D5F1,#FFAEB6);
      $colors: zip($boxColors,$badgeColors);
      @each $color in $colors {
        $i: index($colors,$color);
        &:nth-child(9n+#{$i}) {
          .noticeBox {
            background-color:nth($color,1);
            .badge {
              background-color:nth($color,2);
            }
          }
        }
      }
      .noticeBox {
        position:relative;
        @include flex($fd:column);
        width:266px;
        height:126px;
        margin-right:10px;
        padding: 16px 16px 12px 16px;
        border-radius:8px;
        .badge {
          width:48px;
          line-height:18px;
          margin-bottom:8px;
          border-radius:100px;
          letter-spacing: -.2px;
          font-style:italic;
          text-align:center;
          @include font(12px,$Medium,white);
        }
        .text {
          padding-right:24px;
          line-height:22px;
          word-break: break-all;
          @include font(15px,$SemiBold,#202020);
          @include fontLineCut;
        }
        .info {
          @include flex(center);
          height:25px;
          margin-top:auto;
          i {
            display:inline-block;
            padding-left:30px;
            line-height:25px;
            font-style:normal;
            + i {
              margin-left:10px;
            }
            @include font(14px,$Medium,#666);
            &.likeOff {
              @include BGIMG("profile/heart_icon-off.png");
              background-position:left center;
              background-size:25px;
            }
            &.likeOn {
              @include BGIMG("profile/heart_icon-on.png");
              background-position:left center;
              background-size:25px;
            }
            &.cmt {
              @include BGIMG("profile/comment_icon-notice.png");
              background-position:left center;
              background-size:25px;
            }
          }
          .time {
            margin-left:auto;
            letter-spacing: -1px;
            @include font(12px,$Medium,black);
          }
        }
        .fixIcon {
          @include position-top-right(14px,10px);
          width:20px;
          height:20px;
          img {
            width:100%;
            height:100%;
          }
        }
      }
    }
  }
}