@import "components/ui/_mixin.scss";

#share {
    .fullImage {
        width: 100%;
        -webkit-user-drag: none;
        vertical-align: middle;
        image-rendering: -webkit-optimize-contrast;
    }
    .imageBox {
        position: relative;
        .noticeBtn {
            position: absolute;
            right: 16px; bottom: 10px;
            @include flex(center, center);
            width: 81px; height: 32px;
            border-radius: 100px;
            @include font(15px, 500, #FFFFFF);
            background-color: #393939;
        }
    }
    .content {
        position: relative;
        @include flex(flex-start, flex-start, column);
        width: 100%;
        background-color: #FF3C7B;
        .step {
            position: relative;
            width: 100%;
            padding: 0px 16px;
            .stepTop {
                @include flex(center);
                width: 100%;
                .stepBox {
                    display: inline-block;
                    width: 84px; height: 37px;
                    padding: 1px 0px 10px;
                    @include font(20px, 900, #FF3C7B);
                    text-align: center;
                    background-image: url("https://image.dalbitlive.com/event/dalla/7650/event_stepTop.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    box-sizing: border-box;
                }
            }
        }
    }
}