@import '../../styles/variables';
@import '../../styles/mixins';
@import "components/ui/_mixin.scss";

#ranking-page {
  min-height: 100vh;
  background-color: $lighterGray;
  .refresh-wrap {
    display: none;
  }
  .fixed {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 3;
  }

  .listFixed.more {
    margin-top: 254px;
  }

  .listFixed {
    margin-top: 140px;
  }

  .respansiveBox {
    padding: 0 16px;
  }

  .renewalBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 16px;
    background-color: #fff;
    border-top: 1px solid $MAINCOLOR;
    border-bottom: 1px solid $lighterGray;
    text-align: right;
    color: #616161;
    font-size: 12px;

    & > span {
      display: inline-block;
      vertical-align: middle;
    }

    & > img {
      margin-left: 5px;
      vertical-align: middle;
    }
  }

  img {
    vertical-align: middle;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 49px;
    border-bottom: 1px solid #d2d2d2;
    padding: 14px 0;
    box-sizing: border-box;
    padding: 12px 16px;
    background-color: #fff;

    &__title {
      font-size: 18px;
      letter-spacing: -0.45px;
      font-weight: 800;
    }

    &__btnBack {
      display: block;
      width: 36px;
      position: absolute;
      top: 4px;
      left: 2%;
    }
  }

  .rankTopBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background: $lighterGray;
    &__update {
      font-size: 12px;
      color: #424242;
      display: flex;
      align-items: center;
    }
    &__img {
      margin-left: 4px;
    }
  }

  .rankTab {
    &__btn {
      height: 32px;
      margin-right: 2px;
      padding: 0 12px;
      border-radius: 12px;
      border: solid 1px #e0e0e0;
      background-color: #fff;
      font-size: 16px;
      &--active {
        border-color: $MAINCOLOR;
        background-color: $MAINCOLOR;
        color: #fff;
      }
    }
    // :last-child {
    //   height: 32px;
    //   padding: 0px 1px;
    // }
  }

  .todayList {
    height: 36px;
    border-bottom: 1px solid $lighterGray;
    text-align: center;
    background-color: #fff;

    &__btn {
      margin: 0 10px;
      height: 36px;
      font-size: 16px;
      color: #000;

      &--active {
        border-bottom: 1px solid $MAINCOLOR;
        color: $MAINCOLOR;
        font-weight: 900;
      }
      &--blur {
        color: #888;
      }
    }
  }

  .detailView {
    display: flex;
    justify-content: space-between;
    height: 56px;
    padding: 0px 10px;
    background: #fff;

    .subDay {
      font-size: 12px;
      color: #616161;
    }

    .title {
      position: relative;
      @include flexbox();
      @include flex-center(center);
      flex-direction: column;
      font-size: 16px;
      font-weight: 700;
      color: $MAINCOLOR;

      .titleWrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .benefitSize {
        display: inline-block;
        width: 50px;
        height: 22px;
        margin-left: 7px;
        vertical-align: top;
      }
      span {
        display: block;
        font-size: 12px;
        text-align: center;
        color: #616161;
      }
    }

    .prevButton {
      font-size: 14px;
      font-weight: 700;
      color: #bdbdbd;
      background: url('https://image.dallalive.com/svg/20200806/arrow_left_g.svg') left center no-repeat;
      padding-left: 24px;
      &.active {
        color: #000;
        font-weight: 700;
        background: url('https://image.dallalive.com/svg/20200806/arrow_left_b_on.svg') left center no-repeat;
      }
    }
    .nextButton {
      font-size: 14px;
      font-weight: 700;
      color: #bdbdbd;
      padding-right: 24px;
      background: url('https://image.dallalive.com/svg/20200806/arrow_right_g.svg') right center no-repeat;

      &.active {
        color: #000;
        font-weight: 700;

        background: url('https://image.dallalive.com/svg/20200806/arrow_right_b_on.svg') right center no-repeat;
      }
    }
  }

  .myRanking {
    overflow: hidden;
    position: relative;

    .profileItme {
      margin-left: auto;
      flex: 1;
    }

    &__profile {
      background: $MAINCOLOR;

      // & > div:first-child {
      //   position: absolute;
      //   z-index: 0;
      //   top: 0;
      //   left: calc(50% - 210px);
      // }
      &__wrap {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 7px 0;
        position: relative;
        z-index: 2;
      }

      .colorWhite {
        color: #fff;
      }
      .nickNameBox {
        color: #fff;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 8px;
      }

      .countBox {
        &__item {
          color: #fff;
        }
      }

      &--fixed {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 3;
      }
    }

    &__left {
      flex-basis: 80px;
      text-align: center;

      &--profile {
        flex: 1;
      }

      &--title {
        font-size: 12px;
        line-height: 13px;
        color: #757575;
      }

      &--now {
        font-size: 24px;
        height: 26px;
        line-height: 26px;
        color: #000;
        font-weight: 700;
        margin-top: 4px;
        margin-bottom: 1px;
      }

      &--point {
        padding-top: 12px;
        font-size: 12px;
        letter-spacing: -0.3px;
        color: #424242;
      }

      &--ranking {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 20px;
        margin: 0 auto 4px auto;
        border-radius: 12px;
        background-color: #616161;
        font-size: 12px;
        color: #fff;
      }
    }

    &__right {
      flex: 1;
    }

    &__rightWrap {
      display: flex;
      align-items: center;
    }
  }

  .rankingChange {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;

    &__up {
      color: #eb2828;

      &::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 1px;
        background: url('./static/ico-ranking-up@2x.png') no-repeat;
        background-size: 100%;
        background-position: 0px 1px;
      }

      &--profile {
        color: #ff8282;
        font-size: 12px;
        &::before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;

          margin-right: 1px;
          background: url('./static/ico-ranking-profile-up@2x.png') no-repeat;
          background-size: 100%;
          background-position: 0px 1px;
        }
      }
    }

    &__down {
      color: #375cf1;

      &::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 1px;
        background: url('./static/ico-ranking-down@2x.png') no-repeat;
        background-size: 100%;
        background-position: 0px 1px;
      }

      &--profile {
        color: #56d6fe;
        font-size: 12px;
        &::before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;

          margin-right: 1px;
          background: url('./static/ico-ranking-profile-down@2x.png') no-repeat;
          background-size: 100%;
          background-position: 0px 1px;
        }
      }
    }

    &__new {
      color: #ff9c00;
      text-transform: uppercase;
    }

    &__stop {
      &::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-top: 2px;
        margin-right: 1px;
        background: url('./static/ico-ranking-stop@2x.png') no-repeat;
        background-size: 100%;
      }

      .textIndent {
        display: inline-block;
        overflow: hidden;
        text-indent: -10000px;
      }
    }
  }

  .thumbBox {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;

    &__frame {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }

    &__pic {
      margin-top: 13px;
      width: 71%;
      border-radius: 50%;
    }

    &__profile {
      flex-basis: 100;

      .thumbBox__frame {
        width: 100px;
      }
      .thumbBox__pic {
        justify-content: center;
        width: 70px;
      }
    }
  }

  .rankingList {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 12px 0;
    border-bottom: 1px solid $lighterGray;
    background-color: #fff;

    .thumbBox {
      width: 60px;
      height: 60px;
      margin-right: 6px;
      min-width: 60px;

      &__pic {
        margin-top: 0;
        width: 100%;
      }
    }
    .nickNameBox {
      margin-top: 0;
      font-size: 14px;
    }

    .countBox {
      padding-left: 0;
    }

    .myRanking__left--point {
      padding-top: 0px;
    }

    .myRanking__img {
      margin-right: 2px;
    }

    .liveBox {
      top: 12px;
      right: 12px;
    }
  }

  .levelBox {
    display: inline-block;
    padding: 0 10px;
    border-radius: 13px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -1px;
    text-align: center;
    color: #ffffff;

    &__lv0 {
      background-color: #9e9e9e;
    }

    &__lv1 {
      background-color: #faa118;
    }

    &__lv2 {
      background-color: #5dc62a;
    }

    &__lv3 {
      background-color: #4692e9;
    }

    &__lv4 {
      background-color: #f54640;
    }

    &__lv5 {
      background-image: linear-gradient(to right, #7f18ff, #f52d5b 51%, #ffbf03);
    }
  }

  .countBox {
    padding-left: 15px;

    &__item {
      display: inline-block;
      margin-right: 10px;
      font-size: 12px;
      letter-spacing: -0.3px;
      color: #424242;
      .ico-people {
        width: 16px;
        height: 16px;
      }
      .count {
        display: inline-block;
        margin-left: 1px;
        font-style: normal;
        vertical-align: -1px;
      }
    }

    &--profile {
      display: flex;
      flex-direction: column;
      padding-left: 0px;
    }

    &__block {
      display: flex;
      justify-content: center;
      margin-bottom: 2px;
    }
  }

  .fanGoodBox {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 22px;
    padding: 0px 7px;
    background-color: #ec455f;
    border-radius: 14px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;

    i.icon {
      width: 22px;
      height: 22px;
      display: inline-block;
      text-indent: -9999px;

      &--whiteLike {
        background-image: url(https://image.dallalive.com/svg/like_w_s.svg);
        background-size: 22px;
      }
    }

    & img {
      width: 22px;
      height: 22px;
    }

    & span {
      line-height: 24px;
      letter-spacing: -0.4px;
    }
  }

  .nickNameBox {
    align-items: center;
    flex-direction: column;
    margin-top: 8px;
    font-size: 16px;
    color: #000;
    font-weight: bold;

    .nickNameImg {
      display: flex;
      align-content: center;
      margin-top: 4px;
      margin-right: auto;
    }

    .genderBox {
      display: inline-block;
      text-indent: -10000px;
      background-size: 100%;
      vertical-align: middle;

      &.korea-m {
        margin-left: 2px;
        border: 1px solid;
      }
    }
  }

  .medalBox {
    position: absolute;
    top: 0;
    left: 8px;
    margin-top: 2px;
    font-size: 12px;
    letter-spacing: -0.3px;
    text-align: center;
    font-weight: 700;

    .medal {
      background-size: contain;
      text-indent: -10000px;
    }

    &--top1 {
      width: 38px;
      height: 42px;
      background: url(https://image.dallalive.com/main/200714/ico-ranking-gold.png) no-repeat center center;
    }

    &--top2 {
      width: 28px;
      height: 36px;
      background: url(https://image.dallalive.com/main/200714/ico-ranking-silver.png) no-repeat center center;
    }

    &--top3 {
      width: 28px;
      height: 36px;
      background: url(https://image.dallalive.com/main/200714/ico-ranking-bronze.png) no-repeat center center;
    }
  }

  .liveBox {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.25px;
    text-align: center;
    color: #ec455f;
    font-weight: 700;

    &__img {
      width: 28px;
    }
  }

  .userRanking {
    .TopBox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 12px 0;
      background: $lighterGray;

      .thumbBox {
        width: 100px;
        height: 100px;
        margin: 0 auto;
      }

      .countBox {
        margin-top: 7px;

        &__item {
          &--point {
            margin-top: 3px;
          }
        }
      }

      .iconBox {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        margin-top: 4px;
      }

      &__item {
        position: relative;
        padding: 9px;
        background-color: #fff;
        text-align: center;
        width: 49.5%;

        .nickNameBox {
          // flex-direction: row;
          // justify-content: center;
        }

        &:first-child {
          width: 100%;
          padding-top: 116px;
          margin-bottom: 4px;
          .nickName {
            display: flex;
            justify-content: center;
            font-size: 18px;
          }

          .thumbBox {
            width: 128px;
            height: 128px;
            position: absolute;
            top: 2px;
            left: 0;
            right: 0;

            &__pic {
              margin-top: 17px;
            }
          }

          .nickNameBox {
            font-size: 16px;

            .iconBox {
              margin-left: 6px;
            }
          }

          .countBox {
            border-top: 0;
            margin-top: 2px;

            &__item {
              &--point {
                display: inline-block;
              }
            }

            // .countBoxInner {
            //   display: inline-block;
            // }
          }
        }
      }
    }
  }

  .specialDj {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    padding: 0 4px;
    margin-left: 2px;
    border-radius: 10px;
    background-color: #ec455f;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    font-weight: 300;
    font-style: normal;
  }

  .levelListBox {
    display: flex;
    align-items: center;
    position: relative;
    padding: 4px 12px;
    border-bottom: 1px solid $lighterGray;
    background-color: #fff;

    .thumbBox {
      width: 100px;
      height: 100px;
      margin-right: 2px;
      min-width: 100px;

      &__pic {
        margin-top: 13px;
        width: 74px;
      }

      &__frame {
        position: absolute;
        left: 50%;
        width: 100px;
        transform: translateX(-50%);
      }
    }

    .textBox {
      width: calc(100% - 150px);
    }

    .nickNameBox {
      width: 100%;
      margin-top: 4px;
      padding-left: 5px;
      font-size: 14px;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    .bestFanBox {
      display: flex;
      height: 18px;
      margin-top: 4px;
      font-size: 12px;
      color: $MAINCOLOR;
      align-items: center;
      &__label {
        min-width: fit-content;
        margin-right: 4px;
        padding: 0 3px;
        height: 16px;
        color: #757575;
        background-color: $lighterGray;
        border-radius: 20px;
        font-size: 12px;
        line-height: 16px;
      }

      &__nickNm {
        // max-width: 80px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        line-height: 16px;
      }

      &__icon {
        color: #424242;
        white-space: nowrap;
        &::before {
          display: inline-block;
          vertical-align: middle;
          content: '';
          width: 16px;
          height: 16px;
          background: url('https://image.dallalive.com/svg/ico_like_g_s.svg') no-repeat 0 0;
        }
      }
    }

    .countBox {
      height: 18px;
      margin-top: 4px;
      padding-left: 5px;
      font-size: 12px;
      & > span {
        margin-right: 6px;
        font-size: 12px;
        letter-spacing: -0.3px;
        word-spacing: -3px;
        & > img {
          width: 16px;
          height: 16px;
          margin-bottom: 2px;
        }
      }
    }

    .liveBox {
      top: 12px;
      right: 12px;
    }

    &__levelBox {
      position: relative;
      width: 40px;
      text-align: center;
      &--levelText {
        position: absolute;
        bottom: 22px;
        left: 15px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 21px;
      }
      &--rankText {
        width: 40px;
        height: 20px;
        border-radius: 12px;
        background-color: #616161;
        color: #fff;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        line-height: 21px;
      }
      &--rank {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 44px;
        height: 22px;
        margin-right: 10px;
        background-color: #616161;
        border-radius: 14px;
        font-weight: bold;
        font-size: 16px;
        color: #fff;
        text-align: center;
      }
      &--updown {
        text-align: center;
        height: 12px;
        &__up {
          color: #eb2828;
          &::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 1px;
            background: url('./static/ico-ranking-up@2x.png') no-repeat;
            background-size: 100%;
            background-position: 0px 1px;
          }
        }

        &__down {
          color: #375cf1;
          &::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 1px;
            background: url('./static/ico-ranking-down@2x.png') no-repeat;
            background-size: 100%;
            background-position: 0px 1px;
          }
        }

        &__new {
          display: block;
          height: 12px;
          color: #ff9c00;
          text-transform: uppercase;
        }
      }
      &--top1 {
        width: 38px;
        height: 46px;
      }
      &--top2 {
        width: 32px;
        height: 38px;
      }
      &--top3 {
        width: 32px;
        height: 38px;
      }
    }
  }

  .rewordBox {
    overflow: hidden;
    position: relative;
    padding: 15px 0 8px;
    background: url('https://image.dallalive.com/ranking/reward_pop_bg@2x.png') no-repeat;
    background-size: cover;
    text-align: center;

    &__top {
      color: #fff;
      font-size: 22px;
      font-weight: 700;
      line-height: 22px;

      span {
        display: block;
        font-size: 14px;
        font-weight: 500;
      }
    }

    &__btnGet {
      margin-top: 13px;
      width: 161px;
      height: 32px;
      border-radius: 16px;
      border: 2px solid #febd56;
      background-color: #ffffff;
      font-weight: 700;
    }

    &__character1 {
      position: absolute;
      left: -15px;
      bottom: 0;
      width: 92px;
      height: 97px;
      background: url('https://image.dallalive.com/ranking/reward_pop_character1@2x.png') no-repeat;
      background-size: 100%;
    }

    &__character2 {
      position: absolute;
      right: -25px;
      bottom: 0;
      width: 103px;
      height: 89px;
      background: url('https://image.dallalive.com/ranking/reward_pop_character2@2x.png') no-repeat;
      background-size: 100%;
    }
  }
}
