@import '../../../../../styles/variables';
@import "components/ui/_mixin.scss";

#bc_setting_title {
  padding: 0 16px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 12px;
    & > span:first-child {
      font-size: 14px;
    }
  }

  textarea {
    width: 100%;
    height: 100px;
    margin: 8px 0;
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    &::placeholder {
      font-size: 14px;
      color: #bdbdbd;
      line-height: 22px;
    }

    &:disabled {
      border: 1px solid $lightGray;
      background-color: #f5f5f5;
    }
  }
  .buttonWrap {
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    &__delete {
      width: 60px;
      height: 32px;
      border: 1px solid #757575;
      border-radius: 8px;
    }

    &__cancle {
      width: 60px;
      height: 32px;
      background-color: #757575;
      border-radius: 8px;
      color: #fff;
      float: right;
      margin-right: 4px;
    }

    &__add {
      width: 60px;
      height: 32px;
      background-color: $MAINCOLOR;
      border-radius: 8px;
      color: #fff;
      float: right;

      &.disabled {
        background-color: $mediumGray;
      }
    }
  }

  .contentsWrap {
    margin-top: 32px;
    & > p {
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: bold;
      line-height: 18px;
      & > span {
        margin-left: 8px;
        font-weight: normal;
        color: $MAINCOLOR;
      }
    }

    & > button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 14px 8px 14px 16px;
      margin-bottom: 4px;
      background-color: #fff;
      border: 1px solid $lightGray;
      border-radius: 12px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.35px;
      text-align: left;
      white-space: break-spaces;
      word-break: break-all;
      &.on::after {
        display: inline-block;
        width: 24px;
        min-width: 24px;
        height: 24px;
        min-height: 24px;
        background: url(../static/radio_on.svg);
        content: '';
      }
      &::after {
        display: inline-block;
        width: 24px;
        min-width: 24px;
        height: 24px;
        min-height: 24px;
        background: url(../static/radio_off.svg);
        content: '';
      }
    }
  }
}

#bc_setting_quick {
  padding: 0 16px;

  .title {
    margin-bottom: 23px;
    font-size: 14px;
    line-height: 16px;
  }

  .contents {
    margin-bottom: 27px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 32px;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 4px;
      span {
        color: $MAINCOLOR;
      }
      button {
        padding: 8px 17px;
        background-color: $MAINCOLOR;
        border-radius: 8px;
        color: #fff;
        font-size: 14px;
        font-weight: 100;
        line-height: 16px;
        float: right;
      }
    }

    &__inputWrap {
      display: flex;
      margin-bottom: 4px;
      padding: 13px 16px;
      background-color: #fff;
      border: 1px solid $lightGray;
      border-radius: 12px;

      & > span {
        display: inline-block;
        min-width: 56px;
        font-size: 12px;
        font-weight: 100;
      }

      &--inputTitle {
        line-height: 18px;
      }

      &--title {
        line-height: 24px;
      }

      & > input {
        width: calc(100% - 56px);
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
      }

      & > textarea {
        width: calc(100% - 56px);
        height: 24px;
        border: 0px;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        resize: none;
        overflow-y: hidden;
        word-break: break-all;
      }
    }
  }
}

#bc_seeting_listen {
  padding: 4px 16px;

  .radio_btn_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px 10px 16px;
    border-radius: 12px;
    background-color: $white;
    color: $black;
    font-size: 14px;
    font-weight: $regular;
    line-height: 1.14;
    letter-spacing: -0.35px;

    & ~ .radio_btn_container {
      margin: 4px 0;
    }

    .radio_btn {
      &.active {
        & ~ .check_circle {
          background-color: $MAINCOLOR;
          border-color: $MAINCOLOR;
          &::after {
            transform: scale(1);
            transition: all 0.1s ease;
          }
        }
      }
    }

    .check_circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid #bdbdbd;
      background-color: transparent;
      &::after {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $white;
        transform: scale(0);
        transition: all 0.1s ease;
      }
    }
  }
}

#bc_setting_join_close {
  padding: 0 16px;
  .contentsWrap {
    margin-bottom: 30px;
    &__title {
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: bold;
      line-height: 18px;
    }

    &__sub {
      margin-top: 8px;
      font-size: 14px;
      font-weight: 100;
      line-height: 20px;
    }

    & > span {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      height: 44px;
      margin-bottom: 4px;
      background-color: #fff;
      border-radius: 12px;
      text-align: left;
      padding: 0 0 0 16px;
      font-size: 16px;
      font-weight: 800;
      color: #000000;

      & > span {
        height: 16px;
        margin-left: 12px;
        font-size: 14px;
        color: #757575;
      }

      & > button {
        position: absolute;
        top: 50%;
        right: 16px;
        width: 51px;
        height: 31px;
        background: url(../../ic_alarmtoggleoff.svg) no-repeat center center / 100%;
        transform: translateY(-50%);
        &.on {
          background: url(../../ic_alarmtoggleon.svg) no-repeat center center / 100%;
        }
      }
    }
  }
}
