@import "components/ui/_mixin.scss";

#setting #greeting { 
  .subContent {
    position: relative;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    .section {
      position: relative;
      @include flex(flex-start, flex-start, column);
      width: 100%;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0px;
      }
      .topText {
        width: 100%;
        @include font(13px, $SemiBold, #303030);
        margin-bottom: 6px;
      }      
      .sectionTitle {
        width: 100%;
        @include font(20px, $SemiBold, #202020);
        margin-bottom: 10px;
        .point {
          margin-left: 4px;
          @include font(20px, $SemiBold, #FF3C7B);
        }
      }
      .radioWrap {
        position: relative;
        @include flex(flex-start, flex-start, column);
        width: 100%;         
      }
    }
  }
}