@import "components/ui/_mixin.scss";

$btnActive : #FF3C7B;
$btnDisable : #FFD8E4;
$errorMsg : #FF1919;

#signPage {
  .signField {
    position: relative;
    width: 100%;
    padding: 20px 24px;
    .title {
      width: 100%;
      height: 100px;
      white-space:pre-wrap;
      letter-spacing: -1px;
      h2 {
        line-height: 36px;
        @include font(28px, bold, #202328);
      }
      h3 {
        line-height: 22px;
        @include font(14px, 400, #999);
      }
    }
    .inputWrap {
      margin-bottom: 12px;
      &:last-of-type {
        margin-bottom: 32px;
      }
      .inputItems {
        .inputBox {
          position:relative;
          flex:1;
          @include flex(center);
          height:50px;
          border-radius:16px;
          border:1px solid #F6F6F6;
          background-color:#F6F6F6;
          &.focus {
            border-color:#FF3C7B;
            background-color:white;
          }
          input {
            flex:1;
            width:100%;
            margin:0 16px;
            @include font(15px,400,#202020);
            &::placeholder {
              color:#999;
            }
          }
        }
        .textLog {
          display:none;
          width: 100%;
          @include font(12px, 400, #333333);
          margin-top:6px;
          white-space: nowrap;
          text-indent:8px;
        }
        &.success {          
          .textLog {
            display:block;
            color:#4569F8;
          }
        }
        &.error {
          .inputBox {
            border-color:#FFF1F1;
            background-color:#FFF1F1;
          }
          .textLog {
            display:block;
            color:#FF1919;
          }
        }
      }
    }
    .submitBtn {
      width:100%;
    }
  }
  .profileUpload {
    margin-bottom: 24px;
    text-align: center;
    &.top {
      margin-top: 10px;
    }
    input {
      position: absolute;
      height: 0;
      width: 0;
    }
    .uploadImg {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      border: 1px solid #202020;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    div.on {
      img {
        display: none;
      }
    }
    label {
      display: block;
      position: relative;
      width: 72px;
      margin: 0 auto;
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        bottom: -5px;
        right: -5px;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        @include BGIMG("/common/input/input-photo.png");
      }
    }

    .img-text {
      padding-top: 8px;
      font-size: 14px;
      color: black;
      font-weight: 600;
      letter-spacing: -0.5px;
      text-align: center;
      transform: skew(-0.03deg);
    }
  }
}
