@import "components/ui/_mixin.scss";

$btnActive : #FF3C7B;
$btnDisable : #FFD8E4;
$errorMsg : #FF1919;

#signPage {
  .signField {
    position: relative;
    width: 100%;
    padding: 20px 24px;
    .title {
      width: 100%;
      height: 100px;
      white-space:pre-wrap;
      letter-spacing: -1px;
      h2 {
        line-height: 36px;
        @include font(28px, bold, #202328);
      }
      h3 {
        line-height: 22px;
        @include font(14px, 400, #999);
      }
    }
    .inputWrap {
      margin-bottom: 12px;
      &:last-of-type {
        margin-bottom: 32px;
      }
      .inputItems {
        .inputBox {
          position:relative;
          flex:1;
          @include flex(center);
          height:50px;
          border-radius:16px;
          border:1px solid #F6F6F6;
          background-color:#F6F6F6;
          &.focus {
            border-color:#FF3C7B;
            background-color:white;
          }
          input {
            flex:1;
            width:100%;
            margin:0 16px;
            @include font(16px,$Bold,#303030);
            &::placeholder {
              color:#666;
            }
            &:disabled{
              color: #666;
              opacity: 1;
            }
          }
        }
        .inputBtn {
          background-color: $DOWNCOLOR;
        }
        .textLog {
          display:none;
          width: 100%;
          @include font(12px, 500, #333333);
          margin-top:6px;
          white-space: nowrap;
          text-indent:8px;
        }
        &.success {          
          .textLog {
            display:block;
            color:#4569F8;
          }
        }
        &.error {
          .inputBox {
            border-color:#FFF1F1;
            background-color:#FFF1F1;
          }
          .textLog {
            display:block;
            color:#FF1919;
          }
        }
      }
    }
    .submitBtn {
      width:100%;
    }
  }
  .profileUpload {
    margin-bottom: 24px;
    text-align: center;
    &.top {
      margin-top: 10px;
    }
    input {
      position: absolute;
      height: 0;
      width: 0;
    }
    .uploadImg {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      border: 1px solid #202020;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    div.on {
      img {
        display: none;
      }
    }
    label {
      display: block;
      position: relative;
      width: 72px;
      margin: 0 auto;
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        bottom: -5px;
        right: -5px;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        @include BGIMG("/common/input/input-photo.png");
      }
    }

    .img-text {
      padding-top: 8px;
      font-size: 14px;
      color: black;
      font-weight: 600;
      letter-spacing: -0.5px;
      text-align: center;
      transform: skew(-0.03deg);
    }
  }
  .agree {
    padding: 20px 0px 32px;
    .agreeTitle {
      margin-bottom: 24px;
      @include font(18px, 700, #202328);
    }
    .agreeWrap {
      position: relative;
      @include flex(center, center, column);
      width: 100%;
      .agreeListAll {
        position: relative;
        @include flex(center);
        width: 100%;
        .checkinfo {
          @include font(14px, 500, #212429);
        }
      }
      .agreeListWrap {
        position: relative;
        @include flex(center, center, column);
        width: 100%;
        padding-top: 16px;
        margin-top: 16px;
        border-top: 1px solid #F2F2F2;
        .agreeList {
          position: relative;
          @include flex(center);
          width: 100%;
          margin-bottom: 18px;                    
          .checkinfo {
            @include font(14px, 400, #43464A);
          }               
          &:last-child {
            margin-bottom: 0px;   
          }    
        }
      }
      .inputLabel {
        flex: 1;
        @include flex(center);
        cursor: pointer;
        .blind {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          overflow: hidden;
          clip: rect(0 0 0 0);
        }
        .checkIcon {
          flex: none;
          display: inline-block;
          width: 23px; height: 23px;
          margin-right: 10px;
          border-radius: 50%;
          background-image: url("https://image.dalbitlive.com/common/input/checkbox-default.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;              
        }  
        .blind:checked + .checkIcon{
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46'%3E%3Cg transform='translate(16705 545)'%3E%3Ccircle cx='23' cy='23' r='23' transform='translate(-16705 -545)' fill='%23ff3c7b'/%3E%3Cpath d='M12453,11916.979h-10v-4h10v-20h4v24Z' transform='translate(-17066.953 -17746.57) rotate(45)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E ");
        }
        .policyBtn {
          margin-left: auto;
          @include font(13px, 400, #999999);
          text-decoration: underline;
        }
      }
    }
  }
}
