@import '../../../styles/variables';

#drawEventPage{
    position: relative;
    width: 100%;
    .top{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        z-index: 100;
        .header{
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #eee;
            box-sizing: border-box;
            &__left{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                height: 100%;
            }
            &__center{
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 70%;
                height: 100%;
                margin:0 auto;
            }
            &__title{
                width: 100%;
                font-size: 18px;
                font-weight: 700;
                color: #111;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &__back{
                width: 50px;
                height: 100%;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 23' fill='%23333'%3E%3Cpath d='M3.314 10h22.5a1.5 1.5 0 011.5 1.5 1.5 1.5 0 01-1.5 1.5h-22.5v-3z'/%3E%3Cpath d='M0 11.314L10.253 1.061a1.5 1.5 0 012.121 0 1.5 1.5 0 010 2.121L2.121 13.435 0 11.314z'/%3E%3Cpath d='M2.122 9.193l10.253 10.253a1.5 1.5 0 010 2.121 1.5 1.5 0 01-2.121 0L0 11.314l2.121-2.121z'/%3E%3C/svg%3E") center no-repeat;
                background-size: 17px auto;
            }
        }
    }
    .content{
        position: relative;
        width: 100%;
        margin-top: 50px;
        background: url("https://image.dalbitlive.com/event/draw/content__bg.png") no-repeat center / 100% auto;
        .topImg{
            width: 100%;
            &Wrap{
                position: relative;
                width: 100%;
            }
        }
        .ticket{
            &Wrap{
                position: absolute;
                top:20.45%;
                left: 0;
                width: 100%;
                height: 11.94%;
                background: url("https://image.dalbitlive.com/event/draw/ticket__flatcard.png") no-repeat center / 100% auto;
                &.fixed{
                    position:fixed;
                    top: 50px;
                    left: 0;
                    width: 100%;
                    height: 40px;
                    background: url("https://image.dalbitlive.com/event/draw/ticket__fixed.png") no-repeat center / 100% auto;
                    z-index: 10;
                    .ticketBtn{
                        background: url("https://image.dalbitlive.com/event/draw/ticket__button.png") no-repeat center / 100% auto;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 80px;
                        height: 24px;
                        line-height: 24px;
                        padding-left: 30px;
                        right: 15px;
                        font-size: 13px;
                        font-weight: 600;
                        color: #5a330c;
                        box-sizing: border-box;
                    }
                }
            }
            &Btn{
                display: flex;
                align-items: center;
                background: url("https://image.dalbitlive.com/event/draw/ticket__button.png") no-repeat center / 100% auto;
                width: 22%;
                height: 39%;
                align-items: center;
                position: absolute;
                top: 25%;
                padding-left: 8.5%;
                right: 15px;
                font-size: 13px;
                font-weight: 600;
                color: #5a330c;
                box-sizing: border-box;
            }
        }
        .myWinningBtn{
            position: absolute;
            top: 86%;
            left: 50%;
            transform: translateX(-50%);
            width: 41%;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
            img{
                width: 100%;
            }
        }
        .board{
            &More{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 36px;
                background: #dbc39d;
                border-radius: 8px;
                font-size: 15px;
                color: #5a330c;
                font-weight: 700;
                margin: 8px 0 15px 0;
                &Wrap{
                    width: 100%;
                    padding: 0 18px;
                    box-sizing: border-box;
                }
                &Left{
                 position:absolute;   
                 left:7%;
                 width:26px;
                 height:26px;
                 background: url("https://image.dalbitlive.com/event/draw/boardLeft.png") no-repeat center / contain;
                 cursor: pointer;
                }
                &Right{
                 position:absolute;   
                 right:7%;
                 width:26px;
                 height:26px;
                 background: url("https://image.dalbitlive.com/event/draw/boardRight.png") no-repeat center / contain;
                 cursor: pointer;
                }
                img{
                    height: 100%;
                    margin-right: 2px;
                }
                .refresh{
                    position: absolute;
                    right: 7%;
                    width: 26px;
                    height: 26px;
                    background: url("https://image.dalbitlive.com/event/draw/refresh.png") no-repeat center / contain;
                }
            }
        }
        .present{
            width: 100%;
        }
    }
    .footer{
        width: 100%;
        background: #313131;
        margin-top: -40px;
        img{
            width: 100%;
        }
    }
    .button{
        &Draw{
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom:30px;
            left:50%;
            transform: translateX(-50%);
            width:183px;
            height: 45px;
            background: #6836e9;
            border-radius: 30px;
            box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
            font-size:15;
            font-weight: 700;
            color: #fff;
            img{
                width: 97px;
                margin-right: 2px;
            }
        }
    }
}
.splitOut {
    animation: out 1400ms cubic-bezier(0.5, 0.02, 0.5, 0.99) forwards;
    animation-delay: 0.5s;
}

@keyframes out {
    0% {
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
    }
    40% {
        transform: rotate(-60deg);
        opacity: 1;
    }
    80% {
        transform: translateY(100px) rotate(10deg);
        opacity: 0.8;
    }
    100%{
        transform: translateY(130px) rotate(10deg);
        opacity: 0;
    }
}