@import "components/ui/_mixin.scss";

.partsSelect {
  width:100%;
  padding:22px 16px 28px;
  .partsGroup {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:16px;
    .partsItem {
      min-width:70px;min-height:70px;
      background-color:#999;
      border-radius:12px;
      overflow:hidden;
      box-shadow:0 2px 4px rgba(0,0,0,.16);
      cursor:pointer;
      img {
        width:100%;
      }
    }
  }
}