@import "components/ui/_mixin.scss";

#teamManager {
  #cntWrapper {
    padding:0;
  }
  .teamNotice {
    padding:12px 16px;
    background-color: #FFF5F8;
    div {
      white-space: pre-wrap;
      @include font(14px,$Medium,#303030);
      strong {
        @include font(14px,$SemiBold,$MAINCOLOR);
      }
      span {
        white-space: nowrap;
        @include font(12px,$Regular,#666);
      }
    }
  }
  .teamSymbol {
    @include teamSymbol;
    margin: 30px auto 24px;
  }
  .partsType {
    @include flex(center,center);
    margin-bottom:30px;
    .typeList {
      @include flex(center,center,column);
      margin:0 8px;
      button {
        position:relative;
        @include flex(center,center);
        width:80px;height:80px;
        border-radius:16px;
        overflow:hidden;
        box-shadow:0 2px 4px rgba(0,0,0,.16);
        @include font(20px,$Regular,#666);
        img {
          width:100%;
        }
      }
      $colors : (#DCDCDC,#E9E9E9,#F6F6F6);
      @each $color in $colors {
        $i: index($colors,$color);
        &:nth-child(#{$i}) {
          button {
            background-color:$color;
            &.acitve {
              background-color:#999;
              &::after {
                @include position-top-right;
                content:"";
                display:block;
                width:22px;height:22px;
                margin:6px;
                @include BGIMG('team/partsEdit.png');
              }
            }
          }
        }
      }
      span {
        margin-top:8px;
        @include font(15px,$Regular,#666);
      }
    }
  }
  .teamForm {
    margin-bottom:24px;
    padding:0 16px;
    .inputItems {
      + .inputItems {
        margin-top:16px;
      }
      input:disabled {
        color:#999;
      }
    }
    p.count {
      text-align:right;
      @include font(14px,$Medium,#666);
    }
  }
  .cntTitle {
    span.count {
      margin-left:4px;
      @include font(16px,$Regular,#666);
      strong {
        @include font(18px,$SemiBold,$MAINCOLOR);
      }
    }
  }
  .memberList {
    padding: 16px;
  }
  .listRow {
    margin-bottom:12px;
    .photo {
      @include photoStyle(60px,60px,50%);
      margin-right:8px;
      overflow:hidden;
    }
    .listContent {
      flex:1;
      @include flex($fd: column);
      min-width:0;
      .listItem {
        @include flex(center);
        &:first-child {
          margin-bottom:4px;
        }
        .nick {
          @include font(14px,$Medium,#303030);
          @include fontCut;
        }
        img {
          flex-shrink: 0;
          width: 14px;
          margin-left:4px;
        }
        .iconPoint {
          width:16px;height:16px;
          margin-right:4px;
          @include BGIMG("team/ico_teampoint.png");
        }
        .point {
          @include font(13px,$Medium,black);
        }
      }
    }
    .listBack {
      flex-shrink: 0;
      margin-left:auto;
      padding-left:8px;
      box-sizing: content-box;
      button {
        width:62px;
        line-height:26px;
        @include border($MAINCOLOR,100px);
        @include font(12px,$SemiBold,$MAINCOLOR);
        
      }
    }
  }
  .switchWrap {
    position: relative;
    @include flex(center);
    margin-bottom:30px;
    padding:0 16px;
    .wrapBox {
      @include flex(flex-start,center,column);
      width:100%;
      .title {
        @include font(18px,$SemiBold, #202020);
      }
      .subTitle {
        @include font(12px,$Regular, #666);
      }
    }
    .inputLabel {
      flex-shrink:0;
      @include flex(center);
      margin-bottom:auto;
      cursor: pointer;
      .blind:checked + .switchBtn {
        background: #FF3C7B;
        &::after {
          transform: translate(21px);
        }
      }
      .switchBtn {
        flex-shrink: 0;
        position: relative;
        width: 52px;
        height: 31px;
        border-radius: 100px;
        margin: 0 auto;
        background: #D2D2D4;
        transition: .2s cubic-bezier(.5,0,.5,1);
        &::after {
          content: "";
          @include position-top-left;
          width: 27px;
          height: 27px;
          margin:2px;
          border-radius: 50%;
          background: #fff;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
          transition: .3s cubic-bezier(.5,0,.5,1);
        }
      }
    }       
  }
  .buttonWrap {
    position:-webkit-sticky;
    position:sticky;
    bottom:0;
    margin-top:auto;
    padding: 12px 16px 30px;
    .submitBtn {
      width:100%;
      box-shadow: 0 1px 4px rgba(0,0,0,.16);
    }
  }
}