@import "components/ui/_mixin.scss";

#banner {
  position:relative;
  .swiper-container {
    cursor: pointer;
    &:active {cursor: pointer;}
    .bannerSlide {
      position:relative;
      flex-shrink:0;
      width:100%;
      height:0;
      padding-top:30.558%;
      overflow:hidden;
      img {
        @include position-top-left;
        width:100%;
        height:100%;
        vertical-align: bottom;
        object-fit: cover;
      }
    }
    .swiper-pagination {
      @include swiperPagination;
      cursor:pointer;
      &:after {
        margin-left:4px;
      }
    }
  }
}