@import '../../../../../styles/global';
@import 'components/ui/_mixin.scss';

.rouletteTab {
  background: #097b70;
  .topBanner {
    position: relative;
    img {
      width: 100%;
    }

    .couponBox {
      @include flex;
      padding: 0px 16px;

      .couponCount {
        position: relative;
        flex: 1;
      }

      &__count {
        @include flex(center, center);
        position: absolute;
        left: 18%;
        bottom: 18%;
        width: 64%;
        font-size: 12px;

        .number {
          font-weight: $bold;
          font-size: 26px;
          margin-right: 4px;
          @media (min-width: 560px) {
            font-size: 32px;
          }
        }
        .text {
          margin-top: 6px;
          @media (min-width: 560px) {
            font-size: 16px;
          }
        }
      }
    }

    .buttonBox {
      @include flexbox;
      padding: 3% 16px;

      button {
        flex: 1;
        width: calc(100% - 10px);
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  .giftWinner {
    padding: 0 2% 20px 2%;
    background-color: #097b70;
  }

  .giftWinnerWrap {
    overflow: hidden;
    border-radius: 36px;
    border: 4px solid #1f645e;
  }

  .giftWinnerBox {
    display: flex;
    letter-spacing: -1px;
    font-size: 14px;
    background-color: #fff;

    label {
      width: 35%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #26bbad;
      color: $white;
    }

    .swiper-container-vertical {
      width: 65%;
      height: 40px;
    }
    .gifticon-win-list {
      display: flex;
      align-items: center;
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding: 0 9px;
      box-sizing: border-box;
      font-size: 14px;
      letter-spacing: -1px;

      .time {
        width: 30%;
        max-width: 92px;
        margin-right: 2%;
        color: #757575;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
        letter-spacing: -1px;
      }

      .nick-name {
        width: 70%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
      }
    }
  }

  .rouletteBox {
    position: relative;
    padding: 0px 20px;
    box-sizing: border-box;
    background-image: url('https://image.dallalive.com/event/attend/201019/event_img_02_2@2x.png');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;

    .rouletteMoive {
      position: absolute;
      padding: 0px 20px;
      box-sizing: border-box;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
    }

    .rouletPin {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      width: 36px;
      height: 62px;
    }

    .roulettePanel {
      width: 100%;
    }
  }
}
