@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.rouletteTab {
  .topBanner {
    position: relative;
    img {
      width: 100%;
    }

    button {
      position: absolute;
      bottom: 1.6%;
      left: 29%;
      width: 40%;
    }

    .couponBox {
      &__cnt {
        width: 21%;
        position: absolute;
        left: 17%;
        top: 70.2%;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        line-height: 36px;

        &--num {
          display: inline-block;
          margin-right: 2px;
          font-size: 28px;
          font-weight: $bold;
        }

        & > span {
          display: inline-block;
          margin-top: 6px;
        }

        &.event_cnt {
          left: 62.5%;
          top: 70.2%;
        }
      }
    }
  }

  .giftWinner {
    padding: 0 2% 20px 2%;
    background-color: #097b70;
  }

  .giftWinnerWrap {
    overflow: hidden;
    border-radius: 36px;
    border: 4px solid #1f645e;
  }

  .giftWinnerBox {
    display: flex;
    letter-spacing: -1px;
    font-size: 14px;
    background-color: #fff;

    label {
      width: 35%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #26bbad;
      color: $white;
    }

    .swiper-container-vertical {
      width: 65%;
      height: 40px;
    }
    .gifticon-win-list {
      display: flex;
      align-items: center;
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding: 0 9px;
      box-sizing: border-box;
      font-size: 14px;
      letter-spacing: -1px;

      .time {
        width: 30%;
        max-width: 92px;
        margin-right: 2%;
        color: #757575;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
        letter-spacing: -1px;
      }

      .nick-name {
        width: 70%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
      }
    }
  }

  .rouletteBox {
    position: relative;
    background-image: url('https://image.dalbitlive.com/event/attend/201019/event_img_02_2@2x.png');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    cursor: pointer;

    img {
      max-width: 328px;
    }

    button {
      position: absolute;
      top: 38.5%;
      left: 39.5%;
      width: 22%;
    }
  }
}
