@import "components/ui/_mixin.scss";

.badgeItem {
  flex-shrink:0;
  @include flex(center);
  line-height:18px;
  margin-left:2px;
  padding:0 4px 0 3px;
  border-radius:100px;
  letter-spacing: -.5px;
  @include font(10px,$Medium,white);
  img {
    width:16px;
    height:16px;
  }
  &:first-child {
    margin-left:0;
  }
  @mixin bcsBadge {
    text-indent:-99999px;
  }
  &.bestDj {
    
  }
  &.contentsDj {

  }
  &.specialDj {
    
  }
}