.respansiveBox {
  padding: 0 16px;
}

img {
  vertical-align: middle;
}

.rankTopBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px 8px 16px;
  background: #eee;

  &__update {
    font-size: 12px;
    color: #424242;
  }
}

.rankTab {
  &__btn {
    width: 42px;
    height: 32px;
    margin-right: 2px;
    border-radius: 12px;
    border: solid 1px #e0e0e0;
    background-color: #fff;

    &--active {
      border-color: #632beb;
      background-color: #632beb;
      color: #fff;
    }
  }
}

.todayList {
  height: 36px;
  background-color: #f5f5f5;
  text-align: center;

  &__btn {
    margin: 0 8px;
    height: 36px;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #f5f5f5;

    &--active {
      border-color: #632beb;
      font-weight:600;
      color: #632beb;
    }
  }
}

.myRanking {
  display: flex;
  align-items: center;
  padding: 12px 0 19px 0;

  &__left {
    width: 25%;
    text-align: center;

    border-right: 1px solid #f5f5f5;

    &--title {
      font-size: 12px;
      line-height: 13px;
      color: #757575;
    }

    &--now {
      padding: 6px 0 2px;
      font-size: 18px;
      line-height: 21px;
      color: #000;
      font-weight: 700;
    }

    &--point {
      padding-top: 12px;
      font-size: 12px;
      line-height: 26px;
      letter-spacing: -0.3px;
      color: #424242;
    }

    &--ranking {
      width: 40px;
      height: 20px;
      margin: 0 auto 4px auto;
      border-radius: 12px;
      background-color: #616161;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      color: #fff;
    }
  }

  &__right {
    padding-left: 10px;
  }

  &__rightWrap {
    display: flex;
    align-items: center;
  }
}

.rankingChange {
  font-size: 12px;
  line-height: 13px;
  font-weight: bold;

  &__up {
    display:flex;
    align-content: center;
    justify-content: center;
    color: #eb2828;
    height:12px;

    &::before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 1px;
      background: url('./static/ico-ranking-up@2x.png') no-repeat;
      background-size: 100%;
    }
  }

  &__down {
    color: #375cf1;

    &::before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 1px;
      background: url('./static/ico-ranking-down@2x.png') no-repeat;
      background-size: 100%;
    }
  }

  &__new {
    color: #ff9c00;
  }

  &__stop {
    &::before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-top: 2px;
      margin-right: 1px;
      background: url('./static/ico-ranking-stop@2x.png') no-repeat;
      background-size: 100%;
    }
  }
}

.thumbBox {
  position: relative;
  width: 70px;
  height: 70px;
  text-align: center;

  &__frame {
    position: absolute;
    left: 0;

    &--small{
      width:58px;
      height:58px;
      left:5px;
    }
  }

  &__pic {
    margin-top:10px;
    width:46px;
    height:46px;
    border-radius: 50%;

    &--small{
      margin-top:7px;
      width:40px;
      height:40px;
      justify-content: center;
      align-items: center;
    }
  }
}

.rankingList {
  position: relative;
  padding: 12px 0;
  border-bottom: 1px solid #eee;

  .thumbBox {
    width: 58px;
    height: 58px;
    margin-right: 6px;

    &__pic {
      border-radius: 50%;
    }
  }
  .nickNameBox {
    margin-top: 0;
    font-size: 14px;
  }

  .countBox {
    padding-left: 0;
  }

  .myRanking__left--point {
    padding-top: 5px;
  }
}

.levelBox {
  display: inline-block;
  padding: 0 10px;
  height: 16px;
  border-radius: 13px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;

  &__lv1 {
    background-color: #f5b32f;
  }

  &__lv2 {
    background-color: #85ce32;
  }

  &__lv3 {
    background-color: #4692e9;
  }

  &__lv4 {
    background-color: #f54640;
  }

  &__lv5 {
    background-image: linear-gradient(to right, #7f18ff, #f52d5b 51%, #ffbf03);
  }
}

.countBox {
  padding-left: 15px;

  &__item {
    margin-right: 10px;
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #424242;
  }
}

.nickNameBox {
  margin-top: 8px;
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

.medalBox {
  position: absolute;
  top: 0;
  left: 8px;
  font-size: 12px;
  letter-spacing: -0.3px;
  text-align: center;
  font-weight: 700;
}

.liveBox {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: -0.25px;
  text-align: center;
  color: #ec455f;
  font-weight: 700;
}

.userRanking {
  .TopBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 36px 16px 16px 16px;
    background: #eee;

    .thumbBox {
      margin: 0 auto;
    }

    .countBox {
      margin-top: 7px;
      border-top: 1px solid #f5f5f5;
    }

    &__item {
      position: relative;
      padding: 9px;
      border-radius: 16px;
      border: solid 1px #632beb;
      background-color: #fff;
      text-align: center;
      width: 49%;

      .nickNameBox {
        font-size: 14px;
      }

      &:first-child {
        width: 100%;
        padding-top: 50px;
        margin-bottom: 2%;
        border: solid 2px #632beb;

        .thumbBox {
          position: absolute;
          top: -22px;
          left: calc(50% - 35px);
        }

        .nickNameBox {
          font-size: 16px;
        }

        .countBox {
          border-top: 0;
        }
      }
    }
  }
}

.specialDj {
  display: inline-block;
  height: 16px;
  padding: 0 8px;
  margin-left: 4px;
  border-radius: 10px;
  background-color: #ec455f;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  font-weight: 300;
}
