#DalbitTextArea {
  display: block;
  width: 100%;
  min-height: 280px;
  padding: 19px 22px;
  margin-bottom: 16px;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: -0.4px;
  text-align: left;
  font-family: inherit;
  color: #616161;
  outline: none;
  border: 1px solid #e0e0e0;
  word-break: break-all;
}
