@import '../../../styles/global';

#recommendDj {
  .btn__refresh {
    width:30px;height:30px;
    .refresh-img {
      width: 100%;
      max-width: 32px;
      &.active {
        @include rotate_animation();
      }
    }
  }

  .subContent {
    padding: 0px 16px 50px;
    box-sizing: border-box;
    background-color: #eee;
  }

  .btnBox {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 50px;
    padding: 12px 0 8px 0;
    background-color: $lighterGray;
    box-sizing: border-box;
    z-index: 1;

    button + button {
      margin-left: 2px;
    }

    button {
      padding: 7px 8px;
      box-sizing: border-box;
      color: $black;
      font-size: 12px;
      letter-spacing: -0.35px;
      border: 1px solid $lightGray;
      background: $white;
      border-radius: 12px;
      font-weight: $bold;

      &.active {
        background: $primary;
        color: $white;
      }
    }
  }

  .notice {
    margin-bottom: 4px;
    > img {
      width: 100%;
    }
  }

  .listBox {
    li + li {
      margin-top: 5px;
    }
    .userItem {
      position: relative;
      background: $white;
      border-radius: 16px;
      padding: 12px 16px;
      box-sizing: border-box;

      .fanBoxWrap {
        display: flex;
      }

      .fanBox {
        padding-right: 12px;
        &__thumbnail {
          margin-bottom: 12px;

          img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
          }
        }

        .fanPlus {
          border-radius: 16px;
          border: 1px solid $primary;
          box-sizing: border-box;
          color: $primary;
          width: 100%;
          font-size: 14px;
          text-align: center;
          line-height: 32px;

          &.active {
            background: $primary;
            color: $white;
          }
        }
      }

      .userText {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        &__nickName {
          padding-right: 30px;
          font-size: 16px;
          font-weight: $bold;
          margin-bottom: 2px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        &__genderBox {
          display: flex;
          align-items: center;
          font-size: 12px;
          color: $greishBrown;

          img {
            margin-right: 6px;
            line-height: 24px;
          }
          margin-bottom: 4px;
        }

        &__liveTime {
          margin-bottom: 8px;
          font-size: 14px;
          line-height: 1.29;
          color: $primary;
        }
        &__subject {
          font-size: 14px;
          color: $greishBrown;
          word-break: break-all;
          white-space: pre-wrap;
        }
      }

      .arrowBox {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        > img {
          max-width: 24px;
          width: 100%;
          transition: transform 0.2s ease;
        }

        &.open {
          @extend .arrowBox;
          > img {
            transform: rotate(180deg);
            transition: transform 0.2s ease;
          }
        }
      }
    }
  }

  .liveLink {
    position: absolute;

    right: 8px;
    top: 14px;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    background: url(https://image.dalbitlive.com/svg/live_m.svg) no-repeat center/ 100%;
    text-indent: -9999px;
  }
}
