@import '../../styles/variables';

#clipPage {
  max-width: 640px;
  margin: 0 auto;

  .swiper-container {
    position: relative;
    overflow: hidden;

    .swiper-wrapper {
      display: flex;
      align-items: center;
    }
  }
  .myClip {
    padding: 28px 3% 16px 3%;
    &__title {
      display: flex;
      align-items: center;
      position: relative;
      padding-bottom: 18px;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.17;
      color: #000;
      &::after {
        display: block;
        content: '';
        margin-left: 4px;
        width: 24px;
        height: 24px;
        background: url('./static/infomyclip.png') no-repeat center center;
        background-size: 24px 24px;
      }
    }
  }
  .myClipWrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    li {
      position: relative;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 1px solid rgba(230, 230, 230, 0.8);

      &:last-child {
        border: none;
      }
      em {
        display: block;
        width: 33px;
        height: 33px;
        font-size: 14px;
        letter-spacing: -0.35px;
        font-weight: normal;
        font-style: normal;
        color: #424242;
        border-radius: 50%;
      }
      &.upload {
        em {
          background: #1f9de6 url('./static/upload.svg') no-repeat center center / 24px;
        }
      }
      &.listen {
        em {
          background: #ffa929 url('./static/listen.svg') no-repeat center center / 24px;
        }
      }
      &.like {
        em {
          background: #ec455f url('./static/like.svg') no-repeat center center / 24px;
        }
      }
      &.gift {
        em {
          background: #994bff url('./static/gift.svg') no-repeat center center / 24px;
        }
      }
      span {
        margin-top: 6px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.35px;
        text-align: center;
        color: #424242;
      }
    }
  }
  .btn__refresh {
    position: relative;
    width: 32px;
    height: 32px;
    margin-left: 16px;
    &--active {
      margin-left: 16px;
      img {
        animation: anim 0.36s;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .recomClip {
    padding: 0 16px;
    margin-top: 16px;
    //border-bottom: 4px solid #ebebeb;
    background-color: $white;
    .btn__refresh {
      margin-left: 8px;
      &--active {
        margin-left: 8px;
      }
    }
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 32px;
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.17;
      color: $black;

      &__rightSide {
        display: flex;
        align-items: center;
        margin-left: auto;
      }
      &__date {
        //margin-right: 8px;
        font-size: 12px;
        line-height: 1.08;
        letter-spacing: -0.3px;
        text-align: left;
        font-weight: normal;
        color: #757575;
      }
    }

    .recomClipBox {
      display: flex;
      flex-wrap: wrap;
      margin-top: -10px;

      .recomClipItem {
        overflow: hidden;
        position: relative;
        width: 31%;
        margin: 10px 3% 0 0;
        border-radius: 16px;
        &:nth-child(3n) {
          margin-right: 0;
        }
        &__subject {
          position: absolute;
          left: 0;
          top: 0;
          border-bottom-right-radius: 16px;
          width: auto;
          padding: 4px 6px;
          box-sizing: border-box;
          background-color: #000000;
          font-size: 11px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: -0.28px;
          text-align: center;
          color: #ffffff;
        }
        &__thumb {
          img {
            width: 100%;
          }
        }

        &__nickName {
          position: absolute;
          width: 100%;
          bottom: 0;
          padding: 5px 12px;
          text-align: center;
          color: $white;
          font-weight: 600;
          background-color: rgba(0, 0, 0, 0.5);
          font-size: 12px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          word-wrap: normal;
          box-sizing: border-box;
        }
      }
    }
  }

  .rankClip {
    margin-top: 20px;
    &__title {
      padding: 0 16px 12px 16px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: left;
      color: $black;
      button {
        display: block;
        width: 24px;
        height: 24px;
        margin-left: 2px;
        background: url('./static/arrow_right.svg');
      }
    }
    &__btn {
      font-size: 14px;
    }
    .swiper-container {
      margin-left: 16px;
    }
    .slideWrap {
      position: relative;
      width: 92px;

      flex-shrink: 0;

      &__thumb {
        img {
          width: 100%;
          border-radius: 20px;
        }
      }

      &__iconNew {
        position: absolute;
        bottom: 58px;
        right: 0;
        display: block;
        width: 20%;
        border-radius: 50%;

        img {
          width: 100%;
        }
      }

      &__subject {
        margin-top: 18px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
      }

      &__nicknName {
        margin-top: 12px;
        // font-size: 12px;
        text-align: center;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
        color: $greishGray;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
      }
    }
  }

  .categoryBest {
    margin-top: 20px;
    background-color: $primary;

    .swiper-wrapper {
      align-items: center;
    }
    .swiper-pagination-bullets {
      bottom: 20px;
    }
    .swiper-pagination-bullet {
      margin: 0 1.4px;
      width: 6px;
      height: 6px;
    }
    .swiper-pagination-bullet-active {
      background: $primary;
      width: 14px;
      height: 6px;
      border-radius: 10px;
      transition: opacity 0.5s ease-in-out;
    }
    .slideWrap {
      padding: 24px 25px;
      width: 88%;
      min-height: 319px;
      //   min-width: 520px;
      border-radius: 20px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: $white;
      box-sizing: border-box;
      transform: scaleY(0.9);
      transition: transform ease 0.5s;
      &.swiper-slide-active {
        margin: 16px 0;
        transform: scaleY(1);
      }
      &__title {
        font-size: 18px;
        padding-bottom: 5px;
        font-weight: 700;
      }

      &__btn {
        position: absolute;
        right: 25px;
        font-size: 14px;
        padding-right: 28px;
        background: url('./static/arrow_down_g.svg') no-repeat right;
      }

      &__subTitle {
        margin-bottom: 26px;
        font-size: 14px;
      }
    }

    .categoryBestItem {
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      &__num {
        width: 20px;
        font-weight: 700;
      }

      &__thumb {
        width: 54px;
        margin-right: 8px;

        img {
          width: 100%;
          border-radius: 12px;
        }
      }

      &__text {
        width: calc(100% - 84px);

        &--subject,
        &--nickName {
          width: 100%;
          font-size: 14px;
          font-weight: 700;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          word-wrap: normal;
        }

        &--nickName {
          padding-top: 4px;
          font-size: 12px;
          color: $greishGray;
          font-weight: 500;
        }
      }
    }
  }

  .liveChart {
    .fixedArea {
      &.on {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 7;
        width: 100%;
      }
    }
    &__titleBox {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      padding: 16px 16px 8px 16px;
      box-sizing: border-box;
      background-color: $white;

      h2 {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 800;
        letter-spacing: -0.36px;
        font-stretch: normal;
        font-style: normal;
      }

      .sequenceBox {
        display: flex;
        align-items: center;
        margin-left: auto;
        .sequenceItem {
          display: flex;
          align-items: center;
          span {
            padding-right: 5px;
            font-size: 12px;
            color: $greishBrown;
            line-height: 32px;
          }
          &:first-child {
            margin-left: 0;
          }

          button {
            margin-left: 2px;
            &.btn__refresh {
              position: relative;
              margin-left: 16px;
              &::before {
                content: '';
                display: block;
                position: absolute;
                left: -8px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 12px;
                background-color: $lightGray;
              }
            }
          }
        }
      }
    }

    .swiper-container {
      // border-bottom: 1px solid #eee;
      background-color: $white;
      margin-top: -1px;
      padding: 0 0 6px 16px;
      .slideWrap {
        width: auto;
        margin-right: 4px;
        font-weight: 600;
        padding: 0 11px;
        border-radius: 12px;
        border: solid 1px $lightGray;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        color: $greishBrown;
        cursor: pointer;
        &.active {
          color: $white;
          border: solid 1px $primary;
          background-color: $primary;
        }
      }
    }

    .chartListDetail {
      padding: 0px 2% 10px 16px;
      .chartListDetailBox {
        &.fixedOn {
          margin-top: 86px;
        }
      }
      .chartListDetailItem {
        display: flex;
        align-items: center;
        padding: 10px 0;

        &__thumb {
          position: relative;
          margin-right: 12px;
          width: 72px;
          .newSpecialIcon {
            position: absolute;
            text-indent: -99999px;
            left: 0px;
            top: 0px;
            width: 51px;
            height: 16px;
            text-indent: -99999px;
            background: url(https://image.dalbitlive.com/svg/ico_speciladj.svg);
          }

          img {
            width: 100%;
            border-radius: 12px;
          }
          &__playTime {
            display: inline-block;
            position: absolute;
            right: 3px;
            bottom: 3px;
            padding: 0 4px;
            height: 14px;
            line-height: 14px;
            background: rgba(0, 0, 0, 0.6);
            color: $white;
            border-radius: 12px;
            height: 14px;
            font-size: 10px;
            font-weight: bold;
          }
        }

        .textBox {
          width: calc(100% - 90px);

          &__iconBox {
            display: inline-block;
            width: 60px;
            height: 30px;
            border: solid 1px;

            &--type {
              font-style: normal;
              font-size: 14px;
              color: $primary;
              font-weight: normal;
              letter-spacing: -0.5px;
            }
          }

          &__subject {
            display: flex;
            align-items: center;
            height: 20px;
            letter-spacing: -0.5px;
            .title {
              color: $greishBrown;
              flex: 1;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              letter-spacing: -0.5px;
              line-height: 1.3;
            }
            .subject {
              font-size: 14px;
              color: $primary;
              font-weight: normal;
              letter-spacing: -0.5px;
            }
          }
          &__nickName {
            display: flex;
            width: 100%;
            margin: 7px 0px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            word-wrap: normal;
            color: $darkGray;
            line-height: 1.3;
            letter-spacing: -0.5px;

            .maleIcon,
            .femaleIcon {
              display: inline-block;
              margin-right: 4px;
              width: 24px;
              height: 16px;
              background: url('./static/male.svg');
              background-color: $white;
              border-radius: 10px;
              margin-left: 1px;
            }
            .femaleIcon {
              background: url('./static/female.svg');
              background-color: $white;
              border-radius: 10px;
            }
          }

          &__subject {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
          }

          i.line {
            flex-basis: 1px;
            height: 10px;
            background: $mediumGray;
            margin: 0px 6px;
          }

          &__nickName {
            font-size: 12px;
          }

          &__detail {
            margin-top: 3px;
            font-size: 12px;
            display: flex;
            align-items: center;
            &--item {
              color: $greishBrown;
              font-size: 12px;
              letter-spacing: -0.5px;
              margin-right: 8px;
              font-weight: 400;

              img {
                display: inline-block;
                margin-right: 2px;
                opacity: 0.8;
              }
            }
          }
        }
      }
    }

    .chartListSimple {
      padding: 16px 16px 12px 16px;

      .chartListSimpleBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &.fixedOn {
          margin-top: 102px;
        }

        .chartListSimpleItem {
          position: relative;
          width: 49%;
          max-height: 330px;
          padding: 10px;
          margin-bottom: 10px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          overflow: hidden;
          border-radius: 16px;
          box-sizing: border-box;
          .dim {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1;
          }
          .topWrap {
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 2;
            &__count {
              display: flex;
              align-items: center;
              &--num,
              &--icon {
                min-width: 16px;
                height: 16px;
                margin-left: 1px;
                font-weight: 600;
                text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.6);
                font-size: 11px;
                letter-spacing: -0.28px;
                color: $white;
              }
            }
            &__status {
              display: flex;
              align-items: center;
            }
          }

          .bottomWrap {
            display: flex;
            flex-direction: column;
            z-index: 2;
            position: absolute;
            bottom: 10px;
            &__typeIcon {
              width: 26px;
              background-color: rgba(254, 189, 86, 0.5);
              height: 16px;
              margin-right: 4px;
              border-radius: 8px;
            }
            &__title {
              max-width: 140px;
              color: $white;
              font-size: 14px;
              font-weight: 600;
              font-style: normal;
              line-height: 1.14;
              letter-spacing: normal;
              text-align: left;
              color: $white;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              word-wrap: normal;
            }
            &__nick {
              color: $white;
              font-size: 12px;
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }
  .refresh-icon {
    position: relative;
    margin-left: 16px;
    &--active {
      margin-left: 16px;
      animation: anim 0.36s;
    }
  }
  .allIcon,
  .twentyIcon,
  .fanIcon {
    display: inline-block;
    width: 24px;
    height: 16px;
    margin-right: 2px;
    font-size: 8px;
    line-height: 15px;
    box-sizing: border-box;
    background: url('./static/allrestrict.svg');
    text-align: center;
    color: $white;
    border-radius: 8px;
  }
  .fanIcon {
    background: url('./static/fanrestrict.svg');
  }
  .twentyIcon {
    background: url('./static/twentyrestrict.svg');
  }
  .maleIcon,
  .femaleIcon {
    width: 24px;
    height: 16px;
    background: url('./static/male.svg');
    background-color: $white;
    border-radius: 10px;
    margin-left: 1px;
  }
  .femaleIcon {
    background: url('./static/female.svg');
    background-color: $white;
    border-radius: 10px;
  }
  .specialIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    line-height: 16px;
    font-size: 10px;
    text-align: center;
    color: $white;
    background-color: rgb(236, 69, 95);
    border-radius: 50%;
  }
  .categoryIcon {
    min-width: 30px;
    background-color: #9e9e9e;
    color: $white;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 8px;
  }

  .fileTopBox {
    padding: 0 16px;

    .tipTabBox {
      margin: 12px 0 28px;

      &__btn {
        width: 50%;
        height: 40px;
        font-size: 14px;
        border: solid 1px $lightGray;
        background-color: $whiteGray;
        color: $mediumGray;

        &:first-child {
          border-radius: 12px 0 0 12px;
        }
        &:last-child {
          border-radius: 0 12px 12px 0;
        }

        &--active {
          background-color: $white;
          color: $primary;
          border-color: $primary;
        }
      }
    }

    .tipContentBox {
      img {
        width: 100%;
      }
    }
  }
  @keyframes anim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .sortTypeWrap {
    .sortBtn {
      font-size: 18px;
      font-weight: normal;
      letter-spacing: -0.36px;
      text-align: left;
      color: $black;
      margin-left: 12px;
      &:nth-child(1) {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: -6px;
          transform: translateY(-50%);
          width: 1px;
          height: 12px;
          background-color: $lightGray;
        }
      }
      &.active {
        font-size: 18px;
        letter-spacing: -0.36px;
        font-weight: 800;
        color: $primary;
      }
    }
  }
  .clipBanner {
    padding: 0 16px;
    margin-top: 16px;
  }
}
