@font-face {
  font-family: 'NotoSans CJK KR';
  src: url('https://image.dalbitlive.com/assets/font/NotoSans-Bold.woff2')
  format('woff2'),
       url('https://image.dalbitlive.com/assets/font/NotoSans-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'NotoSans CJK KR';
  src: url('https://image.dalbitlive.com/assets/font/NotoSans-Medium.woff2')
  format('woff2'),
       url('https://image.dalbitlive.com/assets/font/NotoSans-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'NotoSans CJK KR';
  src: url('https://image.dalbitlive.com/assets/font/NotoSans-Regular.woff2')
  format('woff2'),
       url('https://image.dalbitlive.com/assets/font/NotoSans-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://image.dalbitlive.com/assets/font/Robogo-Bold.woff2')
  format('woff2'),
       url('https://image.dalbitlive.com/assets/font/Robogo-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://image.dalbitlive.com/assets/font/Robogo-Medium.woff2')
  format('woff2'),
       url('https://image.dalbitlive.com/assets/font/Robogo-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://image.dalbitlive.com/assets/font/Robogo-Regular.woff2')
  format('woff2'),
       url('https://image.dalbitlive.com/assets/font/Robogo-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('https://image.dalbitlive.com/assets/font/NotoSansKR-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('https://image.dalbitlive.com/assets/font/NotoSansKR-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('https://image.dalbitlive.com/assets/font/NotoSansKR-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('https://image.dalbitlive.com/assets/font/NotoSansKR-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('https://image.dalbitlive.com/assets/font/NotoSansKR-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('https://image.dalbitlive.com/assets/font/NotoSansKR-black.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('https://image.dalbitlive.com/assets/font/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('https://image.dalbitlive.com/assets/font/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('https://image.dalbitlive.com/assets/font/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 500;
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('https://image.dalbitlive.com/assets/font/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('https://image.dalbitlive.com/assets/font/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'NotoSansCJKKR';
  src: url('https://image.dalbitlive.com/assets/font/NotoSans-Bold.woff2') format('woff2'),
       url('https://image.dalbitlive.com/assets/font/NotoSans-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'NotoSansCJKKR';
  src: url('https://image.dalbitlive.com/assets/font/NotoSans-Medium.woff2') format('woff2'),
       url('https://image.dalbitlive.com/assets/font/NotoSans-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'NotoSansCJKKR';
  src: url('https://image.dalbitlive.com/assets/font/NotoSans-Regular.woff2') format('woff2'),
       url('https://image.dalbitlive.com/assets/font/NotoSans-Regular.woff') format('woff');
  font-weight: 400;
}

div.type1 {
  font-family: 'NotoSansKR', sans-serif;
  font-size: 20px;
}

div.type2 {
  font-family: 'NotoSansKR', sans-serif;
  font-size: 18px;
}

div.type3 {
  font-family: 'NotoSansKR', sans-serif;
  font-size: 16px;
}

div.type4 {
  font-family: 'NotoSansKR', sans-serif;
  font-size: 14px;
}
div.type5 {
  font-family: 'NotoSansKR', sans-serif;
  font-size: 12px;
}

span.light {
  font-weight: 300;
}

span.regular {
  font-weight: 400;
}

span.normal {
  font-weight: 500;
}

span.bold {
  font-weight: 700;
}

span.black {
  font-weight: 900;
}
