@import '../../styles/global.scss';

$dallaWidth: 800px;
.navigation{
  display: flex;
  min-width: $dallaWidth;
  .dalla{
    display: flex;
    margin: 0px auto;
    top: 0px;
    left: 0px;
    height: 68px;
    width: $dallaWidth;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    .logo{
      cursor:pointer;
      display: flex;
      position: relative;
      top: 20px;
      width: 82px;
      height: 29px;
      background: transparent url('./static/dalla_logo.svg') 0% 0% no-repeat padding-box;
    }
    .broadcast{
      cursor:pointer;
      $broadcastWidth: 114px;
      display: flex;
      position: relative;
      top: 16px;
      left: ceil($dallaWidth/2-$broadcastWidth);
      width: $broadcastWidth;
      height: 36px;
      border: 1px solid rgba(226, 226, 226, 1);
      border-radius: 4px;
      align-items: center;
      .icon{
        position: relative;
        left: 24px;
        width: 10px;
        height: 10px;
        .icon_plus {
          background: rgba(22, 22, 22, 1) 0% 0% no-repeat padding-box;
          border-radius: 3px;
          height: 10px;
          width: 1px;
          position: relative;
        }
        .icon_plus:after {
          background: rgba(22, 22, 22, 1) 0% 0% no-repeat padding-box;
          border-radius: 3px;
          content: "";
          height: 1px;
          left: -4.5px;
          position: absolute;
          top: 4.5px;
          width: 10px;
        }
      }
      .text{
        font-size: 14px;
        position: relative;
        left: 26px;
        width: 51px;
        top: -4px;
        height: 14px;
        text-align: left;
        letter-spacing: -0.7px;
        color: #161616;
      }
    }

    .buttonWarp{
      display: flex;
      top: 20px;
      position: relative;
      width: 242px;
      height: 27px;
      align-items: center;
      margin-left: auto;
      .button {
        position: relative;
        width: 27px;
        height: 27px;
      }
      .icon {
        position: relative;
        width: 27px;
        height: 27px;
        background: #000000 0% 0% no-repeat padding-box;
        border: 1px solid #424242;
        .icon_home {
          position: relative;
          width: 20px;
          height: 20px;
          background: #101010 0% 0% no-repeat padding-box;
          border: 3px solid #101010;
        }
        .icon_home:after {
          position: absolute;
          content: "";
          top: 12px;
          margin: auto;
          width: 7px;
          height: 8px;
          transform: matrix(0, 1, -1, 0, 0, 0);
          background: #FFFFFF 0% 0% no-repeat padding-box;
        }
      }
    }

  }
}