@import "components/ui/_mixin.scss";
.inputItems {
  @include flex(center);
  flex-wrap:wrap;
  .title {
    flex:none;
    width:100%;
    margin-bottom:6px;
    @include font(13px,400,#666);
  }
  .inputBox {
    position:relative;
    flex:1;
    @include flex(center);
    height:50px;
    margin-bottom:16px;
    border-radius:16px;
    border:1px solid #F6F6F6;
    background-color:#F6F6F6;
    &.focus {
      border-color:#FF3C7B;
      background-color:white;
    }
    input {
      flex:1;
      margin:0 16px;
      @include font(15px,400,#202020);
      &::placeholder {
        color:#999;
      }
      &:focus {
        &::placeholder {
          color:#F6F6F6;
        }
      }
    }
    button {
      flex-shrink: 0;
      margin-right:16px;
      &.inputDel {
        width:20px;
        height:20px;
        @include BGIMG('common/inputDel.png');
      }
      &.inputChange {
        letter-spacing: -1px;
        @include font(14px,400,#666);
      }
    }
  }
  .inputBtn {
    width:64px;
    height:42px;
    margin-left:8px;
    margin-bottom:16px;
    border-radius:16px;
    background-color:#202020;
    letter-spacing: -1px;
    @include font(14px,500,white);
  }
  .textareaBox {
    width:100%;
    padding:12px 16px;
    @include border(#E2E2E2,16px);
    background-color:white;
    overflow: hidden;
    textarea {
      width:100%;
      @include font(15px,400,#202020);
      &::placeholder {
        color:#999;
      }
    }
    .textCount {
      line-height:20px;
      text-align:right;
      @include font(14px,400,#666);
    }
  }
}