@import "components/ui/_mixin.scss";

button.submitBtn {
  line-height: 48px;
  border-radius: 16px;
  background: $DOWNCOLOR;
  @include font(16px,$Bold,white);
  &.disabled {
    background: #BBB;
    cursor:not-allowed;
    pointer-events: none;
  }
}