.appInfoWrap {
  padding: 0 16px;
  &__eachDiv {
    display: flex;
    margin-bottom: 4px;
    padding: 14px 16px;
    font-size: 14px;
    background-color: white;
    border-radius: 12px;

    & dd {
      display: flex;
      align-items: center;
      width: 100%;
      transform: skew(-0.03deg);
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
    }

    & dd:first-child::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 1px;
      background-color: #9e9e9e;
      transform: rotate(125deg);
      right: 2px;
      top: 12px;
    }

    & dd:first-child::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 1px;
      background-color: #9e9e9e;
      transform: rotate(45deg);
      right: 2px;
      top: 6px;
    }

    & div {
      display: flex;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
    }

    & div:first-child {
      flex: 1;
    }

    & div:last-child {
      justify-content: flex-end;
      flex: 1;
      font-weight: normal;
    }
  }
}

.termsWrap {
  padding: 16px;
  background-color: white;
  font-size: 14px;
  line-height: 1.56;
  h2 {
    line-height: 52px;
    color: #000;
    text-align: center;
    border-bottom: solid 1px #e0e0e0;
    padding: 0px;
    font-size: 18px;
    font-weight: 700;
  }
  h3 {
    margin-top: 10px;
  }

  .desc {
    margin-top: 10px;
    strong {
      display: block;
      margin-top: 3px;
    }
  }
  .bold {
    font-weight: bold;
  }
}

.operating {
  ol {
    li {
      position: relative;
      padding-left: 17px;
      line-height: 22px;

      span {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  ol.depth1 {
    margin-top: 20px;
  }
  ol.depth2 {
    & > li {
      margin-top: 16px;
      padding-left: 20px;
      color: #616161;
    }
  }
  ol.depth3 {
    margin-top: 6px;
    li {
      color: #616161;
    }
  }
  ol.depth4 {
    margin-bottom: 5px;
    li {
      padding-left: 9px;
      color: #616161;
    }
  }

  table.content {
    margin: 30px 0 8px 0;
    padding: 0;
    border-top: 1px solid #FF3C7B;
    caption {
      display: none;
    }
    * {
      color: #424242;
      font-size: 14px;
      text-align: center;
    }

    th,
    td {
      padding: 15px 5px;
      border-bottom: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
    }

    thead {
      th {
        background: #f5f5f5;
      }
      th:last-child {
        border-right: 0;
      }
    }

    tbody {
      td:last-child {
        border-right: 0;
      }
    }

    th.right-border,
    td.right-border {
      border-right: 1px solid #e0e0e0;
    }
  }

  span.table-txt {
    display: block;
    font-size: 14px;
    color: #9e9e9e;
    text-align: right;
  }
}

.privacy {
  padding: 16px;
  ol {
    li {
      position: relative;
      padding-left: 15px;
    }
    li:before {
      position: absolute;
      left: 0;
    }
  }

  ol.depth1 {
    margin-top: 20px;
    counter-reset: depth1;
    & > li {
      margin-top: 20px;
      padding-left: 26px;
    }
    & > li:before {
      display: block;
      width: 20px;
      text-align: right;
      counter-increment: depth1;
      content: counter(depth1) '.';
    }

    &.no-space {
      li {
        margin-top: 0;
      }
    }
  }
  ol.depth2 {
    margin-top: 10px;
    list-style-type: hangul;
    & > li {
      margin-top: 10px;
      padding-left: 0;
      color: #616161;
    }
    li:before {
    }
  }
  ol.depth3 {
    margin-left: -15px;

    li {
      color: #616161;
      text-align: left !important;
    }
    &.depth-info {
      margin-left: 0;
    }
  }
  .desc {
    margin-top: 10px;
  }
}

.service {
  ol {
    li {
      position: relative;
      padding-left: 15px;
    }
    li:before {
      position: absolute;
      left: 0;
    }
  }
  ol.depth1 {
    margin-top: 20px;
    counter-reset: depth1;
    & > li {
      padding-left: 26px;
      margin-top: 16px;
      color: #616161;
    }
    li:before {
      width: 20px;
      text-align: right;
      counter-increment: depth1;
      content: counter(depth1) '.';
    }
  }
  ol.depth2 {
    margin-left: -17px;
    counter-reset: depth2;
    & > li {
      padding-left: 26px;
      margin-top: 6px;
      color: #616161;
    }
    li:before {
      width: 20px;
      text-align: right;
      counter-increment: depth2;
      content: counter(depth2) ')';
    }
  }
  ol.depth3 {
    margin-top: 6px;
    margin-left: -15px;
    counter-reset: depth3;
    li {
      color: #616161;
    }
    li:before {
      counter-increment: depth3;
      content: counter(depth3);
    }
  }
  ol.depth4 {
    margin-left: -15px;
    li {
      color: #616161;
    }
    li:before {
      left: 4px;
      content: '-';
    }
  }
}
