@import "components/ui/_mixin.scss";

.photoOuter {
  position: relative;
  @include flex(center, center);
  .photo {
    position:relative;
    img {
      width:100%;
      height:100%;
      border-radius:50%;
      object-fit: cover;
    }
  }
}