@import "components/ui/_mixin.scss";

#popup {  
  position: fixed;
  top: 0;right: 0;bottom: 0;left: 0;
  @include flex(center, center, column);
  background: rgba(0, 0, 0, 0.7);
  z-index: $ALERT-ZINDEX;
  .popLayer {
    border-radius: 24px;
    background: #fff;
    box-sizing: border-box;
    &#alertPop{
      position: relative;
      @include flex(flex-start, flex-start, column);
      width: 328px;height: 200px;
      padding: 16px;
      .popContent {
        flex: 1;
        @include flex(center, center, column);
        width: 100%;
        .title {
          line-height: 48px;
          @include font(16px, 700, #202020);
        }
        .msg {
          @include font(16px, 400, #202020);
          @include fontLineCut();
          text-align: center;
          margin: 11px 0;
          line-height: 26px;
          white-space: pre;
          overflow: hidden;
        }
        .remsg {
          @include font(13px, 400, #666666);
          @include fontLineCut();
          text-align: center;
          margin: 11px 0;
          line-height: 20px;
          white-space: pre;
          overflow: hidden;
        }
      }
      .popBtnWrap {
        @include flex(center);
        width: 100%;
        .submitBtn {
          flex: 1;
          @include flex(center, center);
          height: 48px;
          border-radius: 16px;
          @include font(16px, 700, #FFF);
          background-color: #FF3C7B;
          box-sizing: border-box;
        }
      }
    }
    &#confirmPop{
      position: relative;
      @include flex(flex-start, flex-start, column);
      width: 328px;height: 200px;
      padding: 16px;
      .popContent {
        flex: 1;
        @include flex(center, center, column);
        width: 100%;
        .msg {
          @include font(16px, 400, #202020);
          @include fontLineCut;
          text-align: center;
          margin: 11px 0;
          line-height: 26px;
          white-space: pre-line;
          word-break: keep-all;
        }
        .remsg {
          @include font(13px, 400, #666666);
          @include fontLineCut();
          text-align: center;
          margin: 11px 0;
          line-height: 20px;
          white-space: pre;
          overflow: hidden;
        }
      }
      .popBtnWrap {
        @include flex(center);
        width: 100%;
        .cancelBtn {
          flex: 1;
          @include flex(center, center);
          height: 48px;
          border: 1px solid #D5D5D5;
          border-radius: 16px;
          @include font(16px, 500, #666666);
          box-sizing: border-box;
          margin-right: 4px;
        }
        .submitBtn {
          flex: 1;
          @include flex(center, center);
          height: 48px;
          border-radius: 16px;
          @include font(16px, 500, #FFF);
          background-color: #FF3C7B;
          box-sizing: border-box;
        }
      }
    }    
  }
}