#proofShot {
  margin: auto;
  max-width: 720px;
  min-width: 320px;
  height: 100%;

  .hidden {
    display: none;
  }

  .visible {
    display: block;
    height: 45px;
  }

  .zoom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
    .zoomWrap {
      position: absolute;
      width: 96%;
      height: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .zoomImg {
        display: block;
        width: 100%;
        height: auto;
      }

      .closeButton {
        display: flex;
        margin-left: auto;
      }
    }
  }

  #imgUpload {
    display: none;
  }

  .visualWrap {
    .dayTextwrap {
      position: relative;
      .day {
        position: absolute;
        top: 42%;
        width: 100%;
        color: #fff;
        font-size: 14px;
        width: 100%;
      }
      span {
        display: block;
        margin: auto;
        width: 192px;
        height: 24px;
        line-height: 23px;
        text-align: center;
        color: #fff;
        background: #575dda;
        font-size: 14px;
        border-radius: 13px;
      }
    }
    & img {
      display: block;
      width: 100%;
    }

    &__ButtonWrap {
      position: relative;

      &--giftButton {
        text-indent: -99999px;
        position: absolute;
        left: 29.5%;
        width: 36%;
        height: 4.4%;
        bottom: 22.5%;
      }

      &--writeButton {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        max-width: 202px;
        height: 45px;
        top: 88%;
        @media (max-width: 500px) {
          top: 85%;
        }
      }
    }
  }

  .title {
    position: relative;
    h2 {
      font-size: 18px;
      text-align: center;
      line-height: 40px;
    }
    button {
      position: absolute;
      top: 0px;
      right: 6px;
      width: 40px;
      height: 40px;
      background: url(./close.svg) center no-repeat;
      margin-right: 6px;
      text-indent: -999999px;
    }
  }

  .list {
    background: #f5f5f5;
    li {
      display: flex;
      flex-direction: column;
      padding: 0px 8px;
      padding-top: 10px;
      background: #fff;
      margin-bottom: 8px;
    }
    &__content {
      padding: 0px 16px;
      padding-bottom: 10px;
      display: flex;
      border-bottom: 1px solid #f8f8f8;
      flex: 1;

      .admin_delte {
        & > button {
          display: none;
        }
        & > button.on {
          display: block;
          width: 40px;
          height: 40px;
          background: url(./close.svg) center no-repeat;
          margin-right: 6px;
          text-indent: -999999px;
        }
      }
    }

    .title {
      flex-basis: 150px;
      h3 {
        font-size: 16px;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      span {
        color: #9e9e9e;
        font-size: 12px;
        margin-bottom: 2px;
        display: block;
      }
      b {
        font-size: 14px;
        color: #000;
      }
    }

    .subText {
      padding: 10px 16px;
      overflow: hidden;
      word-wrap: break-word;
      &__button {
        font-size: 12px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        button {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .myButtonWrap {
      display: flex;
      padding: 0px 16px;
      justify-content: space-between;
      margin-top: 40px;
      margin-bottom: 40px;
      button {
        width: 45%;
        color: #fff;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        height: 40px;
        border-radius: 12px;
        background: #FF3C7B;
      }
      button.gray {
        background: #9a9a9a;
      }
    }

    &__img {
      margin-right: 10px;
      overflow: hidden;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      img {
        width: 60px;
        height: 60px;
        display: block;
      }
    }

    &__saveImg {
      width: 80px;
      height: 80px;
      background: #000;
      display: inline-block;
      overflow: hidden;
      border-radius: 6px;
      margin-left: auto;

      img {
        display: block;
        max-width: 100%;
        height: inherit;
        margin: auto;
        object-fit: contain;
      }
    }
  }

  .imgUploadWrap {
    margin-bottom: 60px;
  }

  .writeBg {
    background: #eee;
    min-height: 100%;
    padding-bottom: 60px;
    .titleSubPage {
      position: relative;

      h2 {
        font-size: 16px;
        text-align: center;
        background: #fff;
        height: 40px;
        line-height: 40px;
      }

      button {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 40px;
        height: 40px;
        background: url(./back_g.svg) center no-repeat;
        margin-right: 6px;
        text-indent: -999999px;
      }
    }

    .textWrite {
      width: 86%;
      margin: auto;
      margin-top: 15px;
      margin-bottom: 4px;
      box-sizing: border-box;
      font-size: 14px;
      display: block;
      border-radius: 12px;
      padding: 16px;
      overflow: hidden;

      ::-webkit-input-placeholder {
        color: #bdbdbd;
      }
      :-moz-placeholder {
        color: #bdbdbd;
      }
      ::-moz-placeholder {
        color: #bdbdbd;
      }
      :-ms-input-placeholder {
        color: #bdbdbd;
      }
    }
    .textNumber {
      width: 86%;
      margin: auto;
      text-align: right;
      font-size: 12px;
      color: #616161;
      display: block;
      margin-bottom: 26px;
    }

    .writeTitle {
      width: 86%;
      margin: auto;
      margin-bottom: 26px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      h3 {
        font-size: 14px;
        letter-spacing: -0.4px;
      }
      p {
        font-size: 12px;
        color: #bdbdbd;
      }
    }

    .uploadButton {
      width: 220px;
      height: 220px;
      font-size: 16px;
      overflow: hidden;
      letter-spacing: -0.4px;
      margin-bottom: 60px;
      color: #bdbdbd;
      background: #fff;
      display: block;
      border-radius: 20px;
      margin: auto;
      background: url(./gallery_g.svg) center 90px no-repeat #fff;
      line-height: 256px;
      text-align: center;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .modifyButton {
      position: relative;
      display: block;
      margin: auto;
      border-radius: 20px;
      background-color: #000;
      overflow: hidden;
      width: 220px;
      height: 220px;

      .modifyText {
        width: 100%;
        position: absolute;
        bottom: 0px;
        color: #fff;
        font-size: 12px;
        line-height: 48px;
        text-align: center;
        background: rgba(000, 000, 000, 0.6);
      }

      .galleryIcon {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-top: 8px;
      }
      img {
        display: block;
        max-width: 100%;
        height: inherit;
        margin: auto;
        object-fit: contain;
      }
    }

    button {
      width: 86%;
      display: block;
      margin: auto;
      height: 44px;
      line-height: 44px;
      background: #bdbdbd;
      color: #fff;
      font-size: 16px;
      border-radius: 12px;
      font-weight: 700;

      &.active {
        background: #FF3C7B;
      }
    }
  }

  .tabWrap {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    height: 45px;
    font-size: 16px;

    &.fixed {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
    }
    &__button {
      color: #676767;
      margin-right: auto;
      margin-left: 16px;

      :first-child {
        margin-right: 10px;
      }

      .active {
        font-weight: 700;
        color: #FF3C7B;
      }
    }
    &__listNumber {
      display: flex;
      font-size: 16px;
      font-weight: 700;
      color: #000;
      margin-left: auto;
      margin-right: 16px;

      p {
        margin-left: 3px;
        font-size: 16px;
        color: #FF3C7B;
      }
    }
  }
}
