#guidanceWrap {
  border-radius: 20px;
  padding-bottom: 16px;
  .guidanceWrap {
    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 52px;
      margin: 0px 16px;
      border-bottom: 1px solid #dedede;
      &--title {
        font-size: 18px;
        text-align: center;
        color: #000;
      }
      &--button {
        top: -40px;
        position: absolute;
        width: 32px;
        height: 32px;
        right: -16px;
        background: url(https://image.dallalive.com/svg/close_w_l.svg) center no-repeat;
        cursor: pointer;
      }
    }
  }

  .guidance {
    overflow-y: scroll;
    max-height: 370px;
    padding: 16px 14px;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    margin: 0px 2px;

    font-family: NanumSquareB;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: rgba(0, 0, 0, 0.4);
    }
    &::-webkit-scrollbar-track {
      background-color: #fff;
    }

    &__content {
      width: 104%;
    }

    &__list {
      padding-bottom: 12px;
      font-size: 13px;
      line-height: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
      &--title {
        margin-bottom: 7px;
        font-size: 16px;
        font-weight: bold;
      }

      &--red {
        color: #ec455f;
      }

      &--gray {
        color: dimgray;
      }
      &--bold {
        font-weight: bold;
      }

      &--flex {
        display: flex;
      }

      &--spacing {
        margin-right: 5px;
      }

      &--fit {
        min-width: fit-content;
      }
    }
  }
}
