@import "components/ui/_mixin.scss";

// 메인페이지 topSwiper 와 구분하기 위해 profileTopSwiper로 수정
.profileSwiper {
  position: relative;
  .swiper-slide {
    @include flex(center,center);
    .photo {
      width:100%;
      height:100%;
      max-height:480px;
      &.none {
        height:100%;
        background-color:#eee;
        div{
          width: 100%;
          padding-bottom: 100%;
          cursor: pointer;
          p{
            @include position-top-left(50%,50%);
            transform: translate(-50%,-50%);
            @include font(15px,$Medium, #999);
          }
        }
      }
      img {
        width:100%;
        height:100%;
        min-height:100%;
        object-fit: cover;
      }
    }
  }
  .swiper-pagination {
    @include swiperPagination;
    bottom:31px;
  }
  .swiperBottom {
    @include position-bottom-right(26px,16px);z-index: 1;
    @include flex(center);
    &.pagenation {
      right: 48px;
    }
    > div {
      margin-left: 8px;
    }
    .specialBdg {
      @include flex(center,center,column);
      width:57px;
      height:28px;
      line-height:12px;
      border-radius:100px;
      background-color: #666;
      cursor: pointer;
      img {
        height:12px;
      }
      span {
        @include font(10px,$Bold,white);
      }
      &.isSpecial {
        background-color:$MAINCOLOR;
      }
    }
    .liveBdg {
      width:60px;
      height:28px;
      margin-right:8px;
      cursor: pointer;
      img {
        width:100%;
      }
    }
    .badgeLive {
      @include flex(center, center);
      width:62px;height:28px;
      background-color: #FFE9E9;
      border-radius: 100px;
      cursor: pointer;
      .equalizer {
        display: inline-block;
        width: 12px;
        margin-top: -2px;
        margin-right: 4px;
      }
      .liveText {
        @include font(12px, $Heavy, #FF3C7B);
      }
    }
    .badgeListener {
      @include flex(center, center);
      width:62px;height:28px;
      background-color: #F0EBFF;
      border-radius: 100px;
      cursor: pointer;
      .headset {
        display: inline-block;
        width: 15px;
        margin-right: 2px;
      }
      .ListenerText {
        @include font(12px, $Heavy, #9A78FF);
      }
    }
  }
}