@import '../../../styles/variables';

#notice {
  width: 100%;
  height: 100%;

  h2 {
    font-size: 18px;
  }
  .noticeList {
    margin-top: 12px;
    width: 100%;
    display: block;
    .noticeItme {
      overflow: hidden;
      display: flex;
      align-items: center;
      padding: 0 16px;
      height: 66px;
      border-bottom: 1px solid $lighterGray;
      background: url('https://image.dalbitlive.com/svg/icon_more_right.svg') no-repeat center right 16px $white;
      cursor: pointer;

      &.bookmark {
        background: url('https://image.dalbitlive.com/svg/icon_bookmark_red.svg') no-repeat center right 20px $white;
      }

      &__img {
        display: inline-block;
        width: 54px;
        height: 54px;
        margin-right: 12px;
        border-radius: 8px;
      }

      &__textWrap {
        width: 100%;
        padding-right: 26px;
        box-sizing: border-box;
        overflow: hidden;
      }
      &__title {
        display: block;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &__date {
        width: 100%;
        margin-top: 4px;
        font-size: 12px;
        color: $greishGray;
      }

      &__moreIcon {
        flex-basis: 24px;
        flex-shrink: 0;
        height: 24px;
        display: inline-block;
        margin: 0 36px 0 auto;
        box-sizing: content-box;
        text-indent: -9999px;
        background: url('https://image.dalbitlive.com/svg/icon_new_circle_red.svg') no-repeat;
        background-size: 100%;
      }
    }
  }

  .noticeDetail {
    overflow: hidden;
    height: 100%;
    margin-top: 12px;

    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 56px;
      padding: 0px 16px;
      box-sizing: border-box;
      background: $white;
      color: $black;
      border-bottom: 1px solid $lighterGray;
      font-size: 18px;
      p {
        margin-top: 2px;
        font-size: 12px;
        color: $greishGray;
        font-weight: normal;
      }
    }
    &__img {
      display: block;
      margin-top: 20px;
      width: 217px;
      height: 217px;
      border-radius: 16px;
      cursor: pointer;
    }

    &__profile {
      display: flex;
      align-items: center;
      height: 56px;
      padding: 0px 16px;
      box-sizing: border-box;
      font-size: 16px;
      color: $black;
      background: $white;
      border-bottom: 1px solid $lighterGray;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
      }
    }

    &__content {
      padding: 10px 16px;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 20px;
      color: $black;
      background: $white;
      min-height: 350px;

      img {
        display: block;
        width: 217px;
        height: 217px;
        border-radius: 16px;
      }
    }

    &__button {
      display: flex;
      padding: 0px 16px;
      margin-top: 32px;

      button {
        width: 50%;
        height: 44px;
        line-height: 44px;
        background: $greishGray;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border-radius: 12px;
        &:first-child {
          margin-right: 4px;
        }
      }
    }

    .zoom {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 3;
      background-color: rgba(0, 0, 0, 0.3);
      .zoomWrap {
        position: absolute;
        width: 96%;
        height: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .zoomImg {
          display: block;
          width: 100%;
          height: auto;
        }

        .closeButton {
          cursor: pointer;
          margin-bottom: 6px;
          width: 32px;
          height: 32px;
          display: flex;
          margin-left: auto;
        }
      }
    }
  }

  .noticeWrite {
    //공지사항 작성, 수정 페이지 공용
    overflow: hidden;
    padding: 0px 16px;
    box-sizing: border-box;

    &__title {
      width: 100%;
      margin: 12px 0px 4px 0px;
      padding: 13px 14px;
      box-sizing: border-box;
      background: $white;
      font-size: 14px;
      font-weight: bold;
      color: $black;
      border-radius: 12px;
      border: 1px solid $lightestGray;

      &::placeholder {
        color: $gray;
        font-size: 14px;
        letter-spacing: -0.35px;
        font-weight: normal;
      }

      &:focus {
        border: 1px solid $black;
      }
    }

    &__content {
      width: 100%;
      min-height: 300px;
      padding: 16px 17px;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 12px;
      background: $white;
      font-size: 14px;
      border: 1px solid $lightestGray;

      &::placeholder {
        color: $gray;
        font-size: 14px;
        letter-spacing: -0.35px;
        font-weight: normal;
      }
      &:focus {
        border: 1px solid $black;
        box-sizing: border-box;
      }
    }

    &__checkbox {
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      height: 26px;
      line-height: 26px;
      margin-top: 12px;
      font-size: 16px;
      color: $black;
      input[type='checkbox'] {
        vertical-align: middle;
        margin: -2px 8px 0px 0px;
      }
    }
    &__button {
      width: 100%;
      background: $mediumGray;
      color: $white;
      font-size: 16px;
      line-height: 44px;
      text-align: center;
      font-weight: 600;
      border-radius: 12px;
      margin-bottom: 50px;
      &.active {
        background: $primary;
      }
    }

    .modifyButton {
      width: 100%;
      background: $mediumGray;
      color: $white;
      font-size: 16px;
      line-height: 44px;
      text-align: center;
      font-weight: 600;
      border-radius: 12px;
      margin-bottom: 50px;
      &.active {
        background: $primary;
      }
    }
  }

  #save_fileImg {
    display: none;
  }

  .saveFileImg {
    position: relative;
    margin-top: 16px;
    margin-bottom: 25px;
    width: 90px;
    height: 90px;
    border-radius: 16px;
    background-size: cover;

    .saveFileImgClose {
      cursor: pointer;
      z-index: 1;
      position: absolute;
      right: -6px;
      top: -6px;
      width: 24px;
      height: 24px;
      background: url('https://image.dalbitlive.com/svg/ic_close_round.svg') center no-repeat;
      background-size: cover;
      text-indent: -99999px;
    }

    .fileBasic {
      display: inline-block;
      width: 90px;
      height: 90px;
      color: #fff;
      border-radius: 16px;
      margin-bottom: 25px;
      cursor: pointer;
      background: url('https://image.dalbitlive.com/svg/gallery_w.svg') 100% center 19px no-repeat #bdbdbd;

      &::after {
        display: block;
        width: 100%;
        margin-top: 51px;
        text-align: center;
        content: '사진첨부';
      }

      &.fileOn {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left top !important;
        text-indent: -99999px;
      }
    }

    .modifyBasic {
      display: inline-block;
      width: 90px;
      height: 90px;
      color: #fff;
      border-radius: 16px;
      margin-bottom: 25px;
      cursor: pointer;
      background-position: left top;
      background-repeat: no-repeat;
      background-color: #bdbdbd;
      background-size: cover;

      &.modifyFileOn {
        background-repeat: no-repeat;
        background-position: center 19px;
        background-color: #bdbdbd;
        background-size: 32px;

        &::after {
          display: block;
          width: 100%;
          margin-top: 51px;
          text-align: center;
          content: '사진첨부';
        }
      }
    }
  }
}
