@import "../../asset/scss/common/global";
@import "components/ui/_mixin.scss";

#alert {
  position: fixed;top: 0;left: 0;
  @include flex(center,center);
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: $ALERT-ZINDEX;
  .wrapper {
    @include flex($fd:column);
    .wrapperBg {
      @include flex(center,center,column);
      width: 328px;
      padding: 16px;
      border-radius: 28px; 
      text-align: center;
      background: white;
    }
    .title {
      display: block;
      width: 100%;
      font-weight: $bold;
      font-size: 20px;
      text-align: center;
      &.border-default {
        padding-bottom: 14px;
        border-bottom: 1px solid $lightGray;
      }
    }
    .content {
      flex: 1;
      @include flex(center,center,column);
      min-height:72px;
      margin: 26px 0 20px;
      font-size: 16px;
      @include font(16px,$Bold,#202020);
      .contentText {
        word-break: keep-all;
      }
    }
    .subCont {
      margin-top: 4px;
      word-break: keep-all; 
      @include font(12px,$Regular,$MAINCOLOR);
      &.isBold {
        font-weight: $bold;
      }
    }

    &.boost {
      .title {
        margin: 4px 0 16px 0;
      }

      .content {
        padding: 24px 0;
        border-top: 1px solid #e0e0e0;
        font-size: 13px;

        .subCont {
          font-size: 11px;
          word-break: break-all;
          white-space: pre-wrap;
        }
      }

      .btn-wrap {
        .cancel {
          border: 0px;
          background-color: #757575;
          color: #fff;
        }
      }
    }
    .btnWrap {
      margin-top: 0;
    }
  }
}
