@import "components/ui/_mixin.scss";

.searchResultWrap {
  padding:0 16px;
  .listRow {
    @include flex(center);
    width: 100%;
    &:last-child {
      margin-bottom: 0px;
    }
    .photo {
      flex: none;
      position: relative;
      @include flex(center,center);
      img {
        width:100%;
        object-fit: cover;
      }
    }
    .listContent {
      flex: 1;
      @include flex($fd:column);
      .listItem {
        @include flex(center);
        .subject {
          flex: none;
          @include font(12px, $Regular, #303030);
          margin-right: 6px;
        }
        .title {
          @include font(14px, $SemiBold, #202020);
        }           
        .nickNm {
          margin-left:4px;
          @include font(13px, $Regular, #666666);
        }
        .userId {
          @include font(12px, 400, #A4A4A4);
        }
        &.dataCtn {
          margin-top: 5px;
          & > span {
            margin-right: 6px;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }              
    }
  }
  .searchNoResult {
    min-height:48px;
    @include font(14px,$Regular,#666666);
  }
}