@import "components/ui/_mixin.scss";

#searchPage {
  .swiper-container {
    padding-left:16px;
    .swiper-slide {
      width:auto;
      &:last-child {
        margin-right:16px;
      }
      .listColumn {
        position:relative;
        @include flex(center,center,column);
        .photo {
          @include flex(center,center);
          width:100%;
          cursor: pointer;
          img {
            height:100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}