@import "components/ui/_mixin.scss";

#notice {
  position:relative;
  .tabmenu {
    position:relative;
    @include flex;
    margin:0 16px;
    li {
      flex:1;
      @include flex(center,center);
      height:48px;
      border-bottom:2px solid #F2F2F2;
      letter-spacing: -1px;
      @include font(16px,600,#ACACAC);
      box-sizing: border-box;
      &.active {        
        @include font(16px,700,#202020);
      }
      &:nth-child(1) {
        &.active {
          ~ .underline {
            left:0;
          }
        }
      }
      &:nth-child(2) {
        &.active {
          ~ .underline {
            left:50%;
          }
        }
      }
    }
    .underline {
      @include position-bottom-left;
      width:50%;
      height:2px;
      background-color:black;
      transition: all .1s ease-in-out;
    }
  }
  .allim, .post {
    padding-top:15px;
    .listRow {
      padding:15px 20px 12px 16px;
      .photo {
        width:50px;
        height:50px;
        margin-bottom:auto;
        margin-right:12px;
        border-radius: 12px / 50%;
        overflow:hidden;
        img {
          width:100%;
          border-radius: 50% / 12px;
        }
      }
    }
  }
  .allim {
    .listContent {
      .title {
        margin-bottom:2px;
        letter-spacing: -1px;
        @include font(15px,500,#303030);
        @include fontLineCut;
      }
      .date {
        @include font(12px,400,#999);
      }
    }
    .allimNone {
      @include flex(center,center,column);
      height:calc(100vh - 300px);
      p {
        margin-bottom:18px;
        text-align:center;
        @include font(15px,500,#303030);
      }
      button {
        width:120px;
        height:36px;
        line-height:34px;
        @include border(#D6D6D6,100px);
        @include font(15px,500,#666);
      }
    }
  }
  .post {
    .listContent {
      min-width:0;
      .title {
        margin-bottom:2px;
        letter-spacing: -0.5px;
        line-height: 18px;
        @include font(15px,500,#303030);
        @include fontCut;
      }
      .text {
        @include font(13px,400,#666666);
        @include fontCut;
      }
      .date {
        @include font(12px,400,#999);
      }
    }
    .listViewBtn {
      flex:none;
      width:24px;
      height:24px;
      margin-bottom:auto;
      @include BGIMG('common/icoArrow-r.png');
    }
  }
  .postDetail {
    .detailView {
      .titleWrap {
        @include flex(flex-start,center,column);
        min-height:70px;
        padding:12px 16px;
        border-bottom:1px solid #F5F5F5;
        .title {
          margin-bottom:2px;
          line-height:22px;
          @include font(18px,500,#202020);
        }
        .date {
          @include font(12px,400,#707070);
        }
      }
      .detailContent {
        padding:12px 16px 20px;
        p {
          font-size:14px;
        }
      }
    }
  }
}