@import "components/ui/_mixin.scss";

.container {
  .totalWrap {
    #notice {
      >header {
        display:none;
      }
      .tabmenu {
        top: $GNB-HEIGHT;
      }
    }
  }
}

#notice {
  position:relative;
  .noticeWrap {
    > .tabmenu {
      position: sticky;
      @include tabmenuStyle-1;
      top: $HEADER-HEIGHT;
      padding: 0 16px;
      background-color: #FFF;
      z-index: $TAB-ZINDEX;
      li {
        position:relative;
        cursor:pointer;
        &.new {
          span {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: 0px; right: -8px;
              display: inline-block;
              width: 6px; height: 6px;
              border-radius: 50%;
              background-color: #FF3C7B;
            }
          }        
        }
      }
    }
  }
  

  .allim, .post {
    padding-top:15px;
    .listRow {
      padding:15px 20px 12px 16px;
      cursor: pointer;
      .photo {
        position: relative;
        width:50px;
        height:50px;
        margin-bottom:auto;
        margin-right:12px;
        border-radius: 50%;
        img {
          width:100%;
          border-radius: 50%;
        }
      }
    }
  }
  .allim {
    .listContent {
      .title {
        margin-bottom:2px;
        letter-spacing: -1px;
        @include font(15px,500,#303030);
        @include fontLineCut;
      }
      .date {
        @include font(12px,400,#999);
      }
    }
    .allimNone {
      @include flex(center,center,column);
      height:calc(100vh - 300px);
      p {
        margin-bottom:18px;
        text-align:center;
        @include font(15px,500,#303030);
      }
      button {
        width:120px;
        height:36px;
        line-height:34px;
        @include border(#D6D6D6,100px);
        @include font(15px,500,#666);
      }
    }
  }
  .post {
    .photo {
      .newBadge {
        position: absolute;
        top: 0; right: 0;
        @include flex(center, center);
        width: 15px; height: 15px;
        border-radius: 50%;
        background-color: #FF3C7B;
        @include font(10px, 700, #FFF);
        border: 1px solid #FFF;
        box-sizing: border-box;
      }
    }
    .listContent {
      min-width:0;
      flex: 1;
      .title {
        margin-bottom:2px;
        letter-spacing: -0.5px;
        line-height: 18px;
        @include font(15px,500,#303030);
        @include fontCut;
      }
      .text {
        @include font(13px,400,#666666);
        @include fontCut;
      }
      .date {
        @include font(12px,400,#999);
      }
    }
    .listViewBtn {
      flex:none;
      width:24px;
      height:24px;
      margin-bottom:auto;
      margin-left:auto;
      @include BGIMG('common/icoArrow-r.png');
    }
  }
  .postDetail {
    .detailView {
      .titleWrap {
        @include flex(flex-start,center,column);
        min-height:70px;
        padding:12px 16px;
        border-bottom:1px solid #F5F5F5;
        .title {
          margin-bottom:2px;
          line-height:22px;
          @include font(18px,500,#202020);
        }
        .date {
          @include font(12px,400,#707070);
        }
      }
      .detailContent {
        padding:12px 16px 20px;
        p {
          font-size:14px;
        }
        img {
          width: 100% !important;
        }
      }
    }
  }
  .inquiry {
    .tabmenu {
      @include flex(center);
      width: 100%;
      padding: 11px 16px;
      box-sizing: border-box;
      li {
        flex: none;
        @include flex(center, center);
        padding: 0px 16px;
        margin-right: 4px;
        border-radius: 100px;
        @include font(13px, $Regular, #ACACAC);
        line-height: 36px;
        background-color: #F2F2F2;
        cursor:pointer;
        &.active {
          @include font(13px, $Medium, #FFFFFF);
          background-color: #202020;
        }
      }
    }
  }
}