@import "components/ui/_mixin.scss";

.searchResultWrap {
  padding:0 16px;
  .listRow {
    width: 100%;
    &:last-child {
      margin-bottom: 0px;
    }
    .photo {
      @include flex(center,center);
      img {
        width:100%;
        object-fit: cover;
      }
    }
    .listContent {
      @include flex($fd:column);
      .listItem {
        @include flex(center);              
        .nickNm {
          margin-left:4px;
          @include font(13px, 400, #303030);
        }
        .userId {
          @include font(12px, 400, #A4A4A4);
        }
        &.dataCtn {
          margin-top: 2px;
          & > span {
            margin-right: 6px;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }              
    }
  }
  .searchNoResult {
    min-height:120px;
    @include font(14px,400,#999);
  }
}