#proofShoptPopupWrap {
  border-radius: 30px;
  width: 500px;
  background-color: #fff;
  overflow: hidden;
  .content {
    padding: 16px;
  }

  .title {
    position: relative;
    button {
      position: absolute;
      top: 10px;
      right: 6px;
      width: 40px;
      height: 40px;
      background: url(./static/close.svg) center no-repeat;
      margin-right: 6px;
      text-indent: -999999px;
    }
  }

  h2 {
    display: block;
    margin: auto;
    margin-bottom: 13px;
    font-size: 22px;
    height: 60px;
    line-height: 60px;
    letter-spacing: -0.4px;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
  }

  h3 {
    font-size: 16px;
    color: #3a3a3a;
    margin-bottom: 10px;
    letter-spacing: -0.35px;
  }
  ul {
    margin-bottom: 30px;
  }
  ul li {
    position: relative;
    padding-left: 16px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.3px;
    &::before {
      position: absolute;
      content: "";
      left: 5px;
      top: 11px;
      width: 2px;
      height: 2px;
      background: #000;
    }
  }
}
