@import "components/ui/_mixin.scss";

#terms {
    .subContent {
        @include flex(flex-start, flex-start, column);
        width: 100%;
        padding: 16px;
        .wrap {
            @include flex(flex-start, flex-start, column);
            margin-bottom: 20px;
        }
        h3 {
            @include font(16px, 700, #202020);
            margin-bottom: 8px
        }
        h5 {
            @include font(14px, 700, #202020);
            margin-bottom: 8px
        }
        p {
            @include font(13px, 400, #303030);
            line-height: 20px;
            word-break: keep-all;
            letter-spacing: -1px;
        }
        .list {
            position: relative;
            @include flex(flex-start, flex-start, column);
            li {
                position: relative;
                width: 100%;
                padding-left: 15px;
                margin-bottom: 6px;
                line-height: 20px;
                letter-spacing: -1px;
                word-break: keep-all;
                @include font(13px, 400, #666666);
                box-sizing: border-box;
                &:last-child {
                    margin-bottom: 0spx;
                }
            }
            &.number {
                margin-top: 6px;
                counter-reset: number;
                & > li{                    
                    padding-left: 20px;
                    &::before {
                        position: absolute;
                        left: 0;                    
                        content: counter(number) ".";
                        counter-increment: number;
                        @include font(16px, 700, #202020);
                    }
                }
            }
            &.alphabet {
                margin-top: 6px;
                counter-reset: alphabet;
                & > li::before {
                    position: absolute;
                    left: 0;                    
                    content: counter(alphabet, lower-alpha) ")";
                    counter-increment: alphabet;
                    @include font(13px, 500, #666666);
                }
            }
            &.roundNumber {
                margin-top: 6px;
                counter-reset: roundNumber;
                & > li::before {
                    position: absolute;
                    left: 0; top: 4px;
                    content: counter(roundNumber);
                    @include flex(center, center);
                    width: 10px; height: 10px;
                    border: 1px solid #666666;
                    border-radius: 50%;
                    counter-increment: roundNumber;
                    @include font(11px, 400, #666666);
                }
            }
            &.dash {
                margin-top: 6px;
                & > li::before {
                    content: "";
                    position: absolute;
                    left: 0; top: 8px;
                    @include flex(center, center);
                    width: 6px; height: 1px;
                    background-color: #666666;
                }
            }
            &.circle {
                margin-top: 6px;
                & > li::before {
                    content: "";
                    position: absolute;
                    left: 0; top: 8px;
                    @include flex(center, center);
                    width: 4px; height: 4px;
                    border-radius: 50%;
                    background-color: #666666;
                }
            }  
            &.reference {
                margin-top: 6px;
                & > li::before {
                    content: "※";
                    position: absolute;
                    left: 0;
                }
            }
            &.reverseNumber {
                margin-top: 6px;
                display: flex;
                flex-direction: column-reverse;
                counter-reset: reverseNumber;
                & > li::before {
                    position: absolute;
                    left: 0;                    
                    content: counter(reverseNumber) ".";
                    counter-increment: reverseNumber;
                    @include font(13px, 500, #666666);
                }
            }
            &.parenthesis {
                margin-top: 6px;
                counter-reset: parenthesis;
                & > li::before {
                    position: absolute;
                    left: 0;                    
                    content: counter(parenthesis) ")";
                    counter-increment: parenthesis;
                    @include font(13px, 500, #666666);
                }
            }
        }
        .lineBox {
            width: 100%;
            border: 1px solid #eee;
            padding: 10px;
            margin: 12px 0;
            box-sizing: border-box;
            h5 {
                @include font(14px, 700, #202020);
                margin-bottom: 8px
            }
            li {
                @include font(12px, 500, #666666);
            }
        }
        .tableCel {            
            margin: 30px 0 12px 0;
            border-top: 1px solid #FF3C7B;
            border-collapse: collapse;
            th {
                line-height: 30px;
                @include font(13px, 700, #303030);
                border-bottom: 1px solid #eeeeee;
                border-right: 1px solid #eeeeee;
            }
            td {
                text-align: center;
                line-height: 24px;
                @include font(12px, 500, #331414);
                border-bottom: 1px solid #eeeeee;
                border-right: 1px solid #eeeeee;
            }
            caption {
                display: none;
            }
            thead {
                th {
                    background-color: #f5f5f5;
                    &:last-child {
                        border-right: 0;
                    }
                }
            }
            tbody {                
                td {
                    &:last-child {
                        border-right: 0;
                    }
                }
            }
        }
    }
}