@import '../../../../styles/variables';

.commentEventWrap {
  position: relative;
  .addInputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
    padding: 5px;
    border: 1px solid;
    border-radius: 6px;
    .userBox {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 5px 10px;
      box-sizing: border-box;
      .photo {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        & img {
          width: 100%;
        }
      }
      .userNick {
        margin-left: 8px;
        font-size: 14px;
        font-weight: 700;
      }
    }
    textarea {
      width: 100%;
      height: 70px;
      padding: 0 10px;
      box-sizing: border-box;
      letter-spacing: -0.5px;
      font-size: 15px;
    }
    .textCount {
      width: 100%;
      height: 18px;
      line-height: 18px;
      text-align: right;
      font-size: 13px;
    }
    .writeBtn {
      width: 100%;
      height: 43px;
      border-radius: 10px;
      background-color: $gray;
      color: $white;
      &.on {
        background-color: $primary;
      }
    }
  }

  .commentBox {
    .totalBox {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: $bold;

      span {
        color: $primary;
      }

      .refreshBtn {
        margin-left: 8px;

        &.on {
          animation: event-spin 0.3s ease-in-out;
        }
      }
    }

    .listBox {
      border-top: 1px solid $lightestGray;

      .listItem {
        display: flex;
        position: relative;
        padding: 10px 0;

        .thumb {
          overflow: hidden;
          width: 40px;
          min-width: 40px;
          height: 40px;
          margin-right: 10px;
          border-radius: 50%;

          img {
            width: 100%;
          }
        }

        .textBox {
          .nick {
            font-size: 14px;
            font-weight: $bold;
            padding-right: 32px;

            .date {
              margin-left: 4px;
              letter-spacing: -1.5px;
              font-size: 12px;
              color: $gray;
              font-weight: $regular;
            }
          }

          .msg {
            margin-top: 6px;
            font-size: 14px;
            line-height: 20px;
            word-break: break-word;
            color: $greishGray;
          }
        }

        & + .listItem {
          border-top: 1px solid $lightestGray;
        }

        .btnDelete {
          position: absolute;
          top: 0;
          right: 0;
        }
        // 210603 추가
        .btnMore {
          position: absolute;
          top: 8px;
          right: 0;
          width: 24px;
          height: 24px;
          background: url('data:image/svg+xml;base64,DQo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgaWQ9InByZWZpeF9fbW9yZWxpc3RfZyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiPg0KICAgIDxkZWZzPg0KICAgICAgICA8c3R5bGU+DQogICAgICAgICAgICAucHJlZml4X19jbHMtMntmaWxsOiNiZGJkYmR9DQogICAgICAgIDwvc3R5bGU+DQogICAgPC9kZWZzPg0KICAgIDxjaXJjbGUgaWQ9InByZWZpeF9f7YOA7JuQXzI0OCIgY3g9IjIiIGN5PSIyIiByPSIyIiBjbGFzcz0icHJlZml4X19jbHMtMiIgZGF0YS1uYW1lPSLtg4Dsm5AgMjQ4IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMCA0KSIvPg0KICAgIDxjaXJjbGUgaWQ9InByZWZpeF9f7YOA7JuQXzI0OSIgY3g9IjIiIGN5PSIyIiByPSIyIiBjbGFzcz0icHJlZml4X19jbHMtMiIgZGF0YS1uYW1lPSLtg4Dsm5AgMjQ5IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMCAxMCkiLz4NCiAgICA8Y2lyY2xlIGlkPSJwcmVmaXhfX+2DgOybkF8yNTAiIGN4PSIyIiBjeT0iMiIgcj0iMiIgY2xhc3M9InByZWZpeF9fY2xzLTIiIGRhdGEtbmFtZT0i7YOA7JuQIDI1MCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAgMTYpIi8+DQo8L3N2Zz4NCg==')
            no-repeat center center/cover;
        }
        .moreList {
          position: absolute;
          right: 10px;
          top: 34px;
          display: flex;
          flex-direction: column;
          border: 1px solid #e0e0e0;
          background-color: #fff;
          padding: 8px 0;
          z-index: 50;
          button {
            width: 78px;
            height: 26px;
            font-size: 14px;
            line-height: 2.14;
            letter-spacing: -0.35px;
            text-align: center;
            color: #757575;
          }
        }
      }
    }
  }
}
@keyframes event-spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
