@import '../../../../styles/variables';
@import "components/ui/_mixin.scss";

.commentEventWrap {
  background: #fff;
  position: relative;
  padding-top: 15px;
  .addInputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    border-radius: 6px;
    .userBox {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 5px 10px;
      box-sizing: border-box;
      .photo {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        & img {
          width: 100%;
        }
      }
      .userNick {
        margin-left: 8px;
        font-size: 14px;
        font-weight: 700;
      }
    }
    .textareaWrap{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 130px;
      padding: 16px 16px 12px 16px;
      margin-bottom: 16px;
      @include border(#e2e2e2, 16px);
      textarea {
        width: 100%;
        height: 100%;
        font-size: 15px;
        letter-spacing: -0.5px;
        font-size: 15px;
        &::placeholder{
          color: #999;
        }
      }
    }
    .textCount {
      width: 100%;
      text-align: right;
      font-size: 14px;
      color: #b1b1b1;
      strong {
        color: black;
      }
    }
    .writeBtn {
      width: 100%;
      height: 43px;
      border-radius: 10px;
      background-color: #FFD4E1;
      color: $white;
      &.on {
        background-color: $MAINCOLOR;
      }
    }
  }

  .commentBox {
    .totalBox {
      display: flex;
      align-items: center;
      padding: 15px;
      font-size: 14px;
      font-weight: $bold;
      @include font(16px, 500, #2d2d2d);

      span {
        color: $MAINCOLOR;
        margin-left: 4px;
      }

      .refreshBtn {
        width: 28px;
        height: 28px;
        margin-left: 8px;

        &.on {
          animation: event-spin 0.3s ease-in-out;
        }
      }
    }

    .listBox {
      @include flex($fd:column);
      position: relative;
      border-top: 1px solid $lightestGray;
      padding: 10px 16px 16px;
      border: 1px solid #f2f2f2;

      .listItem {
        @include flex;
        position: relative;
        width: calc(100% - 60px);
        & + .listItem{
          padding-top: 15px;
        }
        .thumb {
          overflow: hidden;
          width: 40px;
          min-width: 40px;
          height: 40px;
          margin-right: 10px;
          border-radius: 50%;

          img {
            width: 100%;
          }
        }
        .user {
          width: calc(100% - 50px);
          .nick {
            @include font(13px, $SemiBold, #202020);
            @include fontCut;
          }
          .date {
            @include font(12px, $Medium, #707070);
            margin-top: 4px
          }
        }
        .msg {
          @include font(13px, $Medium, #202020);
          word-break: break-word;
        }
      }
      .btnMore {
        @include position-top-right(15px, 15px);
        width: 24px;
        height: 24px;
        cursor: pointer;
        background: url('data:image/svg+xml;base64,DQo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgaWQ9InByZWZpeF9fbW9yZWxpc3RfZyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiPg0KICAgIDxkZWZzPg0KICAgICAgICA8c3R5bGU+DQogICAgICAgICAgICAucHJlZml4X19jbHMtMntmaWxsOiNiZGJkYmR9DQogICAgICAgIDwvc3R5bGU+DQogICAgPC9kZWZzPg0KICAgIDxjaXJjbGUgaWQ9InByZWZpeF9f7YOA7JuQXzI0OCIgY3g9IjIiIGN5PSIyIiByPSIyIiBjbGFzcz0icHJlZml4X19jbHMtMiIgZGF0YS1uYW1lPSLtg4Dsm5AgMjQ4IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMCA0KSIvPg0KICAgIDxjaXJjbGUgaWQ9InByZWZpeF9f7YOA7JuQXzI0OSIgY3g9IjIiIGN5PSIyIiByPSIyIiBjbGFzcz0icHJlZml4X19jbHMtMiIgZGF0YS1uYW1lPSLtg4Dsm5AgMjQ5IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMCAxMCkiLz4NCiAgICA8Y2lyY2xlIGlkPSJwcmVmaXhfX+2DgOybkF8yNTAiIGN4PSIyIiBjeT0iMiIgcj0iMiIgY2xhc3M9InByZWZpeF9fY2xzLTIiIGRhdGEtbmFtZT0i7YOA7JuQIDI1MCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAgMTYpIi8+DQo8L3N2Zz4NCg==')
          no-repeat center center/cover;
        .moreList {
          @include position-top-right(34px,10px);
          @include flex($fd:column);
          width: 124px;
          background-color: #fff;
          @include border(#f2f2f2, 8px);
          z-index: 50;
          box-shadow: 0 1px 8px rgba(0,0,0,0.16);
          button {
            @include font(13px,$Medium, #303030);
            padding: 12px;
            text-align: left;
            & + button{
              border-top: 1px solid #f2f2f2;
            }
          }
        }
      }
    }
  }
}
@keyframes event-spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
