@import "components/ui/_mixin.scss";

$btnActive : #FF3C7B;
$btnDisable : #FFD8E4;
$errorMsg : #FF1919;

@mixin tabMenuUnderline($value) {
  $nav-length: $value;
  $nav-width: calc(100% / #{$nav-length});
  li {
    flex:1;
    text-align:center;
    @for $i from 1 through $nav-length {
      &:nth-child(#{$i}) {
        &.active {
          ~ .underline {
            left: calc(100% / #{$nav-length} * #{$i - 1});
          }
        }
      } 
    }
  }
  .underline {
    @include position-bottom-left;
    width:$nav-width;
    transition:all .1s ease-in-out;
  }
}

.totalWrap {
  #renewalRanking {
    header {
      padding: 0px 6px 0px 16px;
      .back {
        display: none;
      }
      .title {
        position: relative;
        top: auto; left: auto;
        width: auto;
        @include font(24px, 700, #202020);
      }
      .buttonGroup {
        display: flex;
      }
    }
  }
}


#renewalRanking {
  header {
    .benefits {
      display: inline-block;
      width: 40px; height: 40px;
      @include font(16px, 400, #5A5A5A);
    }
  }
  .cntTitle {
    width:100%;
    padding:0;
    .point {
      max-width: 180px;
      order:-1;
      letter-spacing: -1px;
      @include font(20px, 600, #FF3C7B);
      @include fontCut;
    }
  }
  .rankingTop {
    $gradient: (rgba(#FF3C7B,.8),rgba(#FF3F78,.8),rgba(#FF4971,.8),rgba(#FF8565,.8));
    position: relative;
    @include flex(flex-start, flex-start, column);
    width: 100%;
    height: 390px;
    padding: 15px 15px 60px;
    margin: 0;
    background-image: url("https://image.dalbitlive.com/ranking/dalla/rankingTopBg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    &::before {
      @include position-bottom-left(125px,-40px);
      content: "TOP10";
      @include font(55px,900,#FF3C7B);
      transform: rotate(-90deg);
      letter-spacing: -2px;
      opacity: .24;
    }
    .rankingTopMore {
      position: absolute;
      top: 16px; right: 16px;
      display: inline-block;
      @include font(13px, 400, #999999);
      line-height: 40px;
    }
    .title {
      line-height: 40px;
      letter-spacing: -1.5px;
      @include font(28px,500,#202020);
      cursor: pointer;
      & > div {
        @include flex(center);
      }
      .optionSelect {
        display: inline-block;
        width: 28px;
        height: 28px;
        margin-left: 6px;
        @include BGIMG('ranking/dalla/titleArrow-b.png');
      }
    }
    .countDown {
      @include flex(center, center);
      width: 103px;
      margin-top: 8px;
      background-color: #1A1A1A;
      letter-spacing: 2px;
      line-height: 25px;
      @include font(17px,600,#fff);
    }
    .criteria {
      @include position-top-right(40%, 0px);
      transform: translateY(-55%);
      width: 183px; height: 174px;
      @include BGIMG('dalla/character/character_ranking.png');
      .relative {
        position: relative;
        .clickArea {
          @include position-top-left;
          width: 45%;
          padding-bottom: 20%;
          cursor: pointer;
        }
      }
    }
    .chartSwiper {
      position: relative;
      width: calc(100% + 30px);
      margin: 30px 0 0 -15px;
      z-index: 3;
      .swiper-container {
        padding-left: 60px;
        .swiper-slide {
          width:auto;
          margin-right:10px;
          &:last-child {
            margin-right:16px;
          }
          .listRow {
            position: relative;
            flex:none;
            @include flex(center,center,column);
            width:150px;
            height:200px;
            border-radius:8px;
            overflow: hidden;
            cursor: pointer;
            &::after {
              content: "";
              position: absolute;
              top: 0; left: 0; right: 0; bottom: 0;
              width: 100%; height: 100%;
              border-radius:8px;
              background:linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 40%);
            }
            .photo {
              position: relative;
              height:100%;
              &::before {
                content: "";
                @include position-top-left;
                width: 100%; height: 100%;
                border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
                border-radius:8px;
                box-sizing: border-box;
              }              
              img {
                height:100%;
                object-fit: cover;
              }
            }
            .rankWrap {
              @include position-top-left(0,10px);
              @include flex(center,center,column);
              width: 35px; height: 42px;
              @include BGIMG('ranking/dalla/rankingTag-topDJ.png');
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              .rank {
                width: 100%; height: 100%;
                margin-left: -8px;
                letter-spacing: -1px;
                text-align: center;
                font-style: italic;
                @include font(24px,600,#FFF);
              }
            }
            .infoWrap {
              position: absolute;
              bottom: 0; left: 0; right: 0;
              @include flex(flex-start, center, column);
              width:100%;
              padding: 10px;
              box-sizing: border-box;
              z-index: 1;
              .livetag {
                @include font(12px,700,#FE3C7B);
                margin-bottom: 2px;
              }
              .userNick {
                width: 100%;
                @include font(12px,500,#fff);
                @include fontCut;
              }
            } 
          }
        }
      }
    }
  }

  .myRanking {
    position: relative;
    @include flex(center, center, column);
    width: 100%;
    padding: 44px 15px 0px;
    box-sizing: border-box;
    .cntTitle {
      margin-bottom:15px;
    }
    .tabmenu {
      $nav-length: 4;
      $nav-width: calc(100% / #{$nav-length});
      position:relative;
      @include flex(center);
      width: 100%;
      @include tabMenuUnderline(4);
      li {
        @include font(12px,500,#ccc);
        &.active {
          @include font(12px,700,#333);
        }
      }
      .underline {
        @include position-bottom-left(-16px,0);
        height:22px;
        border-radius:100px;
        background-color:#FF3C7B;
        transform:scale(18.18%);
      }
    }
    .rankBox {
      @include flex(center, space-between);
      width: 100%;
      padding: 20px;
      border-radius: 16px;
      background-color: #F6F6F6;
      li {
        position: relative;
        flex: 1;
        @include flex(center,center,column);
        &::after {
          content: "";
          @include position-top-right(10px);
          width: 1px; height: 30px;
          background-color: #dddddd;
        }
        &:last-child::after {
          content: none;
        }
        .rankCategory {
          @include font(12px,600,#999);
        }
        .rankData {
          margin-top: 10px;
          @include font(16px,900,#333);
        }
      }
    }    
  }
  .dailyRankList {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 44px 15px;
    .tabmenu {
      position: relative;
      @include flex(center, center);
      margin-top: 6px;
      box-sizing:border-box;
      @include tabMenuUnderline(2);
      li {
        @include flex(center, center);
        height:48px;
        border-bottom: 2px solid #F2F2F2;
        @include font(16px,600,#ACACAC);
        box-sizing: border-box;
        &.active {
          @include font(16px,700,#202020);
        }
      }
      .underline {
        height:2px;
        background-color:#202020;
      }
    }
    .listWrap {
      position: relative;
      @include flex(center, flex-start, column);
      overflow: auto;
      .listRow {
        flex:none;
        @include flex(center);
        width: 100%;
        min-width: 0;
        margin-top: 15px;
        .rank {
          order:-1;
          flex: none;
          @include flex(flex-start, center, column);
          width: 28px;
          @include font(16px,600,#333);
        }
        .photo {
          position: relative;
          flex: none;
          width:60px; height: 60px;
          border-radius: 50%;
          cursor: pointer;
          &::before {
            content: "";
            @include position-top-left;
            width: 100%; height: 100%;
            border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
            border-radius:50%;
            box-sizing: border-box;
          }          
          img {
            width:100%;
            border-radius: 50%;
          }
        }
        .listContent {
          flex: 1;
          padding: 0 16px;
          @include flex(center, center, column);
          overflow: hidden;        
          .listItem {
            @include flex(center);
            width: 100%;
            + .listItem {
              margin-top:4px;
            }
            span {
              display: block;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            .nick {
              line-height:20px;
              margin-left:4px;
              @include font(16px,500,#202020);
              @include fontCut;
            }            
          }
        }
        .listBack {
          flex: none;
          @include flex(center, center);
          width:60px;
          .badgeLive {
            width:60px;height:28px;
            @include BGIMG('ranking/dalla/badgeLive.png');
            cursor: pointer;
          }
        }
      }
    }
  }
  .rankingBottom {
    position: relative;
    @include flex(flex-start, center, column);
    width: 100%;
    padding: 23px 16px;
    box-sizing: border-box;
    background: url("https://image.dalbitlive.com/dalla/character/character_rankingBottom.png") #1a1a1a no-repeat;
    background-position: right bottom;
    background-size: contain;
    cursor: pointer;
    p:nth-child(1) {
      @include font(18px, 600, #FFFFFF);
      letter-spacing: -1px;
    }
    p:nth-child(2) {
      @include font(13px, 400, #FFFFFF);
      letter-spacing: -1px;
    }
    button {
      margin-top: 10px;
      @include font(13px, 600, #FF8E3E);
      letter-spacing: -1px;
    }
  }
  
  #popSlide {
    .selectWrap {
      position: relative;
      @include flex(center, center, column);
      width: 100%;
      padding: 20px 0 30px;
      .selectOption {
        width: 100%;
        text-align: center;
        @include font(16px, 400, #202020);
        line-height: 55px;
        cursor: pointer;
        &.active {
          @include font(16px, 700, #FF3C7B);
        }
      }
    }
  }

  #layerPop {
    .popContainer {
      padding: 20px 0 40px;      
      .popTitle {
        width: 100%;
        line-height: 48px;
        text-align: center;
        @include font(16px, 700, #202020);
      }
      .standardWrap {
        @include flex(center, center, column);
        width: 100%;
        margin-top: 12px;
        .standardList {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0px;
          }        
          .popSubTitle {
            @include font(16px, 600, #FF3C7B);
            text-align: center;
            letter-spacing: -1px;
          }
          .popText {
            @include font(12px, 400, #666666);
            text-align: center;
            letter-spacing: -1px;
            overflow: hidden;
            span {
              @include font(13px, 400, #FF6B4B);
              padding-left: 16px;
              background-image: url("https://image.dalbitlive.com/ranking/dalla/popup-cupid.png");
              background-position: left center;
              background-repeat: no-repeat;
              background-size: 16px 16px;
            }
          }
        }
      }
      .popInfo {
        @include font(12px, 400, #ACACAC);
        margin-top: 20px;
        text-align: center;
        letter-spacing: -1px;
        span {
          @include font(12px, 400, #FF6B4B);
          padding-left: 16px;
          background-image: url("https://image.dalbitlive.com/ranking/dalla/popup-cupid.png");
          background-position: left center;
          background-repeat: no-repeat;
          background-size: 16px 16px;
        }
      }
    }  
  }
}