@import "components/ui/_mixin.scss";

$btnActive : #FF3C7B;
$btnDisable : #FFD8E4;
$errorMsg : #FF1919;

@mixin tabMenuUnderline($value) {
  $nav-length: $value;
  $nav-width: calc(100% / #{$nav-length});
  li {
    flex:1;
    text-align:center;
    @for $i from 1 through $nav-length {
      &:nth-child(#{$i}) {
        &.active {
          ~ .underline {
            left: calc(100% / #{$nav-length} * #{$i - 1});
          }
        }
      } 
    }
  }
  .underline {
    @include position-bottom-left;
    width:$nav-width;
    transition:all .1s ease-in-out;
  }
}

.totalWrap {
  #renewalRanking {
    header {
      padding: 0px 6px 0px 16px;
      .back {
        display: none;
      }
      .title {
        position: relative;
        top: auto; left: auto;
        width: auto;
        @include font(24px, 700, #202020);
      }
      .buttonGroup {
        display: flex;
      }
    }
  }
}


#renewalRanking {
  header {
    .benefits {
      @include flex(center);
      height: 40px;
      margin-right: 13px;
      @include font(14px, 400, #666666);
      &::after {
        content: "";
        display: inline-block;
        width: 20px; height: 20px;
        @include BGIMG("common/icon/icon_benefit.png");
      }
    }
  }
  .cntTitle {
    width:100%;
    padding:0;
    .point {
      max-width: 180px;
      order:-1;
      letter-spacing: -1px;
      @include font(20px, 600, #FF3C7B);
      @include fontCut;
    }
  }
  .rankingTop {
    $gradient: (rgba(#FF3C7B,.8),rgba(#FF3F78,.8),rgba(#FF4971,.8),rgba(#FF8565,.8));
    position: relative;
    @include flex(flex-start, flex-start, column);
    width: 100%;
    padding: 15px 16px 24px;
    margin: 0;
    background-image: url("https://image.dalbitlive.com/ranking/dalla/rankingGradientBg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 115px;
    &::before {
      @include position-bottom-left(160px,-52px);
      content: "TOP10";
      @include font(55px,900,#FF3C7B);
      transform: rotate(-90deg);
      line-height: 69px;
      opacity: .24;
    }
    .rankingTopMore {
      position: absolute;
      top: 16px; right: 16px;
      display: inline-block;
      @include font(13px, 400, #999999);
      line-height: 40px;
    }
    .title {
      line-height: 36px;
      @include font(28px,500,#202020);
      cursor: pointer;
      & > div {
        @include flex(center);
        &:first-child {
          letter-spacing: -0.5px;
        }
        strong {
          font-weight: 800;
        }
      }
      .optionSelect {
        display: inline-block;
        width: 28px;
        height: 28px;
        margin-left: 6px;
        @include BGIMG('ranking/dalla/titleArrow-b.png');
      }
    }
    .countDown {
      position: relative;
      @include flex(center);
      width: 92px;
      margin: 8px 0px 50px 0px;
      padding-left: 4px;
      line-height: 25px;
      @include font(17px,600,#202020);
      &.text{
        width: 70px;
        &::after {
          @include position-top-right(0px, -28px);
          content: "남음";
          @include font(12px,500,#999999);
        }
      }
    }
    .criteria {
      @include position-top-right(37%, 0px);
      transform: translateY(-55%);
      width: 184px; height: 175px;
      @include BGIMG('dalla/character/character_criteria.png');
      .relative {
        position: relative;
        .clickArea {
          @include position-top-left(8px);
          width: 38%;
          padding-bottom: 20%;
          cursor: pointer;
        }
      }
    }
    .chartSwiper {
      position: relative;
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-bottom: 60px;
      z-index: 3;
      .swiper-container {
        padding-left: 50px;
        .swiper-slide {
          width:auto;
          margin-right:12px;
          .listRow {
            position: relative;
            flex:none;
            @include flex(center,center,column);
            width:150px;
            height:200px;
            border-radius:8px;
            overflow: hidden;
            cursor: pointer;
            &::after {
              content: "";
              position: absolute;
              top: 0; left: 0; right: 0; bottom: 0;
              width: 100%; height: 100%;
              border-radius:8px;
              background:linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 40%);
            }
            .photo {
              position: relative;
              height:100%;
              &::before {
                content: "";
                @include position-top-left;
                width: 100%; height: 100%;
                border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
                border-radius:8px;
                box-sizing: border-box;
              }              
              img {
                height:100%;
                object-fit: cover;
              }
            }
            .rankWrap {
              @include position-top-left(0,10px);
              @include flex(center,center,column);
              width: 35px; height: 42px;
              @include BGIMG('ranking/dalla/rankingTag-topDJ.png');
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              .rank {
                width: 100%; height: 100%;
                letter-spacing: -1px;
                text-align: center;
                @include font(22px,600,#FFF);
                line-height: 34px;
              }
            }
            .livetag {
              @include position-top-right();
              display: inline-block;
              width: 40px; height: 40px;
              z-index: 2;
            }
            .infoWrap {
              position: absolute;
              bottom: 0; left: 0; right: 0;
              @include flex(flex-start, center, column);
              width:100%;
              padding: 10px;
              box-sizing: border-box;
              z-index: 1;
              .userNick {
                width: 100%;
                @include font(14px,500,#fff);
                @include fontCut;
              }
            } 
          }
        }
        .nextRanking {
          @include flex(center, center, column);
          width: 100px; height: 200px;
          padding-top: 8px;
          box-sizing: border-box;
          cursor: pointer;
          p {
            @include font(12px, 500, #FF3C7B);
            margin-bottom: 8px;
          }
          span {
            display: inline-block;
            width: 36px; height: 36px;
            border-radius: 50%;
            background: url("https://image.dalbitlive.com/ranking/dalla/ranking_nextRank.png") center no-repeat;
            background-size: cover;
          }
        }
      }
    }
    .refreshWrap {
      position: absolute;
      bottom: 27px; left: 16px;
      @include flex(center, center);
      width: calc(100% - 32px); height: 40px;
      border-radius: 100px;
      background-color: #FFF;
      box-shadow: 0px 1px 4px rgba(#000000,.1);
      cursor: pointer;
      &:active{
        bottom: 26px;
        left: 15px;
      }
      .refreshIcon {
        flex: none;
        display: inline-block;
        width: 18px; height: 18px;
        margin-right: 2px;
        @include BGIMG("/common/icon/icon_refresh.png");
      }
      .refreshText {
        @include font(14px, 500, #202020);
        margin-right: 4px;
        strong {
          @include font(14px, 700, #FF3C7B);
        }
      }
      .refreshNum {
        @include flex(center, center);
        width: 35px;
        @include font(14px, 500, #ACACAC);
        letter-spacing: 4px;
        span {
          @include font(14px, 700, #202020);
        }
      }
    }

  }

  .myRanking {
    position: relative;
    @include flex(center, center, column);
    width: 100%;
    padding: 40px 0px 27px;
    box-sizing: border-box;
    .cntTitle {
      padding: 0px 16px;
      margin-bottom:24px;
    }
    .tabmenu {
      $nav-length: 4;
      $nav-width: calc(100% / #{$nav-length});
      position:relative;
      @include flex(center);
      width: 100%;
      @include tabMenuUnderline(4);
      li {
        @include font(12px,500,#ccc);
        &.active {
          @include font(12px,700,#333);
        }
      }
      .underline {
        @include position-bottom-left(-16px,0);
        height:22px;
        border-radius:100px;
        background-color:#FF3C7B;
        transform:scale(18.18%);
      }
    }
    .rankBox {
      position: relative;
      @include flex(center, space-between);
      width: 100%;
      padding: 27px 20px;
      background-color: #F6F6F6;
      box-sizing: border-box;
      &::after {
        content: "";
        @include position-top-left(-32px, 16px);
        display: inline-block;
        border: 16px solid transparent;
        border-bottom: 16px solid #F6F6F6;
      }
      li {
        position: relative;
        flex: 1;
        @include flex(center,center,column);
        &::after {
          content: "";
          @include position-top-right(10px);
          width: 1px; height: 30px;
          background-color: #dddddd;
        }
        &:last-child::after {
          content: none;
        }
        .rankCategory {
          @include font(12px,600,#999);
        }
        .rankData {
          margin-top: 10px;
          @include font(18px,900,#333);
          &::after {
            content: "위";
            @include font(13px,500,#666666);
            margin-left: 2px;
          }
        }
      }
      .loginText {
        flex: 1;
        @include font(13px, 500, #303030);
      }
      .loginBtn {
        flex: none;
        @include flex(center, center);
        width: 76px; height: 36px;
        border-radius: 100px;
        background-color: $DOWNCOLOR;
        @include font(14px, 600, #FFFFFF);
      }
    }    
  }
  .dailyRankList {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 44px 16px;
    .tabmenu {
      position: relative;
      @include flex(center, center);
      margin-top: 6px;
      box-sizing:border-box;
      @include tabMenuUnderline(2);
      li {
        @include flex(center, center);
        height:48px;
        border-bottom: 2px solid #F2F2F2;
        @include font(16px,600,#ACACAC);
        box-sizing: border-box;
        &.active {
          @include font(16px,700,#FF6999);
        }
      }
      .underline {
        height:2px;
        background-color:#FF6999;
      }
    }
    .listWrap {
      position: relative;
      @include flex(center, flex-start, column);
      overflow: auto;
      .listRow {
        cursor:pointer;
        flex:none;
        @include flex(center);
        width: 100%;
        min-width: 0;
        margin-top: 15px;
        .rank {
          order:-1;
          flex: none;
          @include flex(center, center, column);
          width: 30px;
          margin-right: 8px;
          @include font(16px,600,#333);
        }
        .photo {
          position: relative;
          flex: none;
          width:60px; height: 60px;
          border-radius: 50%;
          cursor: pointer;
          &::before {
            content: "";
            @include position-top-left;
            width: 100%; height: 100%;
            border: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
            border-radius:50%;
            box-sizing: border-box;
          }          
          img {
            width:100%;
            border-radius: 50%;
          }
        }
        .listContent {
          flex: 1;
          padding: 0 16px;
          @include flex(center, center, column);
          overflow: hidden;        
          .listItem {
            @include flex(center);
            width: 100%;
            + .listItem {
              margin-top:6px;
            }
            span {
              display: block;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            .nick {
              line-height:20px;
              margin-left:4px;
              @include font(14px,500,#202020);
              @include fontCut;
            }            
          }
        }
        .listBack {
          flex: none;
          @include flex(center, center);
          .badgeLive {
            @include flex(center, center);
            width:62px;height:28px;
            background-color: #FFE9E9;
            border-radius: 100px;
            cursor: pointer;
            .equalizer {
              display: inline-block;
              width: 12px;
              margin-top: -2px;
              margin-right: 4px;
            }
            .liveText {
              @include font(12px, 900, #FF3C7B);
            }
          }
          .badgeListener {
            @include flex(center, center);
            width:62px;height:28px;
            margin: 12px auto 0px;
            background-color: #F0EBFF;
            border-radius: 100px;
            cursor: pointer;
            .headset {
              display: inline-block;
              width: 15px;
              margin-right: 2px;
            }
            .ListenerText {
              @include font(12px, 900, #9A78FF);
            }
          }
        }
      }
    }
  }
  .rankingBottom {
    position: relative;
    width: 100%;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  
  #popSlide {
    .selectWrap {
      position: relative;
      @include flex(center, center, column);
      width: 100%;
      padding: 20px 0 30px;
      .selectOption {
        width: 100%;
        text-align: center;
        @include font(16px, 400, #202020);
        line-height: 55px;
        cursor: pointer;
        &.active {
          @include font(16px, 700, #FF3C7B);
        }
      }
    }
  }

  #layerPop {
    .popContainer {
      padding: 20px 0 60px;      
      .popTitle {
        width: 100%;
        line-height: 48px;
        text-align: center;
        @include font(16px, 700, #202020);
      }
      .standardWrap {
        @include flex(center, center, column);
        width: 100%;
        margin-top: 12px;
        .standardList {
          margin-bottom: 16px;
          &:last-child {
            margin-bottom: 0px;
          }        
          .popSubTitle {
            @include font(16px, 600, #FF3C7B);
            text-align: center;
            margin-bottom: 4px;
            letter-spacing: -1px;
          }
          .popText {
            @include font(13px, 400, #666666);
            text-align: center;
            letter-spacing: -1px;
            overflow: hidden;
            span {
              @include font(13px, 400, #FFC400);
              padding-left: 16px;
              background-image: url("https://image.dalbitlive.com/common/dataCnt/dataIcon-yellowCupid.png");
              background-position: left center;
              background-repeat: no-repeat;
              background-size: 16px 16px;
            }
          }
        }
      }
      .popInfo {
        @include font(13px, 400, #ACACAC);
        margin-top: 20px;
        text-align: center;
        letter-spacing: -1px;
        span {
          @include font(13px, 600, #FFC400);
          padding-left: 16px;
          background-image: url("https://image.dalbitlive.com/common/dataCnt/dataIcon-yellowCupid.png");
          background-position: left center;
          background-repeat: no-repeat;
          background-size: 16px 16px;
        }
      }
    }  
  }
}