.speacialdj {
  max-width: 720px;
  min-width: 320px;
  margin: auto;

  .imgResize {
    display: inline-block;
    width: 100%;
  }

  .loginBox {
    padding: 32px 24px;
    background: #f2f2f2;
  }

  .title {
    flex: 1;
    display: flex;
    height: 48px;
    align-items: center;

    h2 {
      font-size: 18px;
      color: #000;
      margin-right: auto;
      margin-left: 16px;
      font-weight: bold;
    }

    button {
      width: 40px;
      height: 40px;
      margin-left: auto;
      margin-right: 6px;
      border: none;
      background: url('./static/ic_close.svg');
      text-indent: -999999px;
    }
  }

  .contentImg {
    background: url('./static/button_bg.jpg');
    background-size: 100%;

    img {
      display: block;
      width: 100%;
    }
  }

  .dayTitle {
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-size: 16px;
    letter-spacing: -0.35px;
    color: #000;
    line-height: 30px;
    padding-bottom: 6%;
    background: url('./static/content_bg.jpg');
    background-size: 100%;
    p {
      color: #ff5a00;
      display: inline-block;
    }
  }

  .buttonLink {
    width: 80%;
    margin: auto;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 700;
  }

  .checkList {
    width: 100%;
    box-sizing: border-box;
    background: url('./static/content_bg.jpg');
    background-size: 100%;
    padding: 0px 64px;
    padding-top: 50px;
    margin: auto;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.35px;

    &__table {
      display: flex;
      flex-direction: column;
      border: 1px solid #e0e0e0;
      border-bottom: none;
      margin-bottom: 30px;
      font-size: 14px;
    }

    &__list {
      display: flex;
    }

    &__talbeLeft {
      display: flex;
      align-items: center;

      flex-basis: 140px;
      padding: 8px 12px;
      border-right: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
    }
    &__talbeRight {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      padding: 8px 12px;
      border-bottom: 1px solid #e0e0e0;

      &--red {
        color: #ec455f;
        font-weight: 700;
      }

      &--purple {
        color: #632beb;
        font-weight: 700;
      }
    }
  }

  .buttonOn {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 24px;
    color: #fff;
    border-radius: 30px;
    background: #632beb;
  }

  .buttonOff {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 30px;
    background: #bdbdbd;
  }

  .buttonBox {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 20px 40px;
    background: url('./static/content_bg.jpg');
    background-size: 100%;

    &--logout {
      padding: 32px 24px;
      background: #f2f2f2;
    }
  }
}
