.speacialdj {
  max-width: 460px;
  min-width: 320px;
  margin: auto;

  .imgResize {
    display: inline-block;
    width: 100%;
  }

  .loginBox {
    padding: 32px 24px;
    background: #95cfe1;
  }

  .title {
    flex: 1;
    display: flex;
    height: 48px;
    align-items: center;

    h2 {
      font-size: 18px;
      color: #000;
      margin-right: auto;
      margin-left: 16px;
      font-weight: bold;
    }

    button {
      width: 40px;
      height: 40px;
      margin-left: auto;
      margin-right: 6px;
      border: none;
      background: url('./static/ic_close.svg');
      text-indent: -999999px;
    }
  }

  .contentImg {
    position: relative;

    .startingPopup {
      position: absolute;
      width: 38.5%;
      height: 2.9%;
      left: 30.9%;
      top: 24.9%;
      text-indent: -999999px;
    }

    .goodsPopup {
      position: absolute;
      width: 22.7%;
      height: 2.2%;
      left: 71.7%;
      bottom: 52.8%;
      text-indent: -999999px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  .dayTitle {
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-size: 16px;
    letter-spacing: -0.35px;
    color: #000;
    line-height: 30px;
    background: url('https://image.dalbitlive.com/event/specialdj/20201120/bg.jpg');
    background-size: 100%;
    p {
      color: #ff5a00;
      display: inline-block;
    }
  }

  .buttonLink {
    width: 80%;
    margin: auto;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 700;
  }

  .checkList {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    background: url('https://image.dalbitlive.com/event/specialdj/20201120/bg.jpg');
    background-size: 100%;
    margin: auto;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.35px;

    &__table {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      border: 1px solid #e0e0e0;
      border-bottom: none;
      margin-bottom: 30px;
      font-size: 12px;
    }

    &__list {
      display: flex;
    }

    &__talbeLeft {
      display: flex;
      align-items: center;
      flex-basis: 140px;
      padding: 8px 12px;
      border-right: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      background: #d1d1d1;
    }
    &__talbeRight {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      padding: 8px 12px;
      border-bottom: 1px solid #e0e0e0;
      font-weight: 700;
      background: #eee;

      &--red {
        color: #ec455f;
        font-weight: 700;
      }

      &--purple {
        // color: #632beb;
        font-weight: 700;
      }
    }
  }

  .buttonOn {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 44px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 22px;
    background: #b36d45;

    &--purple {
      background: #632beb;
    }
  }

  .buttonOff {
    display: flex;
    width: 82%;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 30px;
    background: #bdbdbd;
  }

  .buttonBox {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 20px 40px;
    background: url('./static/content_bg.jpg');
    background-size: 100%;

    &--logout {
      padding: 32px 24px;
      background: #f2f2f2;
    }
  }
}
