.speacialdj {
  // overflow-y: scroll;

  max-width: 720px;
  margin: auto;

  .dayTitle {
    display: block;
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-size: 14px;
    letter-spacing: -0.35px;
    color: #000;
    line-height: 20px;
    padding-bottom: 6%;

    &--orange {
      color: #ff5a00;
    }
  }

  .buttonBg {
    padding: 0px 32px;
    background: url('./static/button_bg.jpg');
    background-size: 100%;
    box-sizing: border-box;
  }

  .buttonLink {
    width: 100%;
    max-width: 640px;
    margin: auto;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 700;
  }

  .checkList {
    margin: auto;
    background: url('./static/content_bg.jpg');
    background-size: 100%;

    &__box {
      width: 100%;
      box-sizing: border-box;

      padding: 0px 8%;
      padding-top: 50px;

      margin: auto;
      overflow: hidden;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.35px;
    }
    &__list {
      display: flex;
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 600;
      color: #000;
      margin-top: 10px;
      margin-bottom: 12px;
    }
    &__table {
      display: flex;
      flex-direction: column;
      border: 1px solid #e0e0e0;
      border-bottom: none;
      margin-bottom: 30px;
    }

    &__talbeLeft {
      display: flex;
      align-items: center;

      flex-basis: 140px;
      padding: 8px 12px;
      border-right: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
    }
    &__talbeRight {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      padding: 8px 12px;
      border-bottom: 1px solid #e0e0e0;

      &--red {
        color: #ec455f;
        font-weight: 700;
      }

      &--purple {
        color: #632beb;
        font-weight: 700;
      }
    }
  }

  .button {
    display: flex;
    max-width: 600px;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background: #bdbdbd;
    border-radius: 10px;
    &--on {
      background: #632beb;
    }
  }

  .img100 img {
    display: flex;
    width: 100%;
  }
  .button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background: #bdbdbd;
    border-radius: 20px;

    &--on {
      background: #632beb;
    }
  }
  .buttonBox {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 20px 40px;
    background: url('./static/content_bg.jpg');
    background-size: 100%;

    &--logout {
      padding: 16px 12px;
      background: #f2f2f2;
    }
  }

  .title-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    height: 40px;

    .text {
      width: 100%;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
    }

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.djTitle {
  flex: 1;
  display: flex;
  height: 48px;
  align-items: center;
}
.djTitleSub {
  font-size: 18px;
  color: #000;
  margin-right: auto;
  margin-left: 16px;
  font-weight: bold;
}
.djRefresh {
  width: 40px;
  margin-left: auto;
  margin-right: 6px;
}

.header-wrap {
  padding: 0px;
  margin: 0px;
}
