{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 130,
  "proseWrap": "preserve",
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "prettier.eslintIntegration": true
}
